
@{
    ViewBag.Title = "Index";
}

<h2>My Books</h2>


<div class="threeColumnArray">
    <div id="leftColumn">
        put tag tool here
    </div>
    <div id="middleColumn">
    </div>
    <div id="rightColumn">
        put adds here
    </div>
</div>

