@using Microsoft.AspNet.Identity
<link href="~/Styles/idHeader.css" rel="stylesheet" />
<div id="idheader" class="Header">
    <div class="floatLeft">
        <a href="~/Consulting/ConsultingHome"><img src="~/images/intel01.jpg" class="bannerImage" /></a>
    </div>
    <div class="headerBody">
        <div class="headerBannerTitle">
            Intelligent Design Software
        </div>
        <div class="menuTabContainer">
            <div class="menuTab"><a href="~/Consulting/About/">Who We Are</a></div>
            <div class="menuTab"><a href="~/Consulting/Approach">Our Approach</a></div>
            <div class="menuTab"><a href="~/Consulting/Portfolio">Portfolio</a></div>
            <div class="menuTab"><a href="~/Consulting/Code">Sample Code</a></div>
            <div class="menuTab"><a href="~/Consulting/Articles">Articles</a></div>
            <div class="menuTab"><a href="~/Consulting/Contact">Contact Us</a></div>
            <div class="menuTab"><a href="~/Consulting/MyResume">My Resume</a></div>
            <div class="menuTab"><a href="~/Consulting/Admin">Admin</a></div>
        </div>
        <div class="loginTab">
            <div class="loginTab">
                @if (Request.IsAuthenticated)
                {
                    <div class="menuTab" id="tabProfile" title="modify profile">
                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </div>
                    <div class="menuTab" id="tabLogout"><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log Out</a></div>
                }
                else
                {
                    <div class="menuTab" id="tabRegister"><a href="#">Register</a></div>
                    <div class="menuTab" id="tabLogIn"><a href="#">Log In</a></div>
                }
            </div>
        </div>
    </div>
    <div class="noFloat"></div>
</div>

<script>

    $(document).ready(function () {
        $('.headerBody').width($('.Header').width() - $('#bannerImage').width() - 200);
    });
    $(window).resize(function () {
        $('.headerBody').width($('.Header').width() - $('#bannerImage').width() - 200);
    });

    $('#tabRegister').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/Register",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#tabLogIn').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/Login",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("LoginPopup error: " + xhr.statusText);
            }
        });
    });

    $('#tabProfile').click(function () {
        try {
            $.ajax({
                type: "get",
                url: "/Login/ProfilePopup",
                datatype: "json",
                success: function (data) {
                    $('#modalContent').html(data);
                    $('#modalContainer').show();
                },
                error: function (xhr) {
                    alert("ProfilePopup error: " + xhr.statusText);
                }
            });
        } catch (e) {
            alert("tabProfile catch: "  + catchErrorDetails(e));
        }
    });

    $('#tabLogout').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/Logout",
            success: function (success) {
                if (success === "ok")
                    //$("#divlogin").load(location.href + " #divlogin");
                    location.reload(true);
                else
                    alert("LogOUT: " + success);
            },
            error: function (xhr) {
                displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                alert("tabLogout error: " + xhr.statusText);
            }
        });
    });
</script>