<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CurtisRhodes.com</title>
    <link rel="shortcut icon" src="~/Images/Brucheum.ico" type="image/x-icon" />

    <script src="~/Scripts/GlobalFunctions.js"></script>
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link href="~/Styles/Header.css" rel="stylesheet" />
    <style>
        #bheader {
            background-color: #486167;
            border-top: #40767d 3px solid;
            border-bottom: #40767d 3px solid
        }
            #bheader table {
                width: 100%;
            }
            #bheader .menuTab a {
                color: white;
            }
                #bheader .menuTab a:hover {
                    text-decoration: underline;
                    background-color: #40767d;
                }
    </style>
</head>
<body>
    <div id="bheader">
        <table>
            <tr>
                <td rowspan="2">
                    <a href="~/Home/Index"><img src="~/images/house.gif" class="bannerImage" /></a>
                </td>
                <td>Intelligent Design Software</td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="menuTab"><a asp-page="/Latest">Who We Are</a></li>
                        <li class="menuTab"><a asp-page="/Rants">Our Approach</a></li>
                        <li class="menuTab"><a href="Brucheum/Index.html">Portfolio</a></li>
                        <li class="menuTab"><a asp-page="/Journal">Sample Code</a></li>
                        <li class="menuTab"><a href="Brucheum/Index.html">Artilces</a></li>
                        <li class="menuTab"><a href="Brucheum/Index.html">Contact Us</a></li>
                        <li class="menuTab"><a href="Brucheum/Index.html">My Resume</a></li>
                        <li class="menuTab"><a href="~/Consulting/AdminRefTable">Admin</a></li>
                    </ul>
                </td>
                <td>
                    <div id="blogin">
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_footer")

    @RenderSection("scripts", required: false)
</body>
</html>


