
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Consulting/_ProfessionalLayout.cshtml";
}
<style>
    #leftColumn {
        border-right: 2px solid orange;
    }

    .vertMenu {
        margin-top: 88px;
    }

    .vertMenuTab {
        border-radius: 4px;
        margin-left: 4px;
        margin-right: 8px;
        font-size: 14px;
        list-style: none;
        cursor: pointer;
        margin-bottom: 26px;
        white-space: nowrap;
    }

        .vertMenuTab a {
            text-decoration: none;
            color: black;
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            color: #fff;
            background-color: #07c;
            text-wrap: none;
        }

            .vertMenuTab a:hover {
                text-decoration: underline;
                background-color: orange;
            }

    .adminOptionTitle {
        font-size: 24px;
        text-align: center;
        margin: 4px;
    }

    #adminOptionContainer {
        margin-left: 56px;
        margin-top: 56px;
    }

    .adminOption {
        background-color: #aaa;
        display: none;
        width: 500px;
        border: solid 2px purple;
        border-radius: 4px;
    }
    .roundendButton {
        width: 33px;
        display: inline-block;
    }

    #divRoleButtons {
        margin-top: 8px;
        margin-left: 68px;
        margin-bottom: 8px;
    }

    .itemsList {
        border: solid 2px orange;
        border-radius: 4px;
        margin: 3px;
        overflow-y: scroll;
        height: 450px;
    }

        .itemsList li {
            list-style: none;
            padding: 8px;
            cursor: pointer;
            margin-bottom: 4px;
            background-color: #c3cecf;
        }

    .roundedInput {
        display: inline-block;
        width: 400px;
    }
    #ArticleClassLoading {
        position: relative;
        top: 100px;
        left: 100px;
        display: none;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="vertMenu">
            <div class="vertMenuTab" id="optArticleClass" ><a>Article Classifications</a></div>
            <div class="vertMenuTab" id="optAuthorAvatars"><a>    Author Avatars     </a></div>
            <div class="vertMenuTab" id="optRefEditor">    <a>    Ref Editor         </a></div>
            <div class="vertMenuTab" id="optAddRoles">     <a>    Add Roles          </a></div>
            <div class="vertMenuTab" id="optAssignRoles">  <a>    Assign Roles       </a></div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="adminOptionContainer">

            <div id="tabArticleClass" class="adminOption">
                <div class="adminOptionTitle">Article Classifications</div>
                <label>Category:</label>
                <input class="roundedInput" id="txtArticleClassDescription" />
                <div id="divRoleButtons">
                    <div class="roundendButton" id="btnAddEditArticleClass">Add</div>
                    <div class="roundendButton" id="btnArticleClassToggle">New</div>
                </div>
                <img id="ArticleClassLoading" src="~/Images/loader.gif" height="40" />
                <div class="itemsList" id="divArticleClassList"></div>
            </div>

            <div id="tabAuthorAvatar" class="adminOption">
                <div class="adminOptionTitle">Author Avatars</div>
            </div>

            <div id="tabRefEditor" class="adminOption">
                <div class="adminOptionTitle">Ref Editor</div>
            </div>

            <div id="tabAssignRoles" class="adminOption">
                <div class="adminOptionTitle">Assign Roles</div>
            </div>

            <div class="adminOption" id="tabAddRoles">
                <div class="adminOptionTitle">Add Edit Roles</div>
                <label>Role:</label>
                <input class="roundedInput" id="txtRoleName" />
                <div id="divRoleButtons">
                    <div class="roundendButton" id="btnAddUpdateRole">Add</div>
                    <div class="roundendButton" id="btnRoleToggle">New</div>
                </div>
                <div class="itemsList" id="divRoleList"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var objArticleClass = new Object();
    var objRole = new Object();

    $(document).ready(function () { });

    // article Classifications
    $("#optArticleClass").click(function () {
        $('.adminOption').hide();
        $('#tabArticleClass').show();
        $('#btnAticleClassToggle').hide();
        if ($('#divArticleClassList').html() === "")
            GetArticleClasses();
    })

    $('#btnAddEditArticleClass').click(function () {
        if ($(this).text() === "Add")
            AddArticleClassification();
        else
            UpdateArticleClassification();
    });

    $('#btnArticleClassToggle').click(function () {
        objArticleClass.RefCode = null;
        $('#txtArticleClassDescription').val("");
        $('#btnAddEditArticleClass').text("Add");
        $('#btnNArticleClassToggle').hide();
    });

    function GetArticleClasses() {
        try {
            $('#ArticleClassLoading').show();
            $.ajax({
                url: service + "/api/Ref/Get?refType='CAT'",
                type: "get",
                dataType: "Json",
                success: function (result) {
                    $('#divArticleClassList').html("");
                    $.each(result, function () {
                        $('#divArticleClassList').append("<li Id='" + this.RefCode + "' data='" + this.RefDescription + "'>" + this.RefDescription + "</li>");
                    });

                    $('li').click(function () {
                        objArticleClass.RefCode = $(this).attr('Id');
                        $('#txtDescription').val($(this).attr('data'));
                        $('#btnAddEditArticleClass').text("Update");
                        $('#btnAticleClassToggle').show();
                    });
                    $('#ArticleClassLoading').hide();
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("GetArticleClasses error: " + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    function AddArticleClassification() {
        try {
            objArticleClass.RefDescription = $('#txtArticleClassDescription').val();
            objArticleClass.RefType = "CAT";
            //alert("objArticleClass.RefDescription : " + objArticleClass.RefDescription);
            $.ajax({
                type: "POST",
                url: service + "/api/Ref/AddRole",
                dataType: "Json",
                data: objArticleClass,
                success: function (result) {
                    if (result.Success === "ok") {
                        $('#txtDescription').val("");
                        $('#btnAddEditArticleClass').text("Add");
                        displayStatusMessage("alert-success", "Saved");
                        GetArticleClasses();
                    }
                    else
                        displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Admin Refs Post error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    function UpdateArticleClassification() {
        try {
            objArticleClass.RefDescription = $('#txtDescription').val();
            objArticleClass.RefType = "CAT";
                $.ajax({
                    type: "PUT",
                    url: service + "/api/Ref/Put",
                    data: objArticleClass,
                    success: function (result) {
                        if (result.Success === "ok") {
                            displayStatusMessage("alert-success", "Saved");
                            GetArticleClasses();                        }
                        else
                            displayStatusMessage("alert-danger", "server ERROR: " + result.Success);
                    },
                    error: function (xhr) {
                        displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                        alert("Admin Refs PUT error: " + xhr.statusText);
                    }
                });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }


    // Roles 
    $("#optAddRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAddRoles').show();
        $('#btnRoleToggle').hide();
        if ($('#divRoleList').html() === "")
            getRoles();
    })

    $('#btnAddUpdateRole').click(function () {
        if ($(this).text() === "Add")
            AddRole();
        else
            UpdateRole();
    });

    $('#btnRoleToggle').click(function () {
        objArticleClassRefCode = null;
        $('#txtDescription').val("");
        $('#btnAddUpdateRole').text("Add");
        $(this).hide();
    });

    function getRoles() {
        try {
            $('#divLoadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/Role/Get",
                success: function (result) {
                    $('#divRoleList').html("");
                    $.each(result, function () {
                        $('#divRoleList').append("<li Id='" + this.Id + "'>" + this.Name + "</li>");
                    });

                    $('li').click(function () {
                        objArticleClass.RefCode = $(this).attr('Id');
                        $('#txtRoleName').val($(this).attr('data'));
                        $('#btnAddUpdateRole').text("Update");
                        $('#btnRoleToggle').show();
                    });
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Get Roles error: " + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    function AddRole() {
        try {
            var name = $('#txtRoleName').val();

            //alert(" url: :" + service + "/api/role");


            $.ajax({
                type: "POST",
                url: service + "/api/role",
                dataType: "Json",
                data: name,
                success: function (result) {
                    alert("result :" + result);
                    if (result.Success === "ok") {
                        $('#txtRoleName').val("");
                        $('#btnAddUpdateRole').text("Add");
                        displayStatusMessage("alert-success", "Saved");
                        getRoles();
                    }
                    else
                        displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Admin Refs Post: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            alert("Admin Refs Post catch: " + e);
        }
    }

    function UpdateRole() {
        try {
            objArticleClass.RefDescription = $('#txtDescription').val();
            $.ajax({
                url: service + "/api/Ref/Put",
                type: "PUT",
                data: ref,
                success: function (result) {
                    if (result.Success === "ok") {
                        displayStatusMessage("alert-success", "Saved");
                        getRefs("CAT");
                    }
                    else
                        displayStatusMessage("alert-danger", "server ERROR: " + result.Success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Admin Refs PUT error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    // author Avatars
    $("#optAuthorAvatars").click(function () {
        $('.adminOption').hide();
        $('#tabAuthorAvatar').show();
    })
    // my famous Ref Editor
    $("#optRefEditor").click(function () {
        $('.adminOption').hide();
        $('#tabRefEditor').show();
    })
    // person / role grid
    $("#optAssignRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAssignRoles').show();
    })

</script>
