@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Consulting/_ProfessionalLayout.cshtml";
}

<link href="~/Styles/VertMenu.css" rel="stylesheet" />
<style>
    #leftColumn {
        border-right: solid 1px orange;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="vertMenu">
            <div class="vertMenuTab" id="optArticleClass"><a>Article Classifications</a></div>
            <div class="vertMenuTab" id="optAuthorAvatars"><a>    Author Avatars     </a></div>
            <div class="vertMenuTab" id="optRefEditor">    <a>    Ref Editor         </a></div>
            <div class="vertMenuTab" id="optAddRoles">     <a>    Add Roles          </a></div>
            <div class="vertMenuTab" id="optAssignRoles">  <a>    Assign Roles       </a></div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="adminOptionContainer">

            <div id="tabArticleClass" class="adminOption">
                <div class="adminOptionTitle">Article Classifications</div>
                <label>Category:</label>
                <input class="roundedInput" id="txtArticleClassDescription" />
                <div id="divRoleButtons">
                    <div class="roundendButton" id="btnAddEditArticleClass">Add</div>
                    <div class="roundendButton" id="btnArticleClassToggle">New</div>
                </div>
                <img id="ArticleClassLoading" src="~/Images/loader.gif" height="40" />
                <div class="itemsList" id="divArticleClassList"></div>
            </div>

            <div id="tabAuthorAvatar" class="adminOption">
                <div class="adminOptionTitle">Author Avatars</div>
            </div>

            <div id="tabRefEditor" class="adminOption">
                <div class="adminOptionTitle">Ref Editor</div>
            </div>

            <div id="tabAssignRoles" class="adminOption">
                <div class="adminOptionTitle">Assign Roles</div>
                <div class="selectedUerContainer">
                    <div><select id="ddUsers" class="ddSelect"></select></div>
                    <div id="divSelectedUser" class="inline"></div>
                </div>
                <div id="divRolesChoose" class="chooseBoxContainer">
                    <div id="divChooseAvailable" class="chooseBox"></div>
                    <div id="divChooseButtons" class="chooseBox">
                        <div><img id="imgAdd" class="chooseBtn" src="~/Images/Consulting/sglright.jpg" /></div>
                        <div><img id="imgAddAll" class="chooseBtn" src="~/Images/Consulting/dblright.jpg" /></div>
                        <div><img id="imgRemove" class="chooseBtn" src="~/Images/Consulting/sglleft.jpg" /></div>
                        <div><img id="imgRemoveAll" class="chooseBtn" src="~/Images/Consulting/dblleft.jpg" /></div>
                    </div>
                    <div id="divChooseSelected" class="chooseBox"></div>
                </div>
            </div>

            <div class="adminOption" id="tabAddRoles">
                <div class="adminOptionTitle">Add Edit Roles</div>
                <label>Role:</label>
                <input class="roundedInput" id="txtRoleName" />
                <div id="divRoleButtons">
                    <div class="roundendButton" id="btnAddUpdateRole">Add</div>
                    <div class="roundendButton" id="btnRoleToggle">New</div>
                </div>
                <div class="itemsList" id="divRoleList"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var objClassification = new Object();
    var objRole = new Object();

    $(document).ready(function () { });

    // article Classifications
    $("#optArticleClass").click(function () {
        $('.adminOption').hide();
        $('#tabArticleClass').show();
        $('#btnArticleClassToggle').hide();
        if ($('#divArticleClassList').html() === "")
            GetArticleClasses();
    })

    $('#btnAddEditArticleClass').click(function () {
        if ($(this).text() === "Add")
            AddArticleClassification();
        else
            UpdateArticleClassification();
    });

    $('#btnArticleClassToggle').click(function () {
        objClassification.RefCode = null;
        $('#txtArticleClassDescription').val("");
        $('#btnAddEditArticleClass').text("Add");
        $('#btnNArticleClassToggle').hide();
    });

    function GetArticleClasses() {
        try {
            $('#ArticleClassLoading').show();
            $.ajax({
                url: service + "/api/Ref/Get?refType=CAT",
                type: "get",
                dataType: "Json",
                success: function (result) {
                    $('#divArticleClassList').html("");
                    $.each(result, function () {
                        $('#divArticleClassList').append("<li Id='" + this.RefCode + "'>"  + this.RefDescription + "</li>")
                    });

                    $('#divArticleClassList li').click(function () {
                        objClassification.RefCode = $(this).attr('Id');
                        $('#txtArticleClassDescription').val($(this).html());
                        $('#btnAddEditArticleClass').text("Update");
                        $('#btnArticleClassToggle').show();
                    });
                    $('#ArticleClassLoading').hide();
                },
                error: function (xhr) {
                    //displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("GetArticleClasses error: " + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
        }
    }

    function AddArticleClassification() {
        try {
            objClassification.RefDescription = $('#txtArticleClassDescription').val();
            objClassification.RefType = "CAT";
            $.ajax({
                type: "POST",
                url: service + "/api/Ref/",
                dataType: "Json",
                data: objClassification,
                success: function (result) {
                    if (result.Success === "ok") {
                        $('#txtDescription').val("");
                        $('#btnAddEditArticleClass').text("Add");
                        displayStatusMessage("alert-success", "Saved");
                        GetArticleClasses();
                    }
                    else
                        displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Admin Refs Post error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
        }
    }

    function UpdateArticleClassification() {
        try {
            objClassification.RefDescription = $('#txtArticleClassDescription').val();
            objClassification.RefType = "CAT";
                $.ajax({
                    type: "PUT",
                    url: service + "/api/Ref/Put",
                    data: objClassification,
                    success: function (success) {
                        if (success === "ok") {
                            displayStatusMessage("alert-success", "Saved");
                            GetArticleClasses();                        }
                        else
                            displayStatusMessage("alert-danger", "server ERROR: " + success);
                    },
                    error: function (xhr) {
                        displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                        alert("Admin Refs PUT error: " + xhr.statusText);
                    }
                });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
        }
    }



    // Roles
    $("#optAddRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAddRoles').show();
        $('#btnRoleToggle').hide();
        if ($('#divRoleList').html() === "")
            getRoles();
    })

    $('#btnAddUpdateRole').click(function () {
        if ($(this).text() === "Add")
            addRole();
        else
            updateRole();
    });

    $('#btnRoleToggle').click(function () {
        objClassificationRefCode = null;
        $('#txtDescription').val("");
        $('#btnAddUpdateRole').text("Add");
        $(this).hide();
    });

    function getRoles() {
        try {
            //url: service+ "/api/Role",
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetRoles",
                success: function (result) {

                    alert("result :" + result);

                    $('#divRoleList').html("<ul>");

                    $.each(result, function () {
                        alert("this.Value: " + this.Name);

                        $('#divRoleList').append("<li Id='" + this.Id + "'>" + this.Name + "</li>");
                    });

                    $('#divRoleList').append("</ul>");

                    $('#divRoleList li').click(function () {
                        objRole.Id = $(this).attr('Id');
                        $('#txtRoleName').val($(this).html());
                        $('#btnAddUpdateRole').text("Update");
                        $('#btnRoleToggle').show();
                    });
                },
                error: function (jqXHR, exception) {
                    alert("/api/GetRoles error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
            alert("/api/GetRoles catch: " + catchErrorDetails(e));
        }
    }

    function addRole() {
        try {
            objRole.Name = $('#txtRoleName').val();
           // alert("objRole.Name: " + objRole.Name);
            $.ajax({
                type: "POST",
                url: "/Admin/AddRole?roleName=" + $('#txtRoleName').val(),
                dataType: "Json",
                //data: objRole,
                success: function (result) {
                    if (result.Success == "OK") {
                        $('#txtRoleName').val("");
                        $('#btnAddUpdateRole').text("Add");
                        displayStatusMessage("alert-success", "Saved");
                        getRoles();
                    }
                    else {
                        alert("result :" + result + "   :" + result.Success);
                        displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                    }
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("/Manage/AddRole: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            alert("/Manage/AddRole catch: " + catchErrorDetails(e));
        }
    }

    function updateRole() {
        try {
            objRole.Name = $('#txtRoleName').val();
            $.ajax({
                url: service + "/api/role",
                type: "PUT",
                data: objRole,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("alert-success", "Saved");
                        getRoles();
                    }
                    else
                        displayStatusMessage("alert-danger", "server ERROR: " + success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    //alert("Admin Refs PUT error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + catchErrorDetails(e));
        }
    }



















    // author Avatars
    $("#optAuthorAvatars").click(function () {
        $('.adminOption').hide();
        $('#tabAuthorAvatar').show();
    })

    // my famous Ref Editor
    $("#optRefEditor").click(function () {
        $('.adminOption').hide();
        $('#tabRefEditor').show();
    })

    // person / role grid
    $("#optAssignRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAssignRoles').show();
        if ($('#ddUsers').html() == "")
            getChooseBoxUsers();
        if ($('#ddUsers').html() == "")
            getChooseBoxRoles();
    });
    var selectedUser = "", selectedRoleId = "", selectedRoleName = "";
    $(".chooseBtn").click(function () {
        if (selectedUser == "") {
            alert("Please select a User.");
        }
        else {
            switch ($(this).attr("Id")) {
                case "imgAdd":
                    if (selectedRoleId != "") {
                        $("#" + selectedRoleId).remove();
                        $('#divChooseSelected').append("<div class='listBoxItem' Id='" + selectedRoleId + "'>" + selectedRoleName + "</div>");
                        addUserRole(selectedRoleId, selectedUser);
                        selectedRoleId = "", selectedRoleName = "";
                    }
                    break;
                case "imgAddAll":
                    $('#divChooseSelected').append($('#divChooseAvailable').html());
                    $('#divChooseAvailable').html("");
                    break;
                case "imgRemove":
                    if (selectedRoleId != "") {
                        $("#" + selectedRoleId).remove();
                        $('#divChooseAvailable').append("<div class='listBoxItem' Id='" + selectedRoleId + "'>" + selectedRoleName + "</div>");
                        selectedRoleId = "", selectedRoleName = "";
                    }
                    break;
                case "imgRemoveAll":
                    $('#divChooseAvailable').append($('#divChooseSelected').html());
                    $('#divChooseSelected').html("");
                    break;
                default:
                    alert("$(this).Id :" + $(this).attr("Id"))
            }
            $('.listBoxItem').click(function () {
                if (selectedRoleId != "") {
                    $("#" + selectedRoleId).removeClass("highlightItem");
                }
                $(this).addClass("highlightItem");
                selectedRoleId = $(this).attr("Id");
                selectedRoleName = $(this).text();
            });
        }
    });

    function getChooseBoxUsers() {
        try {
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: service + "/api/User",
                success: function (result) {
                    $('#ddUsers').html("");
                    $.each(result, function () {
                        $('#ddUsers').append("<option class='ddOption' value='" + this.Id + "'>" + this.Name + "</li>");
                    });

                    $('#ddUsers').change(function () {
                        selectedUser = $('#ddUsers option:selected').attr("value")
                        $('#divSelectedUser').html($('#ddUsers option:selected').text())
                        getAssignedRoles($('#ddUsers option:selected').val());
                    });
                },
                error: function (jqXHR, exception) {
                    alert("error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
            alert("catch: " + catchErrorDetails(e));
        }
    }
    function getAssignedRoles(userId) {
    }
    function getChooseBoxRoles() {
        try {
            // $('#divLoadingGif').show();
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: service + "/api/Role",
                success: function (result) {
                    $.each(result, function () {
                        $('#divChooseAvailable').append("<div class='listBoxItem' Id='" + this.Id + "'>" + this.Name + "</div>");
                    });

                    $('.listBoxItem').click(function () {
                        if (selectedRoleId != "") {
                            $("#" + selectedRoleId).removeClass("highlightItem");
                        }
                        $(this).addClass("highlightItem");
                        selectedRoleId = $(this).attr("Id");
                        selectedRoleName = $(this).text();
                    });
                },
                error: function (jqXHR, exception) {
                    alert("error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("alert-danger", "catch ERROR: "  + catchErrorDetails(e));
            alert("catch: " + catchErrorDetails(e));
        }


    }

    function addUserRole(selectedRoleId, selectedUser) {
        try {
            var objUserRole = new Object();
            objUserRole.RoleId = selectedRoleId;
            objUserRole.UserId = selectedUser;

            $.ajax({
                type: "POST",
                url: service + "/api/UserRole",
                dataType: "Json",
                data: objClassification,
                success: function (result) {
                    if (result.Success === "ok") {
                        displayStatusMessage("alert-success", "Saved");
                        GetArticleClasses();
                    }
                    else
                        displayStatusMessage("alert-danger", "xhr ERROR: " + result.Success);
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("Admin Refs Post error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + catchErrorDetails(e));
        }
    }
</script>
