
@{
    ViewBag.Title = "Intelligent Design";
    Layout = "~/Views/Consulting/_ProfessionalLayout.cshtml";
}

<style>
    #FullCenterImage {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    #divWelcomeMessage {
        position: absolute;
        color: white;
        /*border: solid thin yellow;*/
    }

    #divHeaderRow {
        font-family: Algerian;
        font-size: 40px;
    }

    #divWelcomeMessage p {
        font-size: 18px;
    }
    #divWelcomeMessage a {
        color: #d1c998;
    }
    #leftColumn, #rightColumn {
        padding: 0;
    }

    #leftColumn {
        width: 30px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <img alt="" id="FullCenterImage" src="~/Images/Consulting/globlic.jpg" />
        <div id="divWelcomeMessage">
            <div id="divHeaderRow">Welcome to Intelligent Design Software</div>
            <p>This web site demonstrates the work of an experienced if socially autistic web applications developer</p>
            <p>Check out the scection describing the <a href="~/Consulting/Skills">skills used to build this site</a></p>
            <p>Read some of my <a href="~/Consulting/Articles">articles on computer programming</a></p>
            <p>See <a href="~/Consulting/MyResume">My resume</a> with over thirty years experience. (yes I am old)</p>
            <p>If you might be interested in having me do some work for you</p>
            <p>(remote only) (direct hire only) please <a href="~/Consulting/Contact">contact me</a> </p>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    $(window).resize(function () {
        $('FullCenterImage').height($('#middleColumn').height());
        $('#footerMessage').append(" (consultion home resize) ");
    });


    $(document).ready(function () {
        //$('FullCenterImage').height($('#middleColumn').height());
        $('#divWelcomeMessage').css("top", $('#middleColumn').position().top + 50);
        $('#divWelcomeMessage').css("left", $('#middleColumn').position().left + 100);
        $('#footerMessage').append(" (consultion home Ready) ");
    });

</script>


