
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Consulting/_ProfessionalLayout.cshtml";
}

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <h2>Contact</h2>
    </div>
    <div id="rightColumn">
    </div>
</div>


