
@{
                /**/

                ViewBag.Title = "contextTest";
}

<style>
    .postage {
        margin-top: 200px;
        margin-left: 300px;
    }

    .testMessage {
        margin-top: 15px;
    }

    .testImage {
        width: 800px;
    }

    .dots {
        position: absolute;
        height: 30px;
        cursor: pointer;
    }

    .ogContextMenu {
        position: absolute;
        background-color: #e1e1de;
        border: solid 2px #923c76;
        padding: 8px 10px;
        display: none;
    }
        .ogContextMenu div {
            padding: 8px;
            margin: 2px;
            background-color: #fff;
            border-radius: 3px;
            cursor: pointer;
        }

    .floatingCrudDialog {
        position: absolute;
        top: 250px;
        left: 200px;
        border: solid 2px #555;
        box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
        display: none;
    }

    .floatingCrudContainer {
        padding: 10px;
        background-color: #f8e8e8;
    }

    .roundendButton {
        margin-top: 6px;
        display: inline-block;
    }
    /*
                <div class="innerfloatingCrudContainer">

        .innerfloatingCrudContainer {
        float: right;
        display: inline-block;
    }*/
    .dirTreeDropDown {
        margin-top: 22px;
        margin-left: 50px;
        padding: 3px 6px;
        font-size: 19px;
        color: #555;
        background-color: #ddd;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .copyDialogImage {
        float: left;
        height: 100px;
    }
</style>

<div id="moveCopyDialog" class="floatingCrudDialog">
    <div class="floatingCrudBanner">Copy Image Link<div onclick="$('#moveCopyDialog').fadeOut()" class="farSide">x</div> </div>
    <div class="floatingCrudContainer flexContainer">
        <img id="copyDialogImage" class="copyDialogImage" />
        <select id="dirTreeDropDown" class="dirTreeDropDown">
            @Html.Partial("_DirOptions");
        </select>
        <div class="roundendButton" onclick="moveCopyImage()">Copy</div>
    </div>
</div>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Context Menu Test</h2>

        <div id="testImage123Container" class='testImageContainer'>
            <img id="testImage123" class='testImage' />
        </div>

        <div id="msg1" class="testMessage"></div>
    </div>
    <div id="rightColumn"></div>
</div>

<div id="testContextMenu" class="ogContextMenu" onmouseleave="$(this).fadeOut();">
    <div>Copy</div>
    <div>Move</div>
    <div>Remove</div>
    <div>Comment</div>
    <div>About</div>
</div>

<script>
    $(document).ready(function () {
        showTestImage("testImage123");
    });

    function showTestImage(imageId) {
        //src = "http://images.blazingmovies.com/pic_teasers/96214/f5079d3f33/nude/01/96214_09.jpg"
        src = "https://www.rollingstone.com/wp-content/uploads/2019/02/shutterstock_9699494bvW.jpg?crop=900:600&width=1910";
        $('#' + imageId + '').attr("src", src);
        $('#' + imageId + 'Container').append("<img id='dots" + imageId + "' class='dots' src='/Images/dots.png' onmouseover=showContextMenu('" + imageId + "') />");
        $('#dots' + imageId + '').css('left', $('#' + imageId + '').width());

        $('#msg1').html("height: " + $('#' + imageId + '').height() + "  width: " + $('#' + imageId + '').width());
    }

    //$('.ogContextMenu').mouseleave(function () {
    //    $('.ogContextMenu').fadeOut();
    //});

    $('.ogContextMenu div').click(function () {
        var action = $(this).html();
        switch (action) {
            case "Copy":
                $('#copyDialogImage').attr("src", $('#' + currentContextImageId + '').attr("src"));
                $('#moveCopyDialog').show();
                break;
            default:
                $('#msg1').html(action);
        }
    });

    var currentContextImageId;
    function showContextMenu(imageId) {
        currentContextImageId = imageId;
        var thisImage = $('#' + imageId + '');
        var picpos = thisImage.offset()
        var picTop = picpos.top + 50;;
        var picLeft = picpos.left + thisImage.width() - $('.ogContextMenu').width() - 50;
        $('#testContextMenu').css("top", picTop);
        $('#testContextMenu').css("left", picLeft);
        $('#testContextMenu').fadeIn();
        //$('#msg1').append("  left: " + picLeft + "  top: " + picTop + "  " + $('.ogContextMenu').width());
    }

    function moveCopyImage() {

        var folderId = $('#dirTreeDropDown').val();
        $('#msg1').html("folderId: " + folderId)

    }


</script>




