<div class="adminContainer">

    <div class="adminOptionTitle">Assign Roles</div>
    <div class="selectedUerContainer">
        <div><select id="ddUsers" class="crudDropDown"></select></div>
        <div id="divSelectedUser" class="inline adminInput"></div>
    </div>
    <div id="divRolesChoose" class="chooseBoxContainer">

        <div id="divChooseAvailable" class="chooseBox"></div> 

        <div id="divChooseButtons" class="chooseBtnsContainer">
            <div><img id="imgAdd" class="chooseBtn" src="~/Images/IntelDsgn/sglright.jpg" /></div>
            <div><img id="imgAddAll" class="chooseBtn" src="~/Images/IntelDsgn/dblright.jpg" /></div>
            <div><img id="imgRemove" class="chooseBtn" src="~/Images/IntelDsgn/sglleft.jpg" /></div>
            <div><img id="imgRemoveAll" class="chooseBtn" src="~/Images/IntelDsgn/dblleft.jpg" /></div>
        </div>
        <div id="divChooseAssigned" class="chooseBox"></div>
    </div>
</div>
    <script>
        var selectedUserId = "", selectedRoleId = "", selectedRoleName = "";

        function setUserRolesInititalState() {
            $('#divChooseAssigned').html("");
            $('#divSelectedUser').html("");
            loadAllRolesIntoChooseAvailable();
            loadUsersDD();
        }

        $(".chooseBtn").click(function () {
            if (selectedUserId == "") {
                alert("Please select a User.");
            }
            else {
                switch ($(this).attr("Id")) {
                    case "imgAdd":
                        if (selectedRoleId != "") {
                            //$("#" + selectedRoleId).remove();
                            //$('#divChooseAssigned').append("<div class='listBoxItem' Id='" + selectedRoleId + "'>" + selectedRoleName + "</div>");
                            addUserRole(selectedUserId, selectedRoleName);
                            selectedRoleId = "", selectedRoleName = "";
                             //getUserRoles(selectedUserId)
                        }
                        break;
                    case "imgAddAll":
                        $('#divChooseAssigned').append($('#divChooseAvailable').html());
                        $('#divChooseAvailable').html("");
                        break;
                    case "imgRemove":
                        if (selectedRoleId != "") {
                            $("#" + selectedRoleId).remove();
                            $('#divChooseAvailable').append("<div class='listBoxItem' Id='" + selectedRoleId + "'>" + selectedRoleName + "</div>");
                            RemoveUserRole(selectedUserId, selectedRoleName);
                            selectedRoleId = "", selectedRoleName = "";
                        }
                        break;
                    case "imgRemoveAll":
                        $('#divChooseAvailable').append($('#divChooseAssigned').html());
                        $('#divChooseAssigned').html("");
                        break;
                    default:
                        alert("$(this).Id :" + $(this).attr("Id"))
                }
            }
        });

        function loadUsersDD() {
            try {
                $.ajax({
                    type: "GET",
                    dataType: "Json",
                    url: "/Admin/GetUsers",
                    success: function (result) {
                        result = result.split("|");

                        $('#ddUsers').html("<option class= 'ddOption' value ='0'>-- select a user --</option >");
                        $.each(result, function (idx, obj) {
                            obj = obj.split(",");
                            $('#ddUsers').append("<option class='ddOption' value='" + obj[0] + "'>" + obj[1] + "</option>");
                        });

                        // 
                        $('#ddUsers').change(function () {
                            loadAllRolesIntoChooseAvailable();
                            selectedUserId = $('#ddUsers option:selected').attr("value")
                            $('#divSelectedUser').html($('#ddUsers option:selected').text())
                            getRolesAssignerToUser($('#ddUsers option:selected').val());
                        });

                    },
                    error: function (jqXHR, exception) {
                        alert("error: " + getXHRErrorDetails(jqXHR, exception));
                    }
                });
            } catch (e) {
                //displayStatusMessage("error", "catch ERROR: " +e);
                alert("catch: " + e);
            }
        }

        //var selectedUsersRoles = new Array();
        function getRolesAssignerToUser(userId) {
            try {
                // $('#divLoadingGif').show();
                $.ajax({
                    type: "GET",
                    dataType: "Json",
                    url: "/Admin/GetUserRoles?userId=" + userId,
                    success: function (roleNames) {
                        $('#divChooseAssigned').html("");  
                        //selectedUsersRoles = []; //selectedUsersRoles.clear();
                        $.each(roleNames, function (idx, roleName) {
                            //selectedUsersRoles.push(roleName);


                            // thanks to hereswhatidid.com/2011/02/using-jquery-to-find-elements-that-contain-a-specific-text-string/
                            var pickedRoleId = $("#divChooseAvailable div:contains(" + roleName + ")").filter(function () {
                                return $(this).html() == roleName;
                            }).attr('Id');
                            $('div').remove("#" + pickedRoleId);


                            $('#divChooseAssigned').append("<div class='assignedListBoxItem'  Id='" + pickedRoleId + "'>" + roleName + "</div>");
                        });

                        // this will happen on any item in divChooseAssigned
                        $('.assignedListBoxItem').click(function () {
                            if (selectedRoleId != "") {
                                if (selectedRoleId == $(this).attr("Id")) {
                                   // alert("divChooseAssigned uncheck  selected roleId: " + selectedRoleId + "  this: " + $(this).attr("Id"));
                                    $(this).removeClass("highlightItem");
                                    selectedRoleId = "";
                                }
                                else {
                                   // alert("item click change selected")
                                    $("#" + selectedRoleId).removeClass("highlightItem");
                                    $(this).addClass("highlightItem");
                                    selectedRoleId = $(this).attr("Id");
                                    selectedRoleName = $(this).text();
                                }
                            }
                            else {
                              //  alert("this haapned");
                                $(this).addClass("highlightItem");
                                selectedRoleId = $(this).attr("Id");
                                selectedRoleName = $(this).text();
                            }
                        });

                    },
                    error: function (jqXHR, exception) {
                        alert("error: " + getXHRErrorDetails(jqXHR, exception));
                    },
                });
            } catch (e) {
                //displayStatusMessage("error", "catch ERROR: " +e);
                alert("catch: " + e);
            }
        }

        function loadAllRolesIntoChooseAvailable() {
            try {
                // $('#divLoadingGif').show();
                $.ajax({
                    type: "GET",
                    dataType: "Json",
                    url: "/Admin/GetAllRoles",
                    success: function (result) {
                        $('#divChooseAvailable').html("");
                        $.each(result, function (idx, obj) {
                            $('#divChooseAvailable').append("<div class='availableListBoxItem'  Id='" + obj.Id + "'>" + obj.Name + "</div>");
                        });

                        // this will happen on any item in divChooseAvailable
                        $('.availableListBoxItem').click(function () {
                            //alert("divChoose AVAILABLE initial click selected roleId: " + selectedRoleId + "  this: " + $(this).attr("Id"));
                            if (selectedRoleId != "") {
                                if (selectedRoleId === $(this).attr("Id")) {
                                    //alert("divChoose AVAILABLE uncheck  selected roleId: " + selectedRoleId + "  this: " + $(this).attr("Id"));
                                    $(this).removeClass("highlightItem");
                                    selectedRoleId = "";
                                }
                                else {
                                    $("#" + selectedRoleId).removeClass("highlightItem");
                                    $(this).addClass("highlightItem");
                                    selectedRoleId = $(this).attr("Id");
                                    selectedRoleName = $(this).text();
                                }
                            }
                            else {
                                $(this).addClass("highlightItem");
                                selectedRoleId = $(this).attr("Id");
                                selectedRoleName = $(this).text();
                            }
                        });

                    },
                    error: function (jqXHR, exception) {
                        alert("error: " + getXHRErrorDetails(jqXHR, exception));
                    },
                });
            } catch (e) {
                //displayStatusMessage("error", "catch ERROR: " +e);
                alert("catch: " + e);
            }
        }

        function addUserRole(userId, roleName) {
            try {
                $.ajax({
                    type: "Get",
                    url: "/Admin/AddUserRole?userId=" + userId + "&roleName=" + roleName,
                    //dataType: "Json",
                    success: function (success) {
                        if (success == "ok") {
                            displayStatusMessage("ok", "User Role [" + roleName + "] added");
                        }
                        else {
                            displayStatusMessage("error", "ERROR: " + success);
                            alert("addUserRole success not ok: " + success);
                        }
                    },
                    error: function (xhr) {
                        displayStatusMessage("error", "error: " + xhr.statusText);
                        alert("addUserRole xhr error: " + xhr.statusText);
                    }
                });
            }
            catch (e) {
                //displayStatusMessage("error", "catch ERROR: " + e);
                alert("addUserRole error: " + e);
            }
        }

        function RemoveUserRole(userId, roleName) {
            try {
                $.ajax({
                    type: "Get",
                    url: "/Admin/RemoveUserRole?userId=" + userId + "&roleName=" + roleName,
                    dataType: "Json",
                    //data: objClassification,
                    success: function (success) {
                        if (success.toUpperCase() == "OK") {
                            displayStatusMessage("ok", "Role [" + roleName + "] Removed");
                        }
                        else
                            displayStatusMessage("error", "ERROR: " + success);
                    },
                    error: function (xhr) {
                        displayStatusMessage("error", "error: " + xhr.statusText);
                        alert("remove error: " + xhr.statusText);
                    }
                });
            }
            catch (e) {
                displayStatusMessage("error", "catch ERROR: " + e);
            }
        }
    </script>


