
<style>
    .highlightItem {
        background-color: red !important;
    }

    .chooseBoxListItem {
        color: black;
        background-color: #a2a2a2;
        font-size: 16px;
        margin: 4px;
        padding: 4px;
        cursor: pointer;
        white-space: nowrap;
    }

    .chooseBtnsContainer {
        background-color: white;
        text-align: center;
        padding-top: 10px;
        float: left;
    }

    .chooseBtn {
        height: 24px;
        margin: 6px;
        cursor: pointer;
    }
    .disenabled {
        cursor: not-allowed !important;
    }
    .chooseBoxContainer {
        margin-top: 4px;
        display: flex;
    }

    .chooseBox {
        border: solid 2px rgba(85, 85, 85, 0.50);
        border-radius: 4px;
        margin: 0;
        width: 80%
    }
    .AssignRolesContainer {
        min-width: 500px;
    }
</style>

<div class="crudContainer AssignRolesContainer">
    <div class="crudContainerTitle">Assign Roles</div>
    <div class="flexContainer">
        <div><select id="ddUsers" class="crudDropDown"></select></div>
    </div>
    <div id="divRolesChoose" class="chooseBoxContainer">

        <div id="divChooseAvailable" class="chooseBox floatLeft"></div>

        <div id="divChooseButtons" class="chooseBtnsContainer floatLeft">
            <div><img id="imgAdd" class="chooseBtn" src="~/Images/IntelDsgn/sglright.jpg" /></div>
            <div><img id="imgAddAll" class="chooseBtn disenabled" src="~/Images/IntelDsgn/dblright.jpg" /></div>
            <div><img id="imgRemove" class="chooseBtn" src="~/Images/IntelDsgn/sglleft.jpg" /></div>
            <div><img id="imgRemoveAll" class="chooseBtn disenabled" src="~/Images/IntelDsgn/dblleft.jpg" /></div>
        </div>
        <div id="divChooseAssigned" class="chooseBox floatLeft"></div>
    </div>
</div>
<script>
    var selectedUserId = "";
    var selectedRoleName = "";
    var selectedRoleType = "";

    function setUserRolesInititalState() {
        $('#divChooseAssigned').html("");
        //$('#divSelectedUser').html("");
        loadPivotDropDown();
        loadAllItems();
    }

    $(".chooseBtn").click(function () {
        if (isNullorUndefined(selectedUserId)) {
            displayStatusMessage("warning", "please select a user");
        }
        else {
            if (isNullorUndefined(selectedRoleName)) {
                alert("Please select a Role.");
            }
            else {
                switch ($(this).attr("Id")) {
                    case "imgAdd":
                        if (selectedRoleType == "Available")
                            addUserRole(selectedUserId, selectedRoleName);
                        else
                            displayStatusMessage("warning", "no available item selected")
                        break;
                    case "imgAddAll":  //  disabled
                        //$('#divChooseAssigned').html("");
                        //$('#divChooseAssigned').append($('#divChooseAvailable').html());
                        //$('#divChooseAvailable').html("");
                        //perfom special role function
                        break;
                    case "imgRemove":
                        if (selectedRoleType == "Assigned")
                            RemoveUserRole(selectedUserId, selectedRoleName);
                        else
                            displayStatusMessage("warning", "no assigned item selected")
                        break;
                    case "imgRemoveAll":  //  disabled
                        //$('#divChooseAvailable').append($('#divChooseAssigned').html());
                        //$('#divChooseAssigned').html("");
                        //perfom special role function
                        break;
                    default:
                        alert("$(this).Id :" + $(this).attr("Id"))
                }
            }
        }
    });

    function loadPivotDropDown() {
        try {
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetUsers",
                success: function (result) {
                    result = result.split("|");
                    $('#ddUsers').html("<option class= 'ddOption' value ='0'>-- select a user --</option >");
                    $.each(result, function (idx, obj) {
                        obj = obj.split(",");
                        $('#ddUsers').append("<option class='ddOption' value='" + obj[0] + "'>" + obj[1] + "</option>");
                    });

                    $('#ddUsers').change(function () {
                        loadAllItems();
                        selectedUserId = $('#ddUsers option:selected').attr("value")
                    });
                },
                error: function (jqXHR, exception) {
                    alert("error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("catch: " + e);
        }
    }

    function loadAllItems() {
        try {
            // $('#divLoadingGif').show();
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetAllRoles",
                success: function (result) {
                    $('#divChooseAvailable').html("");
                    $.each(result, function (idx, obj) {
                        $('#divChooseAvailable').append("<div class='availableListBoxItem chooseBoxListItem'  Id='" + obj.Id + "'>" + obj.Name + "</div>");
                    });

                    if (!isNullorUndefined(selectedUserId)) 
                       loadAssignedItems(selectedUserId)

                    $('.availableListBoxItem').click(function () {
                        $('.chooseBoxListItem').removeClass("highlightItem");
                        if (isNullorUndefined(selectedRoleName)) {
                            $(this).addClass('highlightItem');
                            selectedRoleType = "Available";
                            selectedRoleName = $(this).text();
                        }
                        else {
                            if (selectedRoleName === $(this).text()) {
                                selectedRoleName = "";
                                selectedRoleType = "";
                            }
                            else {
                                $(this).addClass("highlightItem");
                                selectedRoleType = "Available";
                                selectedRoleName = $(this).text();
                            }
                        }
                    });
                },
                error: function (jqXHR, exception) {
                    alert("error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("error", "catch ERROR: " +e);
            alert("catch: " + e);
        }
    }

    function loadAssignedItems(selectedUserId) {
        try {
            // $('#divLoadingGif').show();
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetUserRoles?userId=" + selectedUserId,
                success: function (roleNames) {
                    $('#divChooseAssigned').html("");
                    $.each(roleNames, function (idx, roleName) {
                        // thanks to hereswhatidid.com/2011/02/using-jquery-to-find-elements-that-contain-a-specific-text-string/
                        var pickedRoleId = $("#divChooseAvailable div:contains(" + roleName + ")").filter(function () {
                            return $(this).html() == roleName;
                        }).attr('Id');
                        $('div').remove("#" + pickedRoleId);
                        $('#divChooseAssigned').append("<div class='assignedListBoxItem chooseBoxListItem'  Id='" + pickedRoleId + "'>" + roleName + "</div>");
                    });
                    selectedRoleName = "";
                    selectedRoleType = "";

                    $('.assignedListBoxItem').click(function () {
                        $('.chooseBoxListItem').removeClass("highlightItem");
                        if (isNullorUndefined(selectedRoleName)) {
                            $(this).addClass('highlightItem');
                            selectedRoleType = "Assigned";
                            selectedRoleName = $(this).text();
                        }
                        else {
                            if (selectedRoleName == $(this).text()) {
                                selectedRoleName = "";
                                selectedRoleType = "";
                            }
                            else {
                                $(this).addClass('highlightItem');
                                selectedRoleName = $(this).text();
                                selectedRoleType = "Assigned";                            }
                        }
                    });
                },
                error: function (jqXHR, exception) {
                    alert("getRolesAssignerToUser error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("error", "catch ERROR: " +e);
            alert("getRolesAssignerToUser catch: " + e);
        }
    }

    function addUserRole(selectedUserId, selectedRoleName) {
        try {
            $.ajax({
                type: "GET",
                url: "/Admin/AddUserRole?userId=" + selectedUserId + "&roleName=" + selectedRoleName,
                success: function (success) {
                    if (success == "ok") {
                        loadAllItems();
                        //displayStatusMessage("ok", "User Role [" + selectedRoleName + "] added");
                    }
                    else {
                        //displayStatusMessage("error", "ERROR: " + success);
                        alert("addUserRole success not ok: " + success);
                    }
                },
                error: function (xhr) {
                    //displayStatusMessage("error", "error: " + xhr.statusText);
                    alert("addUserRole xhr error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            alert("addUserRole error: " + e);
        }
    }

    function RemoveUserRole(selectedUserId, selectedRoleName) {
        try {
            $.ajax({
                type: "GET",
                url: "/Admin/RemoveUserRole?userId=" + selectedUserId + "&roleName=" + selectedRoleName,
                dataType: "Json",
                success: function (success) {
                    if (success == "ok") {
                        loadAllItems();
                        //displayStatusMessage("ok", "Role [" + selectedRoleName + "] Removed");
                    }
                    else
                        displayStatusMessage("error", "ERROR: " + success);
                },
                error: function (xhr) {
                    displayStatusMessage("error", "error: " + xhr.statusText);
                    alert("remove error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("error", "catch ERROR: " + e);
        }
    }
</script>


