<style>
</style>
<div class="adminContainer">
    <div class="adminOptionTitle">Add Edit Roles</div>
    <div>
        <label>Role:</label>
        <input class="adminInput" id="txtRoleName" />
        <div class="roundendButton" id="btnAddUpdateRole">Add</div>
        <div class="roundendButton" id="btnRoleToggle">New</div>
    </div>
    <div class="itemsList" id="divRoleList"></div>
</div>
<script>
    var objRole = new Object();

    $('#btnAddUpdateRole').click(function () {
        if ($(this).text() === "Add")
            addRole();
        else
            updateRole();
    });

    $('#btnRoleToggle').click(function () {
        objClassificationRefCode = null;
        $('#btnAddUpdateRole').text("Add");
        $(this).hide();
    });

    function getRoles() {
        try {
           // alert("getRoles")
            // $('#divLoadingGif').show();
            //url: service+ "/api/Role",
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetAllRoles",
                success: function (result) {

                    //alert("result: " + result);

                    result = result.split("|");
                    $('#divRoleList').html("<ul>");
                    $.each(result, function (idx, obj) {
                        obj = obj.split(",");
                        $('#divRoleList').append("<li ='" + obj[0] + "'>" + obj[1] + "</li>");
                    });
                    $('#divRoleList').append("</ul>");

                    $('#divRoleList li').click(function () {
                        objRole.Id = $(this).attr('Id');
                        $('#txtRoleName').val($(this).html());
                        $('#btnAddUpdateRole').text("Update");
                        $('#btnRoleToggle').show();
                    });
                },
                error: function (jqXHR, exception) {
                    alert("GetRoles error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("severityError", "catch ERROR: " +e);
            alert("GetRoles catch: " +e);
        }
    }

    function addRole() {
        try {
            $.ajax({
                type: "GET",
                url: "/Admin/AddRole?roleName=" + $('#txtRoleName').val(), 
                //dataType: "Json",
                //data: ,
                success: function (success) {
                    if (success== "ok") {
                        $('#txtRoleName').val("");
                        $('#btnAddUpdateRole').text("Add");
                        displayStatusMessage("severityOk", "Saved");
                        getRoles();
                        $('#btnRoleToggle').hide();
                    }
                    else {
                        alert("success :" + success);
                        //displayStatusMessage("severityError", "xhr ERROR: " + success);
                    }
                },
                error: function (jqXHR, exception) {
                    //displayStatusMessage("severityError", "AddRole error: " + getXHRErrorDetails(jqXHR, exception));
                    alert("AddRole error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("/Manage/AddRole catch: " +e);
        }
    }

    function updateRole() {
        try {
            objRole.Name = $('#txtRoleName').val();
            $.ajax({
                url: service + "/api/role",
                type: "PUT",
                data: objRole,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("severityOk", "Saved");
                        getRoles();
                    }
                    else
                        displayStatusMessage("severityError", "server ERROR: " + success);
                },
                error: function (xhr) {
                    displayStatusMessage("severityError", "error: " + xhr.statusText);
                    //alert("Admin Refs PUT error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("severityError", "catch ERROR: " +e);
        }
    }

</script>
