<style>
    .roundendButton {
        width: 50px;
    }
</style>
<div class="adminContainer">
    <div class="adminOptionTitle">Add Edit Roles</div>
    <div>
        <label>Role:</label>
        <input class="adminInput" id="txtRoleName" />
        <div id="btnAddUpdateRole" class="roundendButton" onclick="addUpdateRole()">Add</div>
        <div id="btnRoleToggle" class="roundendButton" onclick="toggleAddButton()">New</div>
    </div>
    <div class="itemsList" id="divRoleList"></div>
</div>
<script>
    var objRole = new Object();

    function addUpdateRole() {
        if ($('#btnAddUpdateRole').html() === "Add")
            addRole();
        else
            updateRole();
    };

    function toggleAddButton() {
        objClassificationRefCode = null;
        $('#btnAddUpdateRole').text("Add");
        $(this).hide();
    };

    function getAllRoles() {
        try {
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: "/Admin/GetAllRoles",
                success: function (result) {
                    $('#divRoleList').html("<ul>");
                    $.each(result, function (idx, obj) {
                        $('#divRoleList').append("<li Id='" + obj.Id + "'>" + obj.Name + "</li>");
                    });
                    $('#divRoleList').append("</ul>");

                    $('#divRoleList li').click(function () {
                        objRole.Id = $(this).attr('Id');
                        $('#txtRoleName').val($(this).html());
                        $('#btnAddUpdateRole').text("Update");
                        $('#btnRoleToggle').show();
                    });
                },
                error: function (jqXHR, exception) {
                    alert("getAllRoles error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("severityError", "catch ERROR: " +e);
            alert("getAllRoles catch: " +e);
        }
    }

    function addRole() {
        try {
            $.ajax({
                type: "GET",
                url: "/Admin/AddRole?roleName=" + $('#txtRoleName').val(), 
                //dataType: "Json",
                //data: ,
                success: function (success) {
                    if (success== "ok") {
                        $('#txtRoleName').val("");
                        $('#btnAddUpdateRole').text("Add");
                        displayStatusMessage("severityOk", "Saved");
                        getAllRoles();
                        $('#btnRoleToggle').hide();
                    }
                    else {
                        alert("success :" + success);
                        //displayStatusMessage("severityError", "xhr ERROR: " + success);
                    }
                },
                error: function (jqXHR, exception) {
                    //displayStatusMessage("severityError", "AddRole error: " + getXHRErrorDetails(jqXHR, exception));
                    alert("AddRole error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("/Manage/AddRole catch: " +e);
        }
    }

    function updateRole() {
        try {
            objRole.Name = $('#txtRoleName').val();
            $.ajax({
                url: "/Admin/UpdateRole",
                type: "PUT",
                data: objRole,
                success: function (success) {
                    if (success === "ok") {
                        $('#txtRoleName').val("");
                        $('#btnAddUpdateRole').text("Add");
                        displayStatusMessage("severityOk", "Updated");
                        getAllRoles();
                        $('#btnRoleToggle').hide();
                    }
                    else
                        displayStatusMessage("severityError", "server ERROR: " + success);
                },
                error: function (xhr) {
                    displayStatusMessage("severityError", "error: " + xhr.statusText);
                    //alert("Admin Refs PUT error: " + xhr.statusText);
                }
            });
        }
        catch (e) {
            displayStatusMessage("severityError", "catch ERROR: " +e);
        }
    }

</script>
