@{
    ViewBag.Title = "Admin";
}

<link href="~/Styles/VertMenu.css" rel="stylesheet" />
<style>
    #leftColumn {
        border-right: solid 1px orange;
    }
    #divStatusMessage {
    margin-top: 22px;
    height:22px;
    margin-left: 13px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="vertMenu">
            <div class="vertMenuTab" id="optArticleClass"> Article Classifications</div>
            <div class="vertMenuTab" id="optAuthorAvatars">Author Avatars</div>
            <div class="vertMenuTab" id="optRefEditor">Ref Editor</div>
            <div class="vertMenuTab" id="optAddRoles">Add Roles</div>
            <div class="vertMenuTab" id="optAssignRoles">Assign Roles</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="adminOptionContainer">

            <div id="tabArticleClass" class="adminOption">
                @Html.Partial("_ManageClassifications")
            </div>

            <div id="tabAuthorAvatar" class="adminOption">
                <div class="adminOptionTitle">Author Avatars</div>
            </div>

            <div id="tabRefEditor" class="adminOption">
                <div class="adminOptionTitle">Ref Editor</div>
            </div>

            <div id="tabAddRoles" class="adminOption">
                @Html.Partial("_ManageRoles")
            </div>

            <div id="tabAssignRoles" class="adminOption">
                @Html.Partial("_ManageUserRoles")
            </div>

        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var objClassification = new Object();
    var objRole = new Object();

    $(document).ready(function () {
        $('.vertMenuTab').mouseout(function () {
            $(this).css('background-color', '#74bac3').css('color', '#000');
        });
        $('.vertMenuTab').mouseover(function () {
            $(this).css('background-color', '#4163aa').css('color', '#e4e4e4');
        });
    });

    // article Classifications
    $("#optArticleClass").click(function () {
        $('.adminOption').hide();
        $('#tabArticleClass').show();
        $('#btnArticleClassToggle').hide();
        if ($('#divArticleClassList').html() === "")
            GetArticleClasses();
    })

    // Roles
    $("#optAddRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAddRoles').show();
        $('#btnRoleToggle').hide();
        if ($('#divRoleList').html() === "")
            getRoles();
    })
       
    // author Avatars
    $("#optAuthorAvatars").click(function () {
        $('.adminOption').hide();
        $('#tabAuthorAvatar').show();
    })

    // my famous Ref Editor
    $("#optRefEditor").click(function () {
        $('.adminOption').hide();
        $('#tabRefEditor').show();
    })

    // person / role grid
    $("#optAssignRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAssignRoles').show();
        setInititalState();
    });

</script>
