<link href="~/Styles/modalDialog.css" rel="stylesheet" />
<link href="~/Styles/default.css" rel="stylesheet" />
<script src="~/Scripts/GlobalFunctions.js"></script>
<style>
    #registerUserDialog {
        position: absolute;
        top: 122px;
        left: 40%;
        box-sizing: content-box;
        color: #370757;
        border: 3px solid #808080;
        box-shadow: 10px 10px;
        background: #fff;
        z-index: 20;
    }
    .registerUserDialogCrudContainer {
        padding: 5px;
    }

    #divShowDetails {
        cursor: pointer;
        margin-top: 10px;
    }

    .carets {
        height: 15px;
        width: 20px;
    }
    .divCloseButton {
        display: inline-block;
        cursor: pointer;
    }
    #divExtraDetails {
        display: none;
    }
</style>

<div id="registerUserDialog">
    <div class="dialogHeader">
        welcome to <span>OggleBooble</span>
        <div id="btnClose" class="divCloseButton">
            <img height="19" src="~/Images/powerOffRed01.png" />
        </div>
    </div>
    <div class="registerUserDialogCrudContainer">
        <div style="clear:both"></div>
        <div id="errUserName" class="validationError">Required</div>
        <label>user name</label><br>
        <input id="txtUserName" type="text" class="roundedInput" placeholder="your go by name"><br>
        <div id="errPassword" class="validationError">Required</div>
        <label>password</label><br>
        <input id="clearPassword" type="password" class="roundedInput" autocomplete="off" placeholder="********"><br>
        <label>retype password</label><br>
        <input id="clearPasswordRetype" type="password" class="roundedInput" autocomplete="off" placeholder="********"><br>
        <div id="divRememberMe">
            <input id="ckRememberMe" type="checkbox" checked="checked" />Remember Me ?  (<span>uses a cookie</span>)
        </div>
        <div id="divShowDetails">
            Extra Details
            <div class="divCloseButton">
                <img id="upDownCaret" height="19" src="~/Images/caretDown.png" />
            </div>
        </div>
        <div id="divExtraDetails">
            <label>Email (not required)</label>
            <input id="txtEmail" type="email" class="roundedInput" placeholder="you@example.org"><br>
            <label>FirstName (not required)</label>
            <input id="txtFirstName" type="text" class="roundedInput"><br>
            <label>Last Name (not required)</label>
            <input id="txtLastName" type="text" class="roundedInput"><br>
            <label>Phone Number (not required)</label>
            <input id="txtPhone" type="tel" class="roundedInput"><br>
            <label>Pin  (not required)</label>
            <input id="txtPin" type="text" class="roundedInput" placeholder="you may use this in place of your password"><br>
        </div>
        <button class="roundendButton" style="float:right; margin-bottom:6px;" id="btnRegister">Submit</button>
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var user = new Object();

//    $(document).ready(function () { });

    $('#divShowDetails').click(function () {
        $('#divExtraDetails').toggle();
        if ($('#upDownCaret').attr("src") == "/Images/caretDown.png")
            $('#upDownCaret').attr("src", "/Images/caretUp.png");
        else
            $('#upDownCaret').attr("src", "/Images/caretDown.png");
    });

    $('#btnRegister').click(function () {
        if (validate()) {
            try {
                unBind();
                $.ajax({
                    type: "POST",
                    url: service + "/api/Login/",
                    data: user,
                    datatype: "json",
                    success: function (response) {
                        if (response.success === "ok") {
                            //alert("Log In Success!");
                            clearModal();
                            //var userId = response.UserId;
                            $.ajax({
                                type: "get",
                                url: "/Login/SetOggleBoobleCookie?userName=" + userName + "&userId=" + userId + "&useCookie=true",
                                datatype: "json",
                                success: function (success) {
                                    if (success === "ok")
                                        //$("#divlogin").load(location.href + " #divlogin");
                                        location.reload(true);
                                        //clearModal();
                                     else
                                        alert("SetOggleBoobleCookie error: " + success);
                                },
                                error: function (xhr) {
                                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                                    alert("SetBrucheumCookie  error: " + xhr.statusText);
                                }
                            });
                        }
                        else {
                            alert("Register post: " + response.success);
                            //displayStatusMessage("alert-danger", response, false);
                        }
                    },
                    error: function () {
                        alert("Login Post failed");
                    }
                });
            } catch (e) {
                alert("Login Post error: " + e);
            }
        }
    });

    function validate() {
        if ($('#txtUserName').val() === "") {
            $('#errUserName').show();
            return false;
        }
        $('#errUserName').hide();

        if ($('#clearPassword').val() === "") {
            $('#errPassword').show();
            return false;
        }

        if ($('#clearPassword').val().length < 4) {
            $('#errPassword').text("password must be at least 4 characters");
            $('#errPassword').show();
            return false;
        }
        if ($('#clearPassword').val() !== $('#clearPasswordRetype').val()) {
            $('#errPassword').text("password retype does not match");
            $('#errPassword').show();
            return false;
        }
        $('#errPassword').hide();
        return true;
    }

    function unBind() {
        user.UserName = $('#txtUserName').val();
        user.PasswordHash = $('#clearPassword').val();
        user.Email = $('#ddCategory').val();
        user.FirstName = $('#txtFirstName').val();
        user.LastName = $('#txtLastName').val();
        user.PhoneNumber = $('#txtPhone').val();
        user.Pin = $('#txtPin').val();
    }


    $('#btnClose').click(function () {
        clearModal();
    });

</script>

