
<style>
    .carouselContainer {
        padding: 1px;
        border: solid 2px #b200ff;
        /*background-color: rgba(164, 168, 169, 0.75);*/
        z-index: 10;
        display: none;
    }

    .animatedGears {
        display: none;
        position: relative;
        top: 100px;
        left: 100px;
    }

    .floatingLabel {
        position: absolute;
        display: inline-block;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 3px;
        font-size: 22px;
        white-space: nowrap;
        cursor: pointer;
        z-index: 2;
    }

    .carouselImage {
        /*height: 500px;*/
        cursor: pointer;
    }

    .carouselImageContainer {
        border: solid 5px #efeacb;
        border-bottom: none;
        background-color: #efeacb;
    }

    .imgBottom {
        background-color: #efeacb;
        text-align: center;
    }

    .floatingCrudDialog {
        z-index: 27;
        border-radius: 22px;
        background-color: #83b1ad;
    }

    .catDescArea {
        height: 323px;
        border-radius: 22px;
        width: 434px;
        border: solid thin #b200ff;
        padding: 4px;
        margin: 3px;
    }

    .catDlgTextArea {
        height: 323px;
        width: 434px;
        background-color: #f7eef7;
        padding: 5px;
        font-size: 21px;
        margin: 5px;
        border-radius: 5px;
    }

    .randomImageContainer {
        top: 135px;
    }

    .categoryDescriptionContainer {
        top: 188px;
    }

    .carouselCategoryLabel {
        float: left;
        cursor: pointer;
        text-decoration: underline;
        font-size: 20px;
        margin-bottom: 4px;
        color: #b200ff;
    }

    .speedButton {
        z-index: 1;
        height: 37px;
        margin: 2px 5px 3px 0px;
        cursor: pointer;
    }

    .pauseButton {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        font-size: 23px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
    }

    .loadingGif img {
        height: 15px;
    }
</style>

<div class="centeredDivShell randomImageContainer">
    <div class="centeredDivInner">
        <div id="categoryTitle" class="floatingLabel" onclick="showFolderCategoryDialog()"></div>
        <div id="laCarousel" class="carouselContainer">
            <div class="carouselImageContainer">
                <img id="carouselImage" class="carouselImage" src="~/Images/ingranaggi3.gif" onclick="clickViewGallery()" />
                <div class="imgBottom">
                    <img class="speedButton floatLeft" src="~/Images/speedDialSlower.png" title="slower" onclick="clickSpeed('slower')" />
                    <div id="pauseButton" class='pauseButton' onclick="togglePause()">||</div>
                    <div id='categoryLabel' class='carouselCategoryLabel' onclick="clickViewParentGallery()"></div>
                    <img class="speedButton floatRight" src="~/Images/speedDialFaster.png" title="faster" onclick="clickSpeed('faster')" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="centeredDivShell categoryDescriptionContainer">
    <div id="centeredContainer" class="centeredDivInner">
        <div id="folderCategoryDialog" class="floatingRoundedDialog">
            <div class="floatingCrudBanner"><span id="catDlgFolderName"></span><div onclick="closeCatDialog()" class="farSide">x</div> </div>
            <div><textarea id="catDlgDescription" class="catDlgTextArea"></textarea></div>
            <a id="catDlgEdit" href="javascript:editCatDialog()">Edit</a>
        </div>
    </div>
</div>

<div id="carouselContextMenu" class="ogContextMenu" onmouseleave="considerHidingContextMenu()">
    <div id="ctxModelName">model name</div>
    <div id="ctxSeeMore">See More</div>
    <div>About</div>
    <div>Explode</div>
    <div>Comment</div>
    <div>Tags</div>
    <div id="ctxMove">Move Image</div>
</div>

<div>@Html.Partial("_ModelInfoDialog")</div>
<div>@Html.Partial("_MoveImageDialog")</div>

<script>
    var service = '@ViewBag.Service';
    var isPornEditor = '@ViewBag.IsPornEditor';
    var numImages = 0;
    var numFolders = 0;
    var rotationSpeed = 5123;
    var intervalSpeed = 800;
    var carouselItemArray = new Array();
    var imageIndex = 0;
    var carouselContainerHeight;
    var Carousel;
    var folderCategoryModel = {};
    var moveImageModel = {};
    var dontResume = false;

    $(document).ready(function () {
        $('#carouselImage').css("max-width", $('#middleColumn').width());
        $('#carouselImage').css("max-height", $('#middleColumn').innerHeight() - 150);
    });

    function toggleDirTree(id) {
        if ($('#' + id + '').css("display") == "none")
            $('#S' + id + '').html("[-] ");
        else
            $('#S' + id + '').html("[+] ");
        $('#' + id + '').toggle();
    }

    function onDirTreeClick(path, id) {
        moveImageModel.DestinationFolderId = id.substring(2);
        moveImageModel.DestinationPath = path.replace(/%20/g, " ");
        $('#dirTreeResults').show();
        $('#dirTreeResults').html(path.replace(/%20/g, " "));
        $('#dirTreeDropDown').hide();
    }

    function moveImage() {
        moveImageModel.SourceFolderId = carouselItemArray[imageIndex].FolderId;
        moveImageModel.ImageName = carouselItemArray[imageIndex].Link;
        $('#moveImageRunningGif').show();
        $.ajax({
            type: "PUT",
            url: service + "/api/FtpImagePage/MoveImage",
            data: moveImageModel,
            success: function (success) {
                $('#moveImageRunningGif').hide();
                if (success === "ok") {
                    displayStatusMessage("ok", "image moved to " + newLink.DestinationPath);
                    $('#moveCopyDialog').hide();
                    if (viewerShowing)
                        slide("next");

                    getImageLinks();
                }
                else
                    alert(success);
            },
            error: function (xhr) {
                $('#moveImageRunningGif').hide();
                alert("moveImage xhr error: " + xhr.statusText);
            }
        });
    }

    function considerHidingContextMenu() {
        if (!dontResume) {
            resume();
            $('#carouselContextMenu').fadeOut();
        }
    }

    $('.carouselImage').contextmenu(function () {
        event.preventDefault();
        window.event.returnValue = false;
        pause();

        $.ajax({
            type: "GET",
            url: service + "api/NudeModelInfo?linkId=" + carouselItemArray[imageIndex].LinkId + "&folderId=" + carouselItemArray[imageIndex].FolderId,
            success: function (modelInfoModel) {
                $('#ctxModelName').html(modelInfoModel.ModelName);
                if ($('#ctxModelName').html() == "unknown model")
                    $('#ctxSeeMore').hide();
                else
                    $('#ctxSeeMore').show();
            },
            error: function (xhr) {
                alert("GetNudeModelName xhr error: " + xhr.statusText);
            }
        });
        if (isPornEditor)
            $('#ctxMove').show();
        else
            $('#ctxMove').hide();
        $('#carouselContextMenu').css("top", event.clientY + 5);
        $('#carouselContextMenu').css("left", event.clientX);
        $('#carouselContextMenu').fadeIn();
    });

    $('#carouselContextMenu div').click(function () {
        var action = $(this).html();
        switch (action) {
            case "See More":
                window.location.href = "/home/ImagePage?folder=" + carouselItemArray[imageIndex].FolderId;
                break;
            case "About":
                dontResume = true;
                showModelInfoDialog(carouselItemArray[imageIndex].LinkId, carouselItemArray[imageIndex].FolderId);
                break;
            case "Explode":
                window.open(imageArray[imageArrayIndex].Link, "_blank");
                break;
            case "Tags":
                alert("TODO: show add tags dialog")
                // show add tags dialog
                break;
            case "Comment":
                alert("TODO: show Comments dialog")
                //showCommentDialog();
                break;
            case "Move Image":
                dontResume = true;
                $('#moveCopyDialog').show();
                break;
           default:
                alert(action);
        }
        $('#carouselContextMenu').hide();
    });


    function showFolderCategoryDialog() {
        // 11:11 2/25/19
        // 2:20 4/10/2019
        // create a new table (or row)
        // --alter table OggleBooble.ImageFolder add CatergoryDescription nvarchar(max)
        try {
            pause();
            $.ajax({
                type: "GET",
                url: service + "/api/CategoryFolder/Get?id=" + carouselItemArray[imageIndex].FolderId,
                success: function (model) {

                    if (!model.FolderName.startsWith("ERROR")) {
                        folderCategoryModel.Id = model.Id;
                        folderCategoryModel.CategoryText = model.CategoryText;

                        $('#catDlgFolderName').html(model.FolderName)
                        //$('#folderCategoryDialog').css("top", $('#categoryTitle').offset().top + 50);
                        //$('#folderCategoryDialog').css("left", $('#categoryTitle').offset().left + 50);

                        if (isPornEditor == "True") {
                            $('#catDlgDescription').val(model.CatergoryText);
                            $('#catDlgEdit').show();
                        }
                        else {
                            $('#userCatDlgTextArea').val(model.CatergoryText + " read only");
                            $('#catDlgEdit').hide();
                        }
                        $('#folderCategoryDialog').fadeIn();
                    }
                    else
                        alert("get CategoryFolder: " + model.FolderName);
                },
                error: function (jqXHR, exception) {
                    alert("get CategoryFolder XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("get CategoryFolder catch: " + e);
        }
    }
    function editCatDialog() {
        folderCategoryModel.CategoryText = $('#catDlgDescription').val();
        $.ajax({
            type: "PUT",
            url: service + "/api/CategoryFolder/Update?field=description",
            data: folderCategoryModel,
            success: function (success) {
                if (success == "ok") {
                    displayStatusMessage("ok", "category description updated");
                    $('#catDlgEdit').html("Edit");
                }
                else
                    alert("updateImageFolder: " + success);
            },
            error: function (jqXHR, exception) {
                alert("updateImageFolder XHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }
    function closeCatDialog() {
        if ($('#catDlgEdit').html() == "Edit") {
            $('#folderCategoryDialog').fadeOut();
            resume();
        }
    }

    function clickViewGallery() {
        clearInterval(Carousel);
        window.location.href = "/home/ImagePage?folder=" + carouselItemArray[imageIndex].FolderId;
    }
    function clickViewParentGallery() {
        window.location.href = "/home/ImagePage?folder=" + carouselItemArray[imageIndex].ParentId;
    }

    function clickSpeed(speed) {
        if (speed == "faster")
            rotationSpeed = Math.max(rotationSpeed - 800, 800);
        if (speed == 'slower')
            rotationSpeed += 800;
        imageIndex = Math.floor(Math.random() * numImages);
        $('#carouselImage').attr('src', carouselItemArray[imageIndex].Link);
        clearInterval(Carousel);
        rotate();
    }

    function launchCarousel(root) {
        $('#footerMessage').html("loading carousel");
        loadImages(root, true, 20);
    }

    function loadImages(rootFolder, isChecked, take) {
        var start = Date.now();
        var k = 0;
        var spliced = 0;
        if (isChecked === false) {
            var removedFolders = new Array();
            var newArray = new Array();
            for (idx = 0; idx < carouselItemArray.length; idx++) {
                k++;
                try {
                    if (carouselItemArray[idx].RootFolder == rootFolder) {
                        if (idx < carouselItemArray.length) {
                            if (removedFolders.find(function () { return carouselItemArray[idx].FolderName }) === undefined) {
                                alert("not found " + carouselItemArray[idx].FolderName)
                                removedFolders.push(carouselItemArray[idx].FolderName)
                            }
                        }
                        else {
                            alert("idx: " + idx + " carouselItemArray.length: " + carouselItemArray.length);
                        }
                    }
                    else
                        newArray.push(carouselItemArray[idx]);
                } catch (e) {
                    alert("idx: " + idx + " error: " + e);
                }
            }
            carouselItemArray = newArray;

            numImages = carouselItemArray.length;
            numFolders = numFolders - removedFolders.length;
            var delta = (Date.now() - start) / 1000;
            console.log("Removing links from (" + rootFolder + ") took: " + delta.toFixed(3));
            alert("loops: " + k + " spliced: " + spliced + " carouselItemArray.length: " + carouselItemArray.length + " numFolders: " + numFolders + " numImages: " + numImages);
        }
        else {
            $('#laCarousel').show();
            $.ajax({
                type: "GET",
                url: service + "/api/Carousel/GetLinks?root=" + rootFolder + "&take="+take,
                success: function (carouselInfo) {
                    if (carouselInfo.Success == "ok") {
                        $.each(carouselInfo.Links, function (idx, obj) {
                            carouselItemArray.push({
                                FolderId: obj.FolderId,
                                RootFolder: obj.RootFolder,
                                ParentId: obj.ParentId,
                                FolderName: obj.FolderName,
                                //ModelName : obj.ModelName,

                                Link: obj.Link,
                                LinkId: obj.LinkId,
                                FolderPath: obj.FolderPath
                            });
                        });
                        if (numImages == 0) {
                            showImage();
                            rotate();
                        }
                        numImages += carouselInfo.Links.length;
                        numFolders += carouselInfo.FolderCount;
                        imageIndex = Math.floor(Math.random() * numImages);

                        var delta = (Date.now() - start) / 1000;
                        console.log("loadImages(" + rootFolder + ") take: " + take + " took: " + delta.toFixed(3));
                        if (take == 20) {
                            loadImages(rootFolder, isChecked, 1500);
                        }
                    }
                    else
                        alert("loadImages: " + carouselInfo.Success);
                },
                error: function (jqXHR, exception) {
                    alert("loadImages jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }

    function showImage() {
        $('#carouselImage').fadeOut(intervalSpeed);
        setTimeout(function () {
            imageIndex = Math.floor(Math.random() * numImages);
            $('#carouselImage').attr('src', carouselItemArray[imageIndex].Link);
            $('#carouselImage').on('load', onImageLoaded());
        }, intervalSpeed);
       // $('#carouselImage').on('error', onImageNotLoaded());
        $('#footerMessage').html("inamge: " + (imageIndex + 1).toLocaleString() + " of " + numImages.toLocaleString() + " images in " + numFolders + " galleries  ");
    }

    function onImageLoaded() {
        $('#carouselImage').fadeIn(intervalSpeed);
        $('#categoryLabel').html(carouselItemArray[imageIndex].FolderPath);
        $('#categoryTitle').html(carouselItemArray[imageIndex].FolderName);
        resizePage();
    }
    function onImageNotLoaded() {
        alert("bk image " + carouselItemArray[imageIndex].Link+" not found")
    }

    function rotate() {
        Carousel = setInterval(function () {
            showImage();
        }, rotationSpeed);
    }

    function togglePause() {
        if ($('#pauseButton').html() == "||")
            pause();
        else
            resume();
    }

    function pause() {
        clearInterval(Carousel);
        $('#pauseButton').html(">");
    }

    function resume() {
        clearInterval(Carousel);
        startCarousel();
        $('#pauseButton').html("||");
    }

    function startCarousel() {
        showImage();
        rotate();
    }

</script>
