<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<link href="~/Styles/categoryDialog.css" rel="stylesheet" />

<div id="folderCategoryDialog" class="oggleHidden" title="" onmouseleave="considerClosingCategoryDialog()">

    <div id="metatabRow" class="metaTagRow">
        <input id="txtMetatag" onblur="addMetaTag" />
    </div>

    <div><textarea id="catDlgDescription" class="catDlgTextArea"></textarea></div>
    <a id="btnCatDlgEdit" class="dialogEditButton" href="javascript:toggleEditCatDialog()">Edit</a>
    <a id="btnCatDlgEdit" class="dialogEditButton" href="javascript:addMetaTags()">add meta tags</a>

</div>

<div>@Html.Partial("_MetaTagDialog")</div>
<script src="~/Scripts/categoryDialog.js"></script>
