<link href="~/Styles/jquery-ui.css" rel="stylesheet" />

<style>
    #folderCategoryDialog .ui-dialog {
        top: 44px;
        left: 100px;
    }

    .ui-dialog .ui-dialog-titlebar {
        text-align: center;
        background-color: var(--ogglgeHeaderBarColor);
        color: var(--ogglgeTitleColor);
    }

    .ui-corner-all {
        border-radius: 22px;
    }

    .ui-widget textarea {
        font-family: 'Comic Sans MS';
        color: #79078f;
        font-size: 18px;
        font-weight: normal;
    }

    .catDlgTextArea {
        height: 350px;
        width: 400px;
        overflow-y: auto;
        background-color: var(--oggleBackgroundColor);
        padding: 9px;
        margin: 8px;
        border-radius: 22px;
    }

    .metaTagRow {
        display: none;
    }
</style>

<div id="folderCategoryDialog" class="oggleHidden" title="" onmouseleave="considerClosingCategoryDialog()">

    <div id="metatabRow" class="metaTagRow">
        <input id="txtMetatag" onblur="addMetaTag" />
    </div>

    <div><textarea id="catDlgDescription" class="catDlgTextArea"></textarea></div>
    <a id="btnCatDlgEdit" class="dialogEditButton" href="javascript:toggleEditCatDialog()">Edit</a>
    <a id="btnCatDlgEdit" class="dialogEditButton" href="javascript:addMetaTags()">add meta tags</a>

</div>

<div>@Html.Partial("_MetaTagDialog")</div>

<script>
    var categoryFolderId = "";

    $(function () {
        $('#folderCategoryDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "456px"
        });
    });

    function showCategoryDialog(folderId) {
        // 11:11 2/25/19
        // 2:20 4/10/2019
        // create a new table (or row)
        // --alter table OggleBooble.ImageFolder add CatergoryDescription nvarchar(max)
        // 4/30/2019  --first use of jQuery dialog
        try {
            $.ajax({
                type: "GET",
                url: service + "api/CategoryComment/Get?folderId=" + folderId,
                success: function (categoryComment) {
                    if (categoryComment.Success == "ok") {
                        categoryFolderId = folderId;
                        $('#catDlgDescription').val(categoryComment.CommentText);

                        $('#folderCategoryDialog').dialog('option', 'title', categoryComment.FolderName);

                        $('#catDlgDescription').prop("readonly", true);
                        if ((isPornEditor == "True") || (document.domain === 'localhost')) {
                            $('#btnCatDlgEdit').show();
                        }
                        else {
                            $('#btnCatDlgEdit').hide();
                        }

                        $('#folderCategoryDialog').show();
                        $('#folderCategoryDialog').dialog("open");
                    }
                    else
                        alert("get Category Comment: " + categoryComment.Success);
                },
                error: function (jqXHR, exception) {
                    alert("get Category Comment XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("get NudeModelInfo catch: " + e);
        }
    }

    function toggleEditCatDialog() {
        if ($("#btnCatDlgEdit").html() === "Edit") {
            $('#catDlgDescription').prop("readonly", false);
            $("#btnCatDlgEdit").html("Save");
        }
        else {
            $.ajax({
                type: "PUT",
                url: service + "/api/CategoryComment/EditFolderCategory?folderId=" + categoryFolderId + "&commentText=" + $('#catDlgDescription').val(),
                success: function (success) {
                    if (success == "ok") {
                        displayStatusMessage("ok", "category description updated");
                        $('#btnCatDlgEdit').html("Edit");
                        $('#catDlgDescription').prop("readonly", true);
                    }
                    else
                        alert("EditFolderCategory: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("EditFolderCategory XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }

    function addMetaTags() {
        openMetaTagDialog(categoryFolderId)
    }

    function considerClosingCategoryDialog() {
        if ($('#catDlgDescription').prop("readonly")) {
            $('#folderCategoryDialog').dialog("close");
        }
    }
</script>