<footer>
    <div class="flexContainer">
        <div class="footerCol">
            <div><a href="~/Home/Index">Let Me Explain</a></div>
            <div><a href="~/Book/MyBooks">Category List</a></div>
            <div><a href="#"></a></div>
            <div><a href="~/home/ImagePage?folder=porn">Nasty Porn</a></div>
        </div>
        <div class="footerCol">
            <div><a href="~/Home/Index">Boobs Rater</a></div>
            <div><a href="#">The Church</a></div>
            <div><a href="~/home/Videos">Nasty Videos</a></div>
            <div><a href="#">Apps</a></div>
        </div>
        <div class="footerCol">
            <div><a href="#">About us</a></div>
            <div><a href="mailto:curtishrhodes@hotmail.com">Contact Us (Love Letters)</a></div>
            <div><a href="mailto:curtis,rhodes@gmail.com">Contatc Us (Death Threats)</a></div>
            <div><a href="~/home/ImagePage?folder=boobs\babes">Archive</a></div>
        </div>
    </div>
    <div class="footerFooter">
        <div id="footerMessage"></div>
        <div id="copyright">&copy; @DateTime.Now.Year - <a href="~/IntelDsgn/Index">Intelligent Design SoftWare</a></div>
    </div>
</footer>
    <div id="fb-root"></div>
