
<div id="staticFooter">
    <footer>
        <div class="flexContainer">
            <div class="footerCol">
                <div><a href="~/Home/Index">Let Me Explain</a></div>
                <div><a href="~/Book/MyBooks">Category List</a></div>
                <div><a href="#"></a></div>
                <div><a href="~/porn">Nasty Porn</a></div>
            </div>
            <div class="footerCol">
                <div><a href="~/Home/Index">Boobs Rater</a></div>
                <div><a href="~/home/ImagePage?folder=908">Rejects</a></div>
                <div><a href="~/home/Videos">Nasty Videos</a></div>
                <div><a href="~/home/ImagePage?folder=472">Centerfolds</a></div>
            </div>
            <div class="footerCol">
                <div><a href="#">About us</a></div>
                <div><a href="mailto:curtishrhodes@hotmail.com">email site developer</a></div>
                <div><a href="mailto:curtis,rhodes@gmail.com">blog</a></div>
                <div><a href="~/home/ImagePage?folder=3">Archive</a></div>
            </div>
        </div>
        <div>build: 5.0211</div>
        <div class="footerFooter">
            <div id="footerMessage"></div>
            <div id="copyright">&copy; @DateTime.Now.Year - <a href="~/IntelDsgn/Index">Intelligent Design SoftWare</a></div>
        </div>
    </footer>
</div>
<div id="tempTree1"></div>
<div id="tempTree2"></div>
<div id="fb-root"></div>
