<link href="~/Styles/Header.css" rel="stylesheet" />

<div id="bheader">
    <table>
        <tr>
            <td rowspan="2">
                <a href="~/Home/Index"><img src="~/Images/redballon.png" class="bannerImage" /></a>
            </td>
            <td id="tdBannerTitle">OggleBooble</td>
            <td id="tdBannerSubTitle">titties organized by shapes and poses</td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/hooters">Hooters</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/juggs">Juggs</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/knockers">Knockers</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/Headlights">Headlights</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/Racks">Racks</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/torpedos">Torpedos</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/Mellons">Mellons</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/flavors/whoppers">Whoppers</a></li>
                    @*<li class="menuTab"><a href="~/Home/ImagePage?folder=boobs//big tits/wingers">Wingers</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs//big tits/draped">Draped</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/nice tits/clevage">Cleveage</a></li>
                    <li class="menuTab"><a href="~/Home/ImagePage?folder=boobs/nice tits/nice ass">Nice Ass</a></li>*@
                </ul>
            </td>
            <td>
                <div id="divlogin">
                    <ul>
                        @if ((Session["UserName"] != null) && (!String.IsNullOrEmpty(@Session["UserName"].ToString())) && (@Session["UserName"].ToString() != "No Cookies Found"))
                        {
                            <li id="tabProfile" title="modify profile" class="menuTab"><a href="#">Hello @Session["UserName"]</a></li>
                            <li id="tabLogout" class="menuTab"><a href="#">Log Out</a></li>
                        }
                        else
                        {
                            <li id="tabLogIn" class="menuTab"><a href="#">Log In</a></li>
                            <li id="tabRegister" class="menuTab"><a href="#">Register</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <div id="modalContainer" class="modalVail">
        <div id="modalContent"></div>
    </div>
</div>


<script>

    //$(document).ready(function () {    });

    $('#tabRegister').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/RegisterPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#tabLogIn').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/LoginPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("LoginPopup error: " + xhr.statusText);
            }
        });
    });

    $('#tabProfile').click(function () {
        try {
            $.ajax({
                type: "get",
                url: "/Login/ProfilePopup",
                datatype: "json",
                success: function (data) {
                    $('#modalContent').html(data);
                    $('#modalContainer').show();
                },
                error: function (xhr) {
                    alert("ProfilePopup error: " + xhr.statusText);
                }
            });
        } catch (e) {
            alert("tabProfile catch: " + e);
        }
    });

    $('#tabLogout').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/DeleteCookie",
            success: function (success) {
                if (success === "ok")
                    location.reload(true);
                else
                    alert("LogOUT: " + success);
            },
            error: function (xhr) {
                displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                alert("tabLogout error: " + xhr.statusText);
            }
        });
    });
</script>