
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>*@
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

<style>
    .commentDialog {
        background-color: var(--oggleBackground);
        z-index: 120;
    }

    .commentDialogImage {
        max-width: 333px;
        max-height: 333px;
    }

    .loginComment {
        margin-left: 44px;
        cursor: pointer;
    }

    .commentDialogButton {
        margin: 0 0 4px 5px;
    }

    .commentTitleText {
        margin: 2px 0;
        font-size: 22px;
        color: var(--ogglePurple);
        width: 100%;
    }

</style>

<div id="imageCommentDialog" class="oggleHidden commentDialog" title="Write a fantasy about this image">
    <div class="center"><img id="commentDialogImage" class="commentDialogImage" /></div>
    <div><input id="txtCommentTitle" class="roundedInput commentTitleText" placeholder="Give your comment a title" /></div>
    <div id="imageCommentEditor"></div>
    <div id="commentDialogButton" class="roundendButton clickable commentDialogButton inline" onclick="saveComment()">save</div>
    <div id="commentInstructions" class="loginComment inline">log in to view comments</div>
</div>

<script>
    var nudeModelInfoModel = {};

    $(function () {
        $('#imageCommentDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "615"
        });

        $('#imageCommentEditor').summernote({
            height: 200,
            codemirror: { lineWrapping: true, mode: "htmlmixed", theme: "cobalt" },
            toolbar: [
                ['codeview'],
                ['font style', ['fontname', 'fontsize', 'color', 'bold', 'italic', 'underline',]],
            ]
        });
    });

    function showImageCommentDialog(src, linkId, folderId, folderName) {
        nudeModelInfoModel.LinkId = linkId;
        nudeModelInfoModel.Link = src;
        nudeModelInfoModel.FolderId = folderId;
        nudeModelInfoModel.FolderName = folderName;

        $('#commentDialogImage').attr("src", src);

        // get comment
        loadComment()

        $('#imageCommentDialog').show();
        $('#imageCommentDialog').dialog("open");
        //$('#imageCommentDialog').fadeIn();
    }

    function loadComment() {
        ///TODO
        /// retreive user's previous comments
        //$('#imageCommentEditor').summernote('code', blogCommentModel.CommentText);
        $('#imageCommentEditor').summernote('code', "");
        $('#txtCommentTitle').val("");

    }

    function saveComment() {
        nudeModelInfoModel.CommentTitle = $('#txtCommentTitle').val();
        nudeModelInfoModel.CommentType = "CMT";        
        nudeModelInfoModel.UserId = currentUser + " = " + ipAddress;
        nudeModelInfoModel.CommentText = $('#imageCommentEditor').summernote('code');

        $.ajax({
            type: "POST",
            url: service + "/api/OggleBlog",
            data: nudeModelInfoModel,
            success: function (success) {
                if (success == "ok") {
                    displayStatusMessage("ok", "Entry Saved");
                }
                else
                    alert("saveComment: " + success);
            },
            error: function (jqXHR, exception) {
                alert("saveComment XHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        })
    }
</script>

