
    <script src="~/Scripts/CommentDialog.js"></script>
<div id="imageCommentDialog" class="oggleHidden commentDialog" title="Write a fantasy about this image">
    <div id="divStatusMessage"></div>
    <div class="center"><img id="commentDialogImage" class="commentDialogImage" /></div>
    <div><input id="txtCommentTitle" class="roundedInput commentTitleText" tabindex="1" placeholder="Give your comment a title" /></div>
    <div id="imageCommentEditor" tabindex="2"></div>
    <div id="divSaveFantasy" class="roundendButton clickable commentDialogButton inline" onclick="saveComment()">save</div>
    <div id="commentInstructions" class="loginComment inline">log in to view comments</div>
</div>


