
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>*@
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

<style>
    .commentDialog {
        position: absolute;
        top: 125px;
        left: 300px;
        border: solid 2px var(--borderColor);
        background-color: rgb(255, 238, 255);
        box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
        /*z-index: 200;*/
        display: none;
    }

    .commentDialogImage {
        max-width: 333px;
        max-height: 333px;
    }

    .flakyEditBox {
        height: 400px;
        width: 800px;
        border: solid 5px #ff6a00;
        background-color: #ebf0f5;
    }

    .commentDialogButton {
        margin: 0 0 4px 5px;
    }
</style>

<div id="commentDialog" class="commentDialog">
    <div class="floatingCrudBanner">
        <span id="commentDialogBanner">Write a fantasy about this image</span>
        <div onclick="$('#commentDialog').fadeOut()" class="farSide">x</div>
    </div>
    <div id="commentDialogContainer" class="commentDialogContainer">
        <div class="center"><img id="commentDialogImage" class="commentDialogImage" /></div>
        <div><input id="txtCommentTitle" class="roundedInput" placeholder="Give your comment a title" /></div>
        <div id="imageCommentEditor"></div>
        <div id="commentDialogButton" class="roundendButton clickable commentDialogButton" onclick="saveComment()">save</div>
        <div id="commentInstructions">log in to view comments</div>
    </div>
</div>

<script>
    var blogCommentModel = {};

    $(function () {
        $('#imageCommentEditor').summernote({
            height: 200,
            codemirror: { lineWrapping: true, mode: "htmlmixed", theme: "cobalt" },
            toolbar: [
                ['codeview'],
                ['font style', ['fontname', 'fontsize', 'color', 'bold', 'italic', 'underline',]],
            ]
        });
    });

    function showImageCommentDialog(src, linkId) {
        loadComment();
        if (viewerShowing) {
            $('#commentDialogImage').attr("src", imageArray[imageArrayIndex].Link);
            //blogCommentModel.LinkId = blogCommentModel.Link.substring(blogCommentModel.Link.lastIndexOf("_"), 36);
            blogCommentModel.LinkId = imageArray[imageArrayIndex].id;
        }
        else {
            $('#commentDialogImage').attr("src", $('#' + currentContextImageId + '').attr("src"));
            blogCommentModel.LinkId = currentContextImageId;
        }
        // get comment
        loadComment()
        $('#commentDialog').fadeIn();
    }

    function loadComment() {
        //$('#imageCommentEditor').summernote('code', blogCommentModel.CommentText);
        $('#imageCommentEditor').summernote('code', "");
        $('#txtCommentTitle').val("");

    }

    function saveComment() {
        blogCommentModel.CommentTitle = $('#txtCommentTitle').val();
        blogCommentModel.CommentType = "CMT";
        blogCommentModel.Link = imageArray[imageArrayIndex].Link;
        //commentDialogImage
        blogCommentModel.FolderId = folderId;
        blogCommentModel.UserId = currentUser + " = " + ipAddress;
        blogCommentModel.CommentText = $('#imageCommentEditor').summernote('code');

        $.ajax({
            type: "POST",
            url: service + "/api/OggleBlog",
            data: blogCommentModel,
            success: function (success) {
                if (success == "ok") {



                    displayStatusMessage("ok", "Entry Saved");
                }
                else
                    alert("saveComment: " + success);
            },
            error: function (jqXHR, exception) {
                alert("saveComment XHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        })
    }
</script>

