@*<script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>*@

<style>
    .expandoImageDiv {
        position: relative;
    }

    .expandoImage {
        object-fit: contain;
        transition: all .75s ease-in-out;
        height: 100%;
    }

    .redSides {
        border-left: solid 5px #c05d5d;
        border-right: solid 5px #c05d5d;
    }

    .fullScreenViewer {
        position: absolute;
        display: none;
        background-color: var(--oggleBackground);
        z-index: 110;
    }

    .hiddeClickArea {
        position: absolute;
        height: 100%;
        width: 50%;
        z-index: 115;
    }

    .imageViewerHeaderRow {
        background-color: #00ffff;
        width: 100%;
        padding-top: 3px;
        margin-bottom: -5px;
        display: none;
    }

    .viewerButtonsRowSection {
        width: 19%;
        display: flex;
        display: inline-block;
    }

        .viewerButtonsRowSection img {
            display: inline-block;
            height: 27px;
            cursor: pointer;
        }

    .imgCommentButton {
        margin-left: 44px;
        float: left;
    }

    .popoutBox {
        margin-right: 22px;
    }

    .imageViewerTitle {
        display: inline-block;
        font-size: 26px;
        width: 60%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
</style>

<div id="imageViewerDialog" class="fullScreenViewer">
    <div id="viewerButtonsRow" class="imageViewerHeaderRow">
        <div class="viewerButtonsRowSection">
            @*<div id="prev" class="viewerImageNav" onclick="slide('prev')">PREV</div>*@
            <img id="imgComment" class="imgCommentButton" title="comment" onclick="showCommentDialog()" src="Images/comment.png" />
        </div>
        <span id="imageViewerHeaderTitle" class="imageViewerTitle"></span>
        <div class="viewerButtonsRowSection">
            <div class="floatRight" style="margin-left: 44px;" onclick="$('#imageViewerDialog').effect('blind', {mode:'hide', direction:'vertical' }, 500); viewerShowing = false;">
                <img src="/Images/close.png" />
            </div>
            @*<div id="next" class="farSide" onclick="slide('next')">NEXT</div>*@
            <div class="floatRight" onclick="runSlideShow('faster');"><img id="fasterSlideshow" title="faster slideshow" src="Images/slideshowFaster.png" /></div>
            <div class="floatRight" onclick="runSlideShow('start');"><img id="showSlideshow" title="start slideshow" src="Images/slideshow.png" /></div>
            <div class="floatRight" onclick="runSlideShow('slower');"><img id="slowerSlideShow" title="slower slideshow" src="Images/slideshowSlower.png" /></div>
            <div class="floatRight" onclick="blowupImage()"><img class="popoutBox" src="Images/expand02.png" /></div>
        </div>
    </div>
    <div id="leftClickArea" onclick="slide('prev');" contextmenu="viewerContextMenu()" class="hiddeClickArea"></div>
    <div id="rightClickArea" onclick="slide('next');" contextmenu="viewerContextMenu()" class="hiddeClickArea"></div>

    <div id="viewerImageContainer" class="expandoImageDiv">
        <img id="viewerImage" class="expandoImage" />
    </div>
</div>

<div id="imageViewerContextMenu" class="ogContextMenu" onmouseleave="$(this).fadeOut();">
    <div id="ctxImageViewerModelName" onclick="imageViewerContextMenuAction('show')">model name</div>
    <div id="ctxImageViewerSeeMore" onclick="imageViewerContextMenuAction('jump')">see more of her</div>
    <div onclick="imageViewerContextMenuAction('comment')">Comment</div>
    <div onclick="imageViewerContextMenuAction('explode')">Explode</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('archive')">Archive</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('copy')">Copy Link</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('move')">Move Link</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('remove')">Remove Link</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('setF')">Set as Folder Image</div>
    <div class="adminLink" onclick="imageViewerContextMenuAction('setC')">Set as Category Image</div>
</div>

<script>
    var exploderInterval;
    var slideShowSpeed = 0;
    var viewerH = 50;
    var viewerW = 50;
    var viewerT = 0;
    var viewerL = 0;
    var windowW = $(window).width();
    var windowH = $(window).height();
    var Xincrimentor = 15;
    var Yincrimentor = 10;
    var exploderSpeed = 15;
    var imageViewerSelectedImageArchiveFolderId;
    var imageViewerArray;
    var imageViewerIndex;


    function LaunchViewer(imageArray, imageIndex) {
        imageViewerArray = imageArray;
        imageViewerIndex = imageIndex;
        showImageViewer();
    }

    function showImageViewer() {
        viewerH = 50;
        viewerW = 50;
        windowW = $(window).width();
        windowH = $(window).height();
        $('#imageViewerDialog').height(viewerH);

        //var thisImage = $('#' + imageViewerArray[imageViewerIndex].Link + '');
        //var picpos = thisImage.offset();
        //viewerT = Math.round(picpos.top);
        //viewerL = Math.round(picpos.left);

        //$('#viewerImage').attr("src", thisImage.attr("src"));
        $('#viewerImage').attr("src", imageViewerArray[imageViewerIndex].Link);


        $('#viewerImage').removeClass('redSides');
        $('#viewerButtonsRow').hide();
        resizePage();

        $('#imageViewerDialog').show();
        //$('#imageViewerDialog').dialog("open");

        exploderInterval = setInterval(function () {
            explodeViewer();
        }, exploderSpeed);
    }

    function explodeViewer() {

        if (viewerT != 0) {
            viewerT -= Yincrimentor;
            if (viewerT < 0) viewerT = 0;
        }
        if (viewerL != 0) {
            viewerL -= Xincrimentor;
            if (viewerL < 0) viewerL = 0;
        }
        if (viewerH != windowH) {
            viewerH += Yincrimentor;
            if (viewerH > windowH) { viewerH = windowH; }
        }
        if (viewerW != windowW) {
            viewerW += Xincrimentor * 2;
            if (viewerW > windowW) { viewerW = windowW; }
        }

        //viewerPosT = Math.round($('#imageViewerDialog').offset().top);
        //viewerPosL = Math.round($('#imageViewerDialog').offset().left);

        $('#imageViewerDialog').css('top', viewerT);
        $('#imageViewerDialog').css('left', viewerL);
        $('#imageViewerDialog').height(viewerH);
        $('#imageViewerDialog').width(viewerW);

        $('#viewerImageContainer').height(viewerH);
        $('#viewerImageContainer').css('left', ($('#imageViewerDialog').width() - $('#viewerImage').width()) / 2);
        //   alert("dlgW: " + $('#imageViewerDialog').width() + "imgW: " + $('#viewerImage').width());

        if ((viewerT == 0) && (viewerL == 0) && (viewerH == windowH) && (viewerW == windowW)) {
            $('#imageViewerHeaderTitle').html(folderName);
            $('#viewerButtonsRow').show();
            if (imageViewerArray[imageViewerIndex].Local)
                $('#viewerImage').addClass('redSides');
            clearInterval(exploderInterval);
            $('#imageViewerDialog').css('top', viewerT);
            $('#imageViewerDialog').css('left', viewerL);

            $('#leftClickArea').css('left', 0);
            $('#rightClickArea').css('left', viewerW / 2);

            $('#imageViewerDialog').width(viewerW);
            $('#imageViewerDialog').height(viewerH);
        }
    }

    function slide(direction) {
        if (direction === 'next') {
            imageViewerIndex++;
            if (imageViewerIndex >= imageViewerArray.length)
                imageViewerIndex = 0;
            $('#viewerImage').css("-ms-transform", "translateX(1100px)");
            $('#viewerImage').css("-webkit-transform", "translateX(1100px)");
            $('#viewerImage').css("transform", "translateX(1100px)");
        }
        else // if (direction === 'prev')
        {
            imageViewerIndex--;
            if (imageViewerIndex < 0)
                imageViewerIndex = imageViewerArray.length - 1;
            $('#viewerImage').css("-ms-transform", "translateX(-1100px)");
            $('#viewerImage').css("-webkit-transform", "translateX(-1100px)");
            $('#viewerImage').css("transform", "translateX(-1100px)");
        }
        setTimeout(function () {
            $('#viewerImage').hide();
            if (direction === 'next') {
                $('#viewerImage').css("-ms-transform", "translateX(-2200px)");
                $('#viewerImage').css("-webkit-transform", "translateX(-2200px)");
                $('#viewerImage').css("transform", "translateX(-2200px)");
            }
            else {
                $('#viewerImage').css("-ms-transform", "translateX(2200px)");
                $('#viewerImage').css("-webkit-transform", "translateX(2200px)");
                $('#viewerImage').css("transform", "translateX(2200px)");
            }


            $('#viewerImage').attr("src", imageViewerArray[imageViewerIndex].Link);
            $('#viewerImageContainer').css('left', ($(window).width() - $('#viewerImage').width()) / 2);
            if (imageViewerArray[imageViewerIndex].Local)
                $('#viewerImage').addClass('redSides');
            else
                $('#viewerImage').removeClass('redSides');

            $('#viewerImage').show();
            $('#viewerImage').css("transform", "translateX(0)");
        }, 450);

        $('#footerMessage').html("image: " + imageViewerIndex + " of: " + imageViewerArray.length);
    }

    function runSlideShow(action) {
        //alert("slideShow action: " + action)

        if (action === 'start') {
            if ($('#showSlideshow').attr("Title") === "start slideshow") {
                $('#showSlideshow').attr("Title", "stop slideshow");
            }
            else {
                $('#showSlideshow').attr("Title", "start slideshow");
                $('#fasterSlideshow').attr("Title", "faster slideshow");
                $('#slowerSlideShow').attr("Title", "slower slideshow");
                clearInterval(slideShow);
                return;
            }
        }
        if (slideShowSpeed === 0) {
            slideShowSpeed = 5000;
        }
        if (action === "faster") {
            slideShowSpeed -= 1000;
        }
        if (action === "slower") {
            slideShowSpeed += 1000;
        }
        if (slideShowSpeed <= 0) {
            $('#showSlideshow').attr("Title", "start slideshow");
            $('#fasterSlideshow').attr("Title", "faster slideshow");
            $('#slowerSlideShow').attr("Title", "slower slideshow");
            clearInterval(slideShow);
        }
        else {
            slide('next');
            $('#fasterSlideshow').attr("Title", "slideshow " + 10 - (slideShowSpeed / 1000) + "x");
            $('#slowerSlideShow').attr("Title", "slideshow " + 10 - (slideShowSpeed / 1000) + "x");
            clearInterval(slideShow);
            slideShow = setInterval(function () {
                slide('next');
            }, slideShowSpeed);
        }
    }

    function blowupImage() {
        window.open(imageViewerArray[imageViewerIndex].Link, "_blank");
    }

    function showCommentDialog() {
        showImageCommentDialog(imageViewerArray[imageViewerIndex].Link, imageViewerArray[imageViewerIndex].LinkId, folderId, folderName);
    }

    $('.hiddeClickArea').contextmenu(function () {
        event.preventDefault();
        window.event.returnValue = false;
        //showContextMenu();
        //imageViewerCurrentContextLinkId = $(this).attr("id");
        //var thisImage = $('#' + imageViewerCurrentContextLinkId + '');
        $('#imageViewerContextMenu').css("top", event.clientY + 5);
        $('#imageViewerContextMenu').css("left", event.clientX);
        $.ajax({
            type: "GET",
            url: service + "api/CategoryFolderDetail/GetModelName?linkId=" + imageViewerArray[imageViewerIndex].LinkId,
            success: function (folderDetails) {
                if (folderDetails.Success === "ok") {
                    imageViewerSelectedImageArchiveFolderId = folderDetails.FolderId;
                    if (folderDetails.FolderId == folderId) {
                        $('#ctxImageViewerSeeMore').hide();
                        if (folderDetails.RootFolder == "archive") {
                            $('#ctxImageViewerModelName').html(folderDetails.FolderName);
                            $('#ctxArchive').hide();
                        }
                        else {
                            $('#ctxImageViewerModelName').html("unknown model");
                            $('#ctxArchive').show();
                        }
                    }
                    else {
                        $('#ctxImageViewerModelName').html(folderDetails.FolderName);
                        $('#ctxImageViewerSeeMore').show();
                        if (folderDetails.RootFolder == "archive")
                            $('#ctxArchive').hide();
                        else
                            $('#ctxArchive').show();
                    }
                }
                else
                    alert("GetModelName: " + folderDetails.Success);
            },
            error: function (xhr) {
                alert("GetModelName xhr error: " + xhr.statusText);
            }
        });

        //$('#thumbImageContextMenu').css('z-index', "200");
        $('#imageViewerContextMenu').fadeIn();

    });

    function imageViewerContextMenuAction(action) {
        switch (action) {
            case "show":
                showModelInfoDialog(imageViewerArray[imageViewerIndex].LinkId, folderId);
                closeViewer();
                break;
            case "jump":
                window.open("/home/ImagePage?folder=" + imageViewerSelectedImageArchiveFolderId, "_blank");
                break;
            case "comment":
                showImageCommentDialog(imageViewerArray[imageViewerIndex].Link, imageViewerArray[imageViewerIndex].LinkId, folderId, folderName);
                closeViewer();
                break;
            case "explode":
                window.open(imageViewerArray[imageViewerIndex].Link, "_blank");
                break;
            case "archive":
                showMoveCopyDialog("Archive", imageViewerArray[imageViewerIndex].Link, folderId);
                closeViewer();
                break;
            case "copy":
                showMoveCopyDialog("Copy", imageViewerArray[imageViewerIndex].Link, folderId);
                closeViewer();
                break;
            case "move":
                showMoveCopyDialog("Move", imageViewerArray[imageViewerIndex].Link, folderId);
                closeViewer();
                break;
            case "remove":
                if (confirm("remove this link"))
                    removeImage();
                break;
            case "setF":
                setFolderImage(imageViewerArray[imageViewerIndex].LinkId, folderId, "folder");
                break;
            case "setC":
                setFolderImage(imageViewerArray[imageViewerIndex].LinkId, folderId, "parent");
                break;
            default:
                alert(action);
        }
    }

    function closeViewer() {
        $('#imageViewerDialog').effect('blind', { mode: 'hide', direction: 'vertical' }, 500);
        viewerShowing = false;
    }

    //$(window).resize(function () {
    //    showImageViewer(imageViewerArray[imageViewerIndex].LinkId);
    //});

    $(document).keydown(function (event) {
        if (viewerShowing) {
            //  34 pg down
            //  38 up arrow
            //  40 down arrow
            switch (event.which) {
                //case 38: scrollTabStrip('foward'); break;
                //case 33: scrollTabStrip('foward'); break;
                case 34:                        // pg down
                case 40:                        // dowm arrow
                case 37:                        // left arrow
                    slide('prev');
                    break;
                case 13:                        // enter
                case 38:                        // up arrow
                case 39:                        // right arrow
                    slide('next');
                    break;
                //case 122:                       // F11 
                //    $('#standardHeader').hide();
                //    break;
                //default:
                //  $('#expandoBannerText').html("event.which: " + event.which)
                //  alert("event.which: " + event.which)
            }
        }
    });

</script>

