<link href="~/Styles/jquery-ui.css" rel="stylesheet" />

<style>
    .imagePageDialog {
        background-color: var(--oggleBackgroundColor);
        font-size: 18px;
    }

    .metaTagFolder {
        background-color: #4d86eb;
    }

    .metaTagItem {
        display: inline-block;
        color: #fff;        
        margin: 3px;
        border-radius: 3px;
        padding: 3px;
        cursor: pointer;
    }
    .metaTagRoot {
        background-color: #a39f9f;
    }

    .metaTagImage {
        background-color: #e2d06a;
        color: #000;
    }

    label {
        width: 45px;
    }

    .tagInput {
        width: 200px;
        margin-top: 4px;
    }

    .metaTagListArea {
        height: 350px;
        width: 400px;
        overflow-y: auto;
        background-color: var(--oggleBackgroundColor);
        padding: 9px;
        margin: 8px;
        border-radius: 22px;
    }

    .tabAndGoIcon {
        display: inline;
        font-size: 22px;
        cursor: pointer;
    }
</style>


<div id="metaTagDialog" class="oggleHidden" title="">
    <label>Tag</label>
    <input id="txtMetaTag" class="roundedInput tagInput" onblur="blurMetaTag()" />
    @*<div class="tabAndGoIcon" onclick="addMetaTag()">+</div>*@
    <div id="metaTagList" class="metaTagListArea"></div>
</div>

<script>
    var metaTagModel = {};

    $(function () {
        $('#metaTagDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "456px"
        });
    });

    function openMetaTagDialog(tagType) {
        // 6:12 AM 3/28/19,  5/25/19
        metaTagModel.TagType = tagType;
        metaTagModel.TagId = 0;
        $('#metaTagDialog').show();
        $('#metaTagDialog').dialog("open");
        getMetaTags(tagType);
    }

    function blurMetaTag() {
        if (metaTagModel.TagId != 0)
            editMetaTag();
        else
            addMetaTag();        
    }

    function getMetaTags(tagType) {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/MetaTag/Get?tagType=" + tagType,
                success: function (metaTagResults) {
                    if (metaTagResults.Success == "ok") {
                        $('#metaTagDialog').dialog('option', 'title', "Meta Tags for " + metaTagResults.Source);
                        $('#metaTagList').html("");

                        $.each(metaTagResults.MetaTags, function (idx, metaTag) {
                            $('#metaTagList').append("<div class='metaTagItem metaTag" + metaTag.TagType +
                                "' onclick=loadMetaTagForEditing('" + metaTag.TagId + "','" + metaTag.TagType + "') >" + metaTag.Tag + "</div>");
                        })
                    }
                    else
                        alert("get MetaTags: " + metaTagResults.Success);
                },
                error: function (jqXHR, exception) {
                    alert("get MetaTags XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("get MetaTags catch: " + e);
        }
    }

    function loadMetaTagForEditing(tagId, tagType) {

        alert("loadMetaTagForEditing(tagId: " + tagId + ", tagType: " + tagType);

        if (metaTagModel.TagType = tagType) {
            $.ajax({
                type: "GET",
                url: service + "/api/MetaTag/GetOne?tagId=" + tagId + "&kludge=kludge",
                success: function (model) {
                    if (!model.Tag.startsWith("ERROR")) {
                        metaTagModel.TagId = model.TagId;
                        metaTagModel.TagType = model.TagType;
                        $('#txtMetaTag').val(model.Tag);
                    }
                },
                error: function (jqXHR, exception) {
                    alert("addMetaTag XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }

    function validateMetaTag() {
        if (isNullorUndefined($('#txtMetaTag').val())) {
            return false;
        }
        else {
            metaTagModel.Tag = $('#txtMetaTag').val();
            return true;
        }
    }

    function editMetaTag() {
        if (validateMetaTag()) {
            $.ajax({
                type: "PUT",
                url: service + "/api/MetaTag",
                data: metaTagModel,
                success: function (success) {
                    if (success == "ok") {
                        metaTagModel.TagId = 0;
                        $('#txtMetaTag').val("");
                        getMetaTags(metaTagModel.TagType);
                    }
                },
                error: function (jqXHR, exception) {
                    alert("add MetaTag XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            })
        }
    }

    function addMetaTag() {
        if (validateMetaTag()) {
            $.ajax({
                type: "POST",
                url: service + "/api/MetaTag",
                data: metaTagModel,
                success: function (success) {
                    if (success == "ok") {
                        metaTagModel.TagId = 0;
                        $('#txtMetaTag').val("");
                        getMetaTags(metaTagModel.TagType);
                    }
                },
                error: function (jqXHR, exception) {
                    alert("edit MetaTag XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }


</script>