@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>*@

<style>
    .modelInfoContainer {
        top: 188px;
        z-index: 150;
    }

    .floatingRoundedDialog {
        display: none;
        font-size: 20px;
        font-family: 'Comic Sans MS';
        border: solid thin #b200ff;
        border-radius: 22px;
        padding: 4px;
        margin: 3px;
        background-color: #efeacb;
        color: #620e63;
        z-index: 111;
    }

        .floatingRoundedDialog a {
            margin-left: 22px;
            font-size: 17px;
        }

            .floatingRoundedDialog a:hover {
                font-size: 20px;
            }

    .smallTextArea {
        height: 121px;
        width: 100%;
        background-color: #f7eef7;
        padding: 5px;
        margin-right: 4px;
        font-size: 21px;
    }

    .modelDialogImage {
        height: 150px;
        min-width: 160px;
        margin-left: 4px;
    }

    .floatingRoundedDialogLabel {
        display: block;
        text-align: right;

        font-size: 17px;
        height: 32px;
        padding: 14.5px 4px 0 0;
    }

    .roundedInput {
        width: 220px;
        font-size: 14px;
        font-weight: normal;
    }

    .viewOnlyMessage {
        text-align: center;
        font-size: 17px;
        padding: 2px;
    }
    label {
        width: 91px !important;
    }
    .addLinkIcon {
        cursor:pointer;
        font-size: 28px;
    }
</style>

@*<div class="centeredDivShell modelInfoContainer">
    <div id="centeredContainer" class="centeredDivInner">*@

<div id="modelInfoDialog" class="floatingRoundedDialog" onmouseleave="considerClosingModelInfoDialog()">
    @*<div class="floatingCrudBanner">
            <span id="modelInfoHeader"></span>
            <div onclick="$('#modelInfoDialog').fadeOut();" class="farSide">x</div>
        </div>*@
    <div id="modelInfoEditArea">
        <div class="flexContainer">
            <div class="floatLeft">
                <label>name</label><input id="txtModelName" class="roundedInput inline" /><br />
                <label>nationality</label><input id="txtNationality" class="roundedInput inline" /><br />
                <label>born</label><input id="txtBorn" class="roundedInput inline" />
            </div>
            <div class="floatLeft">
                <img id="modelDialogThumbNailImage" src="~/Images/redballon.png" class="modelDialogImage" />
            </div>
        </div>
        <label>comment</label>
        <div><textarea id="txaModelComment" class="smallTextArea"></textarea></div>

        <div class="inline">href</div><input id="txtLinkHref" class="roundedInput inline" />
        <div class="inline">label</div><input id="txtLinkLabel" class="roundedInput" />
        <span class="addLinkIcon" onclick="addModelInfoLink()">+</span>
        <div id="externalLinks" class="smallTextArea"></div>
    </div>
    <div id="modelInfoViewOnlyArea">
        <div class="viewOnlyMessage">If you you know who this is Please click Edit</div>
        <div id="unknownModelLinks" class="smallTextArea"></div>
    </div>
    <a id="modelInfoEdit" class="dialogEditButton" href="javascript:toggleModelInfoEditMode()">Edit</a>
</div>

<script>
    var nudeModelInfoModel = {};

    $(function () {
        $("#txtBorn").datepicker();

        $('#modelInfoDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },       
            width: "615"
        });
    });

    function addModelInfoLink() {
        $('#externalLinks').append("<a href=" + $('#txtLinkHref').val() + ">" + $('#txtLinkLabel').val() + "</a><br/>");
    }

    //showImageCommentDialog(src, linkId, folderId, folderName)

    function showModelInfoDialog(src, linkId, folderId) {
        nudeModelInfoModel.LinkId = linkId;
        nudeModelInfoModel.Link = src;
        nudeModelInfoModel.FolderId = folderId;


        $('#footerMessage').html("linkId: " + linkId + " url: " + nudeModelInfoModel.Link);
        $('#modelDialogThumbNailImage').attr("src", nudeModelInfoModel.Link);
        clearGets();
        $('#modelInfoDialog').dialog("open");
        //$('#modelInfoDialog').fadeIn();

        $.ajax({
            type: "GET",
            url: service + "/api/NudeModelImage/Get?linkId=" + linkId,
            success: function (nudeModel) {
                if (nudeModel.Success == "ok") {
                    if (nudeModel.ModelName === null) {
                        //$('#modelInfoHeader').html("unknown model");
                        $('#modelInfoDialog').dialog('option', 'title', "unknown model");
                        $('#modelInfoEditArea').hide();
                        $('#modelInfoViewOnlyArea').show();
                        $('#unknownModelLinks').html(nudeModelInfoModel.Link.substring(nudeModelInfoModel.Link.lastIndexOf('/') + 1) + "<br/>");
                        $('#unknownModelLinks').append(nudeModel.ExternalLinks)
                        $('#modelInfoEdit').html("Edit");
                    }
                    else {
                        nudeModelInfoModel.ModelId = nudeModel.ModelId;
                        if (nudeModelInfoModel.FolderId != nudeModel.FolderId) {
                            alert(nudeModelInfoModel.FolderId + " = " + nudeModel.FolderId);
                            nudeModelInfoModel.FolderId = nudeModel.FolderId;
                        }
                        //$('#modelInfoHeader').html(nudeModel.ModelName);
                        $('#modelInfoDialog').dialog('option', 'title', nudeModel.ModelName);
                        $('#modelInfoEditArea').show();
                        $('#modelInfoViewOnlyArea').hide();
                        $('#txtModelName').val(nudeModel.ModelName);
                        $('#txtBorn').val(nudeModel.Born);
                        $('#txaModelComment').val(nudeModel.CommentText);
                        $('#txtNationality').val(nudeModel.Nationality);

                        ///ToDO
                        /// if pornAdmin e;se readonly
                        if ((isPornEditor == "True") || (document.domain === 'localhost')) {
                            $('#modelInfoEdit').html("Save");
                        }
                        else
                            $('#modelInfoEdit').hide();


                    }
                    nudeModelInfoModel.ExternalLinks = nudeModel.ExternalLinks;
                    $('#externalLinks').html(nudeModel.ExternalLinks);

                }
                else
                    alert("Get ModelInfo : " + nudeModel.Success);
            },
            error: function (jqXHR, exception) {
                alert("Get ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function clearGets() {
        $('#txtLinkHref').val('');
        $('#txtLinkLabel').val('');
        $('#txtModelName').val('');
        $('#txtBorn').val('');
        $('#txaModelComment').val('');
        $('#txtNationality').val('');
        $('#externalLinks').html('');
    }

    function validate() {
        nudeModelInfoModel.ModelName = $('#txtModelName').val();
        $('#modelInfoDialog').dialog('option', 'title', nudeModelInfoModel.ModelName);
        nudeModelInfoModel.Born = $('#txtBorn').val();
        nudeModelInfoModel.CommentText = $('#txaModelComment').val();
        nudeModelInfoModel.Nationality = $('#txtNationality').val();
        nudeModelInfoModel.ExternalLinks = $('#externalLinks').html();
        return true;
    }

    function toggleModelInfoEditMode() {
        switch ($('#modelInfoEdit').html()) {
            case "Edit":
                $('#modelInfoEdit').html("Add");
                $('#modelInfoEditArea').show();
                $('#modelInfoViewOnlyArea').hide();
                break;
            case "Add":
                if (validate()) {
                    $.ajax({
                        type: "POST",
                        url: service + "/api/NudeModelInfo",
                        data: nudeModelInfoModel,
                        success: function (success) {
                            if (success === "ok") {
                                displayStatusMessage("ok", "Model info added");

                                $('#modelInfoEdit').html("Save");
                            }
                            else
                                alert("Add Model info: " + success);
                        },
                        error: function (jqXHR, exception) {
                            alert("Add ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                        }
                    });
                }
                break;
            case "Save":
                if (validate()) {
                    $.ajax({
                        type: "PUT",
                        url: service + "/api/NudeModelInfo",
                        data: nudeModelInfoModel,
                        success: function (success) {
                            if (success === "ok") {
                                displayStatusMessage("ok", "Model info updated");
                            }
                            else
                                alert("Edit Model info: " + success);
                        },
                        error: function (jqXHR, exception) {
                            alert("Edit ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                        }
                    })
                }
                break;
            default:
        }
    }

    function considerClosingModelInfoDialog() {
        if ($('#modelInfoEdit').html() == "Edit")
            $('#modelInfoDialog').dialog("close");

        //$('#modelInfoDialog').fadeOut();
    }

</script>
