
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    .modelInfoContainer {
        top: 188px;
        z-index: 150;
    }

    .floatingRoundedDialog {
        display: none;
        font-size: 17px;
        font-family: 'Comic Sans MS';
        border: solid thin #b200ff;
        border-radius: 22px;
        padding: 4px;
        margin: 3px;
        background-color: #efeacb;
        color: #620e63;
        z-index: 111;
    }

        .floatingRoundedDialog a {
            margin-left: 22px;
            font-size: 17px;
        }

            .floatingRoundedDialog a:hover {
                font-size: 20px;
            }

    .smallTextArea {
        height: 121px;
        width: 100%;
        background-color: #f7eef7;
        padding: 5px;
        margin-right: 4px;
        font-size: 21px;
    }

    .modelDialogImage {
        height: 150px;
        min-width: 160px;
        margin-left: 4px;
    }

    .floatingRoundedDialogLabel {
        display: block;
        text-align: right;
        font-size: 17px;
        height: 32px;
        padding: 14.5px 4px 0 0;
    }

    .modelDialogInput {
        width: 220px;
        font-size: 14px;
        font-weight: normal;
    }

    .viewOnlyMessage {
        text-align: center;
        font-size: 17px;
        padding: 2px;
    }

    label {
        width: 105px !important;
    }

    .addLinkIcon {
        cursor: pointer;
        font-size: 28px;
    }

    .hrefLabel {
        font-size: 16px;
        display: inline-block;
        margin-right: 4px;
    }
</style>

@*<div class="centeredDivShell modelInfoContainer">
    <div id="centeredContainer" class="centeredDivInner">*@

<div id="modelInfoDialog" class="floatingRoundedDialog" onmouseleave="considerClosingModelInfoDialog()">
    @*<div class="floatingCrudBanner">
            <span id="modelInfoHeader"></span>
            <div onclick="$('#modelInfoDialog').fadeOut();" class="farSide">x</div>
        </div>*@
    <div id="modelInfoEditArea">
        <div class="flexContainer">
            <div class="floatLeft">
                <label>name</label><input id="txtFolderName" class="roundedInput modelDialogInput inline" /><br />
                <label>nationality</label><input id="txtNationality" class="roundedInput modelDialogInput inline" /><br />
                <label>born</label><input id="txtBorn" class="roundedInput modelDialogInput inline" /><br />
                <label>measurements</label><input id="txtMeasurements" class="roundedInput modelDialogInput inline" />
            </div>
            <div class="floatLeft">
                <img id="modelDialogThumbNailImage" src="~/Images/redballon.png" class="modelDialogImage" />
            </div>
        </div>
        <label>comment</label>
        <div><textarea id="txaModelComment" class="smallTextArea"></textarea></div>

        <div class="hrefLabel">href</div><input id="txtLinkHref" class="roundedInput inline" />
        <div class="hrefLabel">label</div><input id="txtLinkLabel" class="roundedInput" onblur="addHref()" />
        <span class="addLinkIcon" onclick="addHref()">+</span>
        <div id="externalLinks" class="smallTextArea"></div>
    </div>
    <div id="modelInfoViewOnlyArea">
        <div class="viewOnlyMessage">If you you know who this is Please click Edit</div>
        <div id="unknownModelLinks" class="smallTextArea"></div>
    </div>
    <a id="modelInfoEdit" class="dialogEditButton" href="javascript:toggleMode()">Edit</a>
</div>

<script>
    var FolderDetailModel = {};

    function showModelInfoDialog(modelName, folderId) {
        FolderDetailModel.FolderId = folderId;
        clearGets();
        $('#modelInfoDialog').dialog("open");
        //$('#modelInfoDialog').fadeIn();
        getFolderDetails(modelName, folderId)
    }

    $(function () {
        $("#txtBorn").datepicker();

        $('#modelInfoDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "615"
        });
    });

    function getFolderDetails(modelName, folderId) {
        $.ajax({
            type: "GET",
            url: service + "/api/ImageCategoryDetail/Get?folderId=" + folderId,
            success: function (folderDetails) {
                if (folderDetails.Success == "ok") {
                    FolderDetailModel.Src = folderDetails.Src;

                    if (modelName == "unknown model") {
                        $('#modelDialogThumbNailImage').attr("src", folderDetails.Src);
                        $('#modelInfoDialog').dialog('option', 'title', "unknown model");
                        //$('#unknownModelLinks').html(linkId.substring(linkId.lastIndexOf('/') + 1) + "<br/>");
                        $('#unknownModelLinks').append(folderDetails.ExternalLinks)
                        $('#modelInfoEditArea').hide();
                        $('#modelInfoViewOnlyArea').show();
                        $('#modelInfoEdit').html("Edit");
                    }
                    else {
                        //alert(modelName + " == unknown model:  " + (modelName == "unknown model"));
                        if (folderDetails.FolderImage == null)
                            $('#modelDialogThumbNailImage').attr("src", folderDetails.Src);
                        else
                            $('#modelDialogThumbNailImage').attr("src", folderDetails.FolderImage);

                        $('#modelInfoDialog').dialog('option', 'title', folderDetails.FolderName);
                        $('#modelInfoEditArea').show();
                        $('#modelInfoViewOnlyArea').hide();
                        //$('#txtFolderName').val(modelName);
                        $('#txtFolderName').val(folderDetails.FolderName);
                        $('#txtBorn').val(folderDetails.Born);
                        $('#txaModelComment').val(folderDetails.CommentText);
                        $('#txtNationality').val(folderDetails.Nationality);
                        $('#txtMeasurements').val(folderDetails.Measurements);
                        $('#externalLinks').html(folderDetails.ExternalLinks);
                        $('#modelInfoEdit').html("Save");
                    }
                }
                else
                    alert("Get FolderDetail model Info : " + folderDetails.Success);
            },
            error: function (jqXHR, exception) {
                alert("Get Model Info jqXHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function addHref() {
        $('#externalLinks').append("<a href=" + $('#txtLinkHref').val() + ">" + $('#txtLinkLabel').val() + "</a><br/>");
        $('#txtLinkHref').val('');
        $('#txtLinkLabel').val('')
    }

    function toggleMode() {
        switch ($('#modelInfoEdit').html()) {
            case "Edit":
                $('#modelInfoEdit').html("Add");
                $('#modelInfoEditArea').show();
                $('#modelInfoViewOnlyArea').hide();
                break;
            case "Add":
                addNewFolderDetail();
                break;
            case "Save":
                updateFolderDetail();
                break;
            default:
        }
    }

    function clearGets() {
        $('#txtLinkHref').val('');
        $('#txtLinkLabel').val('');
        $('#txtFolderName').val('');
        $('#txtBorn').val('');
        $('#txaModelComment').val('');
        $('#txtNationality').val('');
        $('#externalLinks').html('');
    }

    function validate() {
        FolderDetailModel.FolderName = $('#txtFolderName').val();
        $('#modelInfoDialog').dialog('option', 'title', FolderDetailModel.FolderName);
        FolderDetailModel.Born = $('#txtBorn').val();
        FolderDetailModel.Nationality = $('#txtNationality').val();
        FolderDetailModel.Measurements = $('#txtMeasurements').val();
        FolderDetailModel.CommentText = $('#txaModelComment').val();
        FolderDetailModel.ExternalLinks = $('#externalLinks').html();
        return true;
    }

    function addNewFolderDetail() {
        if (validate()) {
            $.ajax({
                type: "POST",
                url: service + "/api/ImageCategoryDetail",
                data: FolderDetailModel,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("ok", "Model info added");

                        $('#modelInfoEdit').html("Save");
                    }
                    else
                        alert("Add Model info: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("Add ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }

    function updateFolderDetail() {
        if (validate()) {
            $.ajax({
                type: "PUT",
                url: service + "/api/ImageCategoryDetail",
                data: FolderDetailModel,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("ok", "Model info updated");
                    }
                    else
                        alert("Edit Model info: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("Edit ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            })
        }
    }

    function considerClosingModelInfoDialog() {
        if ($('#modelInfoEdit').html() == "Edit")
            $('#modelInfoDialog').dialog("close");
    }

</script>
