@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>*@

<style>
    .modelInfoContainer {
        top: 188px;
        z-index: 150;
    }

    .floatingRoundedDialog {
        display: none;
        font-size: 17px;
        font-family: 'Comic Sans MS';
        border: solid thin #b200ff;
        border-radius: 22px;
        padding: 4px;
        margin: 3px;
        background-color: #efeacb;
        color: #620e63;
        z-index: 111;
    }

        .floatingRoundedDialog a {
            margin-left: 22px;
            font-size: 17px;
        }

            .floatingRoundedDialog a:hover {
                font-size: 20px;
            }

    .smallTextArea {
        height: 121px;
        width: 100%;
        background-color: #f7eef7;
        padding: 5px;
        margin-right: 4px;
        font-size: 21px;
    }

    .modelDialogImage {
        height: 150px;
        min-width: 160px;
        margin-left: 4px;
    }

    .floatingRoundedDialogLabel {
        display: block;
        text-align: right;

        font-size: 17px;
        height: 32px;
        padding: 14.5px 4px 0 0;
    }
    .modelDialogInput {
        width: 220px;
        font-size: 14px;
        font-weight: normal;
    }

    .viewOnlyMessage {
        text-align: center;
        font-size: 17px;
        padding: 2px;
    }
    label {
        width: 105px !important;
    }
    .addLinkIcon {
        cursor:pointer;
        font-size: 28px;
    }
    .hrefLabel {
        font-size: 16px;
        display: inline-block;
        margin-right: 4px;
    }
</style>

@*<div class="centeredDivShell modelInfoContainer">
    <div id="centeredContainer" class="centeredDivInner">*@

<div id="modelInfoDialog" class="floatingRoundedDialog" onmouseleave="considerClosingModelInfoDialog()">
    @*<div class="floatingCrudBanner">
            <span id="modelInfoHeader"></span>
            <div onclick="$('#modelInfoDialog').fadeOut();" class="farSide">x</div>
        </div>*@
    <div id="modelInfoEditArea">
        <div class="flexContainer">
            <div class="floatLeft">
                <label>name</label><input id="txtModelName" class="roundedInput inline" /><br />
                <label>nationality</label><input id="txtNationality" class="roundedInput modelDialogInput inline" /><br />
                <label>born</label><input id="txtBorn" class="roundedInput modelDialogInput inline" />
                <label>measurements</label><input id="txtMeasurements" class="roundedInput modelDialogInput inline" /><br />
            </div>
            <div class="floatLeft">
                <img id="modelDialogThumbNailImage" src="~/Images/redballon.png" class="modelDialogImage" />
            </div>
        </div>
        <label>comment</label>
        <div><textarea id="txaModelComment" class="smallTextArea"></textarea></div>

        <div class="hrefLabel">href</div><input id="txtLinkHref" class="roundedInput inline" />
        <div class="hrefLabel">label</div><input id="txtLinkLabel" class="roundedInput" />
        <span class="addLinkIcon" onclick="addModelInfoHref()">+</span>
        <div id="externalLinks" class="smallTextArea"></div>
    </div>
    <div id="modelInfoViewOnlyArea">
        <div class="viewOnlyMessage">If you you know who this is Please click Edit</div>
        <div id="unknownModelLinks" class="smallTextArea"></div>
    </div>
    <a id="modelInfoEdit" class="dialogEditButton" href="javascript:toggleMode()">Edit</a>
</div>

<script>
    var nudeModelInfoModel = {};

    function showModelInfoDialog(src, linkId, folderId) {
        nudeModelInfoModel.LinkId = linkId;
        nudeModelInfoModel.FolderId = folderId;

        $('#footerMessage').html("linkId: " + linkId + " url: " + nudeModelInfoModel.Link);
        clearGets();
        $('#modelInfoDialog').dialog("open");
        //$('#modelInfoDialog').fadeIn();
        getNudeModelInfo(linkId, folderId)
    }

    $(function () {
        $("#txtBorn").datepicker();

        $('#modelInfoDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },       
            width: "615"
        });
    });

    function getNudeModelInfo(linkId, folderId) {
        $.ajax({
            type: "GET",
            url: service + "/api/NudeModelInfo/Get?linkId=" + linkId + "&folderId=" + folderId,
            success: function (nudeModel) {
                if (nudeModel.Success == "ok") {
                    $('#externalLinks').html(nudeModel.ExternalLinks);
                    nudeModelInfoModel.Link = nudeModel.Link;

                    if (nudeModel.ModelName == "unidentified") {
                        $('#modelDialogThumbNailImage').attr("src", nudeModel.Link);                    
                        $('#modelInfoDialog').dialog('option', 'title', "unknown model");
                        $('#unknownModelLinks').html(linkId.substring(linkId.lastIndexOf('/') + 1) + "<br/>");
                        $('#unknownModelLinks').append(nudeModel.ExternalLinks)
                        $('#modelInfoEditArea').hide();
                        $('#modelInfoViewOnlyArea').show();
                        $('#modelInfoEdit').html("Edit");
                    }
                    else {

                        if (nudeModel.FolderImage == null) 
                            $('#modelDialogThumbNailImage').attr("src", nudeModel.Link);
                        else 
                            $('#modelDialogThumbNailImage').attr("src", nudeModel.FolderImage);

                        nudeModelInfoModel.ModelId = nudeModel.ModelId;
                        $('#modelInfoDialog').dialog('option', 'title', nudeModel.ModelName);
                        $('#modelInfoEditArea').show();
                        $('#modelInfoViewOnlyArea').hide();
                        $('#txtModelName').val(nudeModel.ModelName);
                        $('#txtBorn').val(nudeModel.Born);
                        $('#txaModelComment').val(nudeModel.CommentText);
                        $('#txtNationality').val(nudeModel.Nationality);
                        $('#txtMeasurements').val(nudeModel.Measurements);
                        $('#modelInfoEdit').html("Save");
                    }
                }
                else
                    alert("Get nude model Info : " + nudeModel.Success);
            },
            error: function (jqXHR, exception) {
                alert("Get Model Info jqXHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function addModelInfoHref() {
        $('#externalLinks').apppend("<a href=" + $('#txtLinkHref').val() + ">" + $('#txtLinkLabel').val() + "</a><br/>");
    }

    function toggleMode() {
        switch ($('#modelInfoEdit').html()) {
            case "Edit":
                $('#modelInfoEdit').html("Add");
                $('#modelInfoEditArea').show();
                $('#modelInfoViewOnlyArea').hide();
                break;
            case "Add":
                addNewNudeModelInfo();
                break;
            case "Save":
                updateNudeModelInfo();
                break;
            default:
        }
    }

    function clearGets() {
        $('#txtLinkHref').val('');
        $('#txtLinkLabel').val('');
        $('#txtModelName').val('');
        $('#txtBorn').val('');
        $('#txaModelComment').val('');
        $('#txtNationality').val('');
        $('#externalLinks').html('');
    }

    function validate() {
        nudeModelInfoModel.ModelName = $('#txtModelName').val();
        $('#modelInfoDialog').dialog('option', 'title', nudeModelInfoModel.ModelName);
        nudeModelInfoModel.Born = $('#txtBorn').val();
        nudeModelInfoModel.Nationality = $('#txtNationality').val();      
        nudeModelInfoModel.Measurements = $('#txtMeasurements').val();
        nudeModelInfoModel.CommentText = $('#txaModelComment').val();
        nudeModelInfoModel.ExternalLinks = $('#externalLinks').html();
        return true;
    }

    function addNewNudeModelInfo() {
        if (validate()) {
            $.ajax({
                type: "POST",
                url: service + "/api/NudeModelInfo",
                data: nudeModelInfoModel,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("ok", "Model info added");

                        $('#modelInfoEdit').html("Save");
                    }
                    else
                        alert("Add Model info: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("Add ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
    }

    function updateNudeModelInfo() {
        if (validate()) {
            $.ajax({
                type: "PUT",
                url: service + "/api/NudeModelInfo",
                data: nudeModelInfoModel,
                success: function (success) {
                    if (success === "ok") {
                        displayStatusMessage("ok", "Model info updated");
                    }
                    else
                        alert("Edit Model info: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("Edit ModelInfo jqXHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            })
        }
    }

    function considerClosingModelInfoDialog() {
        if ($('#modelInfoEdit').html() == "Edit")
            $('#modelInfoDialog').dialog("close");
    }

</script>
