
<img id="moveCopyDialogLoadingGif" class="loadingGif" src="~/Images/loader.gif" />
<div class="moveCopyDialogContainer">
    <div id="moveCopyDialog" title="">
        <div class="inline"><img id="copyDialogImage" class="copyDialogImage" /></div>
        <div id="dirTreeResults" class="pusedoTextBox"></div>
        <div class="inline"><img class="moveDialogDirTreeButton" src="~/Images/caretDown.png" onclick="$('#moveDialogDirTree').show()" /></div>
        <br />
        <div id="moveDialogDirTree" class="hideableDropDown"></div>
        <div id="btnGo" class="roundendButton" onclick="ftpMoveCopy()">Copy</div>
    </div>
</div>

<style>
    .moveCopyDialogContainer {
        display: none;
    }

    .copyDialogImage {
        height: 100px;
        margin-right: 7px;
        display: inline;
    }

    .pusedoTextBox {
        display: inline-block;
        border: solid thin #000;
        min-width: 266px;
        padding-top: 4px;
        min-height: 30px;
    }

    .moveDialogDirTreeButton {
        height: 40px;
        cursor: pointer;
        margin-left: 1px;
    }
    .moveDialogDirTree {
        margin-top: 22px;
        margin-left: 50px;
        padding: 3px 6px;
        font-size: 19px;
        color: #555;
        background-color: var(--oggleBackgroundColor);
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .hideableDropDown {
        display: inline-block;
        max-height: 600px;
        overflow-y: auto;
        display: none;
    }
</style>

<script>
    var MoveCopyImageModel = {};

    $(function () {
        $('#moveCopyDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "650"
        });
        buildDirTree($('#moveDialogDirTree'), "moveDialogDirTree", 0);
    });

    //showMoveCopyDialog("Archive", $('#' + currentContextLinkId + '').attr("src"), folderId);	F:\Devl\OggleBooble\Scripts\Album.js	241	13
    //showMoveCopyDialog("Copy", $('#' + currentContextLinkId + '').attr("src"), folderId);	F:\Devl\OggleBooble\Scripts\Album.js	250	13
    //showMoveCopyDialog("Move", $('#' + currentContextLinkId + '').attr("src"), folderId);	F:\Devl\OggleBooble\Scripts\Album.js	259	13

    function showMoveCopyDialog(mode, link, folderId) {
        MoveCopyImageModel.Mode = mode;
        MoveCopyImageModel.Link = link;
        MoveCopyImageModel.SourceFolderId = folderId;
        $('#btnGo').html(mode);
        $('#moveCopyDialog').dialog('option', 'title', mode + " Image Link");
        $('#copyDialogImage').attr("src", link);
        $('#moveCopyDialogContainer').show();
        $('#moveCopyDialog').dialog("open");
    }

    function ftpMoveCopy() {
        $('#moveCopyDialogLoadingGif').show();
        $.ajax({
            type: "PUT",
            url: service + "/api/MoveImage/MoveImage",
            data: MoveCopyImageModel,
            success: function (success) {
                $('#moveCopyDialogLoadingGif').hide();
                if (success === "ok") {
                    displayStatusMessage("ok", "image moved to " + $('#dirTreeResults').html());
                    displayStatusMessage("ok", "link coppyed to " + $('#dirTreeResults').html());
                    $('#moveCopyDialog').dialog("close");
                }
                else {
                    alert("ftp Move " + success);
                }
            },
            error: function (xhr) {
                $('#moveCopyDialogLoadingGif').hide();
                alert("ftp Move xhr error: " + xhr.statusText);
            }
        });
    }

    function moveDialogDirTreeClick(path, id, treeId) {
        if (treeId == "moveDialogDirTree") {
            MoveCopyImageModel.DestinationFolderId = id;
            $('#moveDialogDirTree').hide();
            if (path.length > path.indexOf(".COM") + 4)
                $('#dirTreeResults').html(path.substring(path.indexOf(".COM") + 5).replace(/%20/g, " "));
            else
                $('#dirTreeResults').html(path);
        }
        else
            alert("moveDialogDirTreeClick treeId: " + treeId);
    }
</script>