<link href="~/Styles/jquery-ui.css" rel="stylesheet" />

<img id="moveCopyDialogLoadingGif" class="loadingGif" src="~/Images/loader.gif" />


<div class="moveCopyDialogContainer">
    <div id="moveCopyDialog" title="">
        <div class="inline"><img id="copyDialogImage" class="copyDialogImage" /></div>
        <div id="dirTreeResults" class="pusedoTextBox"></div>
        <div class="inline"><img class="dirTreeDropdownButton" src="~/Images/caretDown.png" onclick="$('#dirTreeDropDown').show()" /></div>
        <br />
        <div id="dirTreeDropDown" class="hideableDropDown">
            @Html.Partial("_DirTree2");
        </div>
        <div id="btnGo" class="roundendButton" onclick="performAction()">Copy</div>
    </div>
</div>

<style>
    .moveCopyDialogContainer {
        display: none;
    }
    .copyDialogImage {
        height: 100px;
        margin-right: 7px;
        display: inline;
    }
    .pusedoTextBox {
        display: inline-block;
        border: solid thin #000;
        min-width: 266px;
        padding-top: 4px;
        min-height: 30px;
    }
    .dirTreeDropdownButton {
        height: 40px;
        cursor: pointer;
        margin-left: 1px;
    }
    .hideableDropDown {
        display: inline-block;
        max-height: 600px;
        overflow-y: auto;
        display: none;
    }
</style>

<script>
    var MoveCopyImageDialogModel = {};

    $(function () {
        $('#moveCopyDialog').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "650"
        });
        $('#btnMoveLink').hide();
    });
    
    function showMoveCopyDialog(mode, link, linkId, folderId) {

        //alert("mode: " + mode + " link: " + link + "  folder: " + folderId);

        MoveCopyImageDialogModel.Mode = mode;
        MoveCopyImageDialogModel.Link = link;
        MoveCopyImageDialogModel.LinkId = linkId;
        MoveCopyImageDialogModel.SourceFolderId = folderId;

        //public int SourceFolderId { get; set; }
        //public int DestinationFolderId { get; set; }
        //public string Link { get; set; }
        //public string Mode { get; set; }



        //MoveCopyImageDialogModel.
        $('#btnGo').html(mode);
        $('#moveCopyDialog').dialog('option', 'title', mode + " Image Link");
        $('#copyDialogImage').attr("src", link);
        $('#moveCopyDialogContainer').show();
        $('#moveCopyDialog').dialog("open");
    }

    function performAction() {
        //alert("performAction: " + MoveCopyImageDialogModel.Mode);
        $('#moveCopyDialogLoadingGif').show();
        if (MoveCopyImageDialogModel.Mode == "Copy")
            copyLink();
        else
            ftpMove();
    }

    function ftpMove() {
        $.ajax({
            type: "PUT",
            url: service + "/api/FtpImagePage/MoveImage",
            data: MoveCopyImageDialogModel,
            success: function (success) {
                $('#moveCopyDialogLoadingGif').hide();
                if (success === "ok") {
                    displayStatusMessage("ok", "image moved to " + $('#dirTreeResults').html());
                    $('#moveCopyDialog').dialog("close");
                }
                else
                    alert("ftp Move" + success);
            },
            error: function (xhr) {
                $('#moveCopyDialogLoadingGif').hide();
                alert("ftp Move xhr error: " + xhr.statusText);
            }
        });
    }

    function copyLink() {
        $.ajax({
            type: "PUT",
            url: service + "/api/ImagePage",
            data: MoveCopyImageDialogModel,
            success: function (success) {
                $('#moveCopyDialogLoadingGif').hide();
                if (success === "ok") {
                    displayStatusMessage("ok", "link coppyed to " + $('#dirTreeResults').html());
                    $('#moveCopyDialog').dialog("close");
                }
                else {
                    alert("copyLink: " + success);
                }
            },
            error: function (xhr) {
                $('#moveCopyDialogLoadingGif').hide();
                alert("copyLink(andRemove) xhr error: " + xhr.statusText);
            }
        });
    }

    function onDirTreeClick(path, id) {
        if (id.startsWith("t2")) {
            MoveCopyImageDialogModel.DestinationFolderId = id.substring(2);
            $('#dirTreeResults').html(path.replace(/%20/g, " "));
            $('#dirTreeDropDown').hide();
        }
        else
            alert("onDirTreeClick id: " + id);
        }

</script>