<style>

    .carouselContainer {
        padding: 1px;
        border: solid 2px #b200ff;
        /*background-color: rgba(164, 168, 169, 0.75);*/
        z-index: 10;
        display: none;
    }

    .animatedGears {
        display: none;
        position: relative;
        top: 100px;
        left: 100px;
    }

    .floatingLabel {
        position: absolute;
        display: inline-block;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 3px;
        font-size: 22px;
        white-space: nowrap;
        cursor: pointer;
        z-index: 27;
    }

    .carouselImage {
        /*height: 500px;*/
        cursor: pointer;
    }

    .carouselImageContainer {
        border: solid 5px #efeacb;
        border-bottom: none;
        background-color: #efeacb;
    }

    .arrowButton {
        position: absolute;
        z-index: 1;
        height: 70px;
        cursor: pointer;
        display: none;
    }

    .imgBottom {
        background-color: #efeacb;
        text-align: center;
    }

    .pauseButton {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        font-size: 23px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
    }

    .carouselCategoryLabel {
        float: left;
        cursor: pointer;
        text-decoration: underline;
        font-size: 20px;
        margin-bottom: 4px;
        color: #b200ff;
    }
    .floatingCrudDialog {
        z-index: 27;
        background-color: #808080;
    }
    .catDescArea {
        height: 323px;
        width: 434px;
        border: solid thin #b200ff;
        background-color: #e0dcc8;
        padding: 4px;
        margin: 3px;
    }
</style>


<div class="centeredDivShell">
    <div class="centeredDivInner">
        <div id='categoryTitle' class='floatingLabel' onclick="showCategoryDialog()" onmouseover="showCategoryDialog()" ></div>
        <div id="laCarousel" class="carouselContainer">
            <div class="carouselImageContainer">
                <img id="carouselImage" class="carouselImage" src="~/Images/ingranaggi3.gif" onclick="clickViewGallery()" />
                <div class="imgBottom">
                    <div id="pauseButton" class='pauseButton' onclick="pause()">||</div>
                    <div id='categoryLabel' class='carouselCategoryLabel' onclick="clickViewTopGallery()"></div>
                </div>
            </div>
            @*<img id="leftFbutton" class="arrowButton" src="~/Images/blueCircleLeft.png" onclick="clickPrevious()" />
                <img id="rightFbutton" class="arrowButton" src="~/Images/blueCircleRight.png" onclick="clickNext()" />*@
        </div>
    </div>
</div>

<div id="categoryDialog" class="floatingCrudDialog" onmouseleave="closeCatDialog()">
    <div id="catDlgFolderName" class="center"></div>
    <textarea id="catDlgDescription" class="catDescArea"></textarea>
    <br />
    <div id="catDlgEdit" class="roundendButton inline" onclick="editCatDialog()">Edit</div>
    <div id="catDlgCancel" class="roundendButton inline" onclick="$('#categoryDialog').hide(); pause();">Cancel</div>
</div>


<script>
    var service = '@ViewBag.Service';
    var numImages = 0;
    var rotationSpeed = 5123;
    var carouselItemArray = new Array();
    var imageIndex = 0;
    var carouselContainerHeight;
    var Carousel;
    var folderCount;
    var folderModel = {};

    $(document).ready(function () {
        $('#carouselImage').css("max-width", $('#middleColumn').width());
        $('#carouselImage').css("max-height", $('#middleColumn').innerHeight() - 150);

    });

    function showCategoryDialog() {
        // 11:11 2/25/19
        // create a new table (or row)
        // --alter table OggleBooble.ImageFolder add CatergoryDescription nvarchar(max)
        try {
            pause();
            $.ajax({
                type: "GET",
                url: service + "/api/ImageFolder/Get?id=" + carouselItemArray[imageIndex].Id,
                success: function (model) {
                    //alert("categoryDialog: " + model.FolderName)

                    if (!model.FolderName.startsWith("ERROR")) {
                        folderModel.Id = model.Id;
                        //folderModel.Parent = model.Parent;
                        //folderModel.FolderName = model.FolderName;
                        //folderModel.FolderPath = model.FolderPath;
                        //folderModel.FileCount = model.FileCount;
                        folderModel.CatergoryDescription = model.CatergoryDescription;

                        $('#catDlgFolderName').html(model.FolderName)
                        $('#catDlgDescription').val(model.CatergoryDescription);
                        $('#categoryDialog').css("top", $('#categoryTitle').offset().top + 50);
                        $('#categoryDialog').css("left", $('#categoryTitle').offset().left + 50);
                        $('#catDlgCancel').hide();

                        $('#categoryDialog').fadeIn();

                    }
                    else
                        alert("showCategoryDialog: " + model.FolderName);
                },
                error: function (jqXHR, exception) {
                    alert("showCategoryDialog XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        }
        catch (e) {
            alert("showCategoryDialog catch: " + e);
        }            
    }

    function editCatDialog() {
        if ($('#catDlgEdit').html() == "Edit") {
            $('#catDlgEdit').html("Save");
            $('#catDlgCancel').show();
        }
        else {
            folderModel.CatergoryDescription = $('#catDlgDescription').val();

            //updateImageFolder();
            $.ajax({
                type: "PUT",
                url: service + "/api/ImageFolder/Update?field=description",
                data: folderModel,
                success: function (success) {
                    if (success == "ok") {
                        displayStatusMessage("ok", "category description updated");
                        $('#catDlgEdit').html("Edit");
                    }
                    else
                        alert("updateImageFolder: " + success);
                },
                error: function (jqXHR, exception) {
                    alert("updateImageFolder XHR : " + getXHRErrorDetails(jqXHR, exception));
                }
            })
        }
    }

    function closeCatDialog() {
        if ($('#catDlgEdit').html() == "Edit") {
            $('#categoryDialog').fadeOut();
            pause();
        }
    }

    function startCarousel() {
        imageIndex = Math.floor(Math.random() * numImages);
        rotate();
    }

    function clickViewGallery() {
        clearInterval(Carousel);
        window.location.href = "/home/ImagePage?folder=" + carouselItemArray[imageIndex].FolderPath;
    }

    function clickViewTopGallery() {
        //alert("href:" + carouselItemArray[imageIndex].FolderPath.substring(carouselItemArray[imageIndex].FolderPath.indexOf("/"), carouselItemArray[imageIndex].FolderPath.lastIndexOf("/")));
        window.location.href = "/home/ImagePage?folder=" + carouselItemArray[imageIndex].FolderPath.substring(0, carouselItemArray[imageIndex].FolderPath.lastIndexOf("/"));
    }

    function clickPrevious() {
        //alert("clickPrevious")
        imageIndex--;
        if (imageIndex > 0)
            imageIndex--;
        else
            imageIndex = numImages;
        clearInterval(Carousel);
        rotate();
        event.stopPropagation();
        return false;
    }

    function clickNext() {
        //alert("clickNext")
        clearInterval(Carousel);
        imageIndex++;
        if (imageIndex >= numImages)
            imageIndex = 0;
        rotate();
        event.stopPropagation();
        return false;
    }

    function launchCarousel(root) {
        var start = Date.now();
        getFolderCount(root);
        $('#laCarousel').show();
        $.ajax({
            type: "GET",
            url: service + "/api/ImageLink/GetLinks?root=" + root + "&headstart=12",
            success: function (folderLinks) {
                //alert("folderLinks.length: " + folderLinks.length);
                $.each(folderLinks, function (idx, obj) {
                    //var category = obj.FolderPath.substring(obj.FolderPath.indexOf("/") + 1, obj.FolderPath.lastIndexOf("/")).replace("archive/", "").replace("/", " - ");
                    carouselItemArray.push({
                        Id: obj.Id,
                        FolderName: obj.FolderName,
                        Link: obj.Link,
                        FolderPath: obj.FolderPath
                    });
                });
                var delta = (Date.now() - start) / 1000;
                console.log("Select * from Carousel/GetaFew took: " + delta.toFixed(3));

                if (folderLinks.length > 0) {
                    numImages = folderLinks.length;
                    //$('#laCarousel').show();
                    imageIndex = Math.floor(Math.random() * numImages);

                    showImage();
                    rotate();
                    loadAllImages(root);

                }
                else
                    alert("No Images");
            },
            error: function (jqXHR, exception) {
                alert("launchCarousel XHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function loadAllImages(root) {
        var start = Date.now();
        $.ajax({
            type: "GET",
            url: service + "/api/ImageLink/GetLinks?root=" + root + "&headstart=0",
            success: function (folderLinks) {
                $.each(folderLinks, function (idx, obj) {
                    //category = obj.FolderPath.substring(obj.FolderPath.indexOf("/") + 1, obj.FolderPath.lastIndexOf("/")).replace("archive/", "").replace("/", " - ");
                    carouselItemArray.push({
                        Id: obj.Id,
                        FolderName: obj.FolderName,
                        Link: obj.Link,
                        FolderPath: obj.FolderPath
                    });
                });
                numImages = folderLinks.length;
                //$('#headerMessage').html("<span style='font-family:Lucida Calligraphy;font-size:28px;'>Select from " + numImages.toLocaleString() + " images in " + folderCount + " galleries</span>");
                imageIndex = Math.floor(Math.random() * numImages);
                var delta = (Date.now() - start) / 1000;
                console.log("Select * from Carousel/GetAll took: " + delta.toFixed(3));
            },
            error: function (jqXHR, exception) {
                alert("loadAllImages jqXHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function getFolderCount(root) {
        $.ajax({
            type: "GET",
            url: service + "/api/ImageFolder?root=" + root,
            success: function (rtn) {
                folderCount = rtn;
                //$('#headerMessage').html("Select from " + folderCount + " Galleries");
                //$('#laCarousel').show();
            },
            error: function (xhr) {
                $('#getDirTreeLoadingGif').hide();
                alert("getFolderCount xhr: " + getXHRErrorDetails(xhr));
            }
        })
    }

    function showImage() {
        //$('#carouselImage').attr('src', "");
        $('#carouselImage').fadeOut(500);
        setTimeout(function () {
            $('#carouselImage').attr('src', carouselItemArray[imageIndex].Link).fadeIn(1500);
            $('#carouselImage').on('load', onImageLoaded());
            //"<span style='font-family:Lucida Calligraphy;font-size:28px;'>Select from " + numImages.toLocaleString() + " images in " + folderCount + " galleries</span>"
        }, 500);
        $('#footerMessage').html("in " + folderCount + " galleries  " + (imageIndex + 1).toLocaleString() + " of " + numImages.toLocaleString() + " images");
    }

    function onImageLoaded() {
        if ($('#carouselImage').attr('src') == carouselItemArray[imageIndex].Link) {
            $('#categoryLabel').html(carouselItemArray[imageIndex].FolderPath.substring(carouselItemArray[imageIndex].FolderPath.indexOf("/"), carouselItemArray[imageIndex].FolderPath.lastIndexOf("/")).replace(/\//g, "  "));
            $('#categoryTitle').html(carouselItemArray[imageIndex].FolderName);
            resizePage();
        }
        else
            alert("not loaded");
    }

    function rotate() {
        showImage();
        Carousel = setInterval(function () {
            imageIndex = Math.floor(Math.random() * numImages);
            showImage();
        }, rotationSpeed);
    }

    function pause() {
        if ($('#pauseButton').html() == "||") {
            clearInterval(Carousel);
            $('#pauseButton').html(">");
            $('#footerMessage').html("pause");
        }
        else {
            startCarousel();
            $('#pauseButton').html("||");
            $('#footerMessage').html("resume");
        }
    }

</script>
