
:root {
    --brucheumBlue: #74bac3;
    --oggleBackgroundColor: #fef; /* #f7eef7 #fef  #b081b1 #f8e8e8 */
    --oggleContainerBackgroundColor: #fefefe; /*  #f8e8e8 */
    --oggleBorderColor: #b200ff; /* #f1cff7;       carouselContainer  #b200ff; */
    --ogglePurple: #79078f;
    --normalFont: 17px;
    --oggleTitleColor: #7f2c8f;
    --ogglgeSubTitleColor: #490157;
    --thumbnailBorderColor: #74bac3; /* hot pink #ff00dc   */
    --ogglgeHeaderBarColor: #decd6f; /*#c79bbe*/
    --oggleHeaderBoarderTop: #40767d 3px solid;
    --oggleHeaderBackgroundColor: #74bac3;
    --oggleHeaderBoarderBottom: #decd6f 11px solid;
    --oggleHeaderSelectBackgroundColor: #74bac3;
}

body {
    background-color: var(--oggleBackgroundColor);
    font-family: Verdana;
    box-sizing: border-box;
    margin-top: 100px !important;
    font-size: var(--normalFont);
}

.pornBodyColors {
    background-color: #ffcccc;
}


.threeColumnLayout {
    width: 100%;
    display: flex;
}

    .threeColumnLayout #leftColumn {
        float: left;
        /*border-right: solid 5px var(--ogglgeHeaderBarColor);*/
        min-width: 7%;
    }

    .threeColumnLayout #middleColumn {
        float: left;
        width: 100%;
    }

    .threeColumnLayout #rightColumn {
        float: right;
        min-width: 7%;
    }

.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 19; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContentStyle {
    z-index: 15;
}

.roundendButton {
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}
.roundedInput {
    padding: 2px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}
.requiredField {
    font-size: 15px;
    color: var(--ogglePurple);
    cursor: pointer;
    margin-top: 14px;
}

.leftColumnList {
    margin-top: 123px;
    padding-right: 36px;
}

    .leftColumnList div {
        font-size: 17px;
        cursor: pointer;
        color: #9a4ea9;
        margin: 12px 9px;
        white-space: nowrap;
    }
        .leftColumnList div:hover {
            text-decoration: underline;
            color: #333;
        }

.centeredDivShell {
    position: absolute;
    left: 50%;
    top: 300px;
}

.centeredDivInner {
    position: relative;
    left: -50%;
    min-height: 200px;
}

.galleryCheckBoxContainer {
    margin: 8px;
}
.galleryCheckBox {
    
}

.floatingDirTreeImage {
    position: absolute;
    display: none;
    z-index: 102;
}

    .floatingDirTreeImage img {
        /*border: solid thin ;*/
        border: solid 2px var(--oggleBorderColor);
        height: 100px;
        width: 100px;
    }

footer {
    margin-top: 4px;
    border-top: solid 4px #feb236;
    font-family: Arial;
    background-color: #000;
    color: #eee;
}

    footer .footerCol {
        padding-top: 8px;
        float: left;
        min-width: 200px;
    }

        footer .footerCol div {
            padding: 8px;
            text-align: center;
        }

            footer .footerCol div a {
                text-decoration: none;
                color: #fff;
            }

    footer .footerFooter {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        background-color: #212121;
        padding-bottom: 2px;
    }

    footer #footerMessage {
        display: inline-block;
        padding-left: 12px;
    }

    footer #copyright {
        display: inline-block;
        float: right;
        margin-right: 8px;
    }

        footer #copyright a:visited {
            color: #eee;
        }

.roundendButton {
    display: inline-block;
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.inline {
    display: inline-block;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.displayHidden {
    display: none;
}

.flexContainer {
    display: flex;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.btnSpinner {
    margin-top: 66px;
}

.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}
.loadingGif {
    position: absolute;
    left: 150px;
    top: 140px;
    height: 110px;
    z-index: 31;
}

.ogContextMenu {
    position: absolute;
    background-color: var(--oggleBackgroundColor);
    border: solid 2px #923c76;
    padding: 8px 10px;
    display: none;
    z-index: 120;
}

    .ogContextMenu div {
        padding: 8px;
        margin: 2px;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }

.settingsConsole {
    margin-top: 33px;
    margin-left: 24px;
    display: inline-block;
    border: solid 2px black;
    background: var(--oggleContainerBackgroundColor);
}

.settingsConsoleHeader {
    border: none;
    text-align: center;
    background: var(--brucheumBlue);
}

.settingsConsoleInputsContainer {
    display: inline-block;
    border: none;
    padding: 4px;
}

.flitterLabel {
    display: inline-block;
    width: 160px;
    text-align: right;
    padding: 4px;
}

.flitterButton {
    padding: 4px;
}

.customMessageContainer {
    position: fixed;
    z-index: 20;
    margin: 20px;
    display: none;
}

.blogCrudArea {
    border: solid thin var(--oggleBorderColor);
    padding: 5px;
}

.ogglePromoContainer {
    background-color: var(--ogglgeHeaderBarColor);
    position: absolute;
    top: 250px;
    right: 40px;
    width: 300px;
    border: solid 3px #4b0d41;
    font-size: 22px;
    text-align: center;
    display: none;
}

.ogglePromoText {
    background-color: var(--oggleContainerBackgroundColor);
    font-size: 18px;
    padding: 6px 6px 0 6px;
    text-align: justify;
}

.tinyDots {
    background-color: var(--oggleContainerBackgroundColor);
    text-align: right;
    cursor: pointer;
}

.ogglePromoKillMessage {
    font-size: 18px;
    background-color: var(--oggleBackgroundColor);
    display: none;
}

.oggleDialogWindow {
    border: solid thin #777;
    border-radius: 6px;
    box-shadow: 10px 10px rgba(95, 12, 12, 0.5);
    display: none;
}
