#folderCategoryDialog .ui-dialog {
    top: 44px;
    left: 100px;
}

#folderCategoryDialog .ui-corner-all {
    border-radius: 22px;
}
.folderCategoryDialogButton {
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

#folderCategoryDialog .ui-widget textarea {
    font-family: 'Comic Sans MS';
    color: #79078f;
    font-size: 18px;
    font-weight: normal;
}

.catDlgTextArea {
    height: 350px;
    width: 400px;
    overflow-y: auto;
    background-color: var(--oggleBackgroundColor);
    padding: 9px;
    margin: 8px;
    border-radius: 22px;
}

.metaTagRow {
    display: none;
}
