.classicColors {
    background-color: var(--oggleHeaderBackgroundColor);
    border-top: var(--oggleHeaderBoarderTop);
    border-bottom: var(--oggleHeaderBoarderBottom);
}

.pornHeaderColors {
    background-color: #cab37e;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 11px solid;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background: var(--brucheumBlue);
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid;
    z-index: 10;
}

.bannerImageContainer {
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}

.bannerImage {
    height: 80px;
    cursor: pointer;
}

.headerBodyContainer {
    float: left;
    width: 100%;
}

.headerTopRow {
    display: flex;
    width: 100%;
}

.headerTitle {
    padding-left: 26px;
    padding-top: 1px;
    font-family: 'Lucida Calligraphy';
    font-size: 33px;
}

.headerSubTitle {
    display: inline-block;
    font-family: Comic Sans MS;
    color: var(--oggleTitleColor);
    vertical-align: top;
    margin-left: 33px;
    margin-top: 1px;
    font-size: 28px;
    padding: 0;
    line-height: normal;
}

.headerSubTitle a {
    color: var(--oggleTitleColor);
    cursor: pointer;
    text-decoration: underline;
}

.boobRankerBanner {
    height: 35px;
    border: solid 2px #000;
    border-radius: 10px;
    font-size: 18px;
    padding: 3px;
    color: #000;
    text-decoration: none;
    background-color: aliceblue;
    margin-left: 40px;
    margin-top: 5px;
    cursor: pointer;
}
.blackCenterfoldsBanner {
    height: 35px;
    border: solid 2px red;
    border-radius: 10px;
    font-size: 18px;
    padding: 3px;
    color: yellow;
    text-decoration: none;
    background-color: yellow;
    margin-left: 40px;
    margin-bottom: 3px;
    cursor: pointer;
}

.OggleSearchBox {
    position: absolute;
    right: 10px;
    margin-top: 8px;
    margin-right: 20px;
}

.OggleSearchBoxText {
    border-radius: 10px;
}

.searchResultsDropdown {
    display: none;
    background-color: #fff;
    border: solid thin black;
    padding: 2px;
    z-index: 200;
}
    .searchResultsDropdown ul {
        list-style-type: none;
    }

    .searchResultsDropdown li {
        cursor: pointer;
    }
    .searchResultsDropdown li:hover {
        color: red;
        cursor: pointer;
    }


.headerBottomRow {
    display: flex;
    font-family: Verdana;
    font-size: 17px;
    width: 100%;
}

.bottomLeftBottomHeaderArea {
    margin-left: 100px;
}

.menuTab {
    float: left;
    display: inline-block;
    margin-top: 1px;
    border-radius: 5px;
}
    .menuTab a {
        cursor: pointer;
        color: black;
        padding: 8px 20px;
        margin-right: 20px;
        text-decoration: none;
        padding: 5px 5px;
        border-radius: 1px;
    }
    .menuTab a:hover {
        text-decoration: underline;
        background-color: #fef;
    }

.breadCrumbArea {
    float: left;
    color: var(--ogglgeSubTitleColor);
    font-family: Verdana;
    font-size: 24px;
    margin-left: 20px;
}

.activeBreadCrumb {
    margin-left: 20px;
    cursor: pointer;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.replaceableMenuItems {
    display:flex;
}

.trackbackImage {
    height: 45px;
    margin-left: 9px;
    float: left;
}

.bigTits {
    font-size: 40px;
    font-family: 'Arial Rounded MT';
    /*
        color: #ff00dc;
        color: var(--thumbnailBorderColor); #74bac3;
    */
}

.everyCenterfold {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loginArea {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.domainMessage {
    display: inline-block;
    color: orangered;
    margin-left: 9px;
    margin-top: 20px;
    white-space: nowrap;
}
