.viewOnlyMessage {
    text-align: center;
    font-size: 17px;
    padding: 2px;
}

label {
    width: 105px !important;
}

.trackbackLinksArea {
    height: 121px;
    overflow-y:auto;
    width: 100%;
    padding: 5px;
    margin-right: 4px;
}

.modelDialogImage {
    height: 150px;
    min-width: 160px;
    margin-left: 4px;
}

.modelInfoDialogLabel {
    display: inline-block;
    width: 61px;
    margin-right: 6px;
    text-align: right;
    font-size: 13px;
}

.modelDialogInput {
    width: 220px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
}

.modelDialogSelect {
    width: 220px;
    margin-left: -6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
}

.addLinkIcon {
    cursor: pointer;
    font-size: 28px;
}

.hrefLabel {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}
