
.copyDialogImage {
    height: 100px;
    margin-right: 7px;
    display: inline;
}

.pusedoTextBox {
    display: inline-block;
    border: solid thin #000;
    min-width: 266px;
    padding-top: 4px;
    min-height: 30px;
}

.moveDialogDirTreeButton {
    height: 40px;
    cursor: pointer;
    margin-left: 1px;
}

.moveDialogDirTree {
    margin-top: 22px;
    margin-left: 50px;
    padding: 3px 6px;
    font-size: 19px;
    color: #555;
    background-color: var(--oggleBackgroundColor);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.hideableDropDown {
    display: inline-block;
    max-height: 600px;
    overflow-y: auto;
    display: none;
}
