body {
    background-color: #222730; /* #273235; #486167;*/
}
.intelDsgnBackground {
    margin-top: 110px;
    background-image: url(../Images/globlic.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.threeColumnLayout {
    width: 100%;
    display: flex;
}
    .threeColumnLayout .leftColumn {
        float: left;
        min-width: 7%;
    }

    .threeColumnLayout .middleColumn {
        float: left;
        width: 100%;
    }

    .threeColumnLayout .rightColumn {
        float: right;
        min-width: 7%;
    }

.loadingGif {
    position: absolute;
    display: none;
}

    .loadingGif img {
        height: 45px;
    }

.centeredDivShell {
    position: absolute;
    left: 50%;
}

.centeredDivInner {
    position: relative;
    left: -50%;
}

.floatLeft {
    float: left;
}

.floatLeftFifty {
    float: left;
    width: 45%;
    margin-right: 11px;
}

.width100 {
    width: 100%
}

.collapsible {
    display: none;
    cursor: pointer;
}

.noFloat {
    clear: both;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.flexContainer {
    display: flex;
}
.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}
.adminButton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-left: 3px;
    margin-top: 37px;
    padding: 9px;
}

    .adminButton:hover {
        background-color: #555;
        border-radius: 3px;
    }

h2 {
    color: #fff;
}

.rightColumnContents {
    margin-top: 200px;
}
