@using Microsoft.AspNet.Identity;

<div class="flexContainer">
    <div class="floatLeft">
        <div id="addEditResumeSection" class="crudContainer">
            <div id="crudContainerTitle" class="crudContainerTitle">Add/Edit Resume Sections</div>

            <div class="crudArea">
                <div id="errSummary" class="validationError"></div>
                <div class="crudRow">
                    <div class="crudRowLabel">Section Title</div>
                    <input id="txtSectionTitle" class="roundedInput" />
                </div>
                <div id="resumeSectionEditor" class="editorContainer">
                    @Html.Partial("_Editor")
                </div>
                <div>
                    <button id="btnSectionAddEdit" class="roundendButton" onclick="addEditSection()">Save</button>
                    <button id="btnSectionNew" class="roundendButton" onclick="btnSectionNewToggle()">New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="floatLeft">
        <div id="sectionListContainer" class="crudContainer">
            <div class="crudContainerTitle">Sections</div>
            <div id="addEditSectionLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
            <div id="divSectionList" class="crudList"></div>
        </div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var addEditSectionUserId = '@User.Identity.GetUserId()';
    var sectionModel = new Object;

    $(document).ready(function () {
        $('#resumeSectionEditor').summernote({
            height: 428,
            lineWrapping: true,
            width: 500,
            codemirror: {
                lineWrapping: true,
                mode: "htmlmixed",
                theme: "monokai"
            },
            toolbar: [
                ['codeview'],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontname', 'fontsize']],
                //['insert', ['picture', 'link', 'video', 'table', 'hr']],
                ['color', ['color']]
                //['para', ['ul', 'ol', 'paragraph']],
                //['height', ['height']]
            ]
        });
    });

    function resumeSectionsInitialize() {
        $('#btnSectionNew').hide();
        if ($('#divSectionList').html() == "")
            loadSectionsList();
    }

    function addEditSection() {
        if (validate()) {
            unbindSection();
            if ($('#btnSectionAddEdit').html() == "Save") {
                insertSection();
            }
            else {
                updateSection()
            }
        }
    }

    function bindSection(addEditSection) {
        sectionModel.Id = addEditSection.Id;
        //sectionModel.PersonId = addEditSection.PersonId;
        $('#txtSectionTitle').val(addEditSection.SectionTitle);
        $('#resumeSectionEditor').summernote('code', addEditSection.SectionContents);
    }

    function unbindSection() {
        sectionModel.SectionTitle = $('#txtSectionTitle').val();
        sectionModel.PersonId = addEditSectionUserId;
        sectionModel.SectionContents = $('#resumeSectionEditor').summernote('code');
    }

    function insertSection() {

        //alert("sectionModel.SectionContents : " + sectionModel.SectionContents);

        try {
            $.ajax({
                type: "POST",
                url: service + "/api/ResumeSection",
                //dataType: 'string',
                data: sectionModel,
                success: function (success) {
                    if (!success.startsWith("ERROR")) {
                        $('#btnSkillAddEdit').html("Edit");
                        $('#btnSkillNew').show();
                        sectionModel.Id = success;
                        displayStatusMessage("ok", "section added");
                        loadSectionsList();
                    }
                    else {
                        alert("insertSection: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("insertSection post error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("insertSection catch: " + e)
        }
    }

    function updateSection() {
        $.ajax({
            type: "PUT",
            url: service + "/api/ResumeSection/",
            data: sectionModel,
            success: function (success) {
                if (success == "ok") {
                    $('#btnSkillAddEdit').val("Edit");
                    displayStatusMessage("ok", "Section Edited");
                    loadSectionsList();
                }
                else {
                    alert("updateSection: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addaJob put error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function btnSectionNewToggle() {
        $('#btnSectionAddEdit').html("Save");
        $('#btnSectionNew').hide();
        sectionModel.Id = "";
        $('#txtSectionTitle').val("");
        $('#resumeSectionEditor').summernote('code', "");
    }

    function validate() {
        $('#errSummary').hide();

        //if ($('#txtSectionTitle').val() === "") {
        //    $('#errSummary').html("section title required").show();
        //    return false;
        //}
        //$('#errSkillName').hide();

        return true;
    };

    function loadSectionsList() {
        try {
            $('#addEditSectionLoadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/ResumeSection/Get?personId=" + addEditSectionUserId,
                success: function (response) {
                    if (true) {
                        $('#divSectionList').html("");
                        $.each(response, function (idx, obj) {
                            //$('#divSectionList').append("<div class='crudListItem' >" + obj.SectionTypeDescription + " | " + obj.SectionTitle + "</div>");
                            $('#divSectionList').append("<div id=" + obj.Id + " class='crudListItem sectionItemList'>" + obj.SectionTitle + "</div>");
                        })
                        $('#addEditSectionLoadingGif').hide();
                        $('.sectionItemList').click(function () {
                            loadSectionEditor($(this).attr("id"));
                        });
                    }
                    else {
                        alert("getjobs: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("addaJob post error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("get jobs CATCH: " + e)
        }
    }

    function loadSectionEditor(Id) {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/ResumeSection?sectionId=" + Id,
                success: function (response) {
                    if (!response.SectionTitle.startsWith("ERROR")) {

                        bindSection(response);
                        $('#btnSectionAddEdit').html("Update");
                        $('#btnSectionNew').show();
                    }
                    else {
                        alert("loadSectionEditor: " + response.Id)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("loadSectionEditor xhr error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("loadSectionEditor CATCH: " + response.Id)

        }
    }
</script>



