
<style>
    #addEditResumeContainer {
        width: 777px;
    }

</style>

<div id="addEditResumeContainer" class="crudContainer">
    <div id="addEditResumeContainerTitle" class="crudContainerTitle"></div>
    <div class="crudArea">
        <div id="errSummary" class="validationError"></div>
        <div class="crudRow">
            <div class="crudRowLabel">Resume Name</div>
            <input id="txtResumeName" class="roundedInput" />
        </div>
        <div>
            <button id="btnResumeAddEdit" class="roundendButton" onclick="mediateResumeAddEditButton()">Add</button>
            <button id="btnResumeNew" class="roundendButton" onclick="mediateResumeNewButton()">New</button>
        </div>
    </div>
    <div id="resumeListLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
    <div id="resumeList" class="crudList"></div>
</div>

<script>
    var resumeModel = {};

    $(document).ready(function () {
        $('#btnResumeNew').hide();
        $('#resumeListLoadingGif').hide();
        $('#addEditResumeContainerTitle').html("Add Edit Resumes for " + personName);
        loadResumeList();
    });

    function mediateResumeAddEditButton() {
        if ($('#btnResumeAddEdit').html() == "Add")
            insertResume();
        else
            updateResume();
    }
    function mediateResumeNewButton() {
        $('#btnResumeAddEdit').html("Add");
        $('#btnResumeNew').hide();
    }

    function loadResumeList() {
        $('#resumeListLoadingGif').show();
        $.ajax({
            type: "GET",
            url: service + "/api/Resume?personId=" + currentUser,
            success: function (resumes) {
                $('#resumeList').html("");
                $.each(resumes, function (idx, resume) {
                    $('#resumeList').append("<div id=" + resume.Id + " class='crudListItem resumeItem'>" + resume.ResumeName + "</div>");
                });

                $('.resumeItem').click(function () {
                    resumeModel.Id = $(this).attr("id");
                    $('#txtResumeName').val($(this).html());
                    $('#btnResumeAddEdit').html("Edit");
                    $('#btnResumeNew').show();
                })

                $('#resumeListLoadingGif').hide();
            }
        })
    }
    function insertResume() {
        resumeModel.ResumeName = $('#txtResumeName').val();
        resumeModel.PersonId = currentUser;
        $.ajax({
            type: "POST",
            url: service + "/api/Resume",
            data: resumeModel,
            success: function (resumeId) {
                if (!resumeId.startsWith("ERROR")) {
                    resumeModel.Id = resumeId;
                    displayStatusMessage("ok", "Resume Added")
                    $('#btnResumeAddEdit').html("Edit");
                    $('#btnResumeNew').show();
                    loadResumeList()
                }
                else
                    alert("insertResume: " + resumeId);
            }
        })
    }
    function updateResume() {
        resumeModel.ResumeName = $('#txtResumeName').val();
        $.ajax({
            type: "PUT",
            url: service + "/api/Resume",
            data: resumeModel,
            success: function (success) {
                if (success=="ok") {
                    displayStatusMessage("ok", "Resume Updated")
                    loadResumeList()
                }
                else
                    alert("updateResume: " + success);
            }
        })
    }

</script>

