
<style>
    #addEditSkillContainer {
        width: 700px;
    }
    #txtSkillName {
        width: 301px;
    }
</style>

<div id="addEditSkillContainer" class="crudContainer">
    <div id="divStatusMessage"></div>
    <div id="crudContainerTitle" class="crudContainerTitle">
        Add Edit Job Skills
        @*<div id="closeIcon" class="closeIcon" onclick="$('#addaJob').hide()"><img src="~/Images/powerOnOffSilver.png" height="24" /></div>*@
    </div>
    <div class="crudArea">
        <div id="errSummary" class="validationError"></div>
        <div class="crudRow">
            <div id="errSkillName" class="validationError">Required</div>
            <div class="crudLabel">Skill</div>
            <input id="txtSkillName" class="roundedInput" />
            <div class="crudLabel">Category</div>
            <select id="ddSkillCats" class="roundedInput"></select>
        </div>
        <div>
            <button id="btnSkillAddEdit" class="roundendButton" onclick="addEditSkill()">Save</button>
            <button id="btnSkillNew" class="roundendButton crudBtnNew" onclick="btnSkillNewToggle()">New</button>
        </div>
    </div>
    <div id="loadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
    <div id="skillList" class="crudList"></div>
</div>

<script>
    var service = '@ViewBag.Service'
    var skillModel = new Object;

    function gajSkillsInititalize() {
        $('#btnSkillNew').hide();
        if ($('#ddSkillCats').html() === "") {
            loadSkillCatsDD();
            loadSkillsList();
        }
    }

    function bindSkill(editSkillModel) {
        skillModel.Id = editSkillModel.Id;
        $('#txtSkillName').val(editSkillModel.SkillName);
        $('#ddSkillCats').val(editSkillModel.SkillCategory);
    }

    function unbindSkill() {
        skillModel.SkillName = $('#txtSkillName').val();
        skillModel.SkillCategory = selectedRefType = $('#ddSkillCats option:selected').attr("value");
    }

    function addEditSkill() {
        if (validate()) {
            unbindSkill();
            if ($('#btnSkillAddEdit').html() == "Save") {
                insertSkill()
            }
            else {
                updateSkill()
            }
        }
    }

    function insertSkill() {
        $.ajax({
            type: "POST",
            url: service + "/api/Skill",
            data: skillModel,
            success: function (success) {
                if (!success.startsWith("ERROR")) {
                    $('#btnSkillAddEdit').html("Edit");
                    $('#btnSkillNew').show();
                    skillModel.Id = success;
                    displayStatusMessage("severityOk", "Job Added");
                    loadSkillsList();
                }
                else {
                    alert("addEditSkill: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addaJob post error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function updateSkill() {
        $.ajax({
            type: "PUT",
            url: service + "/api/skill/",
            data: skillModel,
            success: function (success) {
                if (success == "ok") {
                    $('#btnSkillAddEdit').val("Edit");
                    displayStatusMessage("severityOk", "Skill Edited");
                    loadSkillsList();
                }
                else {
                    alert("Edit Skill: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addaJob put error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function btnSkillNewToggle() {
        $('#btnSkillAddEdit').html("Save");
        $('#btnSkillNew').hide();
        // clear
        skillModel.Id = "";
        $('#txtSkillName').val("");
    }

    function validate() {
        $('#errSummary').hide();

        if ($('#txtSkillName').val() === "") {
            $('#errSkillName').show();
            return false;
        }
        $('#errSkillName').hide();

        return true;
    };

    function loadSkillsList() {
        try {
            $('#loadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/Skill",
                success: function (response) {
                    if (true) {
                        $('#skillList').html("");
                        $.each(response, function (idx, obj) {
                            $('#skillList').append("<div class='crudListItem' CatId=" + obj.SkillCategory + " id=" + obj.Id + " >" + obj.SkillCategoryDescription + " | " + obj.SkillName + "</div>");
                        })

                        $('#loadingGif').hide();

                        $('.crudListItem').click(function () {
                            //alert("this.id" + $(this).attr("Id"));
                            loadSkillsEditor($(this).attr("id"));
                        });
                    }
                    else {
                        alert("getjobs: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("addaJob post error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("get jobs CATCH: " + e)
        }
    }

    function loadSkillsEditor(Id) {
        $.ajax({
            type: "GET",
            url: service + "/api/Skill?skillId=" + Id,
            success: function (response) {
                if (!response.SkillName.startsWith("ERROR")) {
                    bindSkill(response);
                    $('#btnSkillAddEdit').html("Edit");
                    $('#btnSkillNew').show();
                }
                else {
                    alert("get skills: " + response.Id )
                }
            },
            error: function (jqXHR, exception) {
                alert("loadSkillsEditor xhr error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function loadSkillCatsDD() {
        try {
            $.ajax({
                type: "GET",
                //dataType: "Json",
                url: service + "/api/GAJRef/Get?refType=SKL",
                success: function (result) {


                    $('#ddSkillCats').html("<option class= 'ddOption' value ='0'>-- select a job skill category --</option >");
                    $.each(result, function (idx, obj) {
                        $('#ddSkillCats').append("<option class='ddOption' value='" + obj.RefCode + "'>" + obj.RefDescription + "</option>");
                    });

                    //$('#ddSkillCats').change(function () {
                    //    selectedRefType = $('#ddSkillCats option:selected').attr("value")
                    //    getRefs($('#ddSkillCats option:selected').val());
                    //});

                },
                error: function (jqXHR, exception) {
                    alert("loadRefTypesDD xhr error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("severityError", "catch ERROR: " + e);
            alert("loadRefTypesDD catch: " + e);
        }
    }

</script>


