
<style>
    #txtCompany {
        width: 350px;
    }
    /*default overrides*/
    .roundedInput {
        margin-bottom: 4px;
        margin-right: 11px;
        display: inline-block;
    }

    .jobListItem {
        background-color: #74bac3;
        margin: 4px;
        cursor: pointer;
        padding: 6px 20px;
    }

    .valignMiddle {
        vertical-align: middle;
    }
</style>

<div class="flexContainer">
    <div class="floatLeft">
        <div id="addEditJobContainer" class="crudContainer">
            <div id="crudContainerTitle" class="crudContainerTitle">Add A Lost Job</div>
            <div class="crudArea">
                <div id="errSummary" class="validationError"></div>
                <div class="crudRow">
                    <div id="errStartYear" class="validationError">Start Year Required</div>
                    <div id="errStartMonth" class="validationError">Start Month Required</div>
                    <div class="crudRowLabel">Start</div>
                    <div class="inline alignMiddle">Month</div>
                    <input id="txtStartMonth" class="roundedInput inline width50px" />
                    <div class="inline valignMiddle">Year</div>
                    <input id="txtStartYear" class="roundedInput inline width50px" />
                    <div class="crudRowLabel">Ended</div>
                    <div class="inline valignMiddle">Month</div>
                    <div id="errFiredMonth" class="validationError">Required</div>
                    <input id="txtFiredMonth" class="roundedInput inline width50px" />
                    <div class="inline valignMiddle">Year</div>
                    <div id="errFiredYear" class="validationError">Required</div>
                    <input id="txtFiredYear" class="roundedInput inline width50px" />
                </div>
                <div class="crudRow">
                    <div class="crudRowLabel">Company</div>
                    <div id="errCompany" class="validationError">Company Required</div>
                    <div id="errJobTitle" class="validationError">Title Required</div>
                    <input id="txtCompany" class="roundedInput" />
                </div>
                <div class="crudRow">
                    <div class="crudRowLabel">Job Title</div>
                    <input id="txtJobTitle" class="roundedInput inline" />
                    <div class="crudLabel inline">Location</div>
                    <div id="errLocation" class="validationError">Location Required</div>
                    <input id="txtLocation" class="roundedInput inline" />
                </div>
                <div>
                    <div class="crudRowLabel"><input id="radioPublic" type="radio">  Summary  <input id="radioFired" type="radio" >  Secret    </div>
                </div>
                <div id="jobSummaryEditor" class="editorContainer">
                    @Html.Partial("_Editor")
                    <div id="editorLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
                </div>
                <div>
                    <div id="divStatusMessage"></div>
                    <button id="btnJobAddEdit" class="roundendButton" onclick="medeiateJobAddEditButton()">Add</button>
                    <button id="btnJobNew" class="roundendButton crudBtnNew" onclick="mediateJobNewButton()">New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="floatLeft">
        <div class="crudContainer">
            <div id="JobListTitle" class="crudContainerTitle">Job List</div>
            <div id="lostJobsLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
            <div id="jobList" class="crudList"></div>
        </div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service'
    var currentUser = '@ViewBag.UserId'
    var jobModel = new Object;

    $(document).ready(function () {
        $('#jobSummaryEditor').summernote({
            height: 250,
            codemirror: {
                lineWrapping: true,
                mode: "htmlmixed",
                theme: "monokai"
            },
            toolbar: [
                ['codeview'],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontname', 'fontsize']],
                //['insert', ['picture', 'link', 'video', 'table', 'hr']],
                ['color', ['color']]
                //['para', ['ul', 'ol', 'paragraph']],
                //['height', ['height']]
            ]
        });
    });

    function lostJobsInitialize() {
        if ($('#jobList').html() === "")
            getLostJobs();
        mediateJobNewButton();
    }

    function addNewLostJob() {
        $('#editorLoadingGif').show();
        $.ajax({
            type: "POST",
            url: service + "/api/LostJob",
            data: jobModel,
            success: function (success) {
                if (!success.startsWith("ERROR")) {
                    jobModel.Id = success;
                    displayStatusMessage("ok", "Job Added");
                    $('#btnJobAddEdit').html("Update");
                    $('#btnJobNew').show();
                    getLostJobs();
                    $('#editorLoadingGif').hide();
              }
                else {
                    alert("addEditJob: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addEditJob post error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function updateLostJob() {
        $('#editorLoadingGif').show();
        $.ajax({
            type: "PUT",
            url: service + "/api/LostJob",
            data: jobModel,
            success: function (success) {
                if (success == "ok") {
                    displayStatusMessage("ok", "Job Edited");
                    getLostJobs();
                    $('#editorLoadingGif').hide();
                }
                else {
                    alert("Edit Job: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addEditJob put error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function medeiateJobAddEditButton() {
        if (validateJobs()) {
            //unbindJobs();
            jobModel.PersonId = currentUser;
            jobModel.StartMonth = $('#txtStartMonth').val();
            jobModel.StartYear = $('#txtStartYear').val();
            jobModel.FiredMonth = $('#txtFiredMonth').val();
            jobModel.FiredYear = $('#txtFiredYear').val();
            jobModel.JobTitle = $('#txtJobTitle').val();
            jobModel.JobLocation = $('#txtLocation').val();
            jobModel.Employer = $('#txtCompany').val();
            jobModel.Summary = $('#jobSummaryEditor').summernote('code');

            if ($('#btnJobAddEdit').html() == "Add") {
                addNewLostJob();
            }
            else {
                updateLostJob();
            }
        }
    }

    function mediateJobNewButton() {
        $('#btnJobAddEdit').html("Add");
        $('#btnJobNew').hide();
        // clear
        jobModel.Id = "";
        $('#txtStartMonth').val("");
        $('#txtStartYear').val("");
        $('#txtFiredMonth').val("");
        $('#txtFiredYear').val("");
        $('#txtJobTitle').val("");
        $('#txtLocation').val("");
        $('#txtCompany').val("");
        $('#jobSummaryEditor').summernote('code', "");
        $('#txtSummary').val("");
    }

    function validateJobs() {
        $('#errSummary').hide();

        if ($('#txtStartMonth').val() === "") {
            $('#errStartMonth').show();
            return false;
        }
        $('#errStartMonth').hide();

        if ($('#txtStartYear').val() === "") {
            $('#errStartYear').show();
            return false;
        }
        $('#errStartYear').hide();

        //if ($('#txtFiredMonth').val() === "") {
        //    $('#errFiredMonth').show();
        //    return false;
        //}
        //$('#errFiredMonth').hide();

        //if ($('#txtFiredYear').val() === "") {
        //    $('#errFiredYear').show();
        //    return false;
        //}
        //$('#errFiredYear').hide();

        if ($('#txtJobTitle').val() === "") {
            $('#errJobTitle').show();
            return false;
        }
        $('#errJobTitle').hide();

        if ($('#txtCompany').val() === "") {
            $('#errCompany').show();
            return false;
        }
        $('#errCompany').hide();

        if ($('#txtLocation').val() === "") {
            $('#errLocation').show();
            return false;
        }
        $('#errLocation').hide();

        //if ($('#txt').val() === "") {
        //    $('#err').show();
        //    return false;
        //}
        //$('#err').hide();

        return true;
    };

    function getLostJobs() {
        try {
            $('#lostJobsLoadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/LostJob?personId=" + currentUser,
                success: function (response) {
                    if (true) {
                        $('#jobList').html("");
                        $.each(response, function (idx, obj) {
                            $('#jobList').append("<div class='jobListItem' id=" + obj.Id + ">" + obj.StartMonth + ", " + obj.StartYear + "  " + obj.Employer + " " + obj.JobLocation + "</div>");
                        })
                        $('.jobListItem').click(function () {
                            loadJobsEditor($(this).attr("id"));
                        });
                        $('#lostJobsLoadingGif').hide();
                    }
                    else {
                        alert("getLostJobs: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("addEditJob XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("get jobs CATCH: " + e)
        }
    }

    function loadJobsEditor(Id) {
        $.ajax({
            type: "GET",
            url: service + "/api/LostJob?jobId=" + Id,
            success: function (response) {
                if (!response.Summary.startsWith("ERROR")) {
                    //bindJobs(response);
                    jobModel.Id = Id;
                    $('#txtStartMonth').val(response.StartMonth);
                    $('#txtStartYear').val(response.StartYear);
                    $('#txtFiredMonth').val(response.FiredMonth);
                    $('#txtFiredYear').val(response.FiredYear);
                    $('#txtJobTitle').val(response.JobTitle);
                    $('#txtLocation').val(response.JobLocation);
                    $('#txtCompany').val(response.Employer);
                    $('#jobSummaryEditor').summernote('code', response.Summary);

                    $('#btnJobAddEdit').html("Update");
                    $('#btnJobNew').show();
                }
                else {
                    alert("loadJobsEditor: " + response.Id )
                }
            },
            error: function (jqXHR, exception) {
                alert("loadJobsEditor XHR error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

</script>


