<style>
    #divAgenciesCrudContainer {
        /*            
            width: 750px;
        */
    }

    .crudRow {
        padding-left: 22px;
    }

    .crudDetailRow {
        display: none;
    }

    .littleCaret {
        height: 15px;
        margin-left: 14px;
        cursor: pointer;
    }
</style>

<div class="flexContainer">
    <div class="floatLeft">
        <div id="divAgenciesCrudContainer" class="crudContainer">
            <div class="crudContainerTitle">Agency</div>
            <div class="crudRow">
                <div class="crudRowLabel">Agency:</div>
                <div id="errSummary" class="validationError"></div>
                <div id="errCompanyName" class="validationError">Required</div>
                <input id="txtCompanyName" class="roundedInput wide" />
                <select id="ddAgencies" class="roundedInput"></select>
                <img id="imgAgencyDetails" class="littleCaret" src="~/Images/caretDown.png" onclick="$('#divAgencyDetails').toggle(); toggleCaret('Agency')" />
            </div>
            <div id="divAgencyDetails" class="crudDetailRow">
                <div class="crudRow">
                    <div class="crudRowLabel">Address:</div>
                    <input id="txtCompanyAddress" class="roundedInput inline" />
                    <div class="crudLabel inline"> Zip:   </div>
                    <input id="txtCompanyZip" class="roundedInput inline" />
                </div>
                <div class="crudRow">
                    <div class="crudRowLabel">Email:</div>
                    <input id="txtAgencyEmail" class="roundedInput inline" />
                    <div class="crudLabel  inline">Phone:</div>
                    <input id="txtAgencyPhone" class="roundedInput inline" />
                    <div class="crudLabel  inline">Website:</div>
                    <input id="txtAgencyWebsite" class="roundedInput" />
                </div>
            </div>
            <div class="crudRow">
                <div class="roundendButton inline" id="btnAgencyAddEdit" onclick="addEditAgency()">Add</div>
                <div class="roundendButton inline" id="btnAgencyToggle" onclick="agencyToggle()">New</div>
            </div>
        </div>
        <div id="divHeadHunters" class="crudContainer">
            <div class="crudContainerTitle">Agent</div>
            <div class="crudRow">
                <div class="crudRowLabel">Agent:</div>
                <div id="errAgentFName" class="validationError">Required</div>
                <input id="txtAgentFName" class="roundedInput" />
                <div id="errAgentLName" class="validationError">Required</div>
                <input id="txtAgentLName" class="roundedInput" />
                <img id="imgAgentDetails" class="littleCaret" src="~/Images/caretDown.png" onclick="$('#divAgentDetails').toggle(); toggleCaret('Agent')" />

            </div>
            <div id="divAgentDetails" class="crudDetailRow">
                <div class="crudRow">
                    <div class="crudRowLabel">Email:</div>
                    <input id="txtAgentEmail" class="roundedInput inline" />
                    <div class="crudLabel inline">Office Phone:</div>
                    <input id="txtAgentPhone" class="roundedInput inline" />
                    <div class="crudLabel inline">Mobile:</div>
                    <input id="txtAgentCell" class="roundedInput inline" />
                </div>
            </div>
            <div class="crudRow">
                <div class="roundendButton inline" id="btnAgentAddEdit" onclick="addEditAgent()">Add</div>
                <div class="roundendButton inline" id="btnAgentToggle" onclick="agentToggle()">New</div>
            </div>
        </div>
    </div>
    <div class="floatLeft">
        <div id="agencyListContainer" class="crudContainer">
            <div class="crudContainerTitle">Agencies</div>
            <div id="divAgencyList" class="crudItemsList"></div>
        </div>
        <div id="agentListContainer" class="crudContainer">
            <div class="crudContainerTitle">Agents</div>
            <div id="divAgentList" class="crudItemsList"></div>
        </div>
    </div>
</div>

<script>
    var agentObject = new Object();
    var agencyObject = new Object();

    $(document).ready(function () {
        $('#btnAgencyToggle').hide();
        $('#btnAgentToggle').hide();
    });

    function toggleCaret(which) {
        if (which == 'Agency') {
            if ($('#divAgencyDetails').is(':visible'))
                $('#imgAgencyDetails').attr('src', '/Images/caretUp.png');
            else
                $('#imgAgencyDetails').attr('src', '/Images/caretDown.png');
        }
        if (which == 'Agent') {
            if ($('#divAgentDetails').is(':visible'))
                $('#imgAgentDetails').attr('src', '/Images/caretUp.png');
            else
                $('#imgAgentDetails').attr('src', '/Images/caretDown.png');
        }
    }

    function agencyToggle() {
        $('#btnAgencyAddEdit').html("Add")
        $('#btnAgencyToggle').hide();
        //cleargets
        $('#txtCompanyName').val("");
        $('#txtCompanyZip').val("");
        $('#txtCompanyAddress').val("");
        $('#txtAgencyEmail').val("");
        $('#txtAgencyPhone').val("");
        $('#txtAgencyWebsite').val("");
    }
    function bindAgency() {
        try {
            agencyObject.CompanyName = $('#txtCompanyName').val();
            agencyObject.CompanyZip = $('#txtCompanyZip').val();
            agencyObject.CompanyAddress = $('#txtCompanyAddress').val();
            agencyObject.Email = $('#txtAgencyEmail').val();
            agencyObject.Phone = $('#txtAgencyPhone').val();
            agencyObject.Website = $('#txtAgencyWebsite').val();

        } catch (e) {
            alert("bindAgency: " + e);
        }
    }
    function validateAgency() {
        $('#errSummary').hide();
        if ($('#txtCompanyName').val() === "") {
            $('#txtCompanyName').show();
            return false;
        }
        return true;
    }
    function addEditAgency() {
        if ($('#btnAgencyAddEdit').html() == "Add") {
            if (validateAgency()) {
                bindAgency();
                $.ajax({
                    type: "POST",
                    data: agencyObject,
                    url: service + "api/Agency",
                    success: function (success) {
                        if (!success.startsWith("ERROR")) {
                            agencyObject.Id = success;
                            $('#btnAgencyAddEdit').html("Update")
                            $('#btnAgencyToggle').show();
                            loadAgencyList();
                        }
                        else
                            alert("post agency: " + success);
                    },
                    error: function (jqXHR, exception) {
                        alert("post agency XHR error: " + getXHRErrorDetails(jqXHR, exception));
                    }
                })
            }
        }
        if ($('#btnAgencyAddEdit').html() == "Update") {
            if (validateAgency()) {
                bindAgency();
                $.ajax({
                    type: "PUT",
                    data: agencyObject,
                    url: service + "api/Agency",
                    success: function (success) {
                        if (success == "ok") {
                            loadAgencyList();
                            displayStatusMessage("ok", "Agency updated");
                        }
                        else
                            alert("put agent: " + success);
                    },
                    error: function (jqXHR, exception) {
                        alert("put agent XHR error: " + getXHRErrorDetails(jqXHR, exception));
                    }
                })
            }
        }
    }
    function loadAgencyList() {
        $.ajax({
            type: "GET",
            url: service + "/api/Agency",
            success: function (results) {
                $('#divAgencyList').html("");
                $.each(results, function (idx, agency) {
                    //$('divAgencyList').append("<div class=''>" + agent.AgentFName + " " + agent.AgentLName + "</div>");
                    $('#divAgencyList').append("<div id=" + agency.Id + " class='crudListItem agencyListItem'>" + agency.CompanyName + " " + agency.CompanyAddress + "</div>");
                })

                $('.agencyListItem').click(function () {
                    loadAgency($(this).attr("id"));
                })
            },
            error: function (jqXHR, exception) {
                alert("loadAgencyList XHR error: " + getXHRErrorDetails(jqXHR, exception));
            }
        })
    }
    function loadAgency(id) {
        $.ajax({
            type: "GET",
            url: service + "/api/Agency/GetOne?id=" + id,
            success: function (result) {
                agencyObject.Id = id;
                // unbind
                $('#txtCompanyName').val(result.CompanyName);
                $('#txtCompanyZip').val(result.CompanyZip);
                $('#txtCompanyAddress').val(result.CompanyAddress);
                $('#txtAgencyEmail').val(result.Email);
                $('#txtAgencyPhone').val(result.Phone);
                $('#txtAgencyWebsite').val(result.Website);

                $('#btnAgencyAddEdit').html("Update")
                $('#btnAgencyToggle').show();
                loadAgentList();
            },
            error: function (jqXHR, exception) {
                alert("getOne agency XHR error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function agentToggle() {
        $('#btnAgentAddEdit').html("Add")
        $('#btnAgentToggle').hide();
        //clear gets
        $('#txtAgentFName').val("");
        $('#txtAgentLName').val("");
        $('#txtAgentEmail').val("");
        $('#txtAgentPhone').val("");
        $('#txtAgentCell').val("");
    }
    function bindAgent() {
        agentObject.AgencyId = agencyObject.Id;
        agentObject.FName = $('#txtAgentFName').val();
        agentObject.LName = $('#txtAgentLName').val();
        agentObject.Email = $('#txtAgentEmail').val();
        agentObject.Phone = $('#txtAgentPhone').val();
        agentObject.Cell = $('#txtAgentCell').val();
    }
    function validateAgent() {
        $('#errSummary').hide();
        if (isNullorUndefined($('#txtAgentFName').val())) {
            $('#errAgentFName').show();
            return false;
        }
        $('#errAgentFName').hide();
        
        if (isNullorUndefined($('#txtAgentLName').val())) {
            $('#errAgentLName').show();
            return false;
        }
        $('#errAgentLName').hide();
        return true;
    }
    function addEditAgent() {
        if (agencyObject.Id == null)
            showCustomMessage("Agency Id needed", "please specify Agency");
        else {

            //alert("$('#btnAgentAddEdit').html(): " + $('#btnAgentAddEdit').html())

            if ($('#btnAgentAddEdit').html() == "Add") {
                if (validateAgent()) {
                    bindAgent();
                    $.ajax({
                        type: "POST",
                        data: agentObject,
                        url: service + "api/HeadHunter",
                        success: function (success) {
                            if (!success.startsWith("ERROR")) {
                                agentObject.Id = success;
                                $('#btnAgentAddEdit').html("Update")
                                $('#btnAgentToggle').show();
                                displayStatusMessage("ok", "agent added");
                                loadAgentList();
                            }
                            else
                                alert("post agent: " + success);
                        },
                        error: function (jqXHR, exception) {
                            alert("post agent XHR error: " + getXHRErrorDetails(jqXHR, exception));
                        }
                    })
                }
            }
            if ($('#btnAgentAddEdit').html() == "Update") {
                if (validateAgent()) {
                    bindAgent();
                    $.ajax({
                        type: "PUT",
                        data: agentObject,
                        url: service + "api/HeadHunter",
                        success: function (success) {
                            if (success == "ok") {
                                loadAgentList();
                            }
                            else
                                alert("put agent: " + success);

                        },
                        error: function (jqXHR, exception) {
                            alert("put agent XHR error: " + getXHRErrorDetails(jqXHR, exception));
                        }
                    })
                }
            }
        }
    }
    function loadAgentList() {
        //alert("url: " + service + "/api/HeadHunter/GetMany?agencyId=" + agencyObject.Id);
        $.ajax({
            type: "GET",
            url: service + "/api/HeadHunter/GetMany?agencyId=" + agencyObject.Id + "&patch=kludge",
            success: function (results) {
                $('#divAgentList').html("");
                $.each(results, function (idx, agent) {
                    $('#divAgentList').append("<div id=" + agent.Id + " class='crudListItem agentListItem'>" + agent.FName + " " + agent.LName + " " + agent.Cell + "</div>");
                })

                $('.agentListItem').click(function () {
                    loadAgent($(this).attr("id"));
                })
            },
            error: function (jqXHR, exception) {
                alert("loadAgentList XHR error: " + getXHRErrorDetails(jqXHR, exception));
            }
        })
    }
    function loadAgent(id) {

       // alert("loadAgent(id)  id:" + id);

        $.ajax({
            type: "GET",
            url: service + "/api/HeadHunter/GetOne?id=" + id,
            success: function (result) {
                agentObject.Id = id;
                // unbind
                $('#txtAgentFName').val(result.FName);
                $('#txtAgentLName').val(result.LName);
                $('#txtAgentEmail').val(result.Email);
                $('#txtAgentPhone').val(result.Phone);
                $('#txtAgentCell').val(result.Cell);

                $('#btnAgentAddEdit').html("Update")
                $('#btnAgentToggle').show();
            },
            error: function (jqXHR, exception) {
                alert("getOne agency XHR error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

</script>
