<link href="~/Styles/bFooter.css" rel="stylesheet" />
<div id="footer" class="Footer">
    <div class="footerCol">
        <div><a href="~/Home/Index">Articles</a></div>
        <div><a href="~/Book/MyBooks">Book</a></div>
        <div><a href="~/Home/Index">Personal</a></div>
        <div><a href="~/Home/Apps">Apps</a></div>

    </div>
    <div class="footerCol">
        <div><a href="#">About us</a></div>
        <div><a href="mailto:curtishrhodes@hotmail.com">Love Letters</a></div>
        <div><a href="mailto:curtis,rhodes@gmail.com">Death Threats</a></div>
        <div><a href="#">Archive</a></div>
    </div>
    <div class="footerCol">
        <div><a href="#">Site Map</a></div>
        <div><a href="#">Search</a></div>
        <div><a href="#">Research</a></div>
        <div><a href="#">Advertize</a></div>
    </div>
    <div id="footerFooter">
        <span id="footerMessage"></span>
        <div id="copyright">
            &copy; @DateTime.Now.Year - Intelligent Design SoftWare
        </div>
    </div>
</div>

<div id="fb-root"></div>
