<link href="~/Styles/CrudEdit.css" rel="stylesheet" />

<div class="flexContainer">
    <div class="floatLeft">
        <div id="addaJob" class="crudContainer">
            <div id="divStatusMessage"></div>
            <div id="crudContainerTitle" class="crudContainerTitle">Add/Edit Resume Sections</div>

            <div class="crudArea">
                <div id="errSummary" class="validationError"></div>
                <div class="crudRow">
                    <div class="attrName">Section Title</div>
                    <input id="txtSectionTitle" class="roundedInput" />
                </div>
                <div class="crudRow">
                    <div class="attrName">Section Name</div>
                    <input id="txtSectionName" class="roundedInput" />
                </div>
                <div class="crudRow">
                    @Html.Partial("_Editor");
                </div>
                <div>
                    <button id="btnSectionAddEdit" class="roundendButton" onclick="addEditSection()">Save</button>
                    <button id="btnSectionNew" class="roundendButton crudBtnNew" onclick="btnSectionNewToggle()">New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="floatLeft">
        <div id="resumeContainer" class="crudContainer">
            <div id="JobListTitle" class="crudContainerTitle">Resume</div>
            <div id="resumeSetionContainer"></div>


        </div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service'
    var resumeSectionModel = new Object;
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 250,
            codemirror: { mode: "htmlmixed", theme: "monokai" },
            toolbar: [
                ['codeview'],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontname', 'fontsize']],
                //['insert', ['picture', 'link', 'video', 'table', 'hr']],
                ['color', ['color']]
                //['para', ['ul', 'ol', 'paragraph']],
                //['height', ['height']]
            ]
        });
    });

    function bindSection(editSkillModel) {
        resumeSectionModel.Id //= editJobModel.Id;
        $('#txtSectionName').val(resumeSectionModel.SectionlName);
        $('#txtSectionTitle').val(resumeSectionModel.SectionTitle);
        $('#summernote').summernote('code', resumeSectionModel.SectionContents);
    }

    function unbindSkill() {
        resumeSectionModel.sectionName = $('#txtSectionName').val();
        resumeSectionModel.SectionTitle = $('#txtSectionTitle').val();
        resumeSectionModel.SectionContents = jobModel.Summary = $('#summernote').summernote('code');
    }

    function addEditSection() {
        if (validate()) {
            unbindSkill();
            if ($('#btnSkillAddEdit').html() == "Save") {
                $.ajax({
                    type: "POST",
                    url: service + "/api/Section",
                    data: resumeSectionModel,
                    success: function (success) {
                        if (!success.startsWith("ERROR")) {
                            $('#btnSkillAddEdit').html("Edit");
                            $('#btnSkillNew').show();
                            skillModel.Id = success;
                            displayStatusMessage("severityOk", "Job Added");
                            getSkills();
                        }
                        else {
                            alert("addEditSkill: " + success)
                        }
                    },
                    error: function (jqXHR, exception) {
                        alert("addaJob post error: " + getXHRErrorDetails(jqXHR, exception));
                    }
                });
            }
            else {
                $.ajax({
                    type: "PUT",
                    url: service + "/api/skill/",
                    data: skillModel,
                    success: function (success) {
                        if (success == "ok") {
                            $('#btnSkillAddEdit').val("Edit");
                            displayStatusMessage("severityOk", "Skill Edited");
                        }
                        else {
                            alert("Edit Skill: " + success)
                        }
                    },
                    error: function (jqXHR, exception) {
                        alert("addaJob put error: " + getXHRErrorDetails(jqXHR, exception));
                    }
                });
            }
        }
    }

    function btnSectionNewToggle() {
        $('#btnSkillAddEdit').html("Save");
        $('#btnSkillNew').hide();
        // clear
        skillModel.Id = "";
        $('#txtSkillName').val("");
    }

    function validate() {
        $('#errSummary').hide();

        if ($('#txtSkillName').val() === "") {
            $('#errSkillName').show();
            return false;
        }
        $('#errSkillName').hide();

        return true;
    };

    function getSections() {
        try {
            $('#loadingGif').show();

        $.ajax({
            type: "GET",
            url: service + "/api/Skill",
            success: function (response) {
                if (true) {
                    $('#skillList').html("");
                    $.each(response, function (idx, obj) {
                        $('#skillList').append("<div class='crudListItem' >" + obj.SkillName + "</div>");
                    })

                    $('#loadingGif').hide();

                    $('#jobList tr').click(function () {
                        //alert("this.id" + $(this).attr("id"));
                        loadSkillsEditor($(this).attr("id"));
                    });
                }
                else {
                    alert("getjobs: " + success)
                }
            },
            error: function (jqXHR, exception) {
                alert("addaJob post error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
        } catch (e) {
            alert("get jobs CATCH: " + e)
        }
    }







    function loadSkillsEditor(Id) {
        $.ajax({
            type: "GET",
            url: service + "/api/Skill?skillId=" + Id,
            success: function (response) {
                if (!response.Id.startsWith("ERROR")) {
                    bindSkill(response);
                    $('#btnSkillAddEdit').html("Edit");
                    $('#btnSkillNew').show();
                }
                else {
                    alert("get skills: " + response.Id )
                }
            },
            error: function (jqXHR, exception) {
                alert("loadSkillsEditor xhr error: " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function loadSkillCatsDD() {
        try {
            $.ajax({
                type: "GET",
                dataType: "Json",
                url: service + "/api/Ref/Get?refType=SKL",
                success: function (result) {
                    $('#ddSkillCats').html("<option class= 'ddOption' value ='0'>-- select a ref type --</option >");
                    $.each(result, function (idx, obj) {
                        $('#ddSkillCats').append("<option class='ddOption' value='" + obj.RefCode + "'>" + obj.RefDescription + "</option>");
                    });

                    //$('#ddSkillCats').change(function () {
                    //    selectedRefType = $('#ddSkillCats option:selected').attr("value")
                    //    getRefs($('#ddSkillCats option:selected').val());
                    //});

                },
                error: function (jqXHR, exception) {
                    alert("loadRefTypesDD xhr error: " + getXHRErrorDetails(jqXHR, exception));
                },
            });
        } catch (e) {
            //displayStatusMessage("severityError", "catch ERROR: " + e);
            alert("loadRefTypesDD catch: " + e);
        }
    }

</script>



