
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/GetaJob/_GetaJobLayout.cshtml";
}

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <h2>Get a Job</h2>
    </div>
    <div id="rightColumn">
    </div>
</div>
