
@{
    ViewBag.Title = "JobSearch";
    Layout = "~/Views/GetaJob/_GetaJobLayout.cshtml";
}


@*<link href="~/Styles/default.css" rel="stylesheet" />
<link href="~/Styles/crudEdit.css" rel="stylesheet" />
<link href="~/Styles/admin.css" rel="stylesheet" />*@

@*<style>
    .leftMiddleColumn {
        float: left;
        display: flex;
        border-right: solid thin purple;
        width: 200px;
        height: 100%;
    }

    .middleMiddleColumn {
        float: left;
    }

    .pageTitle {
        text-align: center;
    }

    #rightColumn {
        border-left: solid thin purple;
    }
</style>*@

@*<div class="pageTitle">Job Searches</div>
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="vertMenu">
            <div class="vertMenuTab" id="optJobSearch" onclick="showOption('JobSearch')">Add Job Search</div>
            <div class="vertMenuTab" id="optActivity"  onclick="showOption('SearchActivity')">Add Job Search Activity</div>
            <div class="vertMenuTab" id="optResume">Edit Resume</div>
            <div class="vertMenuTab" id="optSkills">Add Skills</div>
        </div>
    </div>
    <div id="middleColumn">

        <div id="divSearchActivity" class="crudContainer">
            <div class="crudContainerTitle">Job Searches</div>
            <div class="crudArea">
                <div class="crudRow">
                    <div class="crudRowLabel">Start:</div>
                    <input id="txtSearchStart" class="roundedInput" placeholder="11/11/18" />
                    <div class="crudRowLabel">Search Name:</div>
                    <input id="txtSearchName" class="roundedInput" placeholder="name" />
                    <div class="crudRowLabel">End:</div>
                    <input id="txtSearchEnd" class="roundedInput" />
                </div>
                <div>
                    <div class="roundendButton inline" id="btnJobSearchAddEdit" onclick="addEditSearch()">Add</div>
                    <div class="roundendButton inline" id="btnJobSearchToggle" onclick="searchToggle()">New</div>
                </div>
            </div>
            <div id="jobSearchList" class="itemsList"></div>
        </div>


    </div>
    <div id="rightColumn"></div>
</div>*@



