
@{
    ViewBag.Title = "ResumeAdmin";
    Layout = "~/Views/GetaJob/_GetaJobLayout.cshtml";
}

<link href="~/Styles/admin.css" rel="stylesheet" />
<style>
    .adminOptionContainer {
        width: 1000px;
    }
</style>
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="vertMenu">
            <div class="vertMenuTab" id="optAddJobs">Add Jobs</div>
            <div class="vertMenuTab" id="optAddSkills">Add Skills</div>
            <div class="vertMenuTab" id="optRefEditor">Resume Section</div>
            <div class="vertMenuTab" id="optArticleClass">Skill Categories</div>
            <div class="vertMenuTab" id="optShowSiteStats">Job Skills</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div class="adminOptionContainer">
            <div id="tabAddJobs" class="adminOption">
                @Html.Partial("_AddEditJobs")
            </div>
            <div id="tabAddSkills" class="adminOption">
            </div>
            <div id="tabRefEditor" class="adminOption">
            </div>
            <div id="tabArticleClass" class="adminOption">
            </div>
            <div id="tabShowSiteStats" class="adminOption">
                <div class="adminOptionTitle">Site Stats</div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';

    $(document).ready(function () {
        $('.vertMenuTab').mouseout(function () {
            $(this).css('background-color', '#74bac3').css('color', '#000');
        });
        $('.vertMenuTab').mouseover(function () {
            $(this).css('background-color', '#4163aa').css('color', '#e4e4e4');
        });
    });

    // Roles
    $("#optAddJobs").click(function () {
        $('.adminOption').hide();
        $('#tabAddJobs').show();
        //$('#btnRoleToggle').hide();
        //if ($('#divRoleList').html() === "")
            getJobs();
    })

    // article Classifications
    $("#optArticleClass").click(function () {
        $('.adminOption').hide();
        $('#tabArticleClass').show();
        $('#btnArticleClassToggle').hide();
        if ($('#divArticleClassList').html() === "")
            GetArticleClasses();
    })


    // author Avatars
    $("#optShowSiteStats").click(function () {
        $('.adminOption').hide();
        $('#tabShowSiteStats').show();
    })

    // my famous Ref Editor
    $("#optRefEditor").click(function () {
        $('.adminOption').hide();
        $('#tabRefEditor').show();
        setRefsInititalState()
    })

    // person / role grid
    $("#optAssignRoles").click(function () {
        $('.adminOption').hide();
        $('#tabAssignRoles').show();
        setInititalState();
    });

</script>

