
:root {
    --brucheumBlue: #74bac3;
    --oggleBackgroundColor: #fef; /* #f7eef7 #fef  #b081b1 #f8e8e8 */
    --oggleContainerBackgroundColor: #e3cedd; /*#f8e8e8 */
    --oggleBorderColor: #555;
    --ogglePurple: #79078f;
    --normalFont: 17px;
    --ogglgeTitleColor: #7f2c8f;
    --ogglgeSubTitleColor: #490157;
    --thumbnailBorderColor: #ff00dc;
    --ogglgeHeaderBarColor: #00ffff; /*#c79bbe*/
    --oggleHeaderBoarderTop: #40767d 3px solid;
    --oggleHeaderBackgroundColor: #74bac3;
    --oggleHeaderBoarderBottom: #decd6f 11px solid;
}
