body {
    background-color: #fef; /*#b081b1*/
    font-family: Verdana;
    box-sizing: border-box;
}

.RenderBody {
    border-top: solid 8px #511783;
}

.threeColumnArray {
    width: 100%;
    display: flex;
}

    .threeColumnArray #leftColumn {
        float: left;
        min-width: 7%;
    }

    .threeColumnArray #middleColumn {
        float: left;
        width: 100%;
    }

    .threeColumnArray #rightColumn {
        float: right;
        min-width: 7%;
    }

.centeredDivShell {
    position: absolute;
    left: 50%;    
}

.centeredDivInner {
    position: relative;
    left: -50%;    
}

.pageTitle {
    font-size: 33px;
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer;
}

.divBreadCrumbs {
    margin-bottom: 4px;
    display: flex;
}

.activeBreadCrumb {
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 10px;
    font-weight: bold;
    float: left;
}

.slideShowBreadCrub {
    font-size: smaller;
    float: right;
}

.loadingGif {
    position: absolute;
    display: none;
}

    .loadingGif img {
        height: 45px;
    }

#modalContainer {
    z-index: 6; /* Sit on top */
}
.tittymenu {
    display: none;
}
#divStatusMessage {
    margin: 4px 0;
    width: 100%;
    font-size: 18px;
    margin-bottom: 3px;
    padding: 4px;
    display: none;
}

.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.alegro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    padding: 10px;
}

.customMessageTitleBar {
    background-color: #c79bbe;
    color: black;
    width: 100%;
    display: inline-flex;
}

.customMessageTitleText {
    font-size: 21px;
    padding: 4px;
    text-align: center;
    width: 92%;
}

.customMessageCloseButton {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 11px;
}


label {
    font-weight: bold;
    font-size: smaller;
    margin: 5px;
}

.roundendButton {
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    /*height: 32px;*/
    padding: 2px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.fullCenterImage {
    width: 100%;
    cursor: pointer;
}

.severityOk {
    background-color: rgba(88, 139, 108, 0.75);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.btnSpinnerImage {
    position: absolute;
    /*margin-left: 10px;*/
    height: 20px;
    display: none;
}

.floatLeft {
    float: left;
}

.floatLeftFifty {
    float: left;
    width: 45%;
    margin-right: 11px;
}

.width100 {
    width: 100%
}

.collapsible {
    display: none;
    cursor: pointer;
}

.noFloat {
    clear: both;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.flexContainer {
    display: flex;
}

.roundendButton {
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}



.roundedInput {
    height: 32px;
    padding: 3px 6px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btnSpinnerImage {
    position: absolute;
    /*margin-left: 10px;*/
    height: 20px;
    display: none;
}
#modalContainer {
    z-index: 6; /* Sit on top */
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.validationError {
    display: none;
    color: red;
    font-style: italic;
}

.streach {
    width: 100%;
    margin-right: 35px;
}

.dirTreeDropDown {
    margin-top: 22px;
    margin-left: 50px;
    padding: 3px 6px;
    font-size: 19px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.floatingCrudBanner {
    background-color: #cfcfcf;
    text-align: center;
    font-size: larger;
    padding: 10px;
}

.farSide {
    display: inline-block;
    float: right;
    cursor: pointer;
}



