
:root {
    --brucheumBlue: #74bac3;
    --oggleBackground: #fef; /*  #f7eef7   #b081b1 #f8e8e8 */
    --borderColor: #555;
    --ogglePurple: #79078f;
}


body {
    background-color: var(--oggleBackground);
    font-family: Verdana;
    box-sizing: border-box;
    margin-top: 100px !important;
}
.blogCrudArea {
    border: solid thin var(--borderColor);
    padding: 5px;
}

.threeColumnArray {
    width: 100%;
    display: flex;
}

    .threeColumnArray #leftColumn {
        float: left;
        min-width: 7%;
    }

    .threeColumnArray #middleColumn {
        float: left;
        width: 100%;
    }

    .threeColumnArray #rightColumn {
        float: right;
        min-width: 7%;
    }

.centeredDivShell {
    position: absolute;
    left: 50%;    
}

.centeredDivInner {
    position: relative;
    left: -50%;    
}

.pageTitle {
    font-size: 33px;
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer;
}

.divBreadCrumbs {
    margin-bottom: 4px;
    display: flex;
}

.activeBreadCrumb {
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 10px;
    font-weight: bold;
    float: left;
}

.dirTreeDropdownButton {
    height: 21px;
    cursor: pointer;
    padding: 7px;
    margin-top: 21px;
}

.loadingGif {
    position: absolute;
    display: none;
}

    .loadingGif img {
        height: 45px;
    }



#modalContainer {
    z-index: 6; /* Sit on top */
}
.tittymenu {
    display: none;
}
#divStatusMessage {
    margin: 4px 0;
    width: 100%;
    font-size: 18px;
    margin-bottom: 3px;
    padding: 4px;
    position:absolute;
    display: none;
}



.alegro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    padding: 10px;
}

.customMessageTitleBar {
    background-color: #c79bbe;
    color: black;
    width: 100%;
    display: inline-flex;
}

.customMessageTitleText {
    font-size: 21px;
    padding: 4px;
    text-align: center;
    width: 92%;
}

.customMessageCloseButton {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 11px;
}


label {
    font-weight: bold;
    font-size: smaller;
    margin: 5px;
}

.fullCenterImage {
    width: 100%;
    cursor: pointer;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.btnSpinnerImage {
    position: absolute;
    /*margin-left: 10px;*/
    height: 20px;
    display: none;
}

.floatLeft {
    float: left;
}

.floatLeftFifty {
    float: left;
    width: 45%;
    margin-right: 11px;
}

.width100 {
    width: 100%
}

.collapsible {
    display: none;
    cursor: pointer;
}

.noFloat {
    clear: both;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.oggleHidden {
    display: none;
}

.flexContainer {
    display: flex;
}
/*.roundendButton {
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}*/

.roundendButton {
    display: inline-block;
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    display: inline-block;
    height: 32px;
    padding: 3px 6px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btnSpinnerImage {
    position: absolute;
    /*margin-left: 10px;*/
    height: 20px;
    display: none;
}
#modalContainer {
    z-index: 6; /* Sit on top */
}

.streach {
    width: 100%;
    margin-right: 35px;
}

.dirTreeDropDown {
    margin-top: 22px;
    margin-left: 50px;
    padding: 3px 6px;
    font-size: 19px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.floatingCrud {
    position: absolute;
    top: 250px;
    left: 200px;
    border: solid 2px var(--borderColor);
    box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
    display: none;
}

.floatingCrudContainer {
    padding: 10px;
    background-color: var(--oggleBackground);
}
.floatingCrudDialog {
    position: absolute;
    top: 250px;
    left: 200px;
    border: solid 2px var(--borderColor);
    box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
    display: none;
}

.floatingCrudBanner {
    background-color: #cfcfcf;
    text-align: center;
    font-size: larger;
    padding: 10px;
    margin-right: 3px;
}

.farSide {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.leftColumnList {
    margin-top: 123px;
}

    .leftColumnList div {
        font-size: 21px;
        cursor: pointer;
        color: #9a4ea9;
        margin-left: 14px;
        margin-bottom: 23px;
        white-space: nowrap;
    }

.floatingDirTree {
    border: solid thin blue;
    max-height: 666px;
    overflow: auto;
    position: absolute;
    background-color: #fef; /*#b081b1*/
    top: 100px;
    left: 200px;
    display: none;
}

.ogContextMenu {
    position: absolute;
    background-color: #e1e1de;
    border: solid 2px #923c76;
    padding: 8px 10px;
    display: none;
    z-index: 110;
}

    .ogContextMenu div {
        padding: 8px;
        margin: 2px;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }

.dialogEditButton {
    text-decoration: underline;
    font-family: 'Comic Sans MS';
    margin-left: 20px;
    color: var(--ogglePurple);
}
