#registerUserDialog {
    position: absolute;
    top: 122px;
    left: 40%;
    box-sizing: content-box;
    color: #370757;
    border: 3px solid #808080;
    box-shadow: 10px 10px;
    background: #fff;
    z-index: 20;
}

.registerUserDialogCrudContainer {
    padding: 5px;
}

#divShowDetails {
    cursor: pointer;
    margin-top: 10px;
}

.carets {
    height: 15px;
    width: 20px;
}

.divCloseButton {
    display: inline-block;
    cursor: pointer;
}

#divExtraDetails {
    display: none;
}
