
@{
    ViewBag.Title = "Dashboard";
}
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="/signalr/hubs"></script>
<style>
    .dashBoardContainer {
        display: flex;
        border: solid 2px #111;
    }
    .treeContainer {
        float:right;
        border-left: solid .5px #555;
        min-height: 106px;
        overflow-y: auto;
    }
    .workarea {
        float:left;
        width:80%;
        background-color: #eee;
    }
    .collapsable {
        display: block;
    }
    .fileCount {
        display: inline;
        color: blue;
        font-size: smaller;
    }
    .loadingGif {
        left: 150px;
        top: 200px;
        height: 140px;
    }
    .addLinkCrudArea {
        font-size: 16px;
        border: solid .5px #555;
        padding: 6px;
        display: none;
    }
    .linkImage {
        /*
            float:right;
        height: 430px;
        min-width: 520px;

        */       
        border: solid .5px #555;
    }
    .roundedInput {
        display: inline-block;
        width: 97%;
        margin-right: 6px;
        font-size: 22px;
    }
    .roundendButton {
        margin-top: 6px;
        display: inline-block;        
    }
    .infoLine {
        display:none;
        margin-top: 6px;
        padding-left: 4px;
        padding-top: 2px;
        margin-left: 40px;
        margin-right: 6px;
        border: solid .5px #555;
        height: 32px;
        min-width: 610px;
        background-color: #f8e8e8;
        vertical-align: bottom;
    }
    #dashboardTop {
    }
    .myH2 {
        font-family: Verdana;
        margin-top: 1px;
        font-size: 22px;
    }
    .linkContainer {
        margin-bottom: 4px;
        font-size: 12px;
    }
        .linkContainer div {
            display: inline;
            color: #585a38;
            margin-right: 22px;
        }

    .clickable {
        white-space: nowrap;
    }
    .floatingCrud {
        position: absolute;
        top: 250px;
        left: 200px;
        border: solid 2px #555;
        box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
        width: 66%;
        display: none;
    }
    .floatingCrudContainer {
        padding: 10px;
        background-color: #f8e8e8;
    }
    .floatingCrudBanner {
        background-color: #cfcfcf;
        text-align: center;
        font-size: larger;
        padding: 10px;
    }

    .farSide {
        display: inline-block;
        float: right;
        cursor: pointer;
    }

</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>

        <div id="dashboardTop">
            <div class="myH2">Dashboard</div>

            <dir class="linkContainer">
                <div class="clickable" onclick="window.location.href='/stats/AdminDashboard'">Rebuild Tables</div>
                <div class="clickable" onclick="$('#addNewLink').show()">Add Link</div>
                @*
        <div class="clickable" onclick="buildFolderLinkTable()">build FolderLink Table</div>
        <div class="clickable" onclick="rebuildLinkTables()">Rebuild Link Tables</div>
        <div class="clickable" onclick="getCatTree()">Refresh Dir Tree</div>
                *@
                <div class="clickable" onclick="$('#videoCrud').fadeIn()">Add Video Link</div>
                <div class="clickable" onclick="$('#newFolderCrud').fadeIn()">Create Virtual Folder</div>
            </dir>
        </div>

        <img id="getDirTreeLoadingGif" class="loadingGif" src="~/Images/loader.gif" />
        <div id="divDashboardContainer" class="dashBoardContainer">

            <div class="workarea">
                <div id="addNewLink" class="addLinkCrudArea">
                    <div>link<input id="txtNewLink" class="roundedInput" onblur="previewLinkImage()" /></div>
                    <div>path<input id="txtLinkPath" readonly="readonly" class="roundedInput" /></div>
                    <input type="hidden" id="txtHiddenLinkPathId" />
                    <div class="roundendButton" onclick="addImageLink()">Insert</div>
                    <img id="imgLinkPreview" class="linkImage" />
                </div>
                <div id="dataifyInfo" class="infoLine"></div>
            </div>
            <div id="dirTreeContainer" class="treeContainer"></div>

            <div id="videoCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Add Video Link <div onclick="$('#videoCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span class="cru">link</span><input id="txtVideoLink" class="roundedInput" /></div>
                    <div><span>image</span><input id="txtVideoImage" class="roundedInput" /></div>
                    <div><span>title</span><input id="txtVideoTitle" class="roundedInput" /></div>
                    <div class="roundendButton" onclick="addVideo()">Insert</div>
                </div>
            </div>

            <div id="newFolderCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Create New Folder<div onclick="$('#newFolderCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span>title</span><input id="txtNewFolderTitle" class="roundedInput" /></div>
                    <div><span>parent</span><input id="txtNewFolderParent" readonly="readonly" class="roundedInput" /></div>
                    <div class="roundendButton" onclick="createNewFolder()">Create Folder</div>
                </div>
            </div>



        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';    
    var tabIndent = 22;
    var tab = 0;
    var totalPics = 0;
    var totalFolders = 0;

    $(document).ready(function () {
        getCatTree();
        $(window).resize();
    });

    $(window).resize(function () {
        //alert("$('#middleColumn').height(): " + $('#middleColumn').height());
        var initial = $('#dirTreeContainer').height();
        var adjusted = $('#middleColumn').height() - $('#dashboardTop').height() - 150
        $('#dirTreeContainer').height(adjusted);
        //$('#imgLinkPreview').height(adjusted);
        $('#footerMessage').html("initial: " + initial + "  & adjusted: " + $('#dirTreeContainer').height());

        $('.floatingCrud').width($('.workarea').width() - 100);

    });

    $(function () {

       // $.connection.hub.url = "https://api.curtisrhodes.com/signalr";

        var progress = $.connection.progressHub;
        console.log(progress);

        $.connection.hub.start().done(function () {
            var connectionId = $.connection.hub.id;
            console.log("connectionId: " + connectionId);
            //alert("connectionId: " + connectionId);
        });

        progress.client.addProgress = function (message, progressCount, totalItems) {
            alert("progress.client.addProgress: " + message);
            if (message == "...") {
                $('#dataifyInfo').show().html("processing: " + progressCount + " of " + totalItems);
            }
            else {
                $('#dataifyInfo').show().html(message);
            }
        };

    });

    function getCatTree() {
        $('#getDirTreeLoadingGif').fadeIn();
        totalPics = 0;
        totalFolders = 0;
        $('#dirTreeContainer').html("");
        $.ajax({
            type: "GET",
            url: service + "/api/ImageFolderTree",
            success: function (danni) {
                //$('#dirTreeContainer').append("<div class='clickable' onclick='treeToggle(rootDivContainer)'>" + dirTree.DirectoryName + "</div>");
                $('#dirTreeContainer').append("<div class='clickable' onclick='treeToggle(rootDivContainer)'>Root</div>");
                $('#dirTreeContainer').append("<div id='rootDivContainer'></div>");

                recurrGetCatTree(danni, 'rootDivContainer');

                $('#getDirTreeLoadingGif').fadeOut();
                $('#dataifyInfo').show().html("total folders: " + totalFolders + " total pics: " + totalPics);
            },
            error: function (xhr) {
                $('#getDirTreeLoadingGif').fadeOut();
                alert("DirStats xhr error: " + xhr.statusText);
            }
        });
    }
    function recurrGetCatTree(dir, container) {
        tab += tabIndent;
        $.each(dir.SubDirs, function (idx, subDir) {
            $('#' + container + '').append("<div class='clickable' style='text-indent:" + tab + "px'>"
                + "<span id=S" + subDir.LinkId + " onclick=treeToggle('" + subDir.LinkId + "')>[-] </span>"
                + "<span onclick=clickPath('" + subDir.DanniPath + "','" + subDir.CategoryId + "')>" + subDir.DirectoryName +
                "</span><span class='fileCount'>  : " + subDir.Length + "</span></div>");
            $('#' + container + '').append("<div id=" + subDir.LinkId + " class='zzcollapsable'></div>");

            totalPics += subDir.Length;
            totalFolders++;
            recurrGetCatTree(subDir, subDir.LinkId);
            tab -= tabIndent;
        });
    }
    function treeToggle(id) {
        //alert($('#' + id + '').css("display"));
        if ($('#' + id + '').css("display") == "none") {
            $('#S' + id + '').html("[-]");
        }
        else
            $('#S' + id + '').html("[+]");
        $('#' + id + '').toggle();
    }
    function clickPath(path, id) {
        $('#txtLinkPath').val(path.replace(/%20/g, " "));        
        $('#txtNewFolderParent').val(path.replace(/%20/g, " "));
        $('#txtHiddenLinkPathId').val(id);
    }


    function addVideo() {
        try {
            $('#getDirTreeLoadingGif').show();
            var videoLink = {};
            videoLink.Link = $('#txtVideoLink').val();
            videoLink.Image = $('#txtVideoImage').val();
            videoLink.Title = $('#txtVideoTitle').val();
            $.ajax({
                type: "POST",
                url: service + "api/VideoLink",
                data: videoLink,
                success(success) {
                    $('#getDirTreeLoadingGif').hide();
                    if (!success.startsWith("ERROR")) {
                        displayStatusMessage("ok", "video link added");
                    }
                    else
                        alert("addVideo: " + success);
                },
                error: function (xhr) {
                    $('#getDirTreeLoadingGif').hide();
                    alert("addVideo xhr: " + getXHRErrorDetails(xhr));
                }
            })
        } catch (e) {
            alert("addVideo Catch : " + e);
        }


    }

    function previewLinkImage() {
        $('#imgLinkPreview').attr('src', $('#txtNewLink').val());
    }

    function addImageLink() {
        $('#getDirTreeLoadingGif').fadeIn();

        var newLink = {};
        newLink.Link = $('#txtNewLink').val();
        newLink.PathId = $('#txtHiddenLinkPathId').val();

        $.ajax({
            type: "POST",
            url: service + "/api/ImageLinkCategory",
            data: newLink,
            success: function (success) {
                $('#getDirTreeLoadingGif').hide();
                if (success == "ok")
                    alert("image added");
                else {
                    alert("CreateVirtualFolder: " + success);
                }
            },
            error: function (xhr) {
                $('#getDirTreeLoadingGif').hide();
                alert("CreateVirtualFolder xhr error: " + xhr.statusText);
            }
        });
    }

    function createNewFolder() {
        $('#getDirTreeLoadingGif').fadeIn();
        var newFolder = {};
        newFolder.FolderName = $('#txtNewFolderTitle').val();
        newFolder.Parent = $('#txtHiddenLinkPathId').val();
        newFolder.FolderPath = $('#txtNewFolderParent').val() + "/" + $('#txtNewFolderTitle').val();

        $.ajax({
            type: "POST",
            url: service + "/api/ImageFolder",
            data: newFolder,
            success: function (success) {
                if (success == "ok")
                    getCatTree();
                else {
                    $('#getDirTreeLoadingGif').hide();
                    alert("CreateVirtualFolder: " + success);
                }
            },
            error: function (xhr) {
                alert("CreateVirtualFolder xhr error: " + xhr.statusText);
            }
        });
    }

    function moveFolder() {



    }
</script>
