
@{
    ViewBag.Title = "Dashboard";
}

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Dashboard</h2>

        <div id="test1" onclick="getDirTree()">Get Directory List</div>



    </div>
    <div id="rightColumn"></div>
</div>

<script>
    function getDirTree() {


    }

</script>
