
<script src="~/Scripts/Layouts.js"></script>
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/'">Oggle Booble</div>
            <div onclick="window.location.href='/test/contextTest'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#pornCatTreeContainer').dialog('open');">Category List</div>
            <div onclick="window.location.href='/home/Videos'">video links</div>
            <div onclick="window.location.href='/home/Mobile?folder=porn'">Mobile</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="carousel">
            @Html.Partial("_Carousel", "porn")
        </div>
    </div>
    <div id="rightColumn"></div>
</div>
<div id="pornCatTreeContainer" title="porn"></div>

<script>
    $(document).ready(function () {
        setLayout("Porn");

        $('#pornCatTreeContainer').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: 400,
            height: 600
        });

        $.when(buildDirTree($('#pornCatTreeContainer'), "pornCatTreeContainer", 242)).done(
            function () {
                launchCarousel('porn');
            });
    });    

    function pornCatTreeContainerClick(path, id, treeId) {
        if (treeId == "pornCatTreeContainer") {

            window.location.href = "/album?folder=" + id;
            $('#pornCatTreeContainer').dialog('close');
        }
        else
            alert("pornCatTreeContainerClick treeId: " + treeId);
    }

</script>