<style>
    /*#leftColumn, #middleColumn, #rightColumn {
        background-color: #e2c2ab;
        font-family: Comic Sans MS;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .boobleClassic {
        height: 225px;
    }

    .majorCategoryRow {
        padding-top: 120px;
        display: flex;
        margin-bottom: 100px;
        width: 100%;
        display: none;
    }

    .majorCategoryRowLinkItem {
        float: left;
        margin-left: 60px;
    }

    .containerImage {
        float: left;
        margin-left: 60px;
    }

    .sectionTitle {
        display: block;
        text-align: center;
    }

    .bottomLinks {
        clear: left;
        padding-left: 222px;
        padding-bottom: 8px;
    }

    .indexTitle {
        display: block;
        width: 100%;
        text-align: center;
        color: #490157;
        font-family: 'Lucida Calligraphy';
        font-size: 33px;
        margin-bottom: 8px;
    }

    */

    .comicList {
        margin-top: 123px;
    }

        .comicList div {
            font-size: 21px;
            cursor: pointer;
            color: #9a4ea9;
            margin-left: 14px;
            margin-bottom: 23px;
            white-space: nowrap;
        }

    .floatingDirTree {
        border: solid thin blue;
        max-height: 666px;
        overflow: auto;
        position: absolute;
        background-color: #fef; /*#b081b1*/
        top: 100px;
        left: 200px;
        display: none;
    }

</style>
<script src="~/Scripts/Layouts.js"></script>
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="comicList">
            <div onclick="window.location.href='/'">Oggle Booble</div>
            <div onclick="window.location.href='/test/contextTest'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#dirTreeContainer').toggle()">Category List</div>
            <div onclick="window.location.href='/home/Videos'">video links</div>
            <div onclick="window.location.href='/home/Mobile?folder=porn'">Mobile</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="galleryMessage" class="indexTitle"></div>
        <div id="carousel">
            @Html.Partial("_RandomImage", "porn")
        </div>
    </div>
    <div id="rightColumn"></div>
</div>
<div id="dirTreeContainer" class="floatingDirTree">
    <div class="floatingCrudBanner">View A Category <div onclick="$('#dirTreeContainer').fadeOut()" class="farSide">x</div> </div>
    @Html.Partial("_DirTree")
</div>

<script>
    $(document).ready(function () {
        setLayout("porn");
        launchCarousel('porn');
    });    

    // move to script file and reuse
    function treeToggle(id) {
        //alert($('#' + id + '').css("display"));
        if ($('#' + id + '').css("display") == "none") {
            $('#S' + id + '').html("[-] ");
        }
        else
            $('#S' + id + '').html("[+] ");
        $('#' + id + '').toggle();
    }
    function clickPath(path, id) {
        //alert(path.replace(/%20/g, " ") + "  " + id);
        //window.location.href = "/home/ImagePage?folder=" + path.replace(/%20/g, " ");
        window.location.href = "/home/ImagePage?folder=" + id;
    }
</script>