<style>
    .comicList {
        margin-top: 123px;
    }

        .comicList div {
            font-size: 21px;
            cursor: pointer;
            color: #9a4ea9;
            margin-left: 14px;
            margin-bottom: 23px;
            white-space: nowrap;
        }


</style>
<script src="~/Scripts/Layouts.js"></script>
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="comicList">
            <div onclick="window.location.href='/'">Oggle Booble</div>
            <div onclick="window.location.href='/test/contextTest'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#dirTreeContainer').toggle()">Category List</div>
            <div onclick="window.location.href='/home/Videos'">video links</div>
            <div onclick="window.location.href='/home/Mobile?folder=porn'">Mobile</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="galleryMessage" class="indexTitle"></div>
        <div id="carousel">
            @Html.Partial("_Carousel", "porn")
        </div>
    </div>
    <div id="rightColumn"></div>
</div>
<div id="dirTreeContainer" class="floatingDirTree">
    <div class="floatingCrudBanner">View A Category <div onclick="$('#dirTreeContainer').fadeOut()" class="farSide">x</div> </div>
    @Html.Partial("_DirTree1")
</div>

<script>
    $(document).ready(function () {
        setLayout("Porn");
        launchCarousel('porn');
    });    

    // move to script file and reuse
    function toggleDirTree(id) {
        if ($('#' + id + '').css("display") == "none") 
            $('#S' + id + '').html("[-] ");
        else
            $('#S' + id + '').html("[+] ");
        $('#' + id + '').toggle();
    }
    function onDirTreeClick(path, id) {
        window.location.href = "/home/ImagePage?folder=" + id.substring(2);
    }
</script>