

.pollybox {
    box-sizing: border-box;
    margin-top: 4px;
    background-color: #cec8ab; /*#74bac3; #86bdc4; #b4b4b4;*/
}
.pollybox30 {
    margin-top: 100px;
    box-sizing: border-box;
    background-color: #cec8ab; /*#74bac3; #86bdc4; #b4b4b4;*/
}

.divTopLine {
    padding-top: 5px;
    padding-left: 12px;
}

.articleTitle {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 40px;
}
.summaryText {
    font-style: italic;
    color: #7a2424;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 10px;
    text-justify: auto;
}
.byline {
    width: 100%;
    font-family: Chap, Arial, sans-serif;
    font-size: 15px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.floatRightDiv {
    float: right;
    padding-right: 23px;
    font-style: italic; 
}
.floatRightDivEdit {
    text-decoration: underline;
    float: right;
    padding-right: 23px;
    text-align: right;
}

.articleCenterImage {
    height: 333px;
    display: block;
    margin: auto;
    padding: 6px;
}

.articleViewImage {
    height: 300px;
    max-width: 100%;
}

.articleContent {
    clear: both;
    font-family: MillerText, Georgia,serif;
    font-size: 23px;
    padding-left: 25px;
    text-align: justify;
    padding-bottom: 6px;
    overflow-x: auto;
}

.tinyLoader {
    height: 15px;
    margin-left: -18px;
    background-color: #fff;
}

.staticFileLinks {
    margin-top: 111px;
    margin-left: 12px;
}

.staticFaceBookButton {
    margin-top: 200px;
    /*background: #3b5998;
    border-radius: 3px;
    font-weight: 500;
    padding: 5px 8px;
    display: inline-block;
    position: static;*/
}

    .fb-share-button a {
        color: #fff;
        text-decoration: none;
    }

#divCommentsSection {
    display: none;
}
