.carosuelContainer {
    border: solid 6px #a16728;
    z-index: 10;
}

.carouselImageContainer {
    z-index: 7;
    background-color: #fff;
    cursor: pointer;
}

/*.animatedGears {
    position: relative;
    top: 100px;
    left: 100px;
}*/

.carouselLabel {
    position: absolute;
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3px;
    font-size: 22px;
    white-space: nowrap;
    z-index: 7;
}

.centeredDivShell {
    top: 230px;
}

.arrowButton {
    position: absolute;
    z-index: 0;
    height: 70px;
    cursor: pointer;
}

#leftFbutton {
    margin-left: -60px;
}



