:root {
    --brucheumBlue: #74bac3;
    --oggleBackgroundColor: #fef; /* #f7eef7 #fef  #b081b1 #f8e8e8 */
    --oggleContainerBackgroundColor: #fefefe; /*  #f8e8e8 */
    --oggleBorderColor: #b200ff; /* #f1cff7;       carouselContainer  #b200ff; */
    --ogglePurple: #79078f;
    --normalFont: 17px;
    --ogglgeTitleColor: #7f2c8f;
    --ogglgeSubTitleColor: #490157;
    --thumbnailBorderColor: #74bac3; /* hot pink #ff00dc   */
    --ogglgeHeaderBarColor: #decd6f; /*#c79bbe*/
    --oggleHeaderBoarderTop: #40767d 3px solid;
    --oggleHeaderBackgroundColor: #74bac3;
    --oggleHeaderBoarderBottom: #decd6f 11px solid;
    --oggleHeaderSelectBackgroundColor: #74bac3;
}
body {
    background-color: var(--oggleBackgroundColor);
    font-family: Verdana;
    box-sizing: border-box;
    margin-top: 100px !important;
    font-size: var(--normalFont);
}

.threeColumnLayout {
    background-color: #eeddbb;
    width: 100%;
    display: flex;    
}
.threeColumnLayout #leftColumn {
    float: left;
    /*border-right: solid 5px var(--ogglgeHeaderBarColor);*/
    min-width: 7%;
}

.threeColumnLayout #middleColumn {
    float: left;
    width: 100%;
}

.threeColumnLayout #rightColumn {
    float: right;
    min-width: 7%;
}

.centeredDivShell {
    position: absolute;
    left: 50%;
    top: 300px;
    display: none;
}

.centeredDivInner {
    position: relative;
    left: -50%;
    min-height: 200px;
}

.clickable {
    cursor: pointer;
}
.inline {
    display: inline-block;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.displayHidden {
    display: none;
}

.flexContainer {
    display: flex;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.btnSpinner {
    margin-top: 66px;
}

.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}
.loadingGif {
    position: absolute;
    left: 150px;
    top: 140px;
    height: 110px;
    z-index: 31;
}

.btnSpinner {
    margin-top: 66px;
}
.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}

