

.google-login {
}

.facebook-login {
    /*color: #fff;
        background-color: #395697;
        border-color: transparent;*/
}

.svg-icon:not(.native) {
    fill: currentColor;
}

.iconFacebook {
    color: #fff;
}

.forgot {
    margin: 15px 0;
    font-size: 13px;
    /*font-weight: normal;
    cursor: pointer;
    text-decoration: none;*/
}

.ckRemember {
    font-size: 13px;
    margin: 15px 0;
}

.externalLogin {
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 100%;
    vertical-align: baseline;
    padding: 8px 0;
    border-radius: 3px;
    border: 1px solid #d6d9dc;
    margin-bottom: 16px;
}

#btnLoginPopupLogin {
    margin-top: 6px;
}
/*#registerUserDialog {
    position: absolute;
    top: 122px;
    left: 40%;
    box-sizing: content-box;
    color: #370757;
    border: 3px solid #808080;
    box-shadow: 10px 10px;
    background: #fff;
    z-index: 20;
}

.registerUserDialogCrudContainer {
    padding: 5px;
}*/

#divShowDetails {
    cursor: pointer;
    margin-top: 10px;
}

.carets {
    height: 15px;
    width: 20px;
}

.divCloseButton {
    display: inline-block;
    cursor: pointer;
}

#divExtraDetails {
    display: none;
}

.rememberMe {
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 8px;
}

.submitButton {
    margin-top: 10px;
}

.modalDialog {
    z-index: 12;
    display: none;
}

.caretImgContainer {
    display: inline-block;
}

#divShowDetails {
    cursor: pointer;
    margin-top: 10px;
}

#divRememberMe {
    margin-top: 4px;
}

.carets {
    height: 6px;
    width: 10px;
}

#divExtraDetails {
    margin-top: 4px;
    display: none;
}

.labelStyle {
    color: purple;
}

.or-container {
    text-align: center;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}

.or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #3436e8;
}

.or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
}

