@{
    ViewBag.Title = "Article Test";
}
<link href="~/Styles/addEdit.css" rel="stylesheet" />

<div class="defaultShell">
    <h2>Article Editor</h2>
    <hr />
    <div id="divStatusMessage"></div>
    <div class="addEditArea">
        <table>
            <tr>
                <td>Title:</td>
                <td><input class="bsText" id="txtTitle" title="put title here" /></td>
                <td rowspan="6" class="imageRow">
                    <div>
                        <img id="bImage" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>@Html.DropDownList("ddCategory", new SelectList(ViewBag.Categories, "Key", "Value"), new { @class = "bsText" })</td>
            </tr>
            <tr>
                <td>Summary: </td>
                <td><textarea id="txbSummary" title="summary"></textarea></td>
            </tr>
            <tr>
                <td>Image:</td>
                <td><input id="uplImage" type="file" class="imageUpload" /></td>
            </tr>
            <tr>
                <td>Byline: </td>
                <td><input class="bsText" id="txtByline" /></td>
            </tr>
            <tr>
                <td colspan="2"><textarea id="txbContent"></textarea></td>
            </tr>
        </table>
        <div>
            <button id="btnSave">Save</button>
            <button id="btnDelete">Delete</button>
            <button id="btnCancel">Cancel</button>
        </div>
        <input id="hiddenId" type="hidden" />
        <input id="hiddenImageName" type="hidden" />
    </div>
</div>

<script>
    //var webApiURL = "http://api.curtisrhodes.com/api/journal"
    var webApiURL = "/api/Article"

    var article = new Object();

    $(document).ready(function () {
        $('#divStatusMessage').hide();
        $('#btnDelete').hide();

        if ('@ViewBag.Id' != undefined) {
            get('@ViewBag.Id')
        }
    });

    $('#uplImage').change(function () {
        upLoadImage();
    })

    function upLoadImage() {
        try {
            var fileName = $('#uplImage').val();
            fileName = fileName.substring(fileName.lastIndexOf("\\") + 1);

            var image = $('#uplImage')[0].files[0];

            if (image != null) {
                $.ajax({
                    url: "/api/Images",
                    type: "POST",
                    enctype: 'multipart/form-data',
                    processData: false,  // Important!
                    contentType: false,
                    cache: false,
                    data: image,
                    success: function (data) {
                        displayStatusMessage("alert-success", data + " Image Uploaded");
                        $('#bImage').attr("src", URL.createObjectURL(image));
                        //alert("returned image name: " + data);
                        $('#hiddenImageName').val(data);
                        alert("hiddenImageName: " + $('hiddenImageName').val());
                    },
                    error: function (xhr, textStatus, error) {
                        displayStatusMessage("alert-danger", "ERROR: " + xhr.statusText + ": " + textStatus);
                        alert("ajax post ERROR: " + xhr.error + ": " + textStatus)
                    }
                })
            }
            else {
                alert("ERROR: image == null")
                displayStatusMessage("alert-danger", "ERROR: not working");
            }
        } catch (e) {
            displayStatusMessage("alert-danger", "ERROR t: " + e);
            alert("try catch ERROR : " + e);
        }

    };

    function bind(article) {

        $('#hiddenId').val(article.ArticleId );
        $('#txtTitle').val(article.Title);
        $('#ddCategory').val(article.Category);
        $('#txbSummary').val(article.Summary);
        $('#hiddenImageName').val(article.ImageName);
        $('#txtByline').val(article.Byline);
        $('#txbContent').val(article.Contents);
    }

    function unBind() {
        article.ArticleId = $('#hiddenId').val();
        article.Title = $('#txtTitle').val();
        article.Category = $('#ddCategory').val();
        article.Summary = $('#txbSummary').val();
        article.ImageName = $('#hiddenImageName').val();
        article.Byline = $('#txtByline').val();
        article.Contents = $('#txbContent').val();
    }

    function put() {
        try {
            unBind();
            $.ajax({
                url: webApiURL,
                type: "put",
                dataType: "json",
                data: article,
                success: function () {
                    displayStatusMessage("alert-success", "Saved");
                },
                error: function (xhr, textStatus, error) {
                    displayStatusMessage("alert-danger", "ERROR" + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "ERROR" + e);
        }
    }

    function post() {
        try {
            unBind();
            $.ajax({
                url: webApiURL,
                type: "post",
                dataType: "Json",
                data: article,
                success: function (result) {
                    $('#hiddenId').val(result);
                    displayStatusMessage("alert-success", "Saved");
                    $('#btnSave').text("Update");
                },
                error: function (xhr, textStatus, error) {
                    displayStatusMessage("alert-danger", "xhr ERROR: " + error);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "catch ERROR: " + e);
        }
    }

    function get(articleId) {
        $.ajax({
            url: webApiURL + "?id=" + articleId,
            type: "get",
            dataType: "json",
            success: function (response) {
                bind(response);
                retrieveImage(response.ImageName)
                $('#btnSave').text("Update");
                $('#btnDelete').show();
            },
            error: function (request, status, error) {
                displayStatusMessage("alert-danger", request.responseText);
            }
        });
    }
    function retrieveImage(imageName) {
        $.ajax({
            url: "/api/Images?id=" + imageName,
            type: "get",
            processData: false,  // Important!
            contentType: false,
            success: function (image) {
                $('#bImage').attr("src", "data:image/gif;base64," + image);
                displayStatusMessage("alert-success", " Image Returned");
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("alert-danger", "ERROR: " + xhr.statusText + ": " + textStatus);
            }
        })
    }

    $('#btnSave').click(function () {
        if ($('#btnSave').text() == "Save")
            post()
        else
            put();
    });

    $('#btnDelete').click(function () {
        if (confirm("Delete " + $('#Title').val() + "?")) {
            try {
                $.ajax({
                    url: webApiURL + "?Id=" + $('#hiddenId').val(),
                    type: "delete",
                    success: function (list, textstatus, xhr) {
                        displayStatusMessage("alert-success", "entry deleted");
                        ToggleBlogEdit();
                    },
                    error: function (xhr, textStatus, error) {
                        alert("Error: " + xhr.statusText);
                        displayStatusMessage("alert-danger", "ERROR" + xhr.statusText);
                    }
                });
            } catch (e) {
                displayStatusMessage("alert-danger", "tERROR" + e);
            }
        }
    });

    $('#btnCancel').click(function () {
        ToggleBlogEdit();
    });

    $('#btnShowEditor').click(function () {
        $('#Title').val("");
        $('#Content').text("");
        $('#hiddenId').text("");

        ToggleBlogEdit();
        $('#btnSave').text("Save");
    });

    function ToggleBlogEdit() {
        $('#divEditor').toggle();
        $('#divBlogList').toggle();
        $('#btnShowEditor').html() == "Add New Entry" ? $('#btnShowEditor').html('Show List') : $('#btnShowEditor').html('Add New Entry');
        if ($('#btnShowEditor').html() == 'Add New Entry') {
            $('#btnDelete').hide();
            get();
        }
    }

    function displayStatusMessage(severity, message) {
        $('#divStatusMessage').removeClass("alert-danger", "alert-success")
        $('#divStatusMessage').addClass(severity)
        $('#divStatusMessage').html(message);
        $('#divStatusMessage').show()
        setTimeout(function () { $('#divStatusMessage').hide("slow") }, 5000);
    }

</script>
