

<style>
    #divBookPannel {
        box-sizing: border-box;
        margin-left: 18px;
        margin-top: 60px ;
        margin-right: 11px;
        padding-bottom: 3px;
        background-color: #aaa;
        /*border: solid 2px purple;*/
    }
    #divPannelHeader {
        font-family: Tahoma;
        font-size: 12px;
        padding-top: 6px;
        text-align: center;
    }
    .bookImage {        
        margin: 3px 6px;
        width: 130px;
        height: 140px;
        cursor: pointer;
    }
    
</style>

<div id="divBookPannel">
    <div id="divPannelHeader">
        Check out my books
    </div>
    <div class="divBookImage" book="The Blond Jew" onclick="window.location.href='/BookDb/ToC?book=1'">
        <img class="bookImage" src="~/Images/Books/TheBlondJew.jpg" />
    </div>
    <div class="divBookImage" book="Time Squared" onclick="window.location.href='/BookDb/ToC?book=2'">
        <img class="bookImage" src="~/Images/Books/TimeSquared.jpg" />
    </div>
    <div class="divBookImage" book="Ready; Fire; Aim" onclick="window.location.href='/BookDb/ToC?book=3'">
        <img class="bookImage" src="~/Images/Books/ReadyFireAim.jpg" />
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('#rightColumn').css("min-width", $('#divBookPannel').width() + 50);
    });
</script>
