
<style>
    /*.maxSize {
        height: 100%;
    }*/

    /*.carouselImageContainer {
        position: absolute;
        top: 20px;
        left: 50px;
    }*/

    .carouselContainer {
        /*display: block;
        margin-top: 12%;
        margin-left: 25%;
        width: 52%;
        height: 45%;
        padding: 1px;
        border: solid thin #ada267;
        background-color: rgba(164, 168, 169, 0.75);*/
        z-index: 10;
    }

    .animatedGears {
        display: none;
        position: relative;
        top: 100px;
        left: 100px;
    }

    .carouselLabel {
        position: absolute;
        display: inline-block;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 3px;
        font-size: 22px;
        white-space: nowrap;
        z-index: 7;
    }

    .centeredDivShell {
        top: 230px;
    }

    .carosuelContainer {
        border: solid 6px #a16728;
        /*width: 500px;
        height: 350px;*/
        z-index: 6;
    }

    .carouselImage {
        height: 350px;
        width: 500px;
        /*
            object-fit: contain;
        */
        cursor: pointer;
    }

    .carouselImageContainer {
        z-index: 7;
    }
    .arrowButton {
        position: absolute;
        z-index: 2;
        height: 70px;
        cursor: pointer;
    }
</style>


<div class="centeredDivShell">
    <div class="centeredDivInner">

        <div id="carosuelContainer" class="carosuelContainer">
            <img id="leftFbutton" class="arrowButton" src="~/Images/blueCircleLeft.png" onclick="clickPrevious()" />
            <img id="rightFbutton" class="arrowButton" src="~/Images/blueCircleRight.png" onclick="clickNext()" />
            <div id='articleTitle' class='carouselLabel'></div>
            <div id='articleCat' class='carouselLabel'></div>

            <div class="carouselImageContainer">
                <img id="carouselImage" class="carouselImage" src="~/Images/ingranaggi3.gif" onclick="viewArticle()" />
            </div>
        </div>

    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var webService = "https://api.curtisrhodes.com";
    var numArticles = 21;
    var rotationSpeed = 15000;
    var carouselItemArray = new Array();
    var imageNum = 0;
    var carouselContainerHeight;
    var Carousel;
    var currentArticleId = 0;

    $(document).ready(function () { });

    function stopCarousel() {
        clearInterval(Carousel);
    }
    function startCarousel() {
        clearInterval(Carousel);
        rotate();
    }

    function viewArticle() {
        //$('#carosuelContainer').click(function () {
        clearInterval(Carousel);
        //alert("$('.carouselItem').attr('Id'): " + $('.carouselItem').attr('Id'));
        //window.location.href = "/Article/ArticleView?Id=" + $('.carouselItem').attr('Id');
        window.location.href = "/Article/ArticleView?Id=" + currentArticleId;
    }
    function clickPrevious() {
        //alert("clickPrevious")
        imageNum--;
        if (imageNum > 0)
            imageNum--;
        else
            imageNum = numArticles;
        clearInterval(Carousel);
        rotate();
        event.stopPropagation();
        return false;
    }
    function clickNext() {
        //alert("clickNext")
        clearInterval(Carousel);
        imageNum++;
        if (imageNum >= numArticles)
            imageNum = 0;
        rotate();
        event.stopPropagation();
        return false;
    }

    function loadAndStartCarousel() {
        $.ajax({
            type: "GET",
            url: service + "/api/DbArticle?pageLen=" + numArticles + "&page=1&filterType=null&filter=null",
            //url: service + "/api/ArticleXml?pageLen=" + numArticles + "&page=0&filterType=none&filter=none",
            success: function (articles) {
                $.each(articles, function (idx, article) {
                    carouselItemArray.push(article);
                });

                $('.centeredDivShell').show();
                var carouselArrayItem = carouselItemArray[imageNum];
                currentArticleId = carouselArrayItem.Id;
                var fullImageName = webService + "/App_Data/Images/" + carouselArrayItem.ImageName;
                $('#articleTitle').html(carouselArrayItem.Title);
                $('#articleCat').html(carouselArrayItem.CategoryLabel.trim());
                $('#carouselImage').attr('src', fullImageName).fadeIn("slow");;
                $('#carouselImage').css('z-index', 10);

                adjustCarousel();
                rotate();
                //setTimeout(function () { adjustCarousel() }, 2000);
            },
            error: function (xhr) {
                alert("loadAndStartCarousel error: " + xhr.statusText);
            }
        });
    };

    function adjustCarousel() {
        //adjustCarousel();
        // just center the div

        var carouselPosLeft = $('.centeredDivShell').offset().left - $('.centeredDivInner').offset().left;
        //alert("carouselPosLeft: " + carouselPosLeft + "    $('#carosuelContainer').position().left: " + $('#carosuelContainer').position().left);

        $('#leftFbutton').css('left', carouselPosLeft - 65);
        $('#rightFbutton').css('left', carouselPosLeft + $('#carosuelContainer').width() - 40);
        $('.arrowButton').css('top', $('#carosuelContainer').height() - 210);

        $('#articleCat').css('top', $('#carosuelContainer').height());
    }

    function rotate() {
        var carouselArrayItem = carouselItemArray[imageNum];
        currentArticleId = carouselArrayItem.Id;
        var fullImageName = webService + "/App_Data/Images/" + carouselArrayItem.ImageName;
        $('#articleTitle').html(carouselArrayItem.Title);
        $('#articleCat').html(carouselArrayItem.CategoryLabel.trim());
        $('#carouselImage').attr('src', fullImageName).fadeIn(5000);
        $('#carouselImage').css('z-index', 10);

        imageNum++;
        Carousel = setInterval(function () {
            carouselArrayItem = carouselItemArray[imageNum];
            fullImageName = webService + "/App_Data/Images/" + carouselArrayItem.ImageName;

            //alert("carouselArrayItem[" + imageNum + "].Title :" + carouselArrayItem.Title);

            //$('#carouselImage').fadeOut("slow");
            $('#articleTitle').html(carouselArrayItem.Title);
            $('#articleCat').html(carouselArrayItem.CategoryLabel.trim());
            $('#carouselImage').attr('src', fullImageName).fadeIn(5000);
            $('#carouselImage').css('z-index', 10);

            //$('#footerMessage').html("imageNum: " + imageNum)
            //adjustCarousel();
            imageNum++;
            if (imageNum >= numArticles) {
                imageNum = 0;
            }
        }, rotationSpeed);
    }
</script>