
<style>
    .maxSize {
        height: 100%;
    }

    .carouselImage {
        width: 100%;
        cursor: pointer;
    }

    .carouselContainer {
        display: block;
        margin-top: 12%;
        margin-left: 25%;
        width: 52%;
        height: 45%;
        padding: 1px;
        border: solid thin #ada267;
        background-color: rgba(164, 168, 169, 0.75);
        z-index: 10;
    }

    .animatedGears {
        display: none;
        position: relative;
        top: 100px;
        left: 100px;
    }

    .fbutton {
        position: absolute;
        height: 100px;
        cursor: pointer;
        z-index: 5;
        display: none;
    }

    .carouselImageContainer {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .carouselLabel {
        position: absolute;
        display: inline-block;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 3px;
        font-size: 22px;
        z-index: 11;
    }
</style>


<div class="flexContainer maxSize">
    <img id="leftFbutton" class="fbutton" src="~/Images/blueCircleLeft.png" onclick="clickPrevious()" />
    <div id="imageContainer" class="carouselContainer">
        <div class='carouselItem'>
            <img id="carouselLoadingGif" class="animatedGears" src="~/Images/ingranaggi3.gif" />
        </div>
    </div>
    <img id="rightFbutton" class="fbutton" src="~/Images/blueCircleRight.png" onclick="clickNext()" />
</div>

<script>
    var service = '@ViewBag.Service';
    var webService = "https://api.curtisrhodes.com";
    var numArticles = 15;
    var rotationSpeed = 15000;
    var carouselItems = new Array();
    var imageNum = 0;
    var carouselContainerHeight;
    var Carousel;

    $(document).ready(function () {
        adjustCarousel();
    });

    function stopCarousel() {
        clearInterval(Carousel);
    }
    function startCarousel() {
        clearInterval(Carousel);
        rotate();
    }

    function adjustCarousel() {

        $('.carouselImage').height($('#imageContainer').height());
        $('#articleTitle').css('left', $('.carouselItem').position().left + 3);
        $('#articleCat').css('top', $('.carouselItem').position().top + $('.carouselItem').height() - 40);
        $('#articleCat').css('left', (($('.carouselItem').position().left + $('.carouselItem').width()) - $('#articleCat').width()) - 8);

        $('#leftFbutton').css('left', $('.carouselItem').position().left - 70);
        $('#rightFbutton').css('left', $('.carouselItem').position().left + $('.carouselItem').width() - 30);
        $('#leftFbutton').css('top', $('.carouselItem').position().top + (($('.carouselItem').height() / 2) - 50));
        $('#rightFbutton').css('top', $('#leftFbutton').position().top);
    }

    function rotate() {
        $('#imageContainer').html(carouselItems[imageNum]);
        adjustCarousel()
        Carousel = setInterval(function () {
            $('#carouselImage').fadeOut("slow");
            imageNum++;
            if (imageNum >= numArticles)
                imageNum = 0;
            $('#carouselImage').hide();
            $('#imageContainer').html(carouselItems[imageNum]);
            $('#carouselImage').fadeIn("slow");
            $('#footerMessage').html("imageNum: " + imageNum)
            adjustCarousel();
        }, rotationSpeed);
    }

    $('#imageContainer').click(function () {
        clearInterval(Carousel);
        //alert("$('.carouselItem').attr('Id'): " + $('.carouselItem').attr('Id'));
        window.location.href = "/Article/ArticleView?Id=" + $('.carouselItem').attr('Id');
    })


    function clickPrevious() {
        imageNum--;
        if (imageNum < 0) 
            imageNum = numArticles - 1;
        clearInterval(Carousel);
        rotate();
    }
    function clickNext() {
        clearInterval(Carousel);
        imageNum++;
        if (imageNum >= numArticles)
            imageNum = 0;
        rotate();
    }

    function loadAndStartCarousel() {
        $('#carouselLoadingGif').show();

        $.ajax({
            type: "GET",
            url: service + "/api/DbArticle?pageLen=" + numArticles + "&page=1&filterType=null&filter=null",
            //url: service + "/api/ArticleXml?pageLen=" + numArticles + "&page=0&filterType=none&filter=none",
            success: function (articles) {
                articles.forEach(loadArray);
                $('.fbutton').show();
                rotate();
                $('#carouselLoadingGif').hide();
            },
            error: function (xhr) {
                alert("loadAndStartCarousel error: " + xhr.statusText);
            }
        });
    };

    function loadArray(article) {
        try {
            if (article.ImageName !== "") {
                imgSrc = webService + "/App_Data/Images/" + article.ImageName;
            };
            carouselItems.push(`
                <div class='carouselItem' id='`+ article.Id + `' >
                    <img class='carouselImage' src=` + imgSrc + `>
                    <div id='articleTitle' class='carouselLabel'>` + article.Title + `</div>
                    <div id='articleCat'   class='carouselLabel'> ` + article.CategoryLabel.trim() + `</div>
                </div>`);
        } catch (e) {
            alert("formatArticleJog error: " + e);
        }
    }

</script>