@using Microsoft.AspNet.Identity

<style>
    #divCommentsBody {
        border: 2px solid #000;
        background-color: #fff;
        margin-bottom: 6px;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    #divKnownUser {
        border: solid thin #ebe9e9;
        padding: 6px;
        background-color: #b5d2e4;
    }

    #divLoginWarning {
        border: solid thin red;
        padding: 6px;
        text-align: center;
    }

        #divLoginWarning span {
            color: #2e7fd8;
            text-decoration: underline;
        }

    #commentEntry {
        /*border: solid thin #5c5151;*/
        margin: 4px;
        width: 100%;
    }

    #textAreaComment {
        background-color: #ebe9e9;
        width: 96%;
        min-height: 200px;
        padding: 4px;
        margin-bottom: 6px;
    }

    #btnCancel {
        margin-top: 33px;
        margin-left: 14px;
        height: 30px;
    }

    .commentTitleRow {
        font-size: 18px;
    }
    .commentWelcomeRow {
        font-size: 18px;
        width: 100%;
        padding-left: 33px;
    }

    input {
        display: inline-block;
        width: 88%;
        background-color: #ebe9e9;
        margin: 4px 1px;
    }


    .commentHistoryItem {
        display: flex;
        background-color: #ebe9e9;
        width: 95%;
    }
        .commentHistoryItem div {
            float: left;
            padding: 4px;
            border-bottom:dotted 1px #5c5151;
        }

    #commentHistoryDate {
        width: 101px;
    }

    #commentHistoryUserName {
        width: 100px;
        color: #732b92;
    }
    #commentHistoryUserTitle {
        width: 200px;
        overflow: hidden;
    }
    #commentHistoryUserText {
        width: 78%;
        background-color: #b8bf77;
        overflow: hidden;
    }
</style>

<div id="divCommentsBody">
    @if (Request.IsAuthenticated)
    {
        <div id="divKnownUser" class="commentWelcomeRow" >hello @User.Identity.GetUserName()</div>
    }
    else
    {
        <div id="divLoginWarning" class="commentWelcomeRow"> You must <span id="spRegister" class="clickable">Register</span> or <span id="spLogin" class="clickable">Login</span> to comment</div>
    }

    <div id="commentEntry">
        <div class="commentTitleRow">
            <span>Title: </span><input class="roundedInput" id="txtTitle" /><img id="btnCancel" src="~/Images/powerOffRed01.png" />
            <textarea id="textAreaComment"></textarea>
        </div>
        <div id="divButtons">
            <button id="btnSubmit" class="roundendButton">Submit</button>
            <button id="btnNew" class="roundendButton">New</button>
        </div>
    </div>
    <input id="hiddenCommentId" type="hidden" />
    <div id="commentHistory">
    </div>
</div>

<script>
    var comment = new Object();
    $(document).ready(function () {
        $('#btnNew').hide();
    });

    $('#spLogin').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/LoginPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#spRegister').click(function () {
        $.ajax({
            type: "get",
            url: "/Login/RegisterPopup",
            datatype: "json",
            success: function (data) {
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function (xhr) {
                alert("RegisterPopup error: " + xhr.statusText);
            }
        });
    });

    $('#btnSubmit').click(function () {
        if ($('#btnSubmit').html() == "Submit") {
            postComment();
        }
        else {
            updateComment()
        }
    });

    $('#btnNew').click(function () {
        $('#btnNew').hide();
        $('#btnSubmit').val("Update");
    })

    function unBind() {
        comment.CommentTitle = $('#txtTitle').val();
        comment.CommentText = $('#textAreaComment').val();
        comment.UserName = userName;
        comment.UserId = userId;
        comment.ArticleId = articleId;
    }

    function getComments() {
        try {
            //$('#divLoadingGif').show();
            $.ajax({
                url: service + "/api/Comments/get/?articleId=" + articleId,
                type: "get",
                dataType: "Json",
                success: function (results) {
                    $('#divLoadingGif').hide();
                    $('#commentHistory').html("");
                    $.each(results, function (idx, comment) {

                        var commentItem = "<div id='" + comment.ArticleId + "' class='commentHistoryItem'>";
                        commentItem += "<div id='commentHistoryDate'>" + comment.CreateDate + "</div>";
                        commentItem += "<div id='commentHistoryUserName'>" + comment.UserName + "</div>";
                        commentItem += "<div id='commentHistoryUserTitle'>" + comment.CommentTitle + "</div>";
                        //alert("comment.CommentText.Length: " + comment.CommentText.length);
                        if (comment.CommentText.length > 200)
                            comment.CommentText = comment.CommentText.substring(0, 200) + "..."; 
                        commentItem += "<div id='commentHistoryUserText'>" + comment.CommentText + "</div></div>";
                        //alert("comment: " + commentItem);
                        $('#commentHistory').append(commentItem); 
                    });

                    var hdr = $('.Header').height();
                    var mch = $('#middleColumn').height()
                    var ccH = $('#divCommentsBody').height();
                    var tcH = $('.threeColumnArray').height();
                    if (tcH < (hdr + mch + ccH)) {
                        $('.threeColumnArray').height(tcH + ccH);
                        $('#footerMessage').html("(CCH)");
                    }
                    resizePage();
                },
                error: function (jqXHR, exception) {
                    alert("/api//get comments error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("getComments: " + e);
            displayStatusMessage("severityError", "catch ERROR: " + e);
        }
    };

    function postComment() {
        unBind();
        comment.CommentId = 0;
        $.ajax({
            url: service + "/api/Comments/",
            type: "POST",
            dataType: "Json",
            data: comment,
            success: function (response) {
                if (response.success == "ok") {
                    //alert("response.CommentId: " + response.CommentId)

                    $('#hiddenCommentId').val(response.CommentId);
                    $('#btnSubmit').html("Update");
                    $('#btnNew').show();

                    displayStatusMessage("severityOk", "comment posted");
                    getComments();

                }
                else {
                    alert("POST ajax return error: " + response.success);
                    //displayStatusMessage("severityError", "xhr ERROR: " + Success);
                }
            },
            error: function (xhr) {
                //displayStatusMessage("severityError", "error: " + xhr.statusText);
                alert("post error: " + xhr.statusText);
            }
        });
    }

    function updateComment() {
        unBind();
        comment.CommentId = $('#hiddenCommentId').val();

        $.ajax({
            url: service + "/api/Comments/Put",
            type: "PUT",
            dataType: "Json",
            data: comment,
            success: function (success) {
                if (success == "ok") {
                    displayStatusMessage("severityOk", "comment edited");
                    //$('#btnSubmit').val("Update");
                    getComments();
                }
                else {
                    alert("PUT ajax return error: " + success);
                    //displayStatusMessage("severityError", "xhr ERROR: " + success);
                }
            },
            error: function (xhr, textStatus, error) {
                //displayStatusMessage("severityError", "error: " + xhr.statusText);
                alert("PUT ajax error: " + xhr.statusText);
            }
        });
    }

</script>
