
<div>
    @*<link href="~/Styles/editor/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link href="~/Styles/editor/codeMirror.css" rel="stylesheet" />
    <link href="~/Styles/editor/monokai.css" rel="stylesheet" />
    <link href="~/Styles/editor/cobalt.css" rel="stylesheet" />


    <div id="randomDivName"><span></span></div>


    <script src="~/Scripts/3rd Party/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/3rd Party/Editor/bootstrap.js"></script>*@
    <script src="~/Scripts/3rd Party/Editor/summernote.js"></script>
    <script src="~/Scripts/3rd Party/Editor/codemirror.js"></script>
    <script src="~/Scripts/3rd Party/Editor/xml.js"></script>
    <script src="~/Scripts/3rd Party/Editor/formatting.js"></script>
    <script src="~/Scripts/3rd Party/Editor/htmlmixed.js"></script>
    <script>

        jQuery(document).ready(function ($) {
            $('#randomDivName').summernote({
                codemirror: { lineWrapping: true, mode: "htmlmixed", theme: "monokai" },
                toolbar: [
                    ['codeview'],
                    ['font style', ['fontname', 'fontsize', 'color', 'bold', 'italic', 'underline',]],
                ],
            });
        });

    </script>
</div>
