
<div class="editorScriptContainer">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>


    @*
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
            <link href="~/Styles/editor/bootstrap.css" rel="stylesheet" />
            <link href="~/Styles/editor/codeMirror.css" rel="stylesheet" />
            <link href="~/Styles/editor/monokai.css" rel="stylesheet" />
            <script src="~/Scripts/Editor/bootstrap.js"></script>
            <script src="~/Scripts/Editor/summernote.js"></script>
            <script src="~/Scripts/Editor/codemirror.js"></script>
            <script src="~/Scripts/Editor/formatting.js"></script>
            <script src="~/Scripts/Editor/xml.js"></script>
            @*include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js)
    *@


</div>
