@{
    ViewBag.Title = "ToC";
}

<link href="~/Styles/tableofContents.css" rel="stylesheet" />
<style>
    #tocEdit {
        margin-top: 66px;
        margin-right: 11px;
    }
</style>
<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <div id="bookTitle" class="pageTitle"></div>

        <div id="divToC" class="toCcontainer">
            Put ToC here

        </div>

    </div>
    <div id="rightColumn">        
        <div id="tocEdit"><a href="javascript:redirectToEdit()">Edit</a></div>
    </div>
</div>

<script>
    var bookId = '@ViewBag.BookId';
    var service = '@ViewBag.Service';

    $(document).ready(function () {
        getdbBook();
    })

    function redirectToEdit() {
        window.location.href = "/BookDb/Edit?book=" + bookId;
    }

    $('.divChapter').click(function () {
        //$('.divSections').hide();
        //alert("children : " + $(this).children(2).attr("src"));
        if ($(this).children(0).children(0).attr("src") === "../../Images/upCaret.png") {
            $(this).children(0).children(0).attr("src", "../../Images/downCaret.png");
        }
        else {
            $(this).next().show();
            //alert("next: " + $(this).next());
            $('.divChapter').children(0).children(0).attr("src", "../../Images/downCaret.png");
            $(this).children(0).children(0).attr("src", "../../Images/upCaret.png");
        }
    });





    function getdbBook() {
        try {
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("getBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);

                        $('#divToC').html("");
                        $.each(book.Chapters, function (idx, obj) {
                            // kludge String To Prevent Jquery from auto closing divs
                            var kludge = "<div class='divChapter'>";  // Id='" + obj.Id + "'
                            kludge += "<div class='chapterName'>" + obj.ChapterTitle + "</div>";
                            kludge += "<div class='dots'></div>";
                            kludge += "<div class='divCaret'><img onclick='javascript:toggleChapter()' src='/Images/downCaret.png'></div></div>";
                            kludge += "<div class='tocSectionContainer'>";
                            $.each(obj.Sections, function (idx, obj) {
                                kludge += "<div class='divSection'>" + obj.SectionTitle + "</div>";
                                kludge += "<div class='divSubsections'>";
                                $.each(obj.SubSections, function (idx, obj) {
                                    kludge += "<div class='divSubSection'>" + obj.SubSectionTitle + "</div>";
                                })
                                kludge += "</div>";
                            })
                            kludge += "</div>";
                            $('#divToC').append(kludge);
                        })
                    }
                },
                error: function (jqXHR, exception) {
                    alert("getBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("getBook CATCH: " + e);
        }
    }

    function toggleChapter() {

        alert("$(this).attr('src'): " + $(this).attr('src'));



        //alert("toggleChapter: " + '#chapterId' + chapterId + ' img');
        var cc = "#chapterId" + chapterId + " img";
        var x = $(this).get(0).tagName;
        //alert("$(" + cc + ") : " + $(cc).prop('src'));
            alert("bbb: " + x);
        //if ($(this).children(0).attr("src") === "/Images/upCaret.png") {
        //    $(this).children(0).attr("src", "/Images/downCaret.png");
        //}
        //else {
        //    $(this).next().show();
        //    //alert("next: " + $(this).next());
        //    $('.divChapter').children(0).attr("src", "/Images/downCaret.png");
        //    $(this).children(0).attr("src", "/Images/upCaret.png");
        //}



        //if ($(cc).attr("src") == "/Images/downCaret.png") {
        //    $("chapterId" + chapterId).show();
        //    $(this).attr("src", "/Images/upCaret.png");
        //}
        //else {
        //    $(this).attr("src", "/Images/downCaret.png");
        //    $("chapterId" + chapterId).hide();
        //}
    }



</script>
