@{
    ViewBag.Title = "ToC";
}

<link href="~/Styles/tableofContents.css" rel="stylesheet" />
<style>
    .pageTitle {
        margin-top: 44px;
    }
    #tocEdit {
        
        margin-top: 66px;
        margin-right: 11px;
    }
    .threeColumnArray {
        background-color: #ddd69f;
    }
</style>
<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <div id="bookTitle" class="pageTitle" onclick='javascript:goRead(0,0,0)'></div>
        <div>
            <div id="divToC" class="toCcontainer">
                <div id="tocLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
        @if (User.IsInRole("Book Editor"))
        {
            <div id="tocEdit"><a href="javascript:redirectToEdit()">Edit</a></div>
        }
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var bookId = '@ViewBag.BookId';

    $(document).ready(function () {
        if (isNullorUndefined(bookId)) {
            window.location.href = "/BookDb"
        }
        setStyle();
        getChapterTree();
    })

    function setStyle() {

        //alert("bookid: " + bookId);// + "   =2: " + bookId == "2");

        if (bookId == '2') {
            //alert("ok");
            $('.threeColumnArray').css('background-image', 'url("/Images/Books/timeSquared01.jpg")')
            $('.threeColumnArray').css('background-repeat', 'no-repeat');
            $('.threeColumnArray').css('background-size', 'cover');
            $('#divToC').css('color', '#fff');
            $('.dots').css('border-bottom-color', '#fff');
            $('#bookTitle').css('color', '#fff');
        }

    }

    function getChapterTree() {
        try {
            $('#tocLoadingGif').show();
            $.ajax({
                type: "get",
                url: service + "/api/BookDb/?bookId=" + bookId,
                success: function (book) {
                    if (book.success != "ok")
                        alert("getBook: " + book.success);
                    else {
                        $('#bookTitle').html(book.BookTitle);

                        $('#divToC').html("");
                        $.each(book.Chapters, function (idx, chapter) {
                            // kludge String To Prevent Jquery .append() from auto closing divs
                            var kludge = "<div class='chapterContainer'>";
                            kludge += "<div id=ct" + chapter.Id + " class='chapterName' onclick='goRead(1," + chapter.Id + ",0)'>" + chapter.ChapterOrder + ". " + chapter.ChapterTitle + "</div>";
                            kludge += "<div class='dots' onclick='toggleTocSection(" + chapter.Id +")'></div>";
                            kludge += "<div class='divCaret'><img id=img" + chapter.Id + " onclick='toggleTocSection(" + chapter.Id +")' src='/Images/caretDown.png'></div></div>";
                            kludge += "</div>";
                            kludge += "<div id=st" + chapter.Id +" class='tocSectionContainer'>";
                            $.each(chapter.Sections, function (idx, section) {
                                kludge += "<div id=sc" + section.Id + " class='divSection' onclick='javascript:goRead(2," + chapter.Id + "," + section.Id + ")'>" + section.SectionTitle + "</div>";
                                //kludge += "<div class='divSubsections'>";
                                //$.each(section.SubSections, function (idx, subSection) {
                                //    kludge += "<div class='divSubSection' onclick='javascript:goRead(3," + chapter.Id + "," + subSection.Id + ")'>" + subSection.SubSectionTitle + "</div>";
                                //})
                                //kludge += "</div>";
                            })
                            kludge += "</div>";
                            $('#divToC').append(kludge);
                        })
                        $('#tocLoadingGif').hide();
                    }
                },
                error: function (jqXHR, exception) {
                    alert("getBook XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("getBook CATCH: " + e);
        }
    }

    function toggleChapter(id) {
        alert("toggleChapter(id): " + id);
        var caretImg = $('#img' + id);
        var chapterContainer = $('#ct' + id);
        if (caretImg.attr('src') == "/Images/downCaret.png") {
            chapterContainer.show();
            caretImg.attr('src', '/Images/upCaret.png');
        }
        else {
            caretImg.attr('src', '/Images/downCaret.png')
            sectionContainer.hide();
        }
    };

    function toggleTocSection(id) {
        //alert("toggleTocSection(id): " + id);
        var caretImg = $('#img' + id);
        var sectionContainer = $('#st' + id);
        if (caretImg.attr('src') == "/Images/caretDown.png") {
            sectionContainer.show();
            caretImg.attr('src', '/Images/caretUp.png');
        }
        else {
            caretImg.attr('src', '/Images/caretDown.png')
            sectionContainer.hide();
        }
    }

    function redirectToEdit() {
        //window.location.href = "/BookDb/Edit?book=" + bookId;
        window.location.href = "/BookDb/Write?book=" + bookId;
    }

    function goRead(type, chapterId, sectionId) {
        window.location.href = "/BookDb/read?b=" + bookId + "&c=" + chapterId + "&t=" + type + "&id=" + sectionId;
    }

</script>
