
<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/Admin/Dashboard'">Dashboard</div>
            <div onclick="window.location.href='/Admin/Blog'">Blog</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <h2>Admin</h2>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    $(document).ready(function () {
    });

</script>