@{
    ViewBag.Title = "Blog";
}

<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/start/jquery-ui.min.css" rel="stylesheet">
<style>

    .blogEditArea {
        display: flex;
        display: inline-block;
        margin-top: 10px;
        padding: 4px;
    }
    
    .crudLabel {
        min-width: 45px;
        margin-right: 4px;
        margin-left: 7px;
    }

    .roundedInput {
        margin-bottom: 7px;
        width: 500px;
    }

    .leftImage {
        border: solid .05px var(--oggleBorderColor);
        height: 130px;
        min-width: 120px;
        margin-left: 10px;
    }


    .blogArticleJogContainer {
        overflow-y: auto;

    
    
    }

    .blogItemContainer {
        height: 100%;
        margin-left: 10px;
        overflow-y: auto;
    }

    .blogListItem {
        font-size: 13px;
        padding: 4px 2px;
        margin: 1px;
        background-color: var(--oggleBackgroundColor);
        cursor: pointer;
    }

    .panel {
        margin-bottom: 5px;
        background-color: var(--oggleBackgroundColor);
    }

    .blogArticle {
        border: solid 2px var(--oggleBorderColor);
        margin: 3px 23px;
    }
    .blogArticleTitle {
        font-size: 24px;
        text-align: center;
    }
    .blogArticleImage {
        height: 222px;
    }
    .blogArticleJog {
        border: solid thin red;
        margin: 3px 23px;
    }
    .blogArticleJogImage {
        height: 175px;
        margin-right: 6px;
    }
    .blogArticleJogBody {
        padding: 4px;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: var(--oggleContainerBackgroundColor);
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow-y: auto;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="showBlogDisplay('CMT')">Show Entries</div>
            <div onclick="showBlogEditor()">New Entry</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="blogDisplayArea">

            <div id="blogArticleJogContainer" class="blogArticleJogContainer" >
            </div>

            @*<div id="blogArticleContainer">
                <div class="blogArticle">
                    <div class="blogArticleTitle">The Title of My Blog Article</div>
                    <div class="center"><img class="blogArticleImage" src="http://archive.jpg" /></div>
                    <div class="blogArticleBody">
                    </div>
                </div>
            </div>*@

        </div>
        <div id="blogEditArea" class="blogEditArea">
            <div class="floatLeft">
                <div>
                    <div class="flexContainer">
                        <div class="floatLeft">
                            <div style="display:block">
                                <div class="crudRow">
                                    <div class="crudLabel inline">Title</div>
                                    <input id="txtCommentTitle" class="roundedInput" />
                                </div>
                                <div class="crudRow">
                                    <div class="crudLabel inline">Type</div>
                                    <select id="selCommentType" class="roundedInput" onchange="selectCommentTypeChange();">
                                        <option value="CMT">Image Comment</option>
                                        <option value="PGM">Programmer Notes</option>
                                        <option value="BLG">BlogEntry</option>
                                        <option value="CON">Site Content</option>
                                    </select>
                                </div>
                                <div class="crudRow">
                                    <div class="crudLabel inline">Link</div>
                                    <input id="txtLink" class="roundedInput" onblur="$('#imgBlogLink').attr('src', $('#txtLink').val());" />
                                </div>
                            </div>
                        </div>
                        <div class="floatLeft">
                            <img id="imgBlogLink" class="leftImage" />
                        </div>
                    </div>
                </div>
                <div class="crudRow">
                    <div id="blogEditor" class="blogEntryTextArea"></div>
                    <div>
                        <div id="btnAddEdit" class="roundendButton" onclick="saveBlogEntry()">Add</div>
                        <div id="btnNewCancel" class="roundendButton" onclick="NewCancel()">New</div>
                    </div>
                </div>
            </div>
            <div class="floatLeft">
                <div id="blogList" class="blogItemContainer"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var blogObject = {};

    /// 11:19  May 24 20019
    ///  sometimes even I have to take a moment to figure out what I want to do.
    /// start with a display of blog entries
    $(document).ready(function () {

        showBlogDisplay('CMT');

        $('#blogEditor').summernote({
            height: 310,
            width: 900,
            codemirror: { lineWrapping: true, mode: "htmlmixed", theme: "cobalt" },
            toolbar: [
                ['codeview'],
                ['font style', ['fontname', 'fontsize', 'color', 'bold', 'italic', 'underline']]
            ]
        });

        window.addEventListener("resize", resizeBlogPage);
        resizeBlogPage();
    });

    function resizeBlogPage() {
        resizePage();
        var headerClearance = 143;
        $('#blogArticleJogContainer').height($('#middleColumn').height() - headerClearance);
        $('#rightColumn').width($('#leftColumn').width());
        $('#blogList').height($('#middleColumn').height() - headerClearance);
        $('#blogEditArea').height($('#middleColumn').height() - headerClearance);
        $('#blogEditor').width($('#middleColumn').width() - $('#blogList').width());
        $('.blogItemContainer').height($('.blogEditArea').height());
    }

    function showBlogEditor() {
        $('#blogDisplayArea').hide();
        $('#blogEditArea').show();
        loadBlogList("CMT");
        $('#btnAddEdit').html("Add");
        $('#btnNewCancel').hide();
        clearGets();
    }

    function showBlogDisplay(commentType) {
        $.ajax({
            type: "GET",
            url: service + "/api/OggleBlog/GetBlogList?commentType=" + commentType,
            success: function (blogComments) {
                $('#blogArticleJogContainer').html("");
                if (blogComments.length == 0)
                    $('#blogArticleJogContainer').html("-- --");
                else {
                    if (!blogComments[0].CommentTitle.startsWith("ERROR")) {
                        $.each(blogComments, function (idx, entry) {
                            $('#blogArticleJogContainer').append(`
                                <div class="blogArticleJog">
                                    <div class="flexContainer">
                                        <div class="floatLeft">
                                            <img class="blogArticleJogImage" src="`+ entry.Link + `" />
                                        </div>
                                        <div class="blogArticleJogBody">
                                            <div class="blogArticleTitle ">`+ entry.CommentTitle + `</div>
                                            <div >`+ entry.CommentText + `</div>
                                            <div>
                                                <span class="clickable" onclick="expandArticle()">...</span>
                                                <div class="floatRight clickable" onclick="editArticle('`+ entry.Id + `','` + commentType + `')">edit</div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>`);
                        });
                    }
                    else
                        alert("display Blog: " + blogComments[0].CommentTitle)
                }
            },
            error: function (xhr) {
                $('#getDirTreeLoadingGif').hide();
                alert("display BlogEntry xhr: " + xhr.statusText);
            }
        });
        $('#blogDisplayArea').show();
        $('#blogEditArea').hide();
    }

    function editArticle(blogId, commentType) {
        $('#blogDisplayArea').fadeOut();
        loadBlogList(commentType);
        loadBlogEntry(blogId);
        $('#blogEditArea').fadeIn();
    }

    function selectCommentTypeChange() {
        loadBlogList($('#selCommentType').val());
    }

    function loadBlogList(commentType) {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/OggleBlog/GetBlogList?commentType=" + commentType,
                success: function (blogComments) {
                    $('#blogList').html("");
                    if (blogComments.length == 0) {
                        $('#blogList').append("<div class='blogListItem'>--- ---</div>");
                    }
                    else {
                        if (!blogComments[0].CommentTitle.startsWith("ERROR")) {
                            $.each(blogComments, function (idx, entry) {
                                $('#blogList').append("<div class='blogListItem' onclick=loadBlogEntry('" + entry.Id + "') >" + entry.CommentTitle + "</div>");
                            });
                        }
                        else
                            alert("load BlogList: " + blogComments[0].CommentTitle)
                    }
                },
                error: function (xhr) {
                    $('#getDirTreeLoadingGif').hide();
                    alert("load BlogList xhr: " + xhr.statusText);
                }
            });
        } catch (e) {
            alert("load BlogList catch: " + e);
        }
    }

    function loadBlogEntry(blogId) {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/OggleBlog?blogId=" + blogId,
                success: function (model) {
                    if (model.Success == "ok") {
                        blogObject.Id = model.Id;
                        $('#txtCommentTitle').val(model.CommentTitle);
                        $('#selCommentType').val(model.CommentType);
                        $('#txtLink').val(model.Link);
                        $('#blogEditor').summernote('code', model.CommentText);
                        $('#imgBlogLink').attr("src", model.Link);

                        $('#btnAddEdit').html("Save");
                        $('#btnNewCancel').show();
                    }
                    else
                        alert("displayBlogEntry: " + model.Success)
                },
                error: function (xhr) {
                    $('#getDirTreeLoadingGif').hide();
                    alert("display BlogEntry xhr: " + xhr.statusText);
                }
            });
        } catch (e) {
            alert("display BlogEntry catch: " + e);
        }
    }

    function NewCancel() {
        $('#btnNewCancel').hide();
        $('#btnAddEdit').html("Add");
       clearGets();
    }

    function clearGets() {
        $('#txtCommentTitle').val("");
        $('#txtLink').val("");
        $('#blogEditor').summernote('code', "");
        $('#imgBlogLink').attr("src", "http://boobs.ogglebooble.com/redballon.png");
        blogObject.Id = "";
    }

    function saveBlogEntry() {
        try {
            blogObject.CommentTitle = $('#txtCommentTitle').val();
            blogObject.CommentType = $('#selCommentType').val();
            blogObject.Link = $('#txtLink').val();
            blogObject.CommentText = $('#blogEditor').summernote('code');

            if ($('#btnAddEdit').html() == "Add") {
                $.ajax({
                    type: "POST",
                    url: service + "/api/OggleBlog",
                    data: blogObject,
                    success: function (successModel) {
                        if (successModel.Success == "ok") {
                            displayStatusMessage("ok", "Entry Saved")
                            $('#btnAddEdit').html("Save")
                            $('#btnNewCancel').show();
                            loadBlogList(blogObject.CommentType);
                            blogObject.Id = successModel.ReturnValue;
                        }
                        else
                            alert("saveBlogEntry: " + successModel.Success)
                    },
                    error: function (xhr) {
                        $('#getDirTreeLoadingGif').hide();
                        alert("saveBlogEntry xhr: " + xhr.statusText);
                    }
                });
            }
            else {
                $.ajax({
                    type: "PUT",
                    url: service + "/api/OggleBlog",
                    data: blogObject,
                    success: function (success) {
                        if (success == "ok") {
                            displayStatusMessage("ok", "Entry Updated")
                            loadBlogList(blogObject.CommentType);
                        }
                        else
                            alert("update blogEntry: " + success)
                    },
                    error: function (xhr) {
                        $('#getDirTreeLoadingGif').hide();
                        alert("saveBlogEntry xhr: " + xhr.statusText);
                    }
                });
            }
        } catch (e) {
            alert("saveBlogEntry catch: " + e);
        }
    }

</script>

