
@{
    ViewBag.Title = "Dashboard";
}
<script src="~/Scripts/3rd Party/jquery.signalR-2.4.1.min.js"></script>
<script src="/signalr/hubs"></script>
<link href="~/Styles/Dashboard.css" rel="stylesheet" />

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">

        <img id="dashBoardLoadingGif" class="loadingGif" src="~/Images/loader.gif" />
        <div id="divDashboardContainer" class="dashBoardContainer">

            <div class="workarea">
                <div id="divStatusMessage"></div>
                <div id="addNewLink" class="addLinkCrudArea">
                    <div>link<input id="txtNewLink" tabindex="1" class="roundedInput" onblur="previewLinkImage()" /></div>
                    <div>path<input class="roundedInput txtLinkPath" readonly="readonly" /></div>
                    <div class="roundendButton" tabindex="2" onclick="addImageLink()">Insert</div>
                </div>
                <img id="imgLinkPreview" class="linkImage" />
                <div id="progressBar" class="dashboardProgessBar"></div>
                <div id="dataifyInfo" class="infoLine"></div>
            </div>

            <img id="getDirTreeLoadingGif" class="smallLoadingGif" src="~/Images/loader.gif" />
            <div id="dirTreeContainer" class="treeContainer"></div>

            <div id="videoCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Add Video Link <div onclick="$('#videoCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span class="cru">link</span><input id="txtVideoLink" class="roundedInput" /></div>
                    <div><span>image</span><input id="txtVideoImage" class="roundedInput" /></div>
                    <div><span>title</span><input id="txtVideoTitle" class="roundedInput" /></div>
                    <div class="roundendButton" onclick="addVideo()">Insert</div>
                </div>
            </div>

            <div id="newFolderCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Create New Folder<div onclick="$('#newFolderCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span>title</span><input id="txtNewFolderTitle" class="roundedInput" /></div>
                    <div><span>parent</span><input class="txtLinkPath roundedInput" readonly="readonly" /></div>
                    <div class="roundendButton" onclick="createNewFolder()">Create Folder</div>
                </div>
            </div>

            <div id="renameFolderCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Rename Folder<div onclick="$('#renameFolderCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span>folder to rename</span><input id="txtFolderToRename" class="txtLinkPath roundedInput" readonly="readonly" /></div>
                    <div><span>new name</span><input id="txtReName" class="roundedInput" /></div>
                    <div class="roundendButton" onclick="renameFolder()">Rename Folder</div>
                </div>
                <div id="renameFolderReport" class="repairReport"></div>
            </div>

            <div id="moveFolderCrud" class="oggleHidden" title="Move Folder">                
                <div>
                    <span>move folder </span><div onclick="$('#partialViewTreeContainer').toggle()" class="toggleButton">...</div>
                    <input id="txtFolderToMove" class="txtPartialDirTreePath roundedInput" readonly="readonly" />
                </div>
                <div><span>new parent</span><input id="txtNewFolderParent" class="txtLinkPath roundedInput" readonly="readonly" /></div>
                <div class="roundendButton" onclick="moveFolder()">Move Folder</div>
            </div>

            <div id="partialViewTreeContainer" class="floatingCrud2">
                <div class="floatingCrudBanner">Select Folder to move<div onclick="$('#partialViewTreeContainer').fadeOut()" class="farSide">x</div></div>
                <div id="folderToMoveTreeContainer" class="dirTree2Container"></div>
            </div>

            @*<div id="repairLinksCrud" class="floatingCrud">
                <div class="floatingCrudBanner">Verify Links<div onclick="$('#repairLinksCrud').fadeOut()" class="farSide">x</div> </div>
                <div class="floatingCrudContainer">
                    <div><span>destination</span><input id="txtdestination" value="F:/Danni/" class="roundedInput" /></div>
                    <div><span>start path</span><input class="txtLinkPath roundedInput" /></div>
                    <div class="roundendButton" onclick="repairLinks()">run</div>
                </div>
                <div id="repairLinksReport" class="repairReport"></div>
            </div>*@

            <div id="dashboardContextMenu" class="ogContextMenu" onmouseleave="$(this).fadeOut();">
                <div onclick="openFolder()">Open Folder</div>
                <div onclick="showCategoryDetails()">Show Category Info</div>
                <div onclick="showInfoDialog()">Show Model Info</div>
            </div>

        </div>
    </div>
    <div id="rightColumn"></div>
</div>
<div>@Html.Partial("_CategoryDialog")</div>
<div>@Html.Partial("_ModelInfoDialog")</div>

<script>
    var service = '@ViewBag.Service';
    var isPornEditor = '@ViewBag.IsPornEditor';
    var tabIndent = 22;
    var tab = 0;
    var totalPics = 0;
    var totalFolders = 0;
    var dashboardMainSelectedTreeId = 0;
    var dashboardMainSelectedPath = "";
    var partialViewSelectedItemId = 0;
    var dashboardContextMenuFolderId = "";

    $(document).ready(function () {

        $('#headerMessage').html(`Dashboard <dir class='linkContainer'>
        <div class="clickable" onclick="buildDirectoryTree()">ReBuild Dir Tree</div>
        <div class="clickable" onclick="$('#videoCrud').fadeIn()">Add Video Link</div>
        <div class="clickable" onclick="$('#newFolderCrud').fadeIn()">Create New Folder</div>
        <div class="clickable" onclick="showMovefolderDialog()">Move Folder</div>
        <div class="clickable" onclick="$('#renameFolderCrud').fadeIn()">ReName Folder</div>
        <div class="clickable" onclick="collapseChildFolder()">Collapse Folder</div>
        <div class="clickable" onclick="repairLinks()">Repair Links</div></dir>`);


//                <div class="clickable" onclick="$('#repairLinksCrud').fadeIn()">Repair Links</div></dir>`);

        buildDirectoryTree();

        setSignalR();

        window.addEventListener("resize", resizeDashboardPage);
        resizeDashboardPage();
    });

    function resizeDashboardPage() {
        resizePage();
        var workAreaHeight = $('#dashboardTop').height() + ($('#dashboardTop').height() + $('#imgLinkPreview').height() + 300);
        if (workAreaHeight > $('#middleColumn').height()) {
            $('#middleColumn').height(workAreaHeight);
        }
        $('#divDashboardContainer').height($('#middleColumn').height() - 150);
        $('.floatingCrud').width($('.workarea').width() - 100);
        //$('#footerMessage').html("$('#middleColumn').height(): "+$('#middleColumn').height()); //image height: " + $('#imgLinkPreview').height());
    }

    function setSignalR() {
        var connection = $.hubConnection(service);

        var progressHubProxy = connection.createHubProxy('ProgressHub');

        progressHubProxy.on('PostToClient', function (data) {
            $('#dataifyInfo').html(data);
        });

        progressHubProxy.on('ShowProgressBar', function (goal, progress) {
            $('#progressBar').progressbar({ value: progress, max: goal });
        });

        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + connection.id);
            })
            .fail(function () {
                alert('signalr Could not connect')
                console.log('signalr Could not connect');
            });
    }

    function buildDirectoryTree()
    {
        $('#dirTreeContainer').html("");
        $('#getdirtreeloadinggif').show();
        $.when(buildDirTree($('#dirTreeContainer'), "dashboardMain", 0)).done(function () {
            $('#getdirtreeloadinggif').hide();
        });
    }

    function addVideo() {
        try {
            $('#dashBoardLoadingGif').show();
            var videoLink = {};
            videoLink.Link = $('#txtVideoLink').val();
            videoLink.Image = $('#txtVideoImage').val();
            videoLink.Title = $('#txtVideoTitle').val();
            $.ajax({
                type: "POST",
                url: service + "api/VideoLink",
                data: videoLink,
                success(success) {
                    $('#dashBoardLoadingGif').hide();
                    if (!success.startsWith("ERROR")) {
                        displayStatusMessage("ok", "video link added");
                    }
                    else
                        alert("addVideo: " + success);
                },
                error: function (xhr) {
                    $('#dashBoardLoadingGif').hide();
                    alert("addVideo xhr: " + getXHRErrorDetails(xhr));
                }
            })
        } catch (e) {
            alert("addVideo Catch : " + e);
        }
    }

    function previewLinkImage() {
        $('#imgLinkPreview').attr('src', $('#txtNewLink').val());

        $('#imgLinkPreview').one("load", function () {
            $('#footerMessage').html("image height: " + $('#imgLinkPreview').height());
            resizeDashboardPage();
        });
    }

    function addImageLink() {
        if (isNullorUndefined($('#txtNewLink').val()))
            alert("invalid link")
        else {

            $('#dataifyInfo').hide()
            var newLink = {};
            newLink.Link = $('#txtNewLink').val();
            newLink.FolderId = dashboardMainSelectedTreeId;
            newLink.Path = dashboardMainSelectedPath;
            $('#dashBoardLoadingGif').fadeIn();
            $.ajax({
                type: "POST",
                url: service + "/api/FtpDashBoard",
                data: newLink,
                success: function (success) {
                    $('#dashBoardLoadingGif').hide();
                    if (success == "ok") {
                        displayStatusMessage("ok", "image link added");
                        $('#txtNewLink').val("");
                        resizeDashboardPage();
                    }
                    else
                        alert("addImageLink: " + success);
                },
                error: function (xhr) {
                    $('#dashBoardLoadingGif').hide();
                    alert("addImageLink xhr error: " + getXHRErrorDetails(xhr));
                }
            });
        }
    }

    function createNewFolder() {
        $('#dashBoardLoadingGif').fadeIn();
        var newFolder = {};
        newFolder.FolderName = $('#txtNewFolderTitle').val();
        newFolder.Parent = dashboardMainSelectedTreeId;
        $.ajax({
            type: "PUT",
            url: service + "/api/FtpDashBoard/CreateFolder",
            data: newFolder,
            success: function (success) {
                $('#dashBoardLoadingGif').hide();
                if (success == "ok") {
                    displayStatusMessage("ok", "new folder created");
                    buildDirectoryTree();
                }
                else
                    alert("CreateVirtualFolder: " + success);
            },
            error: function (xhr) {
                $('#dashBoardLoadingGif').hide();
                alert("CreateVirtualFolder xhr error: " + getXHRErrorDetails(xhr));
            }
        });
    }

    function collapseChildFolder() {
        if (confirm("collapse " + $('.txtLinkPath').val())) {
            $('#dashBoardLoadingGif').fadeIn();
            $('#dataifyInfo').show().html("collapse Child Folder");
            //$('#progressBar').progressbar("enable");
            $.ajax({
                type: "GET",
                url: service + "/api/FtpImagePage/CollapseFolder?folderId=" + dashboardMainSelectedTreeId,
                success: function (success) {
                    $('#dashBoardLoadingGif').hide();
                    if (success == "ok") {
                        displayStatusMessage("ok", "collapse succeded");
                        buildDirectoryTree();
                        $('#progressBar').progressbar("destroy");
                    }
                    else
                        alert("collapseChildFolder: " + success);
                },
                error: function (xhr) {
                    $('#dashBoardLoadingGif').hide();
                    alert("collapseChildFolder xhr error: " + getXHRErrorDetails(xhr));
                }
            })
        }
    }

    function showMovefolderDialog() {
        $('#moveFolderCrud').dialog({
            //autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: "615"
        });
        buildDirTree($('#folderToMoveTreeContainer'), "moveFolderTree", 0);
        $('#moveFolderCrud').show();
        //$('#moveFolderCrud').dialog("open");
    }
    function moveFolder() {
        $('#dataifyInfo').show().html("Preparing to Move Folder");
        //$('#dashBoardLoadingGif').fadeIn();
        //$('#moveFolderCrud').fadeOut();
        //$('#progressBar').progressbar("enable");
        $.ajax({
            type: "PUT",
            url: service + "/api/FtpDashboard/MoveFolder?orignFolderId=" + partialViewSelectedItemId + "&destinationParentId=" + dashboardMainSelectedTreeId,
            success: function (success) {
                //$('#dashBoardLoadingGif').hide();
                $('#moveFolderCrud').hide();
                $('#moveFolderCrud').dialog("close");
                if (!success.startsWith("ERROR")) {
                    displayStatusMessage("ok", "folder " + $('#txtNewFolderParent').val() + " moved to " + $('.txtPartialDirTreePath').val());
                    buildDirTrees();
                    $('#progressBar').progressbar("destroy");
                }
                else
                    alert("Move Folder: " + success);
            },
            error: function (xhr) {
                $('#dashBoardLoadingGif').hide();
                alert("Move Folder xhr error: " + getXHRErrorDetails(xhr));
            }
        });
    }

    function renameFolder() {
        var start = Date.now();
        $('#dashBoardLoadingGif').fadeIn();
        $('#dataifyInfo').show().html("renaming folder " + $('.txtLinkPath').val() + " to " + $('#txtReName').val());
        $('#renameFolderReport').html("");

        $.ajax({
            type: "PUT",
            url: service + "/api/FtpDashboard/RenameFolder?folderId=" + dashboardMainSelectedTreeId + "&kludge=0&newFolderName=" + $('#txtReName').val(),
            success: function (repairReport) {
                $('#dashBoardLoadingGif').hide();
                if (repairReport.Success == "ok") {
                    var delta = (Date.now() - start);
                    var minutes = Math.floor(delta / 60000);
                    var seconds = ((delta % 60000) / 1000).toFixed(0);
                    displayStatusMessage("ok", "folder " + $('.txtLinkPath').val() + " renamed to " + $('#txtReName').val());
                    console.log("Rename Folder took: " + minutes + ":" + (seconds < 10 ? '0' : '') + seconds);
                    buildDirTrees();
                    setTimeout(function () {
                        $('#dataifyInfo').html("Rename took: " + minutes + ":" + (seconds < 10 ? '0' : '') + seconds);

                        $('#dataifyInfo').append(", Rows Processed: " + repairReport.RowsProcessed);
                        $('#dataifyInfo').append(", links Edited: " + repairReport.LinksEdited);
                        $('#dataifyInfo').append(", Images Renamed: " + repairReport.ImagesRenamed);
                        $('#dataifyInfo').append(", Folders Renamed: " + repairReport.NewLinksAdded);

                        repairReport.Errors.forEach(function (element) {
                            $('#renameFolderReport').append("<div> errors: " + element + "</div>");
                        });
                        //$('#renameFolderCrud').fadeOut();
                    }, 1200);
                }
                else {
                    $('#dashBoardLoadingGif').hide();
                    alert("renameFolder: " + repairReport.Success);
                }
            },
            error: function (xhr) {
                $('#dashBoardLoadingGif').hide();
                alert("renameFolder xhr error: " + getXHRErrorDetails(xhr));
            }
        });

    }

    function repairLinks() {
        var start = Date.now();
        $('#dataifyInfo').show().html("checking and repairing links");
        $('#dashBoardLoadingGif').fadeIn();
        $('#repairLinksReport').html("");
        $.ajax({
            type: "GET",
            url: service + "/api/FtpDashBoard/RepairLinks/?startFolderId=" + dashboardMainSelectedTreeId + "&drive=" + $('#txtdestination').val(),
            success: function (repairReport) {
                $('#dashBoardLoadingGif').hide();
                if (repairReport.Success == "ok") {
                    try {
                        var delta = (Date.now() - start);
                        var minutes = Math.floor(delta / 60000);
                        var seconds = ((delta % 60000) / 1000).toFixed(0);
                        //console.log("repair links took: " + minutes + ":" + (seconds < 10 ? '0' : '') + seconds);
                        $('#dataifyInfo').html("repair links took: " + minutes + ":" + (seconds < 10 ? '0' : '') + seconds);
                        $('#dataifyInfo').append(", Rows Processed: " + repairReport.RowsProcessed);
                        if (repairReport.ImagesDownLoaded > 0)
                            $('#dataifyInfo').append(", Images DownLoaded: " + repairReport.ImagesDownLoaded);
                        if (repairReport.LinksEdited > 0)
                            $('#dataifyInfo').append(", links Edited: " + repairReport.LinksEdited);
                        if (repairReport.ImagesRenamed > 0)
                            $('#dataifyInfo').append(", Images Renamed: " + repairReport.ImagesRenamed);
                        if (repairReport.NewLinksAdded > 0)
                            $('#dataifyInfo').append(", New Links Added: " + repairReport.NewLinksAdded);
                        if (repairReport.ImagesMoved > 0)
                            $('#dataifyInfo').append(", Images Moved: " + repairReport.ImagesMoved);
                        if (repairReport.LinksRemoved > 0)
                            $('#dataifyInfo').append(", CatLinks Added: " + repairReport.LinksRemoved);
                        if (repairReport.CatLinksAdded > 0)
                            $('#dataifyInfo').append(", CatLinks Added: " + repairReport.CatLinksAdded);


                        //$('#dataifyInfo').append(", directory errors: " + repairReport.DirNotFound);
                        //$('#dataifyInfo').append(", bad file names: " + repairReport.BadFileNames);

                        //$('#dataifyInfo').append(", links fixed: " + repairReport.LinksRemoved);
                        //repairReport.MissingImages.forEach(function (element) {
                        //    /// add new link
                        //    $('#repairReport').append("<div> missing image: " + element.Name + "</div>");
                        //});

                        repairReport.Errors.forEach(function (element) {
                            $('#repairLinksReport').append("<div> errors: " + element + "</div>");
                        });

                        //repairReport.BadLinks.forEach(function (element) {
                        //    $('#repairReport').append("<div> bad link: " + element.id + "</div>");
                        //});
                    }
                    catch (e) {
                        alert("problem displaying repair report: " + e);
                    }
                }
                else
                    alert("downloadLinks: " + repairReport.Success);
            },
            error: function (xhr) {
                $('#dashBoardLoadingGif').hide();
                alert("downloadLinks xhr error: " + getXHRErrorDetails(xhr));
            }
        });
    }


    function moveFolderTreeClick(path, id, treeId) {
        var displayPath = "";
        if (path.length > path.indexOf(".COM") + 4) {
            displayPath = path.substring(path.indexOf(".COM") + 5).replace(/%20/g, " ");
        }
        else {
            displayPath = path;
        }
        partialViewSelectedItemId = id;
        $('.txtPartialDirTreePath').val(displayPath);
        $('#partialViewTreeContainer').fadeOut();
    }

    function dashboardMainClick(path, id, treeId) {
        var displayPath = "";
        if (path.length > path.indexOf(".COM") + 4) {
            dashboardMainSelectedPath = path.substring(6).replace(/%20/g, " ");
            displayPath = path.substring(path.indexOf(".COM") + 5).replace(/%20/g, " ");
        }
        else {
            displayPath = path;
            dashboardMainSelectedPath = "/";
        }
        dashboardMainSelectedTreeId = id;
        $('.txtLinkPath').val(displayPath);
    }

    $(document).keydown(function (event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            // Trigger the button element with a click
            addImageLink();
        }
    });

    function showDirTreeContextMenu(linkId, folderId) {
        dashboardContextMenuFolderId = folderId;
        event.preventDefault();
        window.event.returnValue = false;
        $('#dashboardContextMenu').css("top", event.clientY + 5);
        $('#dashboardContextMenu').css("left", event.clientX);
        $('#dashboardContextMenu').fadeIn();
    }
    function openFolder() {
        window.open("/album?folder=" + dashboardContextMenuFolderId, "_blank");
    }
    function showCategoryDetails() {
        showCategoryDialog(dashboardContextMenuFolderId);
    }
    function showInfoDialog() {
        showModelInfoDialog($('.txtLinkPath').val(), dashboardContextMenuFolderId);
    }

</script>
