
@{
    ViewBag.Title = "MetaTagEdit";
}


<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/Admin'">Admin</div>
            <div onclick="$('#oggleBlogEntry').fadeIn()">New Entry</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <h2>MetaTagEdit</h2>
    </div>
    <div id="rightColumn"></div>
</div>
