@{
    ViewBag.Title = "Article Edit";
}

<link href="~/Styles/articleEdit.css" rel="stylesheet" />
<script src="~/Scripts/ImageTools.js"></script>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
        <div id="divAjustableItemsWrapper">
            <div id="divEditArticleContainer" class="editArticleContainer">
                <div id="divArticleRowContainer" class="editArticleRowContainer">
                    <div class="editArticleRow">
                        <div class="editArticleLabel">Title:</div>
                        <div class="editArticleInput"><input class="roundedInput" id="txtTitle" /></div>
                    </div>
                    <div class="editArticleRow">
                        <div class="editArticleLabel">Category:</div>
                        <div class="editArticleInput"><select id="ddCategory" class="roundedInput"></select></div>
                        <div class="editArticleLabel align-right">Byline:</div>
                        <div class="editArticleInput"><select id="ddAvatars" class="roundedInput"></select></div>
                        <div class="editArticleLabel align-right">Updated:</div>
                        <div class="editArticleInput"><input class="roundedInput" id="txtUpdated" /></div>
                    </div>
                    <div class="editArticleRow">
                        <div class="editArticleLabel">Image:</div>
                        <div class="editArticleInput"><input id="uplImage" type="file" class="imageUpload" onchange="javascript:loadImage()" /></div>
                    </div>
                    <div class="editArticleRow">
                        <div class="editArticleLabel">Meta Tag:</div>
                        <div class="editArticleInput"><input class="roundedInput" id="txtMetaTag" /></div>
                        <div id="divTagContainer" class="tagContainer"></div>
                    </div>
                    <div class="editArticleRow">
                        <div id="divEditArticleLabel" class="editArticleLabel">Summary:</div>
                        <div class="editArticleInput"><textarea id="txaSummary" class="articleSummary"></textarea></div>
                    </div>
                </div>
                <div id="#divEditArticlePicContainer" class="editArticlePicContainer">
                    <img id="imgArticleJog" class="imageContainer" />
                </div>
            </div>
            <div id="divStatusMessage"></div>
            <div id="articleEditor">
                <div>@Html.Partial("_Editor") </div>
            </div>

            <div class="btnRow">
                <button id="btnSave" class="roundendButton" onclick="javascript:addUpdateArticle()">Save</button>
                <button id="btnView" class="roundendButton" onclick="javascript:saveAndView()">View</button>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var articleId = '@ViewBag.ArticleId';
    var article = new Object();
    var metaTags = new Array();

    $(document).ready(function () {
        //$('#divLoadingGif').show();

        getCategories()
        getAvatars()
        if (articleId !== "") {
            getArticle();
        }
        else {
            $('#txtUpdated').val(formatDate(new Date()));
        }
        $('#btnDelete').hide();
        $('#articleEditor').summernote({
            height: 222,
            codemirror: { mode: "htmlmixed", theme: "monokai" },
            toolbar: [
                ['codeview'],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontname', 'fontsize']],
                ['insert', ['picture', 'link', 'video', 'table', 'hr']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
    });

    function bind(article) {
        $('#txtTitle').val(article.Title);
        $('#ddCategory').val(article.Category);
        $('#txaSummary').val(article.Summary);
        $('#imgArticleJog').attr("src", service + "/App_Data/Images/" + article.ImageName);
        $('#ddAvatars').val(article.Byline);
        $('#txtUpdated').val(article.LastUpdated);
        $('#articleEditor').summernote('code', article.Contents);
    }

    function unBind() {
        try {
            article.Id = articleId; //$('#hiddenId').val();
            article.Title = $('#txtTitle').val();
            article.Category = $('#ddCategory option:selected').text();
            article.Summary = $('#txaSummary').val();
            article.Byline = $('#ddAvatars option:selected').text();
            article.LastUpdated = $('#LastUpdated').val();
            article.Contents = beautify($('#articleEditor').summernote('code'));
            article.Tags = metaTags;
        }
        catch (e) {
            alert("unBind: " + e);
        }
    }

    function updateArticle(view) {
        try {
            unBind();
            $.ajax({
                type: "PUT",
                url: service + "/api/DbArticle",
                async: "false",
                dataType: "json",
                data: article,
                success: function (success) {
                    if (success === "ok")
                        if (view === "View")
                            window.location = "Article?Id=" + articleId; // $('#hiddenId').val();
                        else
                            displayStatusMessage("ok", "updated");
                    else
                        displayStatusMessage("error", success);
                },
                error: function (xhr) {
                    displayStatusMessage("error", "error: " + xhr.statusText);
                    alert("ArticleEdit PUT error: " + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("error", "ERROR"  + e);
        }
    }

    function postArticle(view) {
        try {
            unBind();
            if (article.Title === "") {
                displayStatusMessage("severityWarning", "Title Required");
                return;
            }
            $.ajax({
                url: service + "/api/DbArticle",
                type: "post",
                dataType: "Json",
                data: article,
                success: function (newArticleId) {
                    articleId = newArticleId;
                    //$('#hiddenId').val(result);
                    if (view === "View") {
                        window.location = "Article?Id=" + newArticleId;  //$('#hiddenId').val();
                    }
                    else {
                      //  alert("result: " + result);
                        displayStatusMessage("ok", "Saved");
                        $('#btnSave').text("Update");
                    }
                },
                error: function (xhr) {
                    displayStatusMessage("error", "error: " + xhr.statusText);
                    alert("postArticle error: " + xhr.statusText);
                }
            });
        } catch (e) {

            displayStatusMessage("error", "catch ERROR: "  + e);
        }
    }

    function getArticle() {
        //alert("getArticle: " + articleId);
        $.ajax({
            type: "GET",
            url: service + "api/DbArticle/Get?articleId=" + articleId,
            dataType: "json",
            success: function (response) {
                var webService = "https://api.curtisrhodes.com";
                $('#imgArticleJog').attr("src", webService + "/App_Data/Images/" + response.ImageName);
                bind(response);
                $('#btnSave').text("Update");

                $.each(response.Tags, function (idx, tag) {
                        $("#divTagContainer").append("<div class='tagItem'>" + tag.TagName + "</div>");
                })

                //if (response.Tags != "") {
                //    metaTags = response.Tags;
                //    for (var tag in metaTags) {
                //        $("#divTagContainer").append("<div class='tagItem'>" + metaTags[tag] + "</div>");
                //    };
                //}
                setTimeout(function () { adjust() }, 1000);
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("error", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
            }
        });
    }

    function getCategories() {
        $.ajax({
            url: service + "/api/Ref?refType=CAT",
            type: "get",
            dataType: "json",
            success: function (response) {
                $('#ddCategory').html("<option class= 'ddOption' value ='0'>-- select category --</option >");
                $.each(response, function (idx, obj) {
                    //obj = obj.split(",");
                    $('#ddCategory').append("<option class='ddOption' value='" + obj.RefDescription + "'>" + obj.RefDescription + "</option>");
                });
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("error", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
            }
        });
    };

    function getAvatars() {
        $.ajax({
            url: service + "/api/Ref?refType=AVT",
            type: "get",
            dataType: "json",
            success: function (response) {
                $('#ddAvatars').html("<option class= 'ddOption' value ='0'>-- select avatar --</option >");
                $.each(response, function (idx, obj) {
                    //obj = obj.split(",");
                    $('#ddAvatars').append("<option class='ddOption' value='" + obj.RefDescription + "'>" + obj.RefDescription + "</option>");
                });
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("error", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
            }
        });
    };

    $('#txtMetaTag').blur(function () {
        if ($('#txtMetaTag').val() !== "") {
            metaTags.push($('#txtMetaTag').val());
            $('#divTagContainer').append("<div class='tagItem'>" + $('#txtMetaTag').val() + "</div>");;
            $('#txtMetaTag').val("");
        }
    });

    function loadImage() {
        article.ImageName = $('#uplImage').val();
        var success = postImage(service, localImageName);

        $('#imgArticleJog').attr("src", service + "/App_Data/Images/" + article.ImageName);
        setTimeout(function () { adjust() }, 1000);
    }

    function addUpdateArticle() {
        if ($('#btnSave').text() === "Save")
            postArticle();
        else
            updateArticle();
    }

    function saveAndView() {
        if ($('#btnSave').text() === "Save")
            postArticle("View");
        else
            updateArticle("View");
    }

    function adjust() {
        var wPic = $('#imgArticleJog').width();
        var wAcl = $('#divEditArticleContainer').width();
        $('#divArticleRowContainer').width(wAcl - wPic);
        var wAcr = $('#divArticleRowContainer').width();
        var wlbl = $('#divEditArticleLabel').width() + 20;
        $('#txaSummary').width(wAcr - wlbl);
        $('#txtTitle').width(wAcr - wlbl);
    }

</script>

