<link href="~/css/gajHeader.css" rel="stylesheet" />
<div id="idheader" class="Header">
    <div class="floatLeft">
        <a href="~/Home/Index"><img src="~/images/GetaJob.png" class="bannerImage" /></a>
    </div>
    <div class="headerBody">
        <div class="headerBannerTitle">
            Get a Gig
        </div>
        <div class="menuTabContainer">
            <div class="menuTab"><a href="~/Resume/">Resume Buillder</a></div>
            <div class="menuTab"><a href="~/Home/Carousel">Carousel</a></div>
            <div class="loginTab">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
    <div class="noFloat"></div>
</div>

<script>

    $(document).ready(function () {
        $('.headerBody').width($('.Header').width() - $('.bannerImage').width() - 200);
    });
    $(window).resize(function () {
        $('.headerBody').width($('.Header').width() - $('.bannerImage').width() - 200);
    });

</script>