<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GetaJobCore</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link rel="shortcut icon" src="~/favicon.ico" type="image/x-icon" />
    <link href="~/css/default.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/GlobalFunctions.js"></script>
    <style>
        body {
            background-color: #d0d1e0; /*#a5a7d7;*/
            color: #77219a;
        }
    </style>
</head>
<body>
    <partial name="_GetaJobHeader" />
    <div class="body-content">
        @RenderBody()
    </div>
    <partial name="_GetaJobFooter" />
    @RenderSection("scripts", required: false)
    <script src="~/js/ResizeThreeColumnPage.js"></script>
</body>
</html>
