body {
    font-family: Arial;
    padding-left: 113px;
}

header {
    font-size: 44px;
}

    header img {
        margin-top: 30px;
        margin-left: 30px;
        width: 180px;
        height: 60px;
        margin-right: 200px;
    }

button {
    border: solid 2px #198db9;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
}

#divResponse {
    padding: 17px;
    color: red;
    font-weight: bold;
}

input {
    width: 1000px;
    font-size: 24px;
    margin-bottom: 2px;
}

#divEditor {
    display: none;
}
#divBlogList {
    overflow-y: scroll;
    height: 500px;
}

#divBlogList ul {
    list-style-type: georgian;
}

#divBlogList li {
    border: solid 2px #198db9;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    width: 1000px;
}
