@{
    ViewBag.Title = "Welcome";
}
<style>
    .threeColumnArray {
        background-color: #eeddbb;
    }
    .vMenu {
        padding-top: 33px;
        padding-left: 33px;
    }
    .tabvMenuItem {
        padding: 13px;
    }
        .tabvMenuItem img {
            width: 166px;
            height: 62px;
            cursor: pointer;
        }

    #middleColumn {
        border: solid #444;
        background-image: url("/Images/caveStairsWide.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

<style>
    .btnSpinner {
        margin-top: 66px;
    }
    .btnSpinnerImage {
        position: absolute;
        margin-left: 20px;
        height: 20px;
        display: none;
    }

</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div id="tanBlue" class="vMenu">
            <div id="itemIntelDesgn" class="tabvMenuItem" onclick="window.location.href='/IntelDsgn/'">
                <img src="~/Images/TanBlue/IntelligentDesignTan.png" onmouseover="this.src='/Images/TanBlue/IntelligentDesignBlue.png'" onmouseout="this.src='/Images/TanBlue/IntelligentDesignTan.png'" />
            </div>
            <div id="itemBlondJew" class="tabvMenuItem" onclick="window.location.href='/BookDb/ToC?book=1'">
                <img src="~/Images/TanBlue/BlondJewTan.png" onmouseover="this.src='/Images/TanBlue/BlondJewBlue.png'" onmouseout="this.src='/Images/TanBlue/BlondJewTan.png'" />
            </div>
            <div class="tabvMenuItem">
                <img src="~/Images/TanBlue/BrucheumTan.png" onmouseover="this.src='/Images/TanBlue/BrucheumBlue.png'" onmouseout="this.src='/Images/TanBlue/BrucheumTan.png'" />
            </div>
            <div class="tabvMenuItem" onclick="window.location.href='/Flitter/Flitter'"> @*// onclick="window.open('/Flitter/Flitter')">*@
                <img src="~/Images/TanBlue/FlitterTan.png" onmouseover="this.src='/Images/TanBlue/FlitterBlue.png'" onmouseout="this.src='/Images/TanBlue/FlitterTan.png'" />
            </div>
            <div class="tabvMenuItem" onclick="window.location.href='/GetaJob/GetaJobAdmin'">
                <img src="~/Images/TanBlue/GetaJobTan.png" onmouseover="this.src='/Images/TanBlue/GetaJobBlue.png'" onmouseout="this.src='/Images/TanBlue/GetaJobTan.png'" />
            </div>
            <div class="tabvMenuItem" onclick="window.location.href='/BookDb/ToC?book=2'">
                <img src="~/Images/TanBlue/TimeSquaredTan.png" onmouseover="this.src='/Images/TanBlue/TimeSquaredBlue.png'" onmouseout="this.src='/Images/TanBlue/TimeSquaredTan.png'" />
            </div>
            <div id="item2aT" class="tabvMenuItem" onclick="emailTest()">
                <img src="~/Images/TanBlue/ToATeeTan.png" onmouseover="this.src='/Images/TanBlue/ToATeeBlue.png'" onmouseout="this.src='/Images/TanBlue/ToATeeTan.png'" />
            </div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div id="carousel">
            @Html.Partial("_Carousel")
        </div>
    </div>
    <div id="rightColumn">
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#bannerTitle').html("Curtis Rhodes.com");
        loadAndStartCarousel();
    });

    //function emailTest() {
    //    var rtn = sendEmailFromJS("TEST EMAIL", "someday it will be someone other than you");
    //    if (rtn == "ok")
    //        displayStatusMessage("ok", "Email went through");
    //    else
    //        displayStatusMessage("error", rtn);
    //}

</script>

