@{
    ViewBag.Title = "Welcome";
}
<style>
    .threeColumnArray {
        background-color: #eeddbb;
    }
    .vMenu {
        padding-top: 63px;
        padding-left: 33px;
    }
    .tabvMenuItem {
        padding: 13px;
    }
        .tabvMenuItem img {
            width: 166px;
            height: 62px;
            cursor: pointer;
        }

    #middleColumn {
        background-image: url("/Images/caveStairsWide.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .carouselContainer {
        margin-top: 9%;
        margin-left: 15%;
        height: 52%;
        width: 66%;
        border: solid 0.6px #ffd800;
        background-color: rgba(164, 168, 169, 0.75);
    }   

</style>

<style>
    .btnSpinner {
        margin-top: 66px;
    }
    .btnSpinnerImage {
        position: absolute;
        margin-left: 20px;
        height: 20px;
        display: none;
    }

</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div id="tanBlue" class="vMenu">
            <div id="itemIntelDesgn" class="tabvMenuItem" onclick="window.location.href='/IntelDsgn/'">
                <img src="~/Images/TanBlue/IntelligentDesignTan.png" onmouseover="this.src='/Images/TanBlue/IntelligentDesignBlue.png'" onmouseout="this.src='/Images/TanBlue/IntelligentDesignTan.png'" />
            </div>
            <div id="itemBlondJew" class="tabvMenuItem" onclick="window.location.href='/BookDb/ToC?book=1'" >
                <img src="~/Images/TanBlue/BlondJewTan.png" onmouseover="this.src='/Images/TanBlue/BlondJewBlue.png'" onmouseout="this.src='/Images/TanBlue/BlondJewTan.png'" />
            </div>
            <div id="itemBooks" class="tabvMenuItem">
                <img src="~/Images/TanBlue/BrucheumTan.png" onmouseover="this.src='/Images/TanBlue/BrucheumBlue.png'" onmouseout="this.src='/Images/TanBlue/BrucheumTan.png'" />
            </div>
            <div id="itemFlitter" class="tabvMenuItem">
                <img src="~/Images/TanBlue/FlitterTan.png" onmouseover="this.src='/Images/TanBlue/FlitterBlue.png'" onmouseout="this.src='/Images/TanBlue/FlitterTan.png'" />
            </div>
            <div id="itemGetaJob" class="tabvMenuItem" onclick="window.location.href='/GetaJob/'">
                <img src="~/Images/TanBlue/GetaJobTan.png" onmouseover="this.src='/Images/TanBlue/GetaJobBlue.png'" onmouseout="this.src='/Images/TanBlue/GetaJobTan.png'" />
            </div>
            <div id="itemOggle" class="tabvMenuItem" onclick="window.open('/BookDb/ToC?book=2', '_blank')">
                <img src="~/Images/TanBlue/TimeSquaredTan.png" onmouseover="this.src='/Images/TanBlue/TimeSquaredBlue.png'" onmouseout="this.src='/Images/TanBlue/TimeSquaredTan.png'" />
            </div>
            <div id="item2aT" class="tabvMenuItem">
                <img src="~/Images/TanBlue/ToATeeTan.png" onmouseover="this.src='/Images/TanBlue/ToATeeBlue.png'" onmouseout="this.src='/Images/TanBlue/ToATeeTan.png'" />
            </div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="carousel01" class="carouselContainer">
            @Html.Partial("_Carousel")
        </div>
    </div>
    <div id="rightColumn">

        @*<button class="btnSpinner roundendButton" onclick="clickTest()">
            <img id="btnSpinnerImage" class="btnSpinnerImage" src="~/Images/loader.gif" />
            Now What
        </button>*@


    </div>
</div>

<script>

    $(document).ready(function () {
        $('#bannerTitle').html("Curtis Rhodes.com");

        startCarousel();

    });

</script>

