@{
    ViewBag.Title = "My Journal";
}

<link href="~/Styles/JournalEditor.css" rel="stylesheet" />

<h2>Journal</h2>
<div id="divStatusMessage"></div>
<div>
    <button id="btnShowEditor">Add New Entry</button>
</div>
<div id="divBlogList"> </div>

<div id="divEditor">
    <div>Title: <input id="Title" title="put title here" /></div>
    <textarea id="Content" cols="164" rows="20"></textarea>
    <div>
        <button id="btnSave">xxx</button>
        <button id="btnDelete">Delete</button>
        <button id="btnCancel">Cancel</button>
    </div>
    <input id="hiddenId" type="hidden" />
</div>
<script>
    var service = '@ViewBag.Service';

    $(document).ready(function () {
        get();
     });

    function put() {
        try {
            var blogEntry = new Object();
            blogEntry.title = $('#Title').val();
            blogEntry.content = $('#Content').val();
            blogEntry.id = $('#hiddenId').val();

            $.ajax({
                url: service + "/api/Journal/",
                type: "put",
                dataType: "json",
                data: blogEntry,
                success: function () {
                    displayStatusMessage("alert-success", "Saved");
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("ajax error: " + xhr.statusText);
                }
            });
        } catch (e) {
            displayStatusMessage("alert-danger", "ERROR"  + catchErrorDetails(e));
        }
    }

    function post() {
        try {
            var JournalEntry = new Object();
            JournalEntry.title = $('#Title').val();
            JournalEntry.content = $('#Content').val();

            $.ajax({
                url: service + "/api/Journal/",
                type: "post",
                dataType: "Json",
                data: JournalEntry,
                success: function (result) {
                    $('#hiddenId').val(result);
                    displayStatusMessage("alert-success", "Saved");
                    $('#btnSave').text("Update");
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("ajax error: " + xhr.statusText);
                }
             });
        } catch (e) {
            displayStatusMessage("alert-danger", "ERROR"  + catchErrorDetails(e));
        }
    }

    function get() {
        try {
            $('#hiddenId').val(null);
            $.ajax({
                url: service + "/api/Journal/",
                type: "get",
                success: function (list, textstatus, xhr) {
                    $('#divBlogList').html("<ul>");
                    $.each(list, function () {
                        $('#divBlogList').append("<li Id=" + this.Id + " >" + this.DateCreated + " - " + this.Title + "</li>");
                     });
                    $('#divBlogList').append("</ul>");
                    $('#divBlogList li').dblclick(function () {
                        getEntry($(this).attr('Id'));
                     });
                },
                error: function (xhr) {
                    displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                    alert("ajax error: " + xhr.statusText);
                }
             });
        } catch (e) {
            displayStatusMessage("alert-danger", "tERROR"  + catchErrorDetails(e));
        }
    }

    function getEntry(blogId) {
        $.ajax({
            url: service + "/api/Journal/?id=" + blogId,
            type: "get",
            dataType: "json",
            success: function (response) {
                $('#Title').val(response.Title);
                $('#Content').text(response.Content);
                $('#hiddenId').val(response.Id);
                ToggleBlogEdit();
                $('#btnSave').text("Update");
                $('#btnDelete').show();
            },
            error: function (xhr, textStatus, error) {
                displayStatusMessage("alert-danger", "status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
                alert("status: " + textStatus + "text: " + xhr.statusText + "error: " + error);
            }
         });
    }

    $('#btnSave').click(function () {

        if ($('#btnSave').text() == "Save")
            post()
        else
            put();
     });

    $('#btnDelete').click(function () {
        if (confirm("Delete " + $('#Title').val()+"?")) {
            try {
                $.ajax({
                    url: service + "/api/Journal/?Id=" + $('#hiddenId').val(),
                    type: "delete",
                    success: function (list, textstatus, xhr) {
                        displayStatusMessage("alert-success", "entry deleted");
                        ToggleBlogEdit();
                    },
                    error: function (xhr) {
                        displayStatusMessage("alert-danger", "error: " + xhr.statusText);
                        alert("ajax error: " + xhr.statusText);
                    }
                 });
            } catch (e) {
                displayStatusMessage("alert-danger", "tERROR"  + catchErrorDetails(e));
            }
        }
     });

    $('#btnCancel').click(function () {
        ToggleBlogEdit();
     });

    $('#btnShowEditor').click(function () {
        $('#Title').val("");
        $('#Content').text("");
        $('#hiddenId').text("");

        ToggleBlogEdit();
        $('#btnSave').text("Save");
     });

    function ToggleBlogEdit() {
        $('#divEditor').toggle();
        $('#divBlogList').toggle();
        $('#btnShowEditor').html() == "Add New Entry" ? $('#btnShowEditor').html('Show List') : $('#btnShowEditor').html('Add New Entry');
        if ($('#btnShowEditor').html() == 'Add New Entry') {
            $('#btnDelete').hide();
            get();
        }
    }


</script>
<script src="~/Scripts/ResizePage.js"></script>