<style>
    .tanBlueMenu {
        background-color: #eeddbb;
        padding-top: 44px;
        padding-left: 7px;
        padding-right: 5px;
    }

        .tanBlueMenu div {
            padding-top: 12px;
        }

        .tanBlueMenu img {
            border: none;
            width: 135px;
            height: 40px;
            cursor: pointer;
        }

    .tanBackground {
        background-color: #eeddbb;
    }

    .FullCenterImage {
        margin-top: 16px;
        width: 100%;
        cursor: pointer;
    }
</style>

<div id="leftColumn" class="tanBlueMenu">
    <div>
        <a href="~/Consulting/Index">
            <img alt="" src="/images/TanBlue/IntelligentDesignTan.png"
                 onmouseover='this.src="/images/TanBlue/IntelligentDesignBlue.png"' onmouseout='this.src="/images/TanBlue/IntelligentDesignTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/Brucheum">
            <img alt="" src="/images/TanBlue/BrucheumTan.png"
                 onmouseover='this.src="/images/TanBlue/BrucheumBlue.png"' onmouseout='this.src="/images/TanBlue/BrucheumTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/Flitter" target="_blank">
            <img alt="" src="/images/TanBlue/FlitterTan.png"
                 onmouseover='this.src="/images/TanBlue/FlitterManBlue.png"' onmouseout='this.src="/images/TanBlue/FlitterTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/GetaJob" target="_blank">
            <img alt="" src="/images/TanBlue/GetaJobTan.png"
                 onmouseover='this.src="/images/TanBlue/GetaJobBlue.png"' onmouseout='this.src="/images/TanBlue/GetaJobTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/Brucheum/BlondJew/BlondJew.aspx" target="_blank">
            <img alt="" src="/images/TanBlue/BlondJewTan.png"
                 onmouseover='this.src="/images/TanBlue/BlondJewBlue.png"' onmouseout='this.src="/images/TanBlue/BlondJewTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/ogglebooble/" target="_blank">
            <img alt="" src="/images/TanBlue/OggleBoogleTan.png"
                 onmouseover='this.src="/images/TanBlue/OggleBoogleBlue.png"' onmouseout='this.src="/images/TanBlue/OggleBoogleTan.png"' />
        </a>
    </div>
    <div>
        <a href="http://localhost/2aT/" target="_blank">
            <img alt="" src="/images/TanBlue/ToATeeTan.png"
                 onmouseover='this.src="/images/TanBlue/ToATeeBlue.png"' onmouseout='this.src="/images/TanBlue/ToATeeTan.png"' />
        </a>
    </div>
</div>

