
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Boobs Ranker";
}

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Boobs Ranker</h2>
        <div id="imageContainer"></div>
    </div>
    <div id="rightColumn"></div>
</div>



