@{
    ViewBag.Title = "Boobs Ranker";
}

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Boobs Ranker</h2>
        <div id="doubleImageContainer">




        </div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>

    function getLotsOfImages() {



    }


</script>
