
<style>
    #divGalleryName {
        margin-top: 50px;
    }
    #imageContainer {
        border: solid thin black;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .galleryImage {
        height :150px;
        width: 150px;
        margin-left: 22px;
    }
    .galleryfolder {
        float: left;
        padding-top: 22px;
    }
    .galleryLabel {
        text-align:center;
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }

</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divGalleryName">Gallery</div>
        <div id="imageContainer"></div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>
    var service = '@ViewBag.Service';
    var folder = '@ViewBag.Folder';
    
    $(document).ready(function () {
        //width: 100 %;
        var mWidth = $('#middleColumn').width();
        $('#imageContainer').width(mWidth);
        var galleryTitle = folder.substr(folder.lastIndexOf("/") + 1);
        //alert("galleryTitle: " + galleryTitle)
        $('#divGalleryName').html(galleryTitle);
        
        GetGalleryPage();
    });


    function GetGalleryPage() {
        $.ajax({
            type: "get",
            url: service + "/api/directory/GalleryPage?folder=" + folder + "&thisService=" + service,
            datatype: "json",
            success: function (data) {
                $('#imageContainer').html(data);
                resizePage();
            },
            error: function (xhr) {
                alert("GetGalleryPage error: " + xhr.statusText);
            }
        });
    }

</script>