
<style>
    .threeColumnArray {
        background-color: #fef; /*#b081b1*/
        margin-top: 90px;
    }
    .flexWrapContainer {
        background-image: linear-gradient(#b190b6, #b84cc8);
        border: solid thin black;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
    .thumbImage {
        height: 200px;
        cursor: pointer;
        margin-bottom: -3px;
        width: 100%;
    }

    .postage {
        margin: 2px;
    }
    .folderFirsty {
        border: solid 4px #ff00dc;
        margin: 4px;
        height: 222px;
    }
    :after {
        border: solid 1px #ff00dc;
        margin: 2px;
    }
    .fname {
        background-color: #ff00dc;
        text-align: center;
        font-family: 'Comic Sans MS';
    }
    .divPage {
        float: left;
        padding: 3px;
        border: solid thin black;
        margin-right: 6px;
        cursor: pointer;
        background-color: #fef;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divBreadCrumbs"></div>
        <div id="divBigImage" class="bigImage"></div>
        <div id="imageContainer" class="flexWrapContainer" ></div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>
    var service = '@ViewBag.Service';
    var folder = '@ViewBag.Folder';
    var page = 0;
    var mySubDirs = new Array();
    var thumbImageHeight = 200;
    
    $(document).ready(function () {
        $('#divGalleryName').html(folder.substr(folder.lastIndexOf("/") + 1));

        showBreadCrumbs(folder);

        $('.thumbImage').css("height", thumbImageHeight + "px");


        // set width
        $('#imageContainer').width($('#middleColumn').width());

        // set heigth
        $('#imageContainer').height($('#middleColumn').height() - 115);
        $('#imageContainer').css("min-height", $('#middleColumn').height() - 115);

        //SetPageTabs();

        getImages(folder);

        //var folderContainsSubDirectories = checkForSubDirectories(folder);



    });

    $(window).resize(function () {
        $('#imageContainer').width($('#middleColumn').width());
        $('#imageContainer').height($('#middleColumn').height() - 115);
    });

    function getImages(folder) {

        //var maxRowWidth = $('#imageContainer').width();
        //var rowColumns = Math.floor($('#imageContainer').height() / thumbImageHeight);
        //var rowWidth = 0;
        //var rowColumn = 1;
        var danniPath = service + "app_data/danni/";



        $('#imageContainer').html('');
        $.ajax({
            type: "GET",
            url: service + "/api/Directory/GetSubdirectories?parentFolder=" + folder,
            success: function (subDirectories) {

                $.each(subDirectories, function (idx, obj) {
                    $('#imageContainer').append("<div path='" + obj.DanniPath + "' class='folderFirsty'><img class='thumbImage' src='" +
                        danniPath + obj.DanniPath + "/" + obj.FirstImage + "'/><div class='fname'>" + obj.DirectoryName + "</div></div>");
                })
                $('.folderFirsty').click(function () {
                    //alert("folder: " + $(this).attr("id"))
                    window.location.href = "imagePage?folder=" + $(this).attr("path");
                })

                $.ajax({
                    type: "GET",
                    url: service + "/api/Files/GetFiles?folderPath=" + folder,
                    success: function (images) {
                        if (images.length > 0) {
                            $('#slideShowLink').show();


                            $.each(images, function (idx, obj) {
                                $('#imageContainer').append("<div class='postage'><img class='thumbImage blowup' src='" + danniPath + folder + "/" + obj.FileName + "'/></div>");
                            })
                            $('.blowup').click(function () {
                                //alert("src: " + $(this).attr("src"))
                                window.open($(this).attr("src"), "_blank");
                            })

                        }
                        else {
                            //alert("no images");
                            $('#slideShowLink').hide();
                        }
                    },
                    error: function (xhr) {
                        alert("GetFiles error: " + xhr.statusText);
                    }
                });
            },
            error: function (xhr) {
                alert("GetSubdirectories error: " + xhr.statusText);
            }
        });
    }
  //  <img class="thumbImage" src="htts://api.curtisrhodes.com/App_Data/Danni/boobs/flavors/knockers/918_1000[1].jpg" <= "" a = "" >



    //var sb = new StringBuilder();
    //            if ((childDir.GetFiles().Length > 0) && (childDir.GetFiles("*.jpg").Length > 0)) {
    //                //var defaultImage = thisService + "/App_Data/Danni/" + folder + "/" + childDir.Name + "/" + childDir.GetFiles("*.jpg")[0].Name;
    //                //sb.Append("<div class='divImage'><a href='/Home/ImagePage?folder=" + folder + "/" + childDir.Name +
    //                //    "'><img class='thumbImage' src='" + defaultImage + "' alt='check out " + childDir.Name +
    //                //    " gallery' /></a><div class='galleryLabel'><a href='/Home/ImagePage?folder=" + folder + "/" + childDir.Name + "'>" + childDir.Name + "</a></div></div>");
    //            }
    //    }
    //    FileInfo[] files = di.GetFiles();
    //    int max = files.Length;
    //    foreach(FileInfo file in files)
    //    {
    //        count++;
    //        if (count > start) {
    //            imageFile = thisService + "/App_Data/Danni/" + folder + "/" + file.Name;
    //            sb.Append("<div class='divImage'><a href='/Home/Viewer?folder=" + folder + "&startFile=" + file.Name +
    //                "'><img class='thumbImage' src='" + imageFile + "'</a></div>");
    //        }
    //        if (count >= (start + imagesPerPage)) {
    //            break;
    //        }
    //    }
    //}

    //public class FolderModel {
    //    public string DirectoryName { get; set; }
    //    public DateTime Created { get; set; }
    //    public long Length { get; set; }
    //    public string Path { get; set; }
    //    public string Parent { get; set; }
    //    public string FirstImage { get; set; }
    //}


    function SetPageTabs() {
        var pgKnt;
        $.ajax({
            type: "get",
            url: service + "/api/directory/ImageCount?folder=" + folder,
            async: false,
            success: function (pageCount) {
                for (i = 1; i <= pageCount + 1; i++) {
                    $('#pageContainer').append("<div class='divPage' page=" + i + " >Page " + i + "</div>");
                };

                $('.divPage').click(function () {
                    page = $(this).attr("page") - 1;
                    GetImages();
                });
            },
            error: function (xhr) {
                alert("GetGalleryPage error: " + xhr.statusText);
            }
        });
    }


</script>