
<style>
    .threeColumnArray {
        background-color: #fef; /*#b081b1*/
    }
    .flexWrapContainer {
        background-image: linear-gradient(#b190b6, #b84cc8);
        border: solid thin black;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
    .thumbImage {
        height: 200px;
        cursor: pointer;
        margin-bottom: -3px;
        /*width: 100%;*/
    }

    .postage {
        margin: 2px;
    }
    .folderFirsty {
        border: solid 4px #ff00dc;
        margin: 4px;
        height: 222px;
    }
    :after {
        border: solid 1px #ff00dc;
        margin: 2px;
    }
    .fname {
        background-color: #ff00dc;
        text-align: center;
        font-family: 'Comic Sans MS';
    }
    .divPage {
        float: left;
        padding: 3px;
        border: solid thin black;
        margin-right: 6px;
        cursor: pointer;
        background-color: #fef;
    }
    .countContainer {
        width: 100%;
        text-align: right;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divBreadCrumbs"></div>
        <div id="divBigImage" class="bigImage"></div>
        <div id="imageContainer" class="flexWrapContainer"></div>
        <div id="fileCount" class="countContainer"></div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>
    var service = '@ViewBag.Service';
    var folder = '@ViewBag.Folder';
    var page = 0;
    var mySubDirs = new Array();
    var thumbImageHeight = 200;
    
    $(document).ready(function () {
        $('#divGalleryName').html(folder.substr(folder.lastIndexOf("/") + 1));

        showBreadCrumbs(folder);

        $('.thumbImage').css("height", thumbImageHeight + "px");


        // set width
        $('#imageContainer').width($('#middleColumn').width());

        // set heigth
        $('#imageContainer').height($('#middleColumn').height() - 115);
        $('#imageContainer').css("min-height", $('#middleColumn').height() - 115);

        //SetPageTabs();

        getImages(folder);

        //var folderContainsSubDirectories = checkForSubDirectories(folder);



    });

    $(window).resize(function () {
        $('#imageContainer').width($('#middleColumn').width());
        $('#imageContainer').height($('#middleColumn').height() - 115);
    });

    function getImages(folder) {
        var danniPath = service + "app_data/danni/";
        $('#imageContainer').html('');
        $.ajax({
            type: "GET",
            url: service + "/api/Directory/GetSubdirectories?parentFolder=" + folder,
            success: function (subDirectories) {
                if (subDirectories.length > 0) {
                    if (!subDirectories[0].DirectoryName.startsWith("ERROR")) {
                        $.each(subDirectories, function (idx, obj) {
                            $('#imageContainer').append("<div path='" + obj.DanniPath + "' class='folderFirsty'><img class='thumbImage' src='" +
                                danniPath + obj.DanniPath + "/" + obj.FirstImage + "'/><div class='fname'>" + obj.DirectoryName + "</div></div>");
                        })
                        $('.folderFirsty').click(function () {
                            window.location.href = "imagePage?folder=" + $(this).attr("path");
                        })
                    }
                }
                $.ajax({
                    type: "GET",
                    url: service + "/api/Files/GetFiles?folderPath=" + folder,
                    success: function (images) {
                        if (images.length > 0) {
                            if (!images[0].FileName.startsWith("ERROR")) {
                                $('#slideShowLink').show();
                                var k = 0;
                                $.each(images, function (idx, obj) {
                                    $('#imageContainer').append("<div class='postage'><img class='thumbImage blowup' src='" + danniPath + folder + "/" + obj.FileName + "'/></div>");
                                    k++;
                                })
                                $('#fileCount').html(k);
                                fileCount
                                $('.blowup').click(function () {
                                    window.open($(this).attr("src"), "_blank");
                                })
                            }
                            else
                                alert("GetSubdirectories GetFiles: " + images[0].FileName);
                        }
                        else {
                            //alert("no images");
                            $('#slideShowLink').hide();
                        }
                    },
                    error: function (xhr) {
                        alert("GetSubdirectories GetFiles XHR error: " + xhr.statusText);
                    }
                });
            },
            error: function (xhr) {
                alert("GetSubdirectories error: " + xhr.statusText);
            }
        });
    }
    function SetPageTabs() {
        var pgKnt;
        $.ajax({
            type: "get",
            url: service + "/api/directory/ImageCount?folder=" + folder,
            async: false,
            success: function (pageCount) {
                for (i = 1; i <= pageCount + 1; i++) {
                    $('#pageContainer').append("<div class='divPage' page=" + i + " >Page " + i + "</div>");
                };

                $('.divPage').click(function () {
                    page = $(this).attr("page") - 1;
                    GetImages();
                });
            },
            error: function (xhr) {
                alert("GetGalleryPage error: " + xhr.statusText);
            }
        });
    }


</script>