
<style>
    #leftColumn, #middleColumn, #rightColumn {
        font-family: Comic Sans MS;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .pornWarning {
        position: fixed;
        z-index: 200;
    }

</style>


<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/home/transitions?folder=boobs'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Boobs Rater</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#boobCatTreeContainer').dialog('open');">Category List</div>
            <div onclick="window.location.href='/home/Mobile?folder=boobs'">Mobile</div>
            @*<div onclick="$('#oggleBlogEntry').fadeIn()">Blog</div>*@
            <div onclick="showSiteContent($('#pornWarning'), 35)">Nasty Porn</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="pornWarning" class="pornWarning"></div>
        <div id="divStatusMessage"></div>
        <div class="flexContainer">
            <div class="floatLeft">
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('centerfolds', $(this).is(':checked'), 1000)" /> Include Centerfolds</div>
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('archive', $(this).is(':checked'), 50000)" /> Include Archive</div>
            </div>
            <div class="floatLeft">
                <div id="carousel">
                    @Html.Partial("_Carousel", "boobs")
                </div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<div id="boobCatTreeContainer" class="oggleHidden" title="boobs"></div>

<script>
    $(document).ready(function () {
        var service = '@ViewBag.Service';
        $('#boobCatTreeContainer').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: 400,
            height: 600
        });

        $.when(buildDirTree($('#boobCatTreeContainer'), "boobCatTreeContainer", 2)).done(function () {
            launchCarousel('boobs');
        });

        //window.addEventListener("resize", resizeBoobsIndexPage);
        //resizeBoobsIndexPage();
    });

    //function resizeBoobsIndexPage() {
    //    $('#carouselImage').css("max-width", $('#middleColumn').width());
    //    $('#carouselImage').css("max-height", $('#middleColumn').innerHeight() - 180);
    //}

    function letemPorn() {
        window.location.href = '/porn'
    }

    function boobCatTreeContainerClick(path, id, treeId) {
        if (treeId == "boobCatTreeContainer") {
            window.location.href = "/album?folder=" + id;
            $('#boobCatTreeContainer').dialog('close')
        }
        else
            alert("dirTreeClick treeId: " + treeId);
    }

    function showSiteContent(dest, blogId) {
        try {
            pause();
            $.ajax({
                type: "GET",
                url: service + "api/OggleBlog/?blogId=" + blogId,
                success: function (entry) {
                    if (entry.Success == "ok") {
                        dest.html(entry.CommentText);
                    }
                    else
                        dest.html(entry.Success);
                },
                error: function (xhr) {
                    alert("showSiteContent xhr: " + getXHRErrorDetails(xhr));
                }
            });
        } catch (e) {
            alert("showSiteContent: " +  e);
        }
    }

    function goToPornSite() {
        clearModal();
    }


</script>