
<style>
    #leftColumn, #middleColumn, #rightColumn {
        font-family: Comic Sans MS;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .pornWarningContainer {
        position: fixed;
        z-index: 200;
        margin: 0 20px;
    }

    .promoContainer {
        position: absolute;
        top: 200px;
        left: 1000px;
        border: solid 3px #4b0d41;
        height: 500px;
        width: 300px;
    }

</style>


<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/home/transitions?folder=boobs'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Boobs Rater</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#boobCatTreeContainer').dialog('open');">Category List</div>
            <div onclick="window.location.href='/home/Mobile?folder=boobs'">Mobile</div>
            @*<div onclick="$('#oggleBlogEntry').fadeIn()">Blog</div>*@
            <div onclick="showPortnWarning()">Nasty Porn</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="pornWarning" class="oggleHidden pornWarningContainer"></div>
        <div id="divStatusMessage"></div>
        <div class="flexContainer">
            <div class="floatLeft">
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('centerfolds', $(this).is(':checked'), 1000)" /> Include Centerfolds</div>
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('archive', $(this).is(':checked'), 50000)" /> Include Archive</div>
            </div>
            <div class="floatLeft">
                <div id="carousel">
                    @Html.Partial("_Carousel", "boobs")
                </div>
            </div>
        </div>
        <div id="promoContainer" class="promoContainer"></div>
    </div>
    <div id="rightColumn"></div>
</div>

<div id="boobCatTreeContainer" class="oggleHidden" title="boobs"></div>

<script>
    $(document).ready(function () {
        var service = '@ViewBag.Service';
        $('#boobCatTreeContainer').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            width: 400,
            height: 600
        });

        $.when(buildDirTree($('#boobCatTreeContainer'), "boobCatTreeContainer", 2)).done(function () {
            launchCarousel('boobs');
        });

    });

    function showPortnWarning() {
        if ($('#pornWarning').html() == "")
            showSiteContent($('#pornWarning'), 35)
        $('#pornWarning').show();
    }
    function letemPorn(response) {
        // record hit
        if (response == "ok") {
            window.location.href = '/porn'
        }
        else {
            $('#pornWarning').hide()
        }
    }

    function boobCatTreeContainerClick(path, id, treeId) {
        if (treeId == "boobCatTreeContainer") {
            window.location.href = "/album?folder=" + id;
            $('#boobCatTreeContainer').dialog('close')
        }
        else
            alert("dirTreeClick treeId: " + treeId);
    }

</script>