@{
    ViewBag.Title = "Welcome";
}

<style>
    /*#leftColumn, #middleColumn, #rightColumn {
        font-family: Comic Sans MS;
    }*/

 
    .ogglePromoContainer {
        position: absolute;
        top: 250px;
        left: 1200px;
        border: solid 3px #4b0d41;
        height: 500px;
        width: 500px;
        display: none;
    }

    .ogglePromoTitle {
        font-size: 22px;
        text-align: center;
        background-color: var(--ogglgeHeaderBarColor);
    }

    .ogglePromoText {
        padding: 6px;
        text-align: justify;
        background-color: var(--oggleContainerBackgroundColor);
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/home/transitions?folder=boobs'">Transitions</div>
            <div onclick="window.location.href='/home/BoobsRanker'">Boobs Rater</div>
            <div onclick="showCustomMessage(38)">Let me Expalin</div>
            <div onclick="showCatListDialog()">Category List</div>
            <div onclick="window.location.href='/home/Mobile?folder=boobs'">Mobile</div>
            @*<div onclick="$('#oggleBlogEntry').fadeIn()">Blog</div>*@
            <div onclick="showCustomMessage(35)">Nasty Porn</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="customMessage" class="oggleHidden customMessageContainer"></div>
        <div id="divStatusMessage"></div>
        <div class="flexContainer">

            <div class="floatLeft">
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('centerfolds', $(this).is(':checked'), 1000)" /> Include Centerfolds</div>
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('archive', $(this).is(':checked'), 50000)" /> Include Archive</div>
            </div>

            <div class="floatLeft">
                <div id="carousel">
                    @Html.Partial("_Carousel", "boobs")
                </div>
            </div>

        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<div id="promoContainer" class="ogglePromoContainer">
    <div id="promoContainerTitle" class="ogglePromoTitle"></div>
    <div id="promoContainerText" class="ogglePromoText"></div>
</div>

<div id="boobCatTreeContainer" class="oggleHidden" title="boobs"></div>

<script>
    var promoIdx = 0;
    var promoMessagesArray = new Array();
    var promoMessageRotator;
    var promoMessageRotationSpeed = 5000;

    $(document).ready(function () {
        var service = '@ViewBag.Service';
        var userName = '@ViewBag.UserName';
        var lastBuild = '@ViewBag.BuildInfo';

        $('#footerLastBuild').html("last build: " + lastBuild + " 010");

        $('#boobCatTreeContainer').dialog({
            autoOpen: false,
            show: { effect: "fade" },
            hide: { effect: "blind" },
            position: ({ my: 'left top', at: 'left top', of: $('#middleColumn') }),
            width: 411,
            height: 600
        });

        launchCarousel('boobs');

    });

    function loadPromoMessages(commentType) {
        $.ajax({
            type: "GET",
            url: service + "/api/OggleBlog/GetBlogList?commentType=" + commentType,
            success: function (blogCommentsContainer) {
                if (blogCommentsContainer.Success == "ok") {
                    $.each(blogCommentsContainer.blogComments, function (idx, blogComment) {
                        promoMessagesArray.push({
                            FolderId: blogComment.Id,
                            Link: blogComment.Link,
                            CommentTitle: blogComment.CommentTitle,
                            CommentText: blogComment.CommentText
                        });
                    });
                }
                else {
                    $('#blogLoadingGif').hide();
                    alert("loadPromoMessages: " + blogCommentsContainer.Success)
                }
            },
            error: function (jqXHR, exception) {
                $('#blogLoadingGif').hide();
                alert("loadPromoMessages jqXHR : " + getXHRErrorDetails(jqXHR, exception));
            }
        });
    }

    function showPromoMessages() {
        //alert("showPromoMessages()")
        var currentItem = promoMessagesArray[promoIdx];
        $('#promoContainer').fadeIn();

        $('#promoContainerTitle').html(currentItem.CommentTitle);
        $('#promoContainerText').html(currentItem.CommentText);

        setTimeout(function () {
            $('#promoContainer').fadeOut();
        }, 2500);

        promoIdx++;
        if (promoIdx === promoMessagesArray.length)
            promoIdx = 0;
    }

    function showCustomMessage(blogId) {
        if (typeof pause === 'function') {
            pause();
        }
        $.ajax({
            type: "GET",
            url: service + "api/OggleBlog/?blogId=" + blogId,
            success: function (entry) {
                if (entry.Success === "ok") {
                    $('#customMessage').html(entry.CommentText).show();
                }
                else
                    alert(entry.Success);
            },
            error: function (xhr) {
                alert("showSiteContent xhr: " + getXHRErrorDetails(xhr));
            }
        });
        //if ($('#pornWarning').html() == "")
    }



    function letemPorn(response) {
        // record hit
        if (response == "ok") {
            window.location.href = '/porn'
        }
        else {
            $('#pornWarning').hide()
        }
    }

    function showCatListDialog() {
        buildDirTree($('#boobCatTreeContainer'), "boobCatTreeContainer", 2);
        $('#boobCatTreeContainer').dialog('open');
    }

    function boobCatTreeContainerClick(path, id, treeId) {

            //alert("dirTreeClick treeId: " + treeId);


        if (treeId == "boobCatTreeContainer") {
            window.location.href = "ImagePage?folder=" + id;
            $('#boobCatTreeContainer').dialog('close')
        }
        else
            alert("dirTreeClick treeId: " + treeId);
    }

</script>