@{
    ViewBag.Title = "Home Page";
}
<style>
    #leftColumn, #middleColumn, #rightColumn {
        background-color: #fef; /*#b081b1*/
        font-family: Comic Sans MS;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .boobleClassic {
        
        height: 225px;
    }

    .majorCategoryRow {
        padding-top: 120px;
        display: flex;
        margin-bottom: 100px;
        width: 100%;
        display: none;
    }
    .majorCategoryRowLinkItem {
        float: left;
        margin-left: 60px;
    }
    .containerImage {
        float: left;
        margin-left: 60px;
    }

    .sectionTitle {
        display: block;
        text-align: center;
    }

    .bottomLinks {
        clear: left;
        padding-left: 222px;
        padding-bottom: 8px;
    }

    .indexTitle {
        display: block;
        width: 100%;
        text-align: center;
        color: #490157;
        font-family: 'Lucida Calligraphy';
        font-size: 33px;
        margin-bottom: 8px;
    }


</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="statMessage"></div>
        <div class="majorCategoryRow">
            <a class="majorCategoryRowLinkItem" href="~/home/ImagePage?folder=boobs/shapes">
                <img class="boobleClassic" alt="" src="~/Images/bighonkers.jpg" />
                <div class="center">shapes</div>
            </a>
            <a class="majorCategoryRowLinkItem" href="~/home/ImagePage?folder=boobs\poses">
                <img class="boobleClassic" alt="" src="~/Images/poses.jpg" />
                <div class="center">poses</div>
            </a>
            <a class="majorCategoryRowLinkItem" href="~/Home/BoobsRanker">
                <img class="boobleClassic" alt="" src="~/Images/fuckMarryKill03.jpg" />
                <div class="center">Boobs Ranker</div>
            </a>
            <a class="majorCategoryRowLinkItem" href="~/home/transitions?folder=boobs">
                <img class="boobleClassic" alt="" src="~/Images/transitions2.jpg" />
                <div class="center">Want to see her tits?</div>
            </a>
            <a class="majorCategoryRowLinkItem" href="~/home/ImagePage?folder=boobs\archive">
                <img class="boobleClassic" alt="" src="~/Images/babes.jpg" />
                <div class="center">Archive</div>
            </a>
        </div>

        <div id="galleryMessage" class="indexTitle">
            Select a Gallery
        </div>

        <div id="carousel">
            @Html.Partial("_RandomImage")
        </div>

        <div class="bottomLinks">
            <a href="ContentPage.aspx?pg=LetMeExplain">Boobs Rater</a>
        </div>
        <div class="bottomLinks">
            <a href="~/home/transitions?folder=boobs">Transitions</a>
        </div>

        <div class="bottomLinks">
            <a href="ContentPage.aspx?pg=LetMeExplain">Let me Expalin</a>
        </div>
        @*<div class="bottomLinks">
            <a href="ContentPage.aspx?pg=CategoryList1">Category List</a>
        </div>*@
        <div class="bottomLinks">
            <a href="~/home/ImagePage?folder=porn">nasty porn</a>
        </div>
        <div class="bottomLinks">
            <a href="~/home/Videos">video links</a>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>
    $(document).ready(function () {

        launchCarousel('Boobs');

    });


</script>