@{
    ViewBag.Title = "Home Page";
}
<style>
    #leftColumn, #middleColumn, #rightColumn {
        background-color: #fef;  /*#b081b1*/
        font-family: Comic Sans MS;
    }
    a {
        text-decoration: none;
        cursor: pointer;
    }

    #divImageContainer {
        padding-top: 120px;
        display: flex;
        margin-bottom: 100px;
        width: 100%;
    }

    .containerImage {
        float: left;
        margin-left: 60px;
    }
    .sectionTitle {
        display: block;
        text-align: center;
    }
    .bottomLinks {
        clear: left;
        padding-left: 222px;
        padding-bottom: 8px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div>
            <div id="divImageContainer">
                <div class="containerImage">
                    <a href="~/Home/Gallery?folder=boobs\big tits"> <img alt="" src="~/Images/bighonkers.jpg" style="width:200px; height: 225px" /></a>
                    <a class="sectionTitle" href="~/Home/Gallery?folder=boobs\big tits">big honking racks</a>
                </div>
                <div class="containerImage">
                    <a href="~/Home/Gallery?folder=boobs\nice tits"> <img alt="" src="~/Images/nicetits.jpg" style="width:200px; height: 225px" /></a>
                    <a class="sectionTitle" href="~/Home/Gallery?folder=boobs\nice tits">nice tits</a>
                </div>
                <div class="containerImage">
                    <a class="sectionTitle" href="Transitions.aspx?images/boobs/transitions"> <img alt="" src="~/Images/transitions.jpg" style="width:200px;height:225px;" /></a>
                    <a class="sectionTitle" href="Transitions.aspx?images/boobs/transitions">want to see her tits</a>
                </div>
                <div class="containerImage">
                    <a href="~/Home/Gallery?folder=boobs\poses"> <img alt="" src="~/Images/poses.jpg" style="width:200px; height:225px" /></a>
                    <a class="sectionTitle" href="~/Home/Gallery?folder=boobs\poses">poses</a>
                </div>
                <div class="containerImage">
                    <a href="~/Home/Gallery?folder=boobs\babes"> <img alt="" src="~/Images/babes.jpg" style="width:200px; height: 225px" /></a>
                    <a class="sectionTitle" href="~/Home/Gallery?folder=boobs\babes">babes</a>
                </div>
            </div>

            <div class="bottomLinks">
                <a href="ContentPage.aspx?pg=LetMeExplain">Boobs Rater</a>
            </div>
            <div class="bottomLinks">
                <a href="ContentPage.aspx?pg=LetMeExplain">Let me Expalin</a>
            </div>
            <div class="bottomLinks">
                <a href="ContentPage.aspx?pg=CategoryList1">Category List</a>
            </div>
            <div class="bottomLinks">
                <a href="NastyPorn.aspx">nasty porn</a>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>


<script>
    $(document).ready(function () {
        resizePage();
    });
</script>