@{
    ViewBag.Title = "Home Page";
}
<style>
    #leftColumn, #middleColumn, #rightColumn {
        background-color: #fef; /*#b081b1*/
        font-family: Comic Sans MS;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .boobleClassic {
        height: 225px;
    }

    .majorCategoryRow {
        padding-top: 120px;
        display: flex;
        margin-bottom: 100px;
        width: 100%;
        display: none;
    }

    .majorCategoryRowLinkItem {
        float: left;
        margin-left: 60px;
    }

    .containerImage {
        float: left;
        margin-left: 60px;
    }

    .sectionTitle {
        display: block;
        text-align: center;
    }

    .bottomLinks {
        clear: left;
        padding-left: 222px;
        padding-bottom: 8px;
    }

    .indexTitle {
        display: block;
        width: 100%;
        text-align: center;
        color: #490157;
        font-family: 'Lucida Calligraphy';
        font-size: 33px;
        margin-bottom: 8px;
    }

    .modalMessage {
        position: absolute;
        background-color: #666;
        top: 250px;
        color: #c3c2ae;
        border: solid 2px var(--borderColor);
        box-shadow: rgba(128, 128, 128, 0.55) 5px 6px;
        display: none;
        z-index: 20;
    }
    #pornWarning {
        display:none;
    }
</style>

<div id="pornWarning" class="modalMessage" onclick="window.location.href = '/porn';">
    <div style="margin:2px 100px 20px 100px;color:white"> 
    <div style="font-size:45px;color:red;text-align:center">WARNING</div>    
    <div style="color:yellow;font-size:35px;text-align:center;margin:4px 14px;"> This site shows pictures of girls with dicks in their mouths. </div>
    <div style="color:#fefefe;padding:10px;font-size:28px;text-align:center;"> If you are offended by pictures and gifs and links to videos of females sucking on dicks please do not enter this site.</div> 
    <p>  <input type="checkbox" /> I certify that I am a hetosexual white male over 42 years old <br /> <input type="checkbox" /> I am over 21 and have to jerk off several times a day <br />
        <input type="checkbox" /> I am a religious conservative dismayed by the downfall of society. I still want to see   
        <div style="color:#fefefe;padding:10px;font-size:28px;text-align:center;"> This site only shows images of females sucking on dick. </div> 
    <p> If you are male homosexual cocksucker this site may not be for you.  <br /> If you are a gay cocksucker check here. <input type="checkbox" />  
        <div style="color:#fefefe;padding:10px;font-size:28px;text-align:center;"> All images of cocksuckers on this site have cock fully in their mouths. No partial licks or tips are shown except in certain categories </div> 
        <input type="checkbox" /> I certify that I am a female cocksucker. You're especially welcome here <br /> 
        <input type="checkbox" /> I am a female who refuses to give head and am disgusted by the terrible sluts who do so, but I want to revel in their humiliation.   
        <div style="color:#fefefe;padding:10px;font-size:28px;text-align:center;"> This site also contains images of different categories of pussy shots, breast fondeling, cum shots, penetration, naughty and kininky behavior, as well as thousands of felmale cocksuckers, mostly on their knees. </div>  
        <div style="font-size:45px;color:red;text-align:center">EXIT SITE</div>   
        </div>
</div>

<div class="threeColumnArray">
    <div id="leftColumn">
        <div class="leftColumnList">
            <div onclick="window.location.href='/home/transitions?folder=boobs'">Transitions</div>
            <div onclick="window.location.href='/test/contextTest'">Boobs Rater</div>
            <div onclick="window.location.href='/test/contextTest'">Let me Expalin</div>
            <div onclick="$('#boobIndexdirTreeContainer').toggle()">Category List</div>
            <div onclick="window.location.href='/home/Mobile?folder=boobs'">Mobile</div>
            @*<div onclick="$('#oggleBlogEntry').fadeIn()">Blog</div>*@
            <div onclick="$('#pornWarning').show();">Nasty Porn</div>
        </div>
    </div>
    <div id="middleColumn">
        <div id="divStatusMessage"></div>
        <div class="flexContainer">
            <div class="floatLeft">
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('centerfolds', $(this).is(':checked'), 1000)" />Include Centerfolds</div>
                <div class="galleryCheckBox"><input type="checkbox" onchange="loadImages('archive', $(this).is(':checked'), 50000)" />Include Archive</div>
            </div>
            <div class="floatLeft">
                <div id="galleryMessage" class="indexTitle"></div>
                <div id="carousel">
                    @Html.Partial("_Carousel", "boobs")
                </div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>


<div id="boobIndexdirTreeContainer" class="floatingDirTree">
    <div class="floatingCrudBanner">View A Category <div onclick="$('#boobIndexdirTreeContainer').fadeOut()" class="farSide">x</div> </div>
    @Html.Partial("_DirTree1")
</div>

<script>
    $(document).ready(function () {
        launchCarousel('boobs');
    });

    function toggleDirTree(id) {
        //alert($('#' + id + '').css("display"));
        if ($('#' + id + '').css("display") == "none") {
            $('#S' + id + '').html("[-] ");
        }
        else
            $('#S' + id + '').html("[+] ");
        $('#' + id + '').toggle();
    }

    function onDirTreeClick(path, id) {
        window.location.href = "/home/ImagePage?folder=" + id.substring(2);
    }

    function showMessage(title) {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/OggleBlog/?title=" + title,
                success: function (model) {
                    if (!model.CommentTitle.startsWith("ERROR")) {
                        pause();
                        $('#modalContent').html($('#warningMessage').html(model.CommentText).show());
                        $('#modalContainer').show();

                        //top: 250px;
                        //left: 200px;
                        $('#warningMessage').css("left", (($(window).width() / 2) - ($('#warningMessage').width() / 2)));

                    }
                    else
                        alert("showMessage: " + success)
                },
                error: function (xhr) {
                    $('#getDirTreeLoadingGif').hide();
                    alert("showMessage xhr: " + xhr.statusText);
                }
            });

        } catch (e) {
            alert("showMessage: " + e);
        }
    }
    
    function goToPornSite() {
        clearModal();
    }


</script>