@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Transitions";
}

@*<script src="~/Scripts/very-array.js"></script>*@

<style>
    #imageContainer {
        width: 100%;
        background-color: #c7c7c7;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

        #imageContainer div {
            flex: 0 0 auto;
        }

    .sliding-door {
        height: 600px;
        width: 200px;
        background-color: #999;
        transition: all .5s ease-in-out;
    }

    .centerImage {
        height: 600px;
        width: 400px;
        border: solid thin #808080;
        cursor: pointer;
    }
    /*.buttonRow {
        padding-top: 12px;
        padding-bottom: 4px;
    }*/
    #floatingMessage {
        position: absolute;
        top: 700px;
        left: 800px;
        font-family: 'Comic Sans MS';
        font-size: 30px;
        color: yellow;
    }
</style>

<div id="floatingMessage">Want to see her tits</div>
<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Transitions</h2>
        <div class="centered">
            <div id="imageContainer">
                <div id="door-left" class="sliding-door"></div>
                <img id="imgNakedGirl" class="centerImage" />
                <div id="door-right" class="sliding-door"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>

    var service = '@ViewBag.Service';
    var transformEngine;
    var pic1 = "/Images/babes.jpg";
    var pic2 = "/Images/nicetits.jpg";
    var mode = "play";
    var picArray = [];
    var curIndex = 0;

    $(document).ready(function () {
        LoadPicArray();
    });
    
    $('#floatingMessage').click(function () {
        SwitchMode();
    });
    $('#imgNakedGirl').click(function () {
        SwitchMode();
    });

    function SwitchMode() {
        if (mode === "play") 
            PerformTransform(1);
        else
            Incriment();

        mode = (mode === "play") ? "skip" : "play";
    } 
    ///  11:11 11:11
    function LoadPicArray() {

        //alert("service: " + service);
        try {

        $.ajax({
            type: "get",
            url: service + "/api/transtion/LoadPicArray",
            datatype: "json",
            success: function (data) {
                picArray = data;
                alert("picArray: " + picArray);
                $('#imgNakedGirl').attr("src", service + "/App_Data/Danni/boobs/transitions/" + picArray[0]);
                pic2 = service + "/App_Data/Danni/boobs/transitions/" + picArray[1];
                $('#floatingMessage').css("left", ($('#imageContainer').width() / 2));
            },
            error: function (e, xhr, opt) {
                //alert("LoadPicArray opt.url : " + opt.url + " xhr.status: " + xhr.status + " xhr.statusText: " + xhr.statusText + "  e:" + e.Message);
                alert("LoadPicArray ajax error :" + xhr.statusText);
            }
        });
        } catch (e) {
            alert("LoadPicArray CATCH :" + e.Message);
        }
    };

    function Incriment() {
        curIndex += 2;
        if (curIndex >= picArray.length)
            curIndex = 0;
        pic1 = service + "/App_Data/Danni/boobs/transitions/" + picArray[curIndex];
        pic2 = service + "/App_Data/Danni/boobs/transitions/" + picArray[curIndex + 1];
        $('#imgNakedGirl').attr("src", pic1)
        $('#floatingMessage').html("Want to see her tits?")
    }

    function PerformTransform(ndx) {
        switch (ndx) {
            case 1:
                $('#door-left').css("transform", "translateX(201px)");
                $('#door-right').css("transform", "translateX(-201px)");
                setTimeout(function () {
                    $('#imgNakedGirl').attr("src", pic2)
                    $('#door-left').css("transform", "translateX(0)");
                    $('#door-right').css("transform", "translateX(0)");
                    $('#floatingMessage').html("Next")
                }, 500);
                break;
            default:
        }
    }

    //$('#btnTest').click(function () {
    //    Incriment();
    //});


    function InitAndLoadTransformEngine() {
        transformEngine = new TransformEngine();
        transformEngine.Get("bork");
        LoadAll();
    };

    (function TransformEngine() {
        this.InternalArray = new Array();
        //this.prototype.Push = new function (ele) { this.InternalArray.push(ele); };
        //this.prototype.GetByName = new function (name) {
        //    for (i = 0; i < this.InternalArray.length; i++) {
        //        if (this.InternalArray[i] == name) {
        //            return i;
        //        }
        //    }
        //}
        function construct(constructor, args) {
            function F() {
                return constructor.apply(this, args);
            }
            this.InternalArray = new Array();

            F.prototype = constructor.prototype;

            return new F();
        }
    }) (this);

    function LoadAll() {
        transformEngine.Push({ "name": "Blinds2", "progid": "DXImageTransform.Microsoft.Blinds(bands=2, direction = 'RIGHT')" });
        transformEngine.Push({ "name": "Blinds4", "progid": "DXImageTransform.Microsoft.Blinds(bands=4,  direction='DOWN')" });
        transformEngine.Push({ "name": "Blinds6", "progid": "DXImageTransform.Microsoft.Blinds(bands=6,  direction='LEFT')" });
        transformEngine.Push({ "name": "Blinds8", "progid": "DXImageTransform.Microsoft.Blinds(bands=8,  direction='RIGHT')" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=2, squaresY=2, direction='right', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=4, squaresY=4, direction='right', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=8, squaresY=8, direction='up', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=8, squaresY=8, direction='down', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=8, squaresY=8, direction='left', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=8, squaresY=8, direction='right', duration=1)" });
        transformEngine.Push({ "name": "Checkerboard", "progid": "DXImageTransform.Microsoft.Checkerboard(squaresX=12, squaresY=12, direction='right', duration=1)" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Fade(duration=1.0,overlap=1.0)" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Inset()" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='CIRCLE', motion='in')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='CIRCLE', motion='out')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='CROSS', motion='in')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='CROSS', motion='out')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='PLUS', motion='out')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='PLUS', motion='in')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='SQUARE', motion='in')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='SQUARE', motion='out')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='STAR', motion='in')" });
        transformEngine.Push({ "name": "Iris", "progid": "DXImageTransform.Microsoft.Iris(irisStyle='STAR', motion='out')" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Pixelate(MaxSquare=30, Duration=2, Enabled=false)" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RadialWipe(wipeStyle='clock')" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RadialWipe(wipeStyle='wedge')" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RadialWipe(wipeStyle='radial')" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RandomBars(orientation='horizontal')" });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RandomBars(orientation='vertical')  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.RandomDissolve()                    " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='HIDE', bands=1)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='PUSH', bands=1)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='SWAP', bands=1)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='HIDE', bands=2)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='PUSH', bands=2)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Slide(slideStyle='SWAP', bands=2)   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Spiral(GridSizeX=16, GridSizeY=16)  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Spiral(GridSizeX=8, GridSizeY=8)    " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Spiral(GridSizeX=64, GridSizeY=64)  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Stretch(stretchStyle='HIDE')        " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Stretch(stretchStyle='spin')        " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Stretch(stretchStyle='push')        " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Barn(orientation=horizontal, motion=out)                " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Barn(orientation=horizontal, motion=in)                 " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Barn(orientation=vertical, motion=in)                   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Barn(orientation=vertical, motion=out)                  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Strips(Duration=1, Motion='leftdown')                   " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Strips(Duration=1, Motion='leftup')                     " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Strips(Duration=1, Motion='rightdown')                  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Strips(Duration=2, Motion='rightup')                                                             " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wipe(GradientSize=1.0, wipeStyle=0, motion='forward')                                            " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wipe(GradientSize=1.0, wipeStyle=1, motion='reverse')                                            " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wheel(duration=3)                                                                                " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wheel(spokes=2)                                                                                  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wheel(spokes=4)                                                                                  " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wheel(spokes=10)                                                                                 " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.Wheel(spokes=20)                                                                                 " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.zigzag(GridSizeX=8, GridSizeY=8)                                                                 " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.zigzag(GridSizeX=8, GridSizeY=16)                                                                " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.zigzag(GridSizeX=8, GridSizeY=32)                                                                " });
        transformEngine.Push({ "name": "", "progid": "DXImageTransform.Microsoft.zigzag(GridSizeX=16, GridSizeY=64)" });
    };

</script>


