
@{
    ViewBag.Title = "Videos";
}
<style>
    .threeColumnArray {
        background-image: linear-gradient(#b190b6, #b84cc8);
    }
    .videoContainer {
        background-color:#b081b1;
    }
    .videoContainer div {
        display: inline-block;
    }
    .vlinkLabel {
        width: 100%;
        text-align: center;
    }
    img {
        height: 124px;
        width: 208px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Videos</h2>
        <div id="linksContainer" class="videoContainer"></div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>

    $(document).ready(function () {
        getVideoLinks();
        //var t = linksArray();
        //for (i = 0; i < t.length; i++) {
        //    $('#linksContainer').append("<div><a href=" + t[i][0] + " target='_blank'><img src=" + imagePath + t[i][1] + " /><br/><div class='vlinkLabel'>" + t[i][2] + "</div></a></div>");
        //}
    });

    function getVideoLinks() {
        var imagePath = "https://api.curtisrhodes.com/app_data/links/images/";
        try {
            $.ajax({
                type: "PATCH",
                url: service + "/api/ImageFolder/LoadCategoryImageLink",
                success: function (videoLinks) {
                    $.each(folders, function (idx, obj) {
                        $('#linksContainer').append("<div><a href=" + obj.Link + " target='_blank'><img src=" +
                            imagePath + obj.Image + " /><br/><div class='vlinkLabel'>" +
                            obj.Title + "</div></a></div>");
                    });
                },
                error: function (xhr) {
                    $('#getDirTreeLoadingGif').hide();
                    alert("getVideoLinks xhr: " + getXHRErrorDetails(xhr));
                }
            });
        } catch (e) {
            $('#getDirTreeLoadingGif').hide();
            alert("recurrdatify: " + e);
        }
    }




    function linksArray() {
        return new Array(
            ["https://xhamster.com/videos/horny-girlfriend-swallows-cum-920776", "dagfsfuckandsuck03.PNG", "nice suck and fuck"],
            ["https://www.pornhub.com/view_video.php?viewkey=ph5b5b31013e678", "aaRiver.png", "Amature Alure"],
            ["https://xhamster.com/videos/blowjobs-deluxe-13-2022228", "bjDelux1305.png", "Blowjobs Deluxe"],
            ["https://xhamster.com/videos/busty-blonde-cock-sucker-1159592", "bbc03.png", "Busty Blonde Cocksucker"],
            ["https://xhamster.com/videos/busty-and-beautiful-anal-fucked-gf-731803", "bustybj04.png", "Big Titted Cocksucker"],
            ["https://xhamster.com/videos/babe-head-96-secretary-sensual-seduction-3758728", "Secretary9601.png", "Alltime Greatest BJ"],
            ["https://xhamster.com/videos/santas-horny-helper-sucks-cock-and-plays-jingle-balls-8714133", "slowDeepSanta01.png", "Slow and Deep"],
            ["https://xhamster.com/videos/goth-college-girl-gives-a-blowjob-888424", "dagfs01.png", "Floppy Tits Blowjob"],
            ["https://xhamster.com/videos/fuck-doll-part-1-by-amedee-vause-5243484", "AmedeeVause01.png", "Amedee Vause"],
            ["https://xhamster.com/videos/petite-girlfriend-loves-sucking-big-cock-7199121", "thisgirlsucks02.png", "This Girl Sucks"],
            ["https://xhamster.com/videos/fixation-slow-cock-fixation-trainer-4487120", "cockworship02.png", "Cock Worship"],
            ["https://xhamster.com/videos/worship-slow-cock-worship-trainer-4447171", "cockworship01.png", "Cock Worship"],
            ["https://xhamster.com/videos/i-luv-the-80-s-vintage-big-tits-striptease-stockings-dance-7461213", "dancers01.png", "Topless Dancers"],
            ["https://xhamster.com/videos/sucking-and-blowing-compilation-6168489", "beautifulCocksucker02.PNG", "beautiful cocksucker"],
            ["https://xhamster.com/videos/mouth-creampies-the-ultimate-compilation-3-5040401", "cuminMouth38.PNG", "Oral Creampies"],
            ["https://xhamster.com/videos/dirty-talking-cock-sucking-wife-1333116", "dirtytalkcocksucker01.png", "Dirty Talk"]);        
    }    
</script>

