
@{
    ViewBag.Title = "Videos";
}

<script src="~/Scripts/video/mediaelement-and-player.js"></script>
<link href="~/Styles/video/mediaelementplayer.css" rel="stylesheet" />
<style>
    .threeColumnArray {
        background-image: linear-gradient(#b190b6, #b84cc8);
    }

    .videoContainer {
        background-color: #b081b1;
    }

        .videoContainer div {
            display: inline-block;
        }

    .vlinkLabel {
        width: 100%;
        text-align: center;
    }

    img {
        height: 124px;
        width: 208px;
    }

    .myPlayerContainer {
        cursor: pointer;
        display: inline-block;
        border: solid thin green;
    }

    .videolinkLabel {
        text-align: center;
    }

    .videoScreen {
        position: absolute;
        top: 123px;
        left: 234px;
        height: 444px;
        border: solid 4px #80228e;
        background-color: #d580d7;
        display: none;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">

        <h2>Video Links</h2>
        <img id="getVideoLinksLoadingGif" class="loadingGif" src="~/Images/loader.gif" />
        <div id="linksContainer" class="videoContainer"></div>

    </div>
    <div id="rightColumn"></div>
</div>

<div id="vidScrn1" class="videoScreen">
    <div class="floatingCrudBanner">wasted life<div onclick="$('#vidScrn1').fadeOut()" class="farSide">x</div> </div>
    <video controls="controls">
        <source id="vidScrn1Source" type="video/mp4">
    </video>
    <div class="videolinkLabel">cocksucker</div>
</div>



<script>
    var service = '@ViewBag.Service';

    $(document).ready(function () {
        getVideoLinks();
    });

    /// Ready Fire Aim
    /// give vid a close box


    function runRiver(rsrc){
        try {
            alert("playVid: " + rsrc);
            $('#vidScrn1Source').attr("src", rsrc);
            $('#vidScrn1').fadeIn();
        } catch (e) {
            alert("playVid: " + e);

        }
    }

    function getVideoLinks() {
        $('#getVideoLinksLoadingGif').fadeIn();
        var imagePath = "https://api.curtisrhodes.com/app_data/links/images/";
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/VideoLink",
                success: function (videoLinks) {
                    $.each(videoLinks, function (idx, obj) {
                        //$('#linksContainer').append("<div class='myPlayerContainer' onclick=runRiver('" + obj.Link + "')>" +
                        //    "<img src=" + imagePath + obj.Image + " /><br/><div class='vlinkLabel'>" + obj.Title + "</div></a></div>");
                        $('#linksContainer').append("<div><a href=" + obj.Link + " target='_blank'><img src=" +
                            imagePath + obj.Image + " /><br/><div class='vlinkLabel'>" +
                            obj.Title + "</div></a></div>");
                    });
                    $('#getVideoLinksLoadingGif').hide();
                },
                error: function (xhr) {
                    $('#getVideoLinksLoadingGif').hide();
                    alert("getVideoLinks xhr: " + getXHRErrorDetails(xhr));
                }
            });
        } catch (e) {
            $('#getVideoLinksLoadingGif').hide();
            alert("recurrdatify: " + e);
        }
    }




    function linksArray() {
        return new Array(
            ["https://xhamster.com/videos/horny-girlfriend-swallows-cum-920776", "dagfsfuckandsuck03.PNG", "nice suck and fuck"],
            ["https://www.pornhub.com/view_video.php?viewkey=ph5b5b31013e678", "aaRiver.png", "Amature Alure"],
            ["https://xhamster.com/videos/blowjobs-deluxe-13-2022228", "bjDelux1305.png", "Blowjobs Deluxe"],
            ["https://xhamster.com/videos/busty-blonde-cock-sucker-1159592", "bbc03.png", "Busty Blonde Cocksucker"],
            ["https://xhamster.com/videos/busty-and-beautiful-anal-fucked-gf-731803", "bustybj04.png", "Big Titted Cocksucker"],
            ["https://xhamster.com/videos/babe-head-96-secretary-sensual-seduction-3758728", "Secretary9601.png", "Alltime Greatest BJ"],
            ["https://xhamster.com/videos/santas-horny-helper-sucks-cock-and-plays-jingle-balls-8714133", "slowDeepSanta01.png", "Slow and Deep"],
            ["https://xhamster.com/videos/goth-college-girl-gives-a-blowjob-888424", "dagfs01.png", "Floppy Tits Blowjob"],
            ["https://xhamster.com/videos/fuck-doll-part-1-by-amedee-vause-5243484", "AmedeeVause01.png", "Amedee Vause"],
            ["https://xhamster.com/videos/petite-girlfriend-loves-sucking-big-cock-7199121", "thisgirlsucks02.png", "This Girl Sucks"],
            ["https://xhamster.com/videos/fixation-slow-cock-fixation-trainer-4487120", "cockworship02.png", "Cock Worship"],
            ["https://xhamster.com/videos/worship-slow-cock-worship-trainer-4447171", "cockworship01.png", "Cock Worship"],
            ["https://xhamster.com/videos/i-luv-the-80-s-vintage-big-tits-striptease-stockings-dance-7461213", "dancers01.png", "Topless Dancers"],
            ["https://xhamster.com/videos/sucking-and-blowing-compilation-6168489", "beautifulCocksucker02.PNG", "beautiful cocksucker"],
            ["https://xhamster.com/videos/mouth-creampies-the-ultimate-compilation-3-5040401", "cuminMouth38.PNG", "Oral Creampies"],
            ["https://xhamster.com/videos/dirty-talking-cock-sucking-wife-1333116", "dirtytalkcocksucker01.png", "Dirty Talk"]);
    }
</script>

