
@{
    ViewBag.Title = "Videos";
}
<style>
    .threeColumnArray {
        background-image: linear-gradient(#b190b6, #b84cc8);
    }
    .videoContainer {
        background-color:#b081b1;
    }
    .videoContainer div {
        display: inline-block;
    }
    .vlinkLabel {
        width: 100%;
        text-align: center;
    }
    img {
        height: 124px;
        width: 208px;
    }
</style>
<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>Videos</h2>
        <div class="videoContainer">
            <div>
                <a href="https://www.pornhub.com/view_video.php?viewkey=ph5b5b31013e678" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/aaRiver.png" />
                    <br /><div class="vlinkLabel">Amature Alure</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/blowjobs-deluxe-13-2022228" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/bjDelux1305.png" />
                    <br /><div class="vlinkLabel">Blowjobs Deluxe</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/busty-blonde-cock-sucker-1159592" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/bbc03.png" />
                    <br /><div class="vlinkLabel">Busty Blonde Cocksucker</div>
                </a>
            </div>

            <div>
                <a href="https://xhamster.com/videos/busty-and-beautiful-anal-fucked-gf-731803" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/bustybj04.png" />
                    <br /><div class="vlinkLabel">Big Titted Cocksucker</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/babe-head-96-secretary-sensual-seduction-3758728" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/Secretary9601.png" />
                    <br /><div class="vlinkLabel">Alltime Greatest</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/santas-horny-helper-sucks-cock-and-plays-jingle-balls-8714133" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/slowDeepSanta01.png" />
                    <br /><div class="vlinkLabel">Slow and Deep</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/goth-college-girl-gives-a-blowjob-888424" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/dagfs01.png" />
                    <br /><div class="vlinkLabel">Floppy Tits Blowjob</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/fuck-doll-part-1-by-amedee-vause-5243484" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/AmedeeVause01.png" />
                    <br /><div class="vlinkLabel">Amedee Vause</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/petite-girlfriend-loves-sucking-big-cock-7199121" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/thisgirlsucks02.png" />
                    <br /><div class="vlinkLabel">This Girl Sucks</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/fixation-slow-cock-fixation-trainer-4487120" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/cockworship02.png" />
                    <br /><div class="vlinkLabel">Cock Worship</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/worship-slow-cock-worship-trainer-4447171" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/cockworship01.png" />
                    <br /><div class="vlinkLabel">Cock Worship</div>
                </a>
            </div>
            <div>
                <a href="https://xhamster.com/videos/dirty-talking-cock-sucking-wife-1333116" target="_blank">
                    <img src="https://api.curtisrhodes.com/app_data/links/images/dirtytalkcocksucker01.png" />
                    <br /><div class="vlinkLabel">Dirty Talk</div>
                </a>
            </div>


            


        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>


</script>

