
<style>
    middleColumn {
        box-sizing: border-box;
    }
    #breadcrumb {
        margin-top: 50px;
        font-size: 24px;
        font-weight: 700;
    }
    #imageContainer {
        border: solid thin black;
        display: flex;
        margin-bottom: 4px;
        text-align: center;
    }
    #imageContainer div{
        float: left;
    }
    #mainImage {
        cursor: pointer; 
    }
    #nextImage img, #prevImage img {
        width: 200px;
        height: 200px;
        opacity: 0.25;
        border: solid thin black;
        cursor: pointer;
    }

    #tabStrip {
        clear: both;
        border: solid thin black;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 4px;
    }
    .tabImage {
        float:left;
    }
    .tabImageSelected {
        float: left;
        border:solid thin red;

    }
        .tabImage img, .tabImageSelected img {
            height: 100px;
            width: 100px;
            margin-right: 4px;
            cursor: pointer;
        }
    #tabStripLeftArrow {
        float: left;
    }
        #tabStripLeftArrow img {
            height: 100px;
            width: 20px;
            margin-right: 4px;
        }
    #tabStripContentArea {
        float: left;
        text-wrap: none;
        overflow: hidden;
    }
    #tabStripRightArrow {
        float: right;
    }
        #tabStripRightArrow img {
            height: 100px;
            width: 20px;
        }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divBreadCrumbs"></div>
        <div id="imageContainer">
            <div id="prevImage"></div>
            <div id="mainImage"></div>
            <div id="nextImage"></div>
        </div>
        <div style="clear:both"></div>
        <div id="tabStrip">
            <div id="tabStripLeftArrow"><img src="~/Images/leftArrow.png" /></div>
            <div id="tabStripContentArea"></div>
            <div id="tabStripRightArrow"><img src="~/Images/rightArrow.png" /></div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service';
    var folder = '@ViewBag.Folder';
    var startFile = '@ViewBag.StartFile';

    var imageArray = new Array();
    var imageTabMax = 18;
    var imageCurrentIndex = 0;
    var tabStartPos = 0;

    $(document).ready(function () {
        showBreadCrumbs(folder);
        GetTabStripImageArray();
    });

    $(window).resize(function () {
        // set heigth of main image
        var mHeight = $('#middleColumn').height() - 180;
        $('#nextImage').css("margin-top", (mHeight - 200) / 2);
        $('#mainImage img').height(mHeight);
        $('#prevImage').css("margin-top", (mHeight - 200) / 2);
        // ceter in imageContainer
        var icw = ($('#imageContainer').width() / 2) - ($('#mainImage').width() / 2);
        $('#imageContainer').css("padding-left", icw);
        // set width of tabstrip
        $('#tabStrip').width($('#middleColumn').width());

        // tab images = 104
        imageTabMax = Math.floor($('#tabStrip').width() / 104);
        //alert("imageTabMax: " + imageTabMax);
        //alert("$(window).resize")
    });

    function ShowImage(currentImageIndex) {
        if (currentImageIndex > 0) 
            $('#prevImage').html(imageArray[Number(currentImageIndex) - 1]);
        $('#mainImage').html(imageArray[currentImageIndex]);
        if (currentImageIndex < imageArray.length) 
            $('#nextImage').html(imageArray[Number(currentImageIndex) + 1]);
        else 
            alert("currentImageIndex: " + currentImageIndex + "  < imageArray.length: " + imageArray.length);
        $(window).resize();
    }

    function ScrollTabStrip(direction) {
        try {

            if (direction === "forward") {
                if ((imageCurrentIndex + imageTabMax) > imageArray.length)
                    tabStartPos = imageArray.length - imageTabMax;
                else
                    tabStartPos += imageTabMax;
            }
            if (direction === "backward") {
                if ((imageCurrentIndex - (imageTabMax * 2)) < 0)
                    tabStartPos = 0;
                else
                    tabStartPos -= (imageTabMax * 2);
            }
            if (direction === "ensureVisible") {
                if ((imageCurrentIndex <= tabStartPos) || (imageCurrentIndex > (tabStartPos + imageTabMax)))
                    tabStartPos = imageCurrentIndex;
            }


            $('#tabStripContentArea').html("");
            for (i = tabStartPos; i < (tabStartPos + imageTabMax); i++) {
                if (i < imageArray.length) {
                    if (imageArray[i] != "Thumbs.db") {
                        if (i == imageCurrentIndex)
                            $('#tabStripContentArea').append("<div class='tabImageSelected'>" + imageArray[i] + "</div>");
                        else
                            $('#tabStripContentArea').append("<div class='tabImage'>" + imageArray[i] + "</div>");
                    }
                }
            }


            // this click fuction must be placed here after the tab elements are created
            $('.tabImage img').click(function () {
                $("#tabStripContentArea div [class='tabImageSelected']").removeClass("tabImageSelected").addClass("tabImage");
                $(this).removeClass("tabImage").addClass("tabImageSelected")
                imageCurrentIndex = Number($(this).attr("idx"));

                ShowImage(imageCurrentIndex);
            });
        }
         catch (e) { alert("ERROR ScrollTabStrip: " + e); }
    };
  
    function GetTabStripImageArray() {
        try {
            $.ajax({
                type: "get",
                url: service + "/api/directory/GetTabStripImages?folder=" + folder + "&thisService=" + service + "&startImage=" + startFile,
                success: function (response) {
                    try {
                        imageArray = response;
                        $.each(imageArray, function (idx, item) {
                            if (item.indexOf(startFile) > 0) {
                                imageCurrentIndex = parseInt(item.substr(item.indexOf("idx=") + 5, 2).replace("'", ""));
                                return false;
                            }
                        });
                        $(window).resize();
                        ScrollTabStrip("ensureVisible");

                        ShowImage(Number(imageCurrentIndex));

                    }
                    catch (e) { alert("GetTabStripImageArray ERROR: " + e) }
                },
                error: function (xhr) { alert("GetTabStripImageArray error: " + xhr.statusText); }
            });
        } catch (e) { alert("GetTabStripImageArray ERROR2: " + e) }
    }

    $('#tabStripLeftArrow').click(function () {
        ScrollTabStrip("backward");
    })
    $('#tabStripRightArrow').click(function () {
        ScrollTabStrip("forward");
    })

    $('#prevImage').click(function () {
        if (Number(imageCurrentIndex) > 0)
            imageCurrentIndex = Number(imageCurrentIndex) - 1;
        ShowImage(imageCurrentIndex);
        ScrollTabStrip("ensureVisible");
    });
    $('#mainImage').click(function () {
        MoveNext();
        //if ($(this).css("cursor") == "zoom-in") {
        //    alert("$(this).css(cursor): " + $(this).css("cursor"));
        //    originalMainImageSize = $(this).css("height");
        //    $(this).css("cursor", "zoom-out");
        //    $(this).css("height", "100%");
        //}
        //else {
        //    $(this).css("height", originalMainImageSize);
        //    $(this).css("cursor", "zoom-in");
        //}
        //$(window).resize();
    });
    $('#nextImage').click(function () {
        MoveNext();
    });
    function MoveNext() {
        if (Number(imageCurrentIndex) < imageArray.length)
            imageCurrentIndex = Number(imageCurrentIndex) + 1;
        ShowImage(imageCurrentIndex);
        ScrollTabStrip("ensureVisible");
    }
</script>


