
<style>
    .threeColumnArray {
    }

    .centeredDivInner {
        min-height: 200px;
        cursor: pointer;
    }

    .slideShowContainer {
        background-image: linear-gradient(#b190b6, #b84cc8);
        clear: both;
        border: solid thin black;
        margin-bottom: 4px;
        text-align: center;
    }

    .leftRightImage {
        position: absolute;
    }
    .leftRightImage img {
        width: 200px;
        height: 200px;
        opacity: 0.5;
        border: solid thin black;
        cursor: pointer;
    }

    #tabStrip {
        clear: both;
        border: solid thin black;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 4px;
    }
    .tabImage {
        float:left;
    }
    .tabImageSelected {
        float: left;
        border:solid thin red;

    }
        .tabImage img, .tabImageSelected img {
            height: 100px;
            width: 100px;
            margin-right: 4px;
            cursor: pointer;
        }
    .tabStripLeftArrow {
        cursor: pointer;
        float: left;
    }
        .tabStripLeftArrow img {
            height: 100px;
            width: 20px;
            margin-right: 4px;
        }
    #tabStripContentArea {
        float: left;
        text-wrap: none;
        overflow: hidden;
    }
    .tabStripRightArrow {
        cursor: pointer;
        float: right;
    }
        .tabStripRightArrow img {
            height: 100px;
            width: 20px;
        }
</style>

<div class="threeColumnArray" tabindex="0">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <div id="divBreadCrumbs"></div>
       
        <div id="imageContainer" class="slideShowContainer">
            <div id="prevImage" onclick="scrollTabStrip('previous')" class="leftRightImage"></div>
            <div class="centeredDivShell">
                <div id="centeredContainer" class="centeredDivInner">
                    <div id="mainImage" onclick="scrollTabStrip('next')"></div>
                </div>
            </div>
            <div id="nextImage" onclick="scrollTabStrip('next')" class="leftRightImage"></div>
        </div>


        <div style="clear:both"></div>
        <div id="tabStripContainer">
            <div class="tabStripLeftArrow" onclick="scrollTabStrip('backward')"><img src="~/Images/leftArrow.png" /></div>
            <div id="tabStripContentArea"></div>
            <div class="tabStripRightArrow" onclick="scrollTabStrip('forward');"><img src="~/Images/rightArrow.png" /></div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="rightColumn"></div>
</div>        

<script>
    var service = '@ViewBag.Service';
    var folder = '@ViewBag.Folder';
    var startFile = '@ViewBag.StartFile';

    var imageArray = new Array();
    var imageTabMax = 0;
    var tabEndPos = 0;
    var imageCurrentIndex = 1;
    var tabStartPos = 0;

    $(document).ready(function () {
        showBreadCrumbs(folder);
        getTabStripImageArray();
        $('#slideShowLink').hide();
        $('.threeColumnArray').focus();
        imageTabMax = Math.floor($('#tabStripContainer').width() / 104);  // tabimagewidth + margin
        tabEndPos = imageTabMax;

        //alert("max:" + Number($('#middleColumn').width() - 400));

    }); 

    $(window).resize(function () {
        // set heigth of main image
        var mHeight = $('#middleColumn').height() - 180;
        $('#imageContainer').height(mHeight);
        $('#mainImage img').height(mHeight);
        imageTabMax = Math.floor($('#tabStripContainer').width() / 104);  // tabimagewidth + margin
        $('#mainImage img').css("max-width", Number($('#middleColumn').width() - 400));

        $('#footerMessage').html("img height: " + $('#mainImage img').height() + " width: " + $('#mainImage img').width());
    });

    function showImage() {
        //alert("showImage")
        if (imageCurrentIndex > 0) 
            $('#prevImage').html(imageArray[Number(imageCurrentIndex) - 1]);

        $('#mainImage').html(imageArray[imageCurrentIndex]);

        if (imageCurrentIndex < imageArray.length) 
            $('#nextImage').html(imageArray[Number(imageCurrentIndex) + 1]);

        $(window).resize();

        setTimeout(function () {
            var mHeight = $('#centeredContainer').height();
            $('.leftRightImage').css("top", (mHeight / 2));
            var mWidth = $('#centeredContainer').width();
            var centeredLeft = $('.centeredDivShell').position().left + $('#centeredContainer').position().left;
            $('#prevImage').css("left", centeredLeft - 200);
            $('#nextImage').css("left", centeredLeft + mWidth);
        }, 200);
    }

    function scrollTabStrip(direction) {
        try {
            if (direction === "next") {
                imageCurrentIndex++;
                if (imageCurrentIndex < tabEndPos) {
                   // $('#footerMessage').html("scrollTabStrip next tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                }
                else {
                    if ((imageCurrentIndex + imageTabMax) < imageArray.length) {
                        tabStartPos += imageTabMax;
                        tabEndPos += imageTabMax;
                        //$('#footerMessage').html("scrollTabStrip next TAB tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                    }
                    else {
                        tabStartPos = 0;
                        tabEndPos = imageTabMax;
                        imageCurrentIndex = 0;
                        //$('#footerMessage').html("scrollTabStrip next RESET tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                    }
                }
                showImage(imageCurrentIndex);
            }
            if (direction === "previous") {
                imageCurrentIndex--;
                if (imageCurrentIndex >= 0) {
                    if (imageCurrentIndex < tabStartPos) {
                        if (tabStartPos > imageTabMax) {
                            tabStartPos -= imageTabMax;
                            tabEndPos -= imageTabMax;
                           // $('#footerMessage').html("scrollTabStrip previous tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                        }
                        else {
                            tabStartPos = 0;
                            tabEndPos = imageTabMax;
                            //alert("not sure it this gets hit")
                            //$('#footerMessage').html("scrollTabStrip previous tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                        }
                    }
                }
                else {
                    tabStartPos = imageArray.length - imageTabMax;
                    imageCurrentIndex = imageArray.length - 1;
                    tabEndPos = imageArray.length;
                    //$('#footerMessage').html("scrollTabStrip previous LOOP tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                }
                showImage(imageCurrentIndex);
            }

            if (direction === "forward") {
                $("#tabStripContentArea div [class='tabImageSelected']").removeClass("tabImageSelected").addClass("tabImage");
                imageCurrentIndex += imageTabMax;
                if (imageCurrentIndex > imageArray.length - imageTabMax) {
                    imageCurrentIndex = imageArray.length - imageTabMax;
                    tabStartPos  = imageArray.length - imageTabMax;
                    tabEndPos = imageArray.length;
                    $('#footerMessage').html("scrollTabStrip scroll foward RESET tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos + " imageArray.length: " + imageArray.length);
                    //alert("scrollTabStrip scroll foward RESET tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos + " imageArray.length: " + imageArray.length)
                }
                else {
                    tabStartPos += imageTabMax;
                    tabEndPos += imageTabMax;
                    //$('#footerMessage').html("scrollTabStrip scroll foward tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                }
                showImage(imageCurrentIndex);
            }
            if (direction === "backward") {
                $("#tabStripContentArea div [class='tabImageSelected']").removeClass("tabImageSelected").addClass("tabImage");
                imageCurrentIndex -= imageTabMax;
                if (imageCurrentIndex < 0) {
                    tabStartPos = 0;
                    tabEndPos = imageTabMax;
                    imageCurrentIndex = 0;
                    //$('#footerMessage').html("scrollTabStrip scroll backward TO ZERO tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                }
                else {
                    tabStartPos -= imageTabMax;
                    tabEndPos -= imageTabMax;
                   // $('#footerMessage').html("scrollTabStrip scroll backward tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
                }
                showImage(imageCurrentIndex);
            }
            if (direction === "ensureVisible") {
                if ((imageCurrentIndex <= tabStartPos) || (imageCurrentIndex >= (tabStartPos + imageTabMax)))
                    tabStartPos = imageCurrentIndex;
                //$('#footerMessage').html("scrollTabStrip ensureVisible tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " tabEndPos: " + tabEndPos);
            }

            $('#tabStripContentArea').html("");
            for (i = tabStartPos; i < tabEndPos; i++) {
                if (i <= imageArray.length) {
                    if (i == imageCurrentIndex)
                        $('#tabStripContentArea').append("<div class='tabImageSelected'>" + imageArray[i] + "</div>");
                    else
                        $('#tabStripContentArea').append("<div class='tabImage'>" + imageArray[i] + "</div>");
                }
                else
                    alert("scrollTabStrip OVERFLOW  (i <= imageArray.length)  i: " + i + " \n  tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " imageTabMax: " + imageTabMax + " imageArray.length: " + imageArray.length);
            }

            // this click fuction must be placed here after the tab elements are created
            $('.tabImage img').click(function () {
                $("#tabStripContentArea div [class='tabImageSelected']").removeClass("tabImageSelected").addClass("tabImage");
                $(this).removeClass("tabImage").addClass("tabImageSelected")
                imageCurrentIndex = Number($(this).attr("idx"));
                //$('#footerMessage').html("scrollTabStrip click tabStartPos: " + tabStartPos + "  imageCurrentIndex: " + imageCurrentIndex + " imageTabMax: " + imageTabMax + " imageArray.length: " + imageArray.length);
                showImage(imageCurrentIndex);
            });
        }
         catch (e) { alert("ERROR ScrollTabStrip: " + e); }
    };
  
    function getTabStripImageArray() {
        try {
            $.ajax({
                type: "GET",
                url: service + "/api/ImageLink/GetFiles?folderPath=" + folder,
                success: function (images) {
                    if (images.length > 0) {

                        $.each(images, function (idx, item) {
                            //imageArray.push("<img idx=" + idx + "  src='" + service + "App_Data/Danni" + folder.replace(/ /g, "%20") + "/" + item.FileName.replace(/ /g, "%20") + "'/>");
                            imageArray.push("<img idx=" + idx + "  src='" + item.FileName.replace(/ /g, "%20") + "'/>");
                        });

                        showImage();
                        scrollTabStrip("ensureVisible");
                    }
                    else
                        alert("no images found")
                },
                error: function (xhr) {
                    //$('#getImagesLoadingGif').hide();
                    alert("xhr: " + getXHRErrorDetails(xhr))
                }
            });
        } catch (e) { alert("GetTabStripImageArray ERROR2: " + e) }
    }

    $('.threeColumnArray').keydown(function (event) {

        //alert("$('#imageContainer').keydown(function (event)")

        //  8  back
        //  13 Enter
        //  33 pg up
        //  34 pg down
        //  38 up arrow
        //  40 down arrow
        switch (event.which) {
            case 38: scrollTabStrip('foward'); break;
            case 33: scrollTabStrip('foward'); break;
            case 40: scrollTabStrip('backward'); break;
            case 34: scrollTabStrip('backward'); break;
            case 37: scrollTabStrip('previous'); break;
            case 39: scrollTabStrip('next'); break;
            default:
              //  alert("event.which: " + event.which)
        }
    });

</script>


