.threeColumnArray {
    background-color: #e4e4e4;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    /*box-sizing: border-box;*/
}

divArticleList {
    display: block;
}

.articleListHeader {
    text-align: center;
    font-size: 26px;
    padding: 8px;
}

#divMoreButton {
    box-sizing: border-box;
    display: none;
    margin-bottom: 17px;
}

.articleListContainer {
    background-color: #eee;
    box-sizing: border-box;
    margin-bottom: 17px;
    /*box-shadow: rgba(0,0,0,4) 10px, 10px inset;*/
    /*border: 2px solid #666;
    border-radius: 5px;*/
    z-index: 0;
}
.articleListItem {
    display: flex;
    color: #222;
    background-color: #ccc;
    box-shadow: 3px 2px rgba(128, 128, 128, 0.40);
    margin-bottom: 15px;
}
    .articleListItem #divImg {
        float: left;
    }
        .articleListItem #divImg img {
            width: 190px;
            height: 160px;
        }

.articleDetail {
    display: inline-block;
    float: left;
    /*
        margin-left: 197px;
        height: 150px;
    */
    width: 100%;
}

    .articleDetail a {
        text-decoration: none;
        color: #555;
    }

.articleBottomRow {
    /*
        background-color: lightpink;
        margin-bottom: 4px;
    */
}


/*kludge + = "<div class='articleTopRow'>";
kludge + = "<div class='articleRowItemLeft'><a href=/Article/ArticleList?filterLabel=" + article.CategoryLabel + "&filterType=Category&filter=" + article.CategoryRef + ">" + article.CategoryLabel + "</a></div>";
kludge + = "<div class='articleRowItemCenter'><a href=" + articleHref + ">" + article.Title + "</a></div>";
kludge + = "<div class='articleRowItemRight'>" + article.LastUpdated + "</div>";
kludge + = "</div>"; // top row*/


.articleTopRow {
    display: flex;
    width: 100%;
    margin-top: 6px;
}
.articleRowItemLeft {
    float: left;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    text-decoration: underline;
    padding-left: 5px;
}
.articleRowItemCenter {
    width:100%;
    text-align: center;
    font-size: 27px;
    white-space: nowrap;
}

.articleRowItemRight {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 6px;
    white-space: nowrap;
    /*
    width: 99%;
    text-align: right;
    */
}

.articleSummary {
    display: inline-block;
    font-size: 16px;
    line-height: normal;
    overflow: hidden;
    padding: 5px;
    width: 99%;
    height: 84.63px;
    /*
        background-color: #e6dede;
    */
}

.clickArea01 {
    margin-top: 66px;
    margin-left: 31px;
    margin-bottom: -44px;
}
.clickArea01 a {
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #74bac3;
    color: #000;
}
