#bheader {
    width: 100%;
    background-color: #74bac3;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid 
}
    #bheader .bannerImage {
        padding: 5px;
        width: 120px;
        height: 59px;
        cursor: pointer;
    }
    #bheader .menuTab a:hover {
        text-decoration: underline;
        background-color: #b7b174;
    }
