#bheader {
    width: 100%;
    background-color: #74bac3;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid 
}
    #bheader .bannerImage {
        width: 130px;
        height: 69px;
        margin-top: 2px;
        margin-left: 4px;
        cursor: pointer;
    }
    #bheader .menuTab a:hover {
        text-decoration: underline;
        background-color: #b7b174;
    }
