#bheader {
    width: 100%;
    background-color: #74bac3;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid 
}
.headerBannerTitle {
    padding-left: 66px;
    padding-top: 4px;
    font-family: 'Lucida Calligraphy';
    font-size: 33px;
    padding-bottom: 7px;
    line-height: 1;
}

.bannerImage {
    padding: 5px;
    width: 120px;
    height: 59px;
    cursor: pointer;
}

.menuTabContainer {
    clear: both;
    padding-left: 124px;
    line-height: 1;
}
.menuTab {
    font-size: 14px;
    float: left;
    margin-top: 4px;
}
    .menuTab a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        padding: 8px 20px;
        margin-right: 20px;
    }
    .menuTab a:hover {
        text-decoration: underline;
        background-color: #b7b174;
    }
