/*CRUD control style*/
.crudContainer {
    /*display: inline-block;*/
    margin-left: 22px;
    margin-top: 42px;
    background-color: #eee;
    border: solid 1.5px #bbb;
    border-radius: 5px;
    padding-bottom: 22px;
}
/*summernote*/
.editorContainer {
    display: inline-flex;
    color: #555;
    background-color: #ddd;
    border-radius: 5px;
    z-index: 0;
    width: 100%;
    margin-bottom: 5px;
}
.crudBreadcrumb {
    margin-left: 56px;
    font-size: 16px;
}
/*.editorContainer > div:first-child {
    width: 100%;
}*/

/*.note-editable {
    width: 554px;
}*/

.crudArea {
    padding: 11px;
    border: solid 1.4px #a010c3;
}
.crudRowLabel {
    display: inline-block;
    min-width: 65px;
    vertical-align: middle;
}
.crudRow {
    margin-top: 10px;
    padding: 0 22px;
    white-space: nowrap;
}

.crudContainerTitle {
    text-align: center;
    background-color: #74bac3;
    font-size: 25px;
    padding: 8px;
}

.closeIcon {
    float: right;
    cursor: pointer;
    margin-top: 2px;
    border: 2px;
}

.crudList {
    /*min-height: 606px;
    min-width: 574px;*/
    padding: 8px;
    margin: 2px 11px;
    color: #555;
    background-color: #ddd;
    border-radius: 5px;
}

.crudListItem {
    padding: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #74bac3;
    border-radius: 5px;
}
.crudListSubItem {
    padding: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #74bac3;
    border-radius: 5px;
    padding-left: 88px;
}

.crudDropDown {
    height: 28px;
    margin-left: 6px;
    margin-bottom: 3px;
    padding: 3px 6px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}

