.body-content {
    margin-top: 94px;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #e4e4e4;
}
.Header {
    position: fixed;
    top: 0;
    height: 72px;
    z-index: 10;
}

.threeColumnArray {
    width: 100%;
    display: flex;
}
    .threeColumnArray #leftColumn {
        float: left;
        min-width: 7%;
    }
    .threeColumnArray #middleColumn {
        float: left;
        width: 100%;
    }
    .threeColumnArray #rightColumn {
        float: right;
        min-width: 7%;
    }

.pageTitle {
    font-size: 33px;
    font-family: 'Georgia';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 2px;
    cursor: pointer;
}


.loadingGif {
    position: relative;
    top: 150px;
    left: 150px;
    display: none;
}
    .loadingGif img {
        height: 45px;
    }


#modalContainer {
    z-index: 6; /* Sit on top */
}
#divStatusMessage {
    margin-top: 10px;
    font-size: 18px;
    display: none;
    margin-bottom: 3px;
    padding: 4px;
}
.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.customMessageBox {
    position: absolute;
    top: 300px;
    left: 600px;
    min-height: 200px;
    border: solid 2px purple;
    display: none;
}

.alegro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    padding: 10px;
}

.customMessageTitleBar {
    background-color: yellow;
    color: black;
    width: 100%;
    display: inline-flex;
}

.customMessageTitleText {
    font-size: 21px;
    padding: 4px;
    text-align: center;
    width: 92%;
}

.customMessageCloseButton {
    cursor: pointer;
    margin-top: 6px;
}


label {
    font-weight: bold;
    font-size: smaller;
    margin: 5px;
}
.roundendButton {
    text-align: center;
    background: #74bac3;
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}
.roundedInput {
    /*height: 32px;*/
    padding: 8px 6px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.severityOk {
    background-color: rgba(88, 139, 108, 0.75);
}
.severityWarning {
    background-color: #e6de3b;
}
.severityError {
    background-color: #c64e4e;
}
.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}
.clickable {
    cursor: pointer;
    text-decoration: underline;
}
/*.clickable {
    margin-top: 5px;
    text-decoration: underline;
    display: inline-block;
    text-align: initial;
    margin-left: 8px;
}*/
.streach {
    width: 100%;
    margin-right: 35px;
}
.spinnerImage {
    position: absolute;
    /*margin-left: 10px;*/
    height: 20px;
    display: none;
}
.floatLeft {
    float: left;
}
.noFloat {
    clear: both;
}
.floatRight {
    float: right;
}
.inline {
    display: inline-block;
}
.flexContainer {
    display: flex;
}
