
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #e4e4e4;
}
.Header {
    position: fixed;
    top: 0;
    height: 72px;
    z-index: 10;
}
.body-content {
    margin-top: 94px;
}

.threeColumnArray {
    width: 100%;
    display: flex;
}
    .threeColumnArray #leftColumn {
        float: left;
        min-width: 7%;
    }
    .threeColumnArray #middleColumn {
        float: left;
        width: 100%;
    }
    .threeColumnArray #rightColumn {
        float: right;
        min-width: 7%;
    }

.pageTitle {
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}




.floatLeft {
    float: left;
}

.noFloat {
    clear: both;
}

#modalContainer {
    z-index: 6; /* Sit on top */
}
#divStatusMessage {
    margin-top: 10px;
    font-size: 18px;
    display: none;
    margin-bottom: 3px;
    padding: 4px;
}
.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

label {
    font-weight: bold;
    font-size: smaller;
    margin: 5px;
}

.roundendButton {
    text-align: center;
    background: #74bac3;
    color: #000;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    /*height: 32px;*/
    padding: 8px 6px;
    color: #555;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.severityOk {
    background-color: #44c147;
}
.severityWarning {
    background-color: #e6de3b;
}
.severityError {
    background-color: #c64e4e;
}
.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}
.clickable {
    cursor: pointer; 
}
.streach {
    width: 100%;
    margin-right: 35px;
}