.standardHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #74bac3;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid;
    display: flex;
}
.bannerImageContainer {
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}
.bannerImage {
    height: 90px;
    cursor: pointer;
}
.headerBodyContainer {
    float: left;
    /*display: inline-block;
    vertical-align: top;*/
}

.headerTitle {
    padding-left: 26px;
    padding-top: 8px;
    font-family: 'Lucida Calligraphy';
    font-size: 33px;
}
.menuTabContainer {
    margin-top: 11px;
    width: 100%;
    display: flex;
    padding-left: 124px;
    line-height: 1;
}
.loginTab {
    float: right;
}
.menuTab {
    font-size: 14px;
    float: left;
    margin-top: 4px;
    margin-bottom: 11px;
    border-radius: 5px;
}
    .menuTab a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        padding: 8px 20px;
        margin-right: 20px;
    }
    .menuTab a:hover {
        text-decoration: underline;
        background-color: #b7b174;
    }
