#idheader {
    width: 100%;
    background-color: #569ca5;
    border-top: #40767d 3px solid;
    border-bottom: 4px solid #486167;
}
    #idheader .bannerImage {
        width: 80px;
        height: 72px;
        margin-top: 2px;
        margin-left: 4px;
        cursor: pointer;
    }
    #idheader .menuTab a:hover {
        color: white;
        background-color: #40767d;
    }

