#idheader {
    width: 100%;
    background-color: #569ca5;
    border-top: #40767d 3px solid;
    border-bottom: 4px solid #486167;
}
.headerBannerTitle {
    padding-left: 66px;
    padding-top: 4px;
    font-family: 'Lucida Calligraphy';
    font-size: 33px;
    padding-bottom: 7px;
    line-height: 1;
}

.bannerImage {
    width: 80px;
    height: 72px;
    margin-top: 2px;
    margin-left: 4px;
    cursor: pointer;
}
.menuTabContainer {
    clear: both;
    padding-left: 124px;
    line-height: 1;
}

.menuTab {
    font-size: 14px;
    float: left;
    margin-top: 4px;
}

    .menuTab a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        padding: 8px 20px;
        margin-right: 20px;
    }

        .menuTab a:hover {
            text-decoration: underline;
            color: white;
            background-color: #40767d;
        }

