
.dialogHeader {
    text-align: center;
    padding-bottom: 8px;
}

    .dialogHeader span {
        font-family: 'Lucida Calligraphy';
        color: #69387e;
        font-size: 22px;
        font-style: italic;
    }

.divCloseButton {
    float: right;
    cursor: pointer;
}
