
.dialogHeader {
    text-align: center;
    padding-bottom: 8px;
}

    .dialogHeader span {
        font-family: 'Lucida Calligraphy';
        color: #69387e;
        font-size: 22px;
        font-style: italic;
    }

.divCloseButton {
    float: right;
    cursor: pointer;
}

.modalDialog {
    position: absolute;
    top: 90px;
    left: 40%;
    box-sizing: content-box;
    color: #242729;
    width: 280px;
    padding: 3px 30px 3px 30px;
    border: 1px solid #e4e6e8;
    background: #fff;
    z-index: 20;
    border: solid thin #777;
    border-radius: 4px;
    box-shadow: 10px 10px rgba(95, 12, 12, 0.5);
}

#divShowDetails {
    cursor: pointer;
    margin-top: 10px;
}

#divRememberMe {
    margin-top: 4px;
}

.carets {
    height: 10px;
    width: 15px;
}

#divExtraDetails {
    margin-top: 4px;
    display: none;
}

.labelStyle {
    color: purple;
}

.or-container {
    text-align: center;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}

.or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #3436e8;
}

.or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
}

