
.vertMenu {
    margin-top: 88px;
}

.vertMenuTab {
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 14px 6px;
    padding: 8px 20px;
    border-radius: 4px;
    white-space: nowrap;
    text-wrap: none;
    color: #000;
    background-color: #74bac3;
}

.adminOptionTitle {
    font-size: 24px;
    text-align: center;
    margin: 4px;
}

#adminOptionContainer {
    margin-left: 56px;
    margin-top: 56px;
}

.adminOption {
    background-color: #aaa;
    display: none;
    width: 500px;
    border: solid 2px #74bac3;
    border-radius: 4px;
}

.roundendButton {
    width: 33px;
    display: inline-block;
}

#divRoleButtons {
    margin-top: 8px;
    margin-left: 68px;
    margin-bottom: 8px;
}

.itemsList {
    border: solid 2px purple;
    border-radius: 4px;
    margin: 3px;
    overflow-y: scroll;
    height: 450px;
}

    .itemsList li {
        color: #330533;
        list-style: none;
        padding: 8px 0 8px 77px;
        cursor: pointer;
        margin-bottom: 4px;
        background-color: #c3cecf;
    }
