
@{
    ViewBag.Title = "Error";
}

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <h2 id="errorMessage">error</h2>
        <img src="~/Images/RenStimpy8.jpg" />
        <h4>StackTrace</h4>
        <div id="divStackTrace"></div>
    </div>
    <div id="rightColumn">
    </div>
</div>

