<link href="~/Styles/modalDialog.css" rel="stylesheet" />
<link href="~/Styles/default.css" rel="stylesheet" />
<script src="~/Scripts/GlobalFunctions.js"></script>

@*
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=264735744158135&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
*@

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '264735744158135',
            cookie: true,
            xfbml: true,
            version: 'v3.1'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<style>
    .google-login {
    }

    .facebook-login {
        /*color: #fff;
        background-color: #395697;
        border-color: transparent;*/
    }

    .svg-icon:not(.native) {
        fill: currentColor;
    }

    .iconFacebook {
        color: #fff;
    }

    .forgot {
        margin: 15px 0;
        font-size: 13px;
        /*font-weight: normal;
    cursor: pointer;
    text-decoration: none;*/
    }

    .ckRemember {
        font-size: 13px;
        margin: 15px 0;
    }

    .externalLogin {
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 100%;
        vertical-align: baseline;
        padding: 8px 0;
        border-radius: 3px;
        border: 1px solid #d6d9dc;
        margin-bottom: 16px;
    }

    #btnLoginPopupLogin {
        margin-top: 6px;
    }

</style>

<div id="loginDialog" class="modalDialog">
    <div id="divStatusMessage"></div>
    <div class="dialogHeader">
        Log In to <span>The Brucheum</span>
        <div id="btnClose" class="dialogCloseButton">
            <img height="19" src="~/Images/powerOffRed01.png" />
        </div>
    </div>
    <div class="dialogBody">
        <div id="errSummary" class="validationError"></div>
        <div id="errUserName" class="validationError">Required</div>
        <label>User Name</label><br>
        <input id="txtUserName" type="text" class="roundedInput"><br>

        <div id="errPassword" class="validationError">Required</div>
        <label>Password</label><br>
        <input id="clearPassword" type="password" class="roundedInput" autocomplete="off" placeholder="********"><br>

        <button id="btnLoginPopupLogin" class="roundendButton" onclick="postLogin()">
            <img id="btnLoginSpinnerImage" class="btnSpinnerImage" src="~/Images/loader.gif" />
            Log in
        </button>
        
        <div class="ckRemember">
            <input id="ckRememberMe" type="checkbox" checked="checked" />  Remember Me ?  (<span>uses a cookie</span>)
        </div>
        
        <div class="forgot">
            <a id="forgot-pw" href="/users/account-recovery">forgot password ?</a>
        </div>
        
        <div>
            <div class="clickable inline" onclick="transferToRegisterPopup()">Register</div>
            <div id="btnCancel" class="clickable inline">Cancel</div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="or-container">
        <hr class="or-hr" />
        <div class="or">or</div>
    </div>
    <div>
        <div class="externalLogin">
            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with"
                 data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"
                 scope="public_profile,email" onlogin="checkFaceBookLoginState();">
                login with facebook
            </div>


            @*<FB:login-button scope="public_profile,email" onlogin="checkFaceBookLoginState();">
                    <svg class="svg-icon iconFacebook" width="18" height="18" viewBox="0 0 18 18">
                        <path d="M1.88 1C1.4 1 1 1.4 1 1.88v14.24c0 .48.4.88.88.88h7.67v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h4.08c.48 0 .88-.4.88-.88V1.88c0-.48-.4-.88-.88-.88H1.88z" fill="#3C5A96"></path>
                    </svg>
                    Facebook
                </FB:login-button>*@
        </div>
        <div class="externalLogin google-login" data-provider='google' data-oauthserver='https://accounts.google.com/o/oauth2/auth' data-oauthversion='2.0'>
            <svg aria-hidden="true" class="svg-icon native iconGoogle" width="18" height="18" viewBox="0 0 18 18">
                <g>
                    <path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path>
                    <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17z" fill="#34A853"></path>
                    <path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07z" fill="#FBBC05"></path>
                    <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3z" fill="#EA4335"></path>
                </g>
            </svg>
            Google
        </div>
    </div>
</div>

<script>
    var loginVM = new Object();
    $(document).ready(function () {
        $('#btnLoginSpinnerImage').hide();
    });

    var loggingIn = false;
    function postLogin() {
        if (!loggingIn) {
            try {
                if (validate()) {
                    $('#btnLoginSpinnerImage').show();
                    loggingIn = true;
                    loginVM.UserName = $('#txtUserName').val();
                    loginVM.Password = $('#clearPassword').val();
                    loginVM.ConfirmPassword = $('#txtConfirmPassword').val();
                    loginVM.RememberMe = $('#ckRememberMe').prop('checked');

                    $.ajax({
                        type: "POST",
                        url: "/Login/Login",
                        data: loginVM,
                        datatype: "Json",
                        success: function (success) {
                            if (success == "ok") {
                                var xxxemailSeccess = sendEmailFromJS(loginVM.UserName + " just loged in to The Brucheum", "someday it will be someone other than you");
                                if (xxxemailSeccess == "ok") {
                                    location.reload(true);
                                }
                                else {
                                    $('#btnLoginSpinnerImage').hide();
                                    alert("xxxemailSeccess: " + xxxemailSeccess);
                                }
                            }
                            else {
                                $('#btnLoginSpinnerImage').hide();
                                $('#errSummary').html(success);
                                $('#errSummary').show();
                                $('#btnLoginPopupLogin').html("Log in");
                                loggingIn = false;
                            }
                        },
                        error: function (xhr) {
                            $('#btnLoginSpinnerImage').hide();
                            //displayStatusMessage("error", "error: " + xhr.statusText);
                            alert("_LoginPopup xhr error: " + xhr.statusText);
                        }
                    });
                }
                else {
                    $('#btnLoginSpinnerImage').hide();
                    $('#errSummary').html(e);
                    $('#errSummary').show();

                }
            }
            catch (e) {
                alert("_LoginPopup catch: " + e);
            }
        }
    }

    function validate() {
        $('#errSummary').hide();

        if ($('#txtUserName').val() === "") {
            $('#errUserName').show();
            return false;
        }
        $('#errUserName').hide();

        if ($('#clearPassword').val() === "") {
            $('#errPassword').show();
            return false;
        }

        if ($('#clearPassword').val().length < 4) {
            $('#errPassword').text("password must be at least 4 characters");
            $('#errPassword').show();
            return false;
        }
        $('#errPassword').hide();
        return true;
    };

    function checkFaceBookLoginState() {
        FB.getLoginStatus(function (response) {
            //facebookStatusCallback(response);
            try {
                if (response.status === 'connected') {
                    // alert("facebook response.first_name: " + response.first_name);
                    FB.api('/me', { fields: 'email, name' }, function (response) {
                        //alert("FB.api/me : " + response.name + " id: " + response.id + " email: " + response.email);
                        var facebookVM = {};
                        facebookVM.UserName = response.name;
                        facebookVM.Email = response.email;
                        facebookVM.FacebookId = response.id;

                        $.ajax({
                            type: "POST",
                            url: "login/FacebooLogin",
                            //datatype: "json",
                            data: facebookVM,
                            success: function (success) {
                                //alert("updatesiteuser: " + success);
                                if (success === "ok") {
                                    //$("#divlogin").load(location.href + " #divlogin");
                                    clearModal();
                                    location.reload(true);
                                }
                                else {
                                    $('#errSummary').html("s " + success);
                                    $('#errSummary').show();
                                }
                            },
                            error: function (xhr) {
                                $('#errSummary').html("xhr " + xhr.statusText);
                                $('#errSummary').show();

                                //displayStatusMessage("error", "error: " + xhr.statusText);
                                //alert("updateSiteUser error: " + xhr.statusText);
                            }
                        });
                        //FB.api('/me', function (response) {
                        //    var query = FB.Data.query('select name,email,hometown_location, sex, pic_square from user where uid={0}', response.id);
                        //    query.wait(function (rows) {
                        //        uid = rows[0].uid;
                        //        alert("FB.Data.query  uid: " + rows[0].uid +
                        //            "\name: " + rows[0].name +
                        //            "\nemail: " + rows[0].email +
                        //            "\nhometown_location: " + rows[0].hometown_location +
                        //            "\nsex: " + rows[0].sex);
                        //        //"\nuid: ' + rows[0].uid + "<br />" +
                        //        //'<img src="' + rows[0].pic_square + '" alt="" />' + "<br />";
                        //    });
                        //});
                    });
                } else {
                    alert("The person is not logged into this app or we are unable to tell.");
                }
            } catch (e) {
                alert("statusChangeCallback fail: " + e);
            }
        });

        $('#btnClose').click(function () {
            clearModal();
        });
    }

    function transferToRegisterPopup() {
        $.ajax({
            type: "get",
            url: "/Login/Register",
            datatype: "json",
            success: function (data) {
                clearModal();
                $('#modalContent').html(data);
                $('#modalContainer').show();
            },
            error: function () {
                alert("RegisterModal failed");
            }
        });
    }

    $('#btnClose, #btnCancel').click(function () {
        clearModal();
    });

</script>
