<link href="~/Styles/modalDialog.css" rel="stylesheet" />
<link href="~/Styles/default.css" rel="stylesheet" />
<script src="~/Scripts/GlobalFunctions.js"></script>

<div id="registerUserDialog" class="modalDialog">
    <div id="divStatusMessage"></div>
    <div class="dialogHeader">
        Sign up for <span>The Brucheum</span>
        <div id="btnClose" class="dialogCloseButton">
            <img height="19" src="~/Images/powerOffRed01.png" />
        </div>
    </div>
    <div class="dialogBody">
        <div id="errSummary" class="validationError"></div>
        <div id="errUserName" class="validationError">Required</div>
        <label>user name</label><br>
        <input id="txtUserName" type="text" class="roundedInput" placeholder="your go by name"><br>

        @*<div id="errEmail" class="validationError">Required</div>*@

        <div id="errPassword" class="validationError">Required</div>
        <label>password</label><br>
        <input id="txtPassword" type="password" class="roundedInput" autocomplete="off" placeholder="********"><br>

        <div id="errPasswordRetype" class="validationError">Required</div>
        <label>retype password</label><br>
        <input id="txtConfirmPassword" type="password" class="roundedInput" autocomplete="off" placeholder="********"><br>

        <div id="divRememberMe">
            <input id="ckRememberMe" type="checkbox" checked="checked" />Remember Me ?  (<span>uses a cookie</span>)
        </div>

        <div id="divShowDetails" style="margin: 11px 0;">
            Extra Details
            <div class="caretImgContainer">
                <img id="upDownCaret" class="carets" src="~/Images/downCaret.png" />
            </div>
        </div>

        <div id="divExtraDetails">
            <label>Email</label><br />
            <input id="txtEmail" type="email" class="roundedInput" placeholder="you@example.org"><br>
            <label>FirstName</label><br />
            <input id="txtFirstName" type="text" class="roundedInput"><br>
            <label>Last Name</label><br />
            <input id="txtLastName" type="text" class="roundedInput"><br>
            <label>Phone Number</label><br />
            <input id="txtPhone" type="tel" class="roundedInput"><br>
            @*<label>Pin </label><br />
            <input id="txtPin" type="text" class="roundedInput" placeholder="you may use this to login"><br>*@
        </div>
        
        <button id="btnRegister" class="roundendButton" onclick="register()">
            <img id="btnRegisterSpinnerImage" class="btnSpinnerImage" src="~/Images/loader.gif" />
            Register
        </button>

        @*<input type="submit" class="roundendButton" style="float:right" value="Submit" />*@
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#btnRegisterSpinnerImage').hide();
        if (typeof stopCarousel == 'function') {
            $('.carouselContainer').css("z-index", "0");
            $('.carouselLabel').css("z-index", "0");
            stopCarousel();
        }
    });

    function register() {
        try {
            if (validate()) {
                $('#btnRegister').html("wait");
                $('#btnRegisterSpinnerImage').show();
                var regVM = new Object();
                regVM.UserName = $('#txtUserName').val();
                regVM.Password = $('#txtPassword').val();
                regVM.ConfirmPassword = $('#txtConfirmPassword').val();
                regVM.Email = $('#txtEmail').val();
                regVM.FirstName = $('#txtFirstName').val();
                regVM.LastName = $('#txtLastName').val();
                regVM.Phone = $('#txtPhone').val();
                regVM.RememberMe = $('#ckRememberMe').prop('checked');
                $.ajax({
                    type: "POST",
                    url: "/Login/RegisterAndLogin",
                    data: regVM,
                    datatype: "json",
                    success: function (success) {
                        if (success === "ok") {
                            $('.carouselContainer').css("z-index", "7");
                            $('.carouselLabel').css("z-index", "11");
                            startCarousel();
                            location.reload(true);
                        }
                        else {
                            $('#btnRegisterSpinnerImage').hide();
                            $('#errSummary').html(success);
                            $('#errSummary').show();
                            $('#btnRegister').html("Register");
                        }
                    },
                    error: function (xhr) {
                        $('#btnRegisterSpinnerImage').hide();
                        displayStatusMessage("error", "error: " + xhr.statusText);
                        alert("Register  error: " + xhr.statusText);
                    }
                });
                sendEmailFromJS("CONGRATULATIONS: " + regVM.UserName + " just Registered onto The Brucheum", "someday it will be someone other than you");
            }
        } catch (e) {
            $('#btnRegisterSpinnerImage').hide();
            alert("Register Catch: " + e);
        }
    }
    
    function validate() {
        $('#errSummary').hide();

        if ($('#txtUserName').val() === "") {
            $('#errUserName').show();
            return false;
        }
        if ($('#txtUserName').val().indexOf(" ") > 0) {
            $('#errUserName').html("Sorry, Username cannot contain spaces");
            $('#errUserName').show();
            return false;
        }
        $('#errUserName').hide();

        if ($('#txtPassword').val() === "") {
            $('#errPassword').show();
            return false;
        }

        if ($('#txtPassword').val().length < 6) {
            $('#errPassword').text("password must be at least 6 characters");
            $('#errPassword').show();
            return false;
        }
        if ($('#txtPassword').val() !== $('#txtConfirmPassword').val()) {
            $('#errPassword').text("password retype does not match");
            $('#errPassword').show();
            return false;
        }
        $('#errPassword').hide();
        return true;
    }

    $('#divShowDetails').click(function () {
        $('#divExtraDetails').toggle();
        if ($('#upDownCaret').attr("src") == "/Images/downCaret.png")
            $('#upDownCaret').attr("src", "/Images/upCaret.png");
        else
            $('#upDownCaret').attr("src", "/Images/downCaret.png");
    });

    $('#btnClose').click(function () {
        if (typeof startCarousel == 'function') {
            $('.carouselContainer').css("z-index", "7");
            $('.carouselLabel').css("z-index", "11");
            startCarousel();
        }
        clearModal();
    });

</script>
