
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #divErrorMessage {
        padding: 6px;
        border: 5px solid purple;
        width: 80%;
        height: 100px;
        margin-bottom: 8px;
        background-color: #dbcccc;
    }

    #divStackTrace {
        padding: 6px;
        margin-top: 5px;
        border: 5px solid purple;
        width: 80%;
        height: 450px;
        overflow-y: auto;
        background-color: #dbcccc;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <h2>Error</h2>
        <img src="~/Images/RenStimpy8.jpg" />
        <h4>Error Message</h4>
        <div id="divErrorMessage"></div>
        <h4>StackTrace</h4>
        <div id="divStackTrace"></div>
    </div>
    <div id="rightColumn">
    </div>
</div>

<script>
    var stackTrace = '@ViewBag.StackTrace';
    var errorMessage = '@ViewBag.ErrorMessage';

    $(document).ready(function () {
        $('#divErrorMessage').html(errorMessage);
        $('#divStackTrace').html(stackTrace);
    });
</script>