
@{
    ViewBag.Title = "About";
    Layout = "~/Views/IntelDsgn/_ProfessionalLayout.cshtml";
}

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        <h2>About</h2>
    </div>
    <div id="rightColumn">
    </div>
</div>



