
@{
    ViewBag.Title = "Code";
    Layout = "~/Views/IntelDsgn/_ProfessionalLayout.cshtml";
}

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
       <h2>Code</h2>


    </div>
    <div id="rightColumn">
        <div class="clickable" onclick="add">add</div>
    </div>
</div>



<script>



</script>

