@{
    ViewBag.Title = "Intelligent Design";
}

<style>
    .threeColumnArray {
        background-color: #222730; /* #273235; #486167;*/
        color: #fff;
    }
    #leftColumn, #rightColumn {
        padding: 0;
    }

    #leftColumn {
        width: 30px;
    }

    .welcomeMessage {
        position: absolute;
        font-size: 18px;
    }
        .welcomeMessage a {
            color: #d1c998;
        }

    .snipitBody {
        background-color: #222730; /* #273235; #486167;*/
        padding: 16px;
        border: solid thin yellow;
        max-width: 888px;
        font-size: 18px;
        line-height: 27px;
    }

    .algerian {
        font-family: Algerian;
        font-size: 40px;
        color: #d1c998;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <img alt="" class="fullCenterImage" src="~/Images/IntelDsgn/globlic.jpg" />

        <div id="divWelcomeMessage" class="welcomeMessage">
            <div class="algerian">Welcome to Intelligent Design Software</div>
            <p>This web site demonstrates the work of an experienced if socially autistic web applications developer</p>
            <p>Check out the scection describing the <a href="~/IntelDsgn/Skills">skills used to build this site</a></p>
            <p>Read some of my <a href="Blog?filter=2">articles on computer programming</a></p>
            <p>Learn about <a href="?a=Our_Approach">our approach to application development</a></p>
            <p>See <a href="~/IntelDsgn/MyResume">My resume</a> with over thirty years experience. (yes I am old)</p>
            <p>If you might be interested in having me do some work for you</p>
            <p>(remote only) (direct hire only) please <a href="?a=Contact_Us">contact me</a> </p>
        </div>

        <div id="snipitContainer" class="centeredDivShell" onclick="$(this).fadeOut()">
            <div class="centeredDivInner snipitBody">
                <div id="divHeaderRow" class="algerian"></div>
                <div id="divArticleContainerContents"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn"></div>
</div>

<script>
    var service = '@ViewBag.Service'
    var dialogTitle  = '@ViewBag.ArticleId'
    $(document).ready(function () {

        setLayout("Intelligent Design");

        if (!isNullorUndefined(dialogTitle)) {
            //alert("dialogTitle: " + dialogTitle);
            getWebsiteDialog(dialogTitle);
        }
        $('#divWelcomeMessage').css("top", $('#middleColumn').position().top + 30);
        $('#divWelcomeMessage').css("left", $('#middleColumn').position().left);
        $('FullCenterImage').height($('#middleColumn').height());
        $('#footerMessage').html(" (consultion home Ready) ");

    });

    $(window).resize(function () {
        // footer
        alert("IntelDsgn home resize")
        //$('#footerMessage').append(" (consultion home resize) ");
        //resizePage();
    });

    function getWebsiteDialog(blogTitle) {
        try {
            $('#footerMessage').html(blogTitle);

            //alert("url: " + service + "/api/DialogSnipit?blogName=" + blogTitle);
            $('#loadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/DialogSnipit?blogName=" + blogTitle,
                success: function (response) {
                    if (!response.Title.startsWith("ERROR")) {



                        $('#divHeaderRow').html(response.Title);
                        $('#divArticleContainerContents').html(response.Content);
                        $('#snipitContainer').fadeIn();
                        $('#loadingGif').hide();
                    }
                    else {
                        $('#loadingGif').hide();
                        alert("getWebsiteDialog: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    $('#loadingGif').hide();
                    alert("addEditArticle XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("get Articles CATCH: " + e)
        }
    }

</script>


