@{
    ViewBag.Title = "My Resume";
}
<style>
    
    li {
        text-align: left;
    }

    h1 {
        padding-top: 12px;
        margin: 4px;
    }

    h2 {
        margin: 4px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    h4 {
        margin: 5px;
        font-size: 18px;
    }

    .skillsList {
        display: inline-block;
        text-align: left;
    }

    h5 {
        margin: 3px;
        font-size: 16px;
    }

    h6 {
        margin: 3px;
        font-size: 14px;
    }

    /*p {
        margin: 3px 33px;
        text-align: justify;
        font-family: serif;
        font-weight: bold;
    }*/

</style>

<style>
    .threeColumnArray {
        background-color: #222730; /* #273235; #486167;*/
        color: #fff;
    }
    .resumeContainer {
        background-color: #bbb489;
        color: #000;
        max-height: 877px;
        overflow-y: auto;
    }

    .resumeDateRow {
        margin-top: 11px;
        margin-bottom: 4px;
        font-size: 18px;
        font-family: Arial;
        border-bottom: solid thin black;
        width: 100%;
    }
    .resumeDateRowLeft {
        margin-left: 22px;
        width: 45%;
        display: inline-block;
    }
    .resumeDateRowCenter {
        display: inline-block;
    }
    .resumeDateRowRight {
        display: inline-block;
        float: right;
        margin-right: 22px;
    }
    .resumeJobContents {
        text-align: justify;
        margin-top: 7px;
        margin-left: 22px;
        margin-right: 22px;
    }
    #resumeSectionContainer {
        padding-bottom: 6px;
        margin-bottom: 26px;
        width: 80%;
        margin-left: 10%;
    }

    /*right column*/
    .adminButton {
        display:inline-block;
        margin-top: 37px;
        background-color: #555;
        padding: 9px;
        border-radius: 3px;
        cursor: pointer;
    }
    .rightColumnContents {
        margin-top: 200px;
    }
    .docImage {
        width: 55px;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn">
    </div>
    <div id="middleColumn">
        @if (User.IsInRole("Admin"))
        {
            <select id="ddAvailableResumes" class="roundedInput" onchange="buildResume($('#ddAvailableResumes').val())"></select>
        }
        <div id="resumeSectionContainer" class="resumeContainer">
            <div id="resumeLoadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
            <div id="resumeTopSection"></div>
            <div id="resumeJobSection"></div>
            <div id="resumeBottomSection"></div>
        </div>
    </div>
    <div id="rightColumn">
        <div class="rightColumnContents">
            <a href="~/Curtis Rhodes Resume 2017.doc" )>
                <img id="prntResume" class="docImage" title="download print copy" src="~/Images/wordDoc.jpg" />
            </a>
            @if (User.IsInRole("Admin"))
            {
                <div><div class="adminButton" onclick="window.location.href='/GetaJob/GetaJobAdmin'">manage</div></div>
                <div><div class="adminButton" onclick="docify()">docify</div></div>
            }
        </div>
    </div>
</div>
<script>
    var service = '@ViewBag.Service';
    var currentUser = '@ViewBag.UserId'
    var resDefault = "ABEC149E-1A81-4591-86EA-3DE7575A4B4E";


    $(document).ready(function () {
        setLayout('Intelligent Design');
        buildResume(resDefault);
        getAvailableResumes();
        resizePage();
    })

    function buildResume(resumeId) {
        $('#resumeLoadingGif').show();
        $.ajax({
            type: "Patch",
            url: service + "/api/Resume/GetLoadedResume?resumeId=" + resumeId,
            success: function (loadedResume) {
                $('#resumeTopSection').html('');
                $.each(loadedResume.TopSections, function (idx, topSection) {
                    $('#resumeTopSection').append("<div class='sectionContents'>" + topSection.SectionContents + "</dev>");
                });
                $('#resumeJobSection').html('');
                $.each(loadedResume.LostJobs, function (idx, lostJob) {
                    var dateline = lostJob.StartMonth + " " + lostJob.StartYear + " - " + lostJob.FiredMonth + " " + lostJob.FiredYear;
                    var kluge = "<div class='resumeDateRow'><div class='resumeDateRowLeft'>" + lostJob.Employer + "</div>";
                    kluge += "<div class='resumeDateRowCenter'>" + lostJob.JobLocation + "</div><div class='resumeDateRowRight'>" + dateline + "</div></div>";
                    $('#resumeJobSection').append(kluge);
                    $('#resumeJobSection').append("<div class='resumeJobContents'>" + lostJob.Summary + "</dev>");
                })
                $('#resumeBottomSection').html('');
                $.each(loadedResume.BottomSections, function (idx, bottomSection) {
                    $('#resumeBottomSection').append("<div class='sectionContents'>" + bottomSection.SectionContents + "</dev>");
                });
                $('#resumeLoadingGif').hide();
                $('#middleColumn').height($('#resumeSectionContainer').height());
                resizePage();
            }
        })

    }

    function docify() {

    }
    
    $(window).resize(function () {
        $('.resumeContainer').css('max-height', $('#middleColumn').height());
        $('#footerMessage').html('max-height= ' + $('.resumeContainer').css('max-height'));
    });

    function resetResume() {

        buildResume($('#ddAvailableResumes').val());
    }

    function getAvailableResumes() {
        $.ajax({
            type:"GET",
            url: service + "/api/Resume?personId=" + currentUser,
            success: function (results) {
                $.each(results, function (idx, obj) {
                    $('#ddAvailableResumes').append("<option class='ddOption availResume' value=" + obj.Id + ">" + obj.ResumeName + "</option>");
                })
            } 
        })
    }

</script>


@*<div id="resumeContainer" class="resumeContainer">
    <div id="resumeAddressHeader" class="center">
        <h1>Curtis H. Rhodes</h1>
        <h4><a href="mailto:curtishrhodes@hotmail.com">mailto:curtishrhodes@hotmail.com</a></h4>
        <h4>home: (972) 247-2404</h4>
        <h4>cell: (214) 927-1787</h4>
        <h2>C# .Net Application Developer</h2>
    </div>
    <div id="resumeSkillSection" class="center">
        <h3>SKILLS SUMMARY</h3>
        <div class="skillsList">
            <h6>15+ years C# Asp.Net, MVC</h6>
            <h6>10+ years JavaScript, JQuery, CSS</h6>
            <h6>5+  years Angular, React, Typescript</h6>
            <h6>7+ WebApi Web Services </h6>
            <h6>20+ years SQL Server, Oracle</h6>
            <h6>10+ years Entity Framework</h6>
        </div>
    </div>
    <div id="resumeLostJobs">
        <h3 class="center">PROFESSIONAL EXPERIENCE</h3>

        <h4 class="center clickable" onclick="$('#clipperSub').toggle()">10 years Clipper dBase III Firefox</h4>
        <div id="clipperSub" class="collapseable">
            <p>
                I started out in the days of floppy disks and 640k. In my late twenties I moved to Texas got married got a job in oilpatch making rediculous money. When the drilling boom of the 80's collapsed
                my wife sent me back to school to be a teacher like her and all out friends. I took an elective class in the new field of computer programming on a lark. My professor at Corpus Christi State saw
                that I was his best student and started giving me somem extra assignments. Turns out he was running a consulting firm on the side building an app for a local refinery. He was a retired full bird
                conerlor in the Air Force and he bacame my mentor. I went to work for him and I have been doing computer application development ever since.
            </p>
        </div>
        <h4 class="center clickable" onclick="$('#vb6Sub').toggle()">5 years VB6</h4>
        <div id="vb6Sub" class="collapseable">
            <p>
                In it's day VB6 was the cutting edge. With an editor call an Integrated Development Envrionment (IDE) {stolen by Microsoft from Delpi} with an F5 button for compile and run, it was whole new wold.
                I built user-controls and layed them out on the design surface. I built beautiful apps like no one had seen before. Every month at our user confrence small vendors would come in and present new framework
                libraries, charting tools, print layout tools, styling tools like date pickers and grids. I had a whole library of custom user controls.
            </p>
        </div>
        <h4 class="center clickable" onclick="$('#dotNetSub').toggle()">15 years .Net</h4>
        <div id="dotNetSub" class="collapseable">
            <p>
                Asp.Net came out in the year 2000. I remember becasue I started using it that year at a job downtown at TXU. I had already been a developer for many years but they would ask me how many years I had with dot.Net?
                The product had just come out. It tried to use a design surface like VB6. It used FrontPage extensions from an earlier ASP incarnation. The web is an very different animal than a compiled .exe app which is what VB6
                produced. The web was never designed for serious business application development by the way. Microsoft felt they made no money client side so they built a system that did all the work server side, get it: Active SERVER Pages
                is what ASP stands for. The web page was constantly posting back to the sever every time the user did something on a tag marked "runat='server'" which could include an input textbox or a select dropdown
                as well as a usercontrol. This was back in the days of dial up and twisted pair connections. If the user was in Chicago and the server was somewhere offshore this really wasn't the system for you. It was mostly intended for
                inhouse 'intra-net projects that used Windows security. A lot has changed. It was Framework3 that introduced javascript intellisence. By now Microsoft has fully embraced the client side with Typescript and all the client
                side frameworks like Angular and React. I've been along for the ride ever since. Other than an ilbegotten forey into Silverlight I haven't done any real compiled app development since I worked on a compiled WPF program at
                Dell back in 2005.
            </p>
        </div>
        <div id="job1" class="jobContainer">


        </div>
    </div>*@
