
@{
    ViewBag.Title = "Skills";
}

<style>
    .threeColumnArray {
        background-color: #222730; /* #273235; #486167;*/
    }

    .wordCloudContainer {
        margin-left: 2px;
        margin-top: 14px;
    }

    .cloudWord {
        position: absolute;
        display: inline-block;
        padding: 4px;
        margin: 4px;
        border: solid thin #5888c2;
        border-radius: 4px;
        background-color: #fef7f7;
        cursor: pointer;
    }

    .vertical-text {
        transform: rotate(90deg);
        transform-origin: left top 0;
        float: left;
    }

    .adminButton {
        display: inline-block;
        margin-top: 37px;
        background-color: #555;
        padding: 9px;
        border-radius: 3px;
        cursor: pointer;
    }

    .rightColumnContents {
        margin-top: 200px;
    }

    .skillDialogPopupBox {
        background-color: #a6a4a8;
        box-shadow: #555 4px 8px;
    }

    .skillTitle {
        /*font-family: Algerian;*/
        font-size: 34px;
        text-align: center;
        padding: 2px 6px;
        cursor: pointer;
    }
    .skillProficiency {
        font-size: 17px;
        padding: 2px 6px;
        cursor: pointer;
    }
    .skillNarrative {
        padding: 6px;
        width: 444px;
        overflow-y: auto;
        font-size: 14px;
        cursor: pointer;
    }

    h2 {
        color: #fff;
    }
</style>

<div class="threeColumnArray">
    <div id="leftColumn"></div>
    <div id="middleColumn">
        <h2>My Skills</h2>
        <img alt="" class="fullCenterImage" src="~/Images/IntelDsgn/globlic.jpg" />
        <div id="skillsloadingGif" class="loadingGif"><img src="~/Images/loader.gif" /></div>
        <div id="skillsCloud" class="wordCloudContainer"></div>        

        <div id="skillDetails" class="centeredDivShell" onclick="$(this).fadeOut()">
            <div class="centeredDivInner skillDialogPopupBox">
                <div id="skillName" class="skillTitle"></div>
                <div id="skillProficiency" class="skillProficiency"></div>
                <div id="skillNarrative" class="skillNarrative"></div>
            </div>
        </div>
    </div>
    <div id="rightColumn">
        <div class="rightColumnContents">
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <div class="adminButton" onclick="window.location.href='/GetaJob/GetaJobAdmin'">manage</div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var service = '@ViewBag.Service';
    var ipAddress = '@ViewBag.IpAddress';
    var currentUser = '@ViewBag.UserId';
    var skills = {};

    $(document).ready(function () {
        setLayout("Intelligent Design");
        loadSkillCloud();
        resizePage();

        var emailSubject = "OH MY GOD: ";
        sendEmail(emailSubject, "just looked at your skills page");

        hitSession = logPageHit(service, currentUser, ipAddress, "SKILLs", "nothing");

    });

    function loadSkillCloud() {
        try {
            $('#skillsloadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/JobSkill",
                success: function (response) {
                    if (true) {
                        $('#skillsCloud').html("");
                        var kntr = 0;
                        var topOff = $('#middleColumn').position().top + 61;;
                        var leftOff = $('#skillsCloud').position().left + 10;;
                        $.each(response, function (idx, obj) {
                            kntr++;
                            //if (false) //  (kntr % 6 == 0) {
                            //    $('#skillsCloud').append("<div class='cloudWord vertical-text' style='font-size:" + obj.SortOrder +
                            //        "px; top:" + topOff + "px; left:" + leftOff + "px;' >" + obj.Name + "</div>");
                            //else {
                            $('#skillsCloud').append("<div id=" + obj.Id + " class='cloudWord' style='font-size:" + obj.FontSize +
                                "px; top:" + topOff + "px; left:" + leftOff + "px;' >" + obj.Name + "</div>");

                            leftOff += $('#' + obj.Id + '').width() + 21;
                            if (leftOff >= 950) {
                                leftOff = $('#skillsCloud').position().left + 10;;
                                topOff += 36;
                            }
                            //}
                        })
                        $('.cloudWord').click(function () {
                            showSkillDialog($(this).attr("Id"));
                        })
                        $('#skillsloadingGif').hide();
                    }
                    else {
                        alert("loadSkillsList: " + success)
                    }
                },
                error: function (jqXHR, exception) {
                    alert("loadSkillsList XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("get jobs CATCH: " + e)
        }
    }

    function showSkillDialog(id) {
        try {
            $('#skillsloadingGif').show();
            $.ajax({
                type: "GET",
                url: service + "/api/JobSkill?skillId=" + id,
                success: function (response) {
                    $('#skillsloadingGif').hide();

                    //alert("response.Name: " + response.Name);
                    $('#skillName').html(response.Name);
                    $('#skillProficiency').html(response.ProficiencyDescription);

                    $('#skillNarrative').html(response.Narrative);
                    $('#skillDetails').fadeIn();
                },
                error: function (jqXHR, exception) {
                    $('#skillsloadingGif').hide();
                    alert("showSkillDialog XHR error: " + getXHRErrorDetails(jqXHR, exception));
                }
            });
        } catch (e) {
            alert("showSkillDialog CATCH: " + e)
        }
    }

</script>

