
.animatedGears {
    height: 300px;
}

.knownModelLabel {
    position: absolute;
    bottom: 5px;
    right: 55px;
    color: #fff;
    background-color: var(--opaqueImageLabel);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 2;
}

.carouselSettingsDialog input[type='checkbox'] {
    transform: scale(2);
}


.categoryTitleLabel {
    position: absolute;
    display: inline-block;
    color: #fff;
    left: 51px;
    background-color: var(--opaqueImageLabel);
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 2;
}

.carouselImage {
    cursor: pointer;
}

.carouselImageContainer {
    position: relative;
    display: flex;
}

.carouselFooter {
    position: relative;
    margin-left: 50px;
    background-color: var(--oggleContainerFooterColor);
    text-align: center;
    display: none;
}

.randomImageContainer {
    top: 135px;
}

.carouselCategoryLabel {
    float: left;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 4px;
    color: var(--oggleLabelColor);
}

.speedButton {
    z-index: 1;
    height: 37px;
    margin: 2px 5px 3px 0px;
    cursor: pointer;
}

.pauseButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 23px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.loadingGif img {
    height: 15px;
}



















