
:root {
    --brucheumBlue: #74bac3;
    --oggleBackgroundColor: #c1bad1; /*#fef;  #f7eef7  #b081b1 #f8e8e8 */
    --oggleContainerBackgroundColor: #9caab2; /* #bc61e4; #d1f5f3; #f8e8e8 */
    --oggleDialogBackgroundColor: #fc9; /* #d1f5f3; #f8e8e8 */
    --oggleBorderColor: #b200ff; /* #f1cff7;*/
    --ogglePurple: #79078f;
    --normalFont: 17px;
    --ogglgeTextColor: #000;
    --oggleTitleColor: #7f2c8f;
    --ogglgeSubTitleColor: #490157;
    --thumbnailBorderColor: #74bac3; /* hot pink #ff00dc   */
    --ogglgeHeaderBarColor: #decd6f; /*#c79bbe*/
    --oggleHeaderBoarderTop: #40767d 3px solid;
    --oggleHeaderBackgroundColor: #74bac3;
    --oggleHeaderBoarderBottom: #decd6f 11px solid;
    --oggleHeaderSelectBackgroundColor: #74bac3;
    --oggleContainerFooterColor: #d1f5f3;
    --flitterYellow: #fbf0b4;
    --opaqueImageLabel: rgba(178, 0, 255, 0.66);
    --oggleLabelColor: #b200ff;
}

body {
    background-color: var(--oggleBackgroundColor);
    font-family: Verdana;
    font-size: var(--normalFont);
}

.threeColumnLayout {
    /*width: 100%;*/
    background-color: var(--oggleBackgroundColor);
    height: 100%;
    display: flex;
    overflow: auto;
}

    .threeColumnLayout .leftColumn {
        float: left;
        /*border-right: solid 5px var(--ogglgeHeaderBarColor);*/
        min-width: 4%;
    }

    .threeColumnLayout .middleColumn {

        float: left;
        width: 100%;
        height: inherit;
        max-height: inherit;
    }

    .threeColumnLayout .rightColumn {
        float: left;
        min-width: 5%;
    }

.pornBodyColors {
    background-color: #ffcccc;
}

.centeringOuterShell {
    position: absolute;
    left: 50%;
    margin: 0;
}
.centeringInnerShell {
    position: relative;
    left: -50%;
    margin: 0;
}

.oggleDialog {
    background-color: var(--oggleDialogBackgroundColor);
    padding: 6px;
    font-size: 18px;
}

.center {
    text-align: center;
}

.modalVail {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 19; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

input[type='checkbox'] {
    transform: scale(2);
}

.modalContentStyle {
    z-index: 15;
}

.roundendButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.roundedInput {
    padding: 2px;
    color: #555;
    margin-bottom: 2px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.validationError {
    display: inline-block;
    display: none;
    color: red;
    font-style: italic;
}
.requiredField {
    font-size: 15px;
    color: red; /*var(--ogglePurple);*/
    cursor: pointer;
    margin-top: 14px;
}

.marksLeftColumn {
    background-color: #F28396;
    font-size: 24px !important;
    color: #fff !important;
    font-family: 'Lucida Calligraphy';
}

.leftColumnList {
    display: none;
    margin-top: 123px;
    padding-right: 36px;
}
    .leftColumnList div {
        font-size: 17px;
        cursor: pointer;
        color: #9a4ea9;
        margin: 12px 9px;
        white-space: nowrap;
    }
        .leftColumnList div:hover {
            text-decoration: underline;
            color: #333;
        }

.galleryCheckBoxContainer {
    margin: 8px;
}
.galleryCheckBox {
    
}

.floatingDirTreeImage {
    position: absolute;
    display: none;
    z-index: 102;
}

    .floatingDirTreeImage img {
        /*border: solid thin ;*/
        border: solid 2px var(--oggleBorderColor);
        height: 100px;
        width: 100px;
    }

.footer {
    margin-top: 44px;
    border-top: solid 4px #feb236;
    font-family: Arial;
    background-color: #333;
    color: #eee;
}

    .footer .footerCol {
        padding-top: 8px;
        float: left;
        min-width: 200px;
    }

        .footer .footerCol div {
            padding: 8px;
            text-align: center;
        }

            .footer .footerCol div a {
                text-decoration: none;
                color: #fff;
            }

    .footer .footerFooter {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        background-color: #212121;
        padding-bottom: 2px;
    }

    .footer #footerMessage {
        display: inline-block;
        padding-left: 12px;
    }

    .footer #copyright {
        display: inline-block;
        float: right;
        margin-right: 8px;
    }

        .footer #copyright a:visited {
            color: #eee;
        }

.roundendButton {
    display: inline-block;
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.inline {
    display: inline-block;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.align-right {
    text-align: right;
}

.displayHidden {
    display: none;
}

.overflowContainer {
    border: solid thick red;
    width: 942px;
    overflow-x: scroll;
}

.flexContainer {
    display: flex;
}

.severityOk {
    background-color: rgba(80, 206, 83, 0.71);
}

.severityWarning {
    background-color: #e6de3b;
}

.severityError {
    background-color: #c64e4e;
}

.btnSpinner {
    margin-top: 66px;
}

.btnSpinnerImage {
    position: absolute;
    margin-left: 20px;
    height: 20px;
    display: none;
}
.loadingGif {
    position: absolute;
    left: 150px;
    top: 140px;
    height: 110px;
    z-index: 31;
    display: none;
}

.ogContextMenu {
    position: absolute;
    background: var(--oggleContainerBackgroundColor);
    border: solid 2px #923c76;
    padding: 8px 10px;
    display: none;
    z-index: 120;
}
    .ogContextMenu div {
        padding: 8px;
        margin: 2px;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }
    .ogContextMenu div:hover {
        text-decoration:underline;
    }

.settingsConsole {
    margin-top: 33px;
    margin-left: 24px;
    display: inline-block;
    border: solid 2px black;
    background: var(--oggleContainerBackgroundColor);
}

.settingsConsoleHeader {
    border: none;
    text-align: center;
    background: var(--brucheumBlue);
}

.settingsConsoleInputsContainer {
    display: inline-block;
    border: none;
    padding: 4px;
}

.flitterLabel {
    display: inline-block;
    width: 160px;
    text-align: right;
    padding: 4px;
}

.flitterButton {
    padding: 4px;
}

.assuranceArrows {
    float: left;
    cursor: pointer;
    width: 50px;
}

.connectionMessage {
    text-align: center;
}

.canIgetaConnectionMessageContainer {
    z-index: 20;
}

.customMessageContainer {
    position: absolute;
    z-index: 200;
}

.divRefreshPage {
    background-color: var(--oggleDialogBackgroundColor);
    font-size: 24px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
.blogCrudArea {
    border: solid thin var(--oggleBorderColor);
    padding: 5px;
}

.ogglePromoContainer {
    background-color: var(--ogglgeHeaderBarColor);
    position: absolute;
    top: 250px;
    right: 40px;
    width: 300px;
    border: solid 3px #4b0d41;
    font-size: 22px;
    text-align: center;
    display: none;
}

.ogglePromoText {
    background-color: var(--oggleDialogBackgroundColor);
    font-size: 18px;
    padding: 6px 6px 0 6px;
    text-align: justify;
}

.tinyDots {
    background-color: var(--oggleDialogBackgroundColor);
    text-align: right;
    cursor: pointer;
}

.ogglePromoKillMessage {
    font-size: 18px;
    background-color: var(--oggleBackgroundColor);
    display: none;
}

.oggleDialogWindow {
    border: solid thin #777;
    border-radius: 6px;
    box-shadow: 10px 10px rgba(95, 12, 12, 0.5);
    display: none;
}


.fixedMessageButton {
    position: relative;
    bottom: 50px;
    padding: 20px 15px;
    margin: 10px;
    cursor: pointer;
    /*color: var(--ogglePurple);*/
    background-color: var(--brucheumBlue);
    border-radius: 8px;
}

.selectedDirTreeNode {
    background-color: #dcd7be; /* #b2e5eb; */
}

.treeLabelDiv {
    display: inline;
}

/*.pinkStarBackground {
    background-image: url('images/pinkStarsWalllpaper02.jpg');
}*/

.catlyn {
    background-image: url('https://edge206.stream.highwebmedia.com/live-hls/amlst:caylin-sd-8937ba6912ed937e04b8db696878e971b081d644ba83cba4e9b73d5e0af1e0f6_trns_h264/playlist.m3u8');
}

.feedbackRadioButtons {
    padding: 4px;
}
.feedbackRadioButtons span {
    margin-right: 14px;
}
.feedbackEmailInput {
    width: 100%;
}

.innerContextMenuContainer {
    display: none;
    background-color: #b1b1b1;
}
.ctxInfoValue {
    display: inline-block;
}
.ctxInfoLabel {
    display: inline-block;
    font-weight: bold;
}

