
.ctxloadingGif {
    height: 27px;
}
.ogContextMenu {
    position: absolute;
    background: var(--oggleDialogBackgroundColor);
    border: solid 2px #923c76;
    padding: 8px 10px;
    display: none;
    z-index: 520;
}

    .ogContextMenu div {
        padding: 8px;
        margin: 2px;
        background-color: #fff;
        border-radius: 3px;
        cursor: pointer;
    }

.ogItemHover {
    text-decoration: underline;
}


.contextMenuInnerContainer {
    background-color: #aae890;
    display: none;
}
.ctxInfolabel {
    font-size: 12px;
    font-weight: bold;
    width:100% !important;
    margin-right:3px;
}
.contextMenuInnerContainer div {
    line-height: 21px;
    padding: 0 !important;
}
.contextMenuInnerContainer div:hover {
    text-decoration: underline;
}

.ctxInfoValue {
    background-color: #f3f3f3;
    border: solid 0.3px #e6d990;
    font-size: 13px;
    max-width: 200px;
    overflow-x: auto;
}
