/*#folderCategoryDialog .ui-dialog {
    top: 44px;
    left: 100px;
}

#folderCategoryDialog .ui-corner-all {
    border-radius: 22px;
}*/

.folderDialogContainer {
    background-color: #000;
}
.modelInfoCommentArea {
    height: 100%;
}
.folderDialogFooter {
    position: relative;
    padding: 6px;
    bottom: 0px;
    background: var(--oggleBackgroundColor);
}

.folderCategoryDialogButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

/*#folderCategoryDialog .ui-widget textarea {
    font-family: 'Comic Sans MS';
    color: #79078f;
    font-size: 18px;
    font-weight: normal;
}

.catDlgReadOnlyTextArea {
    height: 350px;
    width: 400px;
    overflow-y: auto;
    background-color: var(--oggleBackgroundColor);
    padding: 9px;
    margin: 8px;
    border-radius: 22px;
}

.metaTagRow {
    display: none;
}*/
