/*#folderCategoryDialog .ui-dialog {
    top: 44px;
    left: 100px;
}

#folderCategoryDialog .ui-corner-all {
    border-radius: 22px;
}*/

.folderDialogContainer {
    background: var(--oggleBackgroundColor);
    overflow: auto;
}
.folderDialogFooter {
    position: relative;
    padding: 6px;
    bottom: 8px;
}

.folderCategoryDialogButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.modelInfoCommentArea {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    margin-right: 4px;
}

/*  CONSOLIDATED FROM MODEL INFO DIALOG*/
.modelInfoDetailsArea {
    float: left;
    width: 100%;
}
    .modelInfoDetailsArea div {
        display: inline-block;
    }
    
.modelInfoDialogLabel {
    width: 50px;
    margin-right: 6px;
    text-align: right;
    font-size: 17px;
}

.modelDialogInput {
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 18px;
}

.modelDialogImage {
    height: 150px;
    min-width: 160px;
    margin-left: 4px;
    display: block;
}

.modelDialogSelect {
    width: 220px;
    margin-left: -6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
}
