
.folderDialogContainer {
    background: var(--oggleBackgroundColor);
    overflow: auto;
}

.folderCategoryDialogButton {
    display: inline-block;
    text-align: center;
    background: var(--brucheumBlue);
    color: #000;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}

.modelInfoCommentArea {
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    margin-right: 4px;
}

  
.modelInfoDialogLabel {
    width: 50px;
    margin-right: 6px;
    text-align: right;
    font-size: 17px;
}

.modelDialogInput {
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 18px;
}

.modelDialogImage {
    height: 150px;
    min-width: 160px;
    margin-left: 4px;
    display: block;
}

.modelDialogSelect {
    width: 220px;
    margin-left: -6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 2px;
}

.poserLabels {
    line-height: 26px;
    margin-right: 4px;
    white-space: nowrap;
}

.poserDetails div {
    padding-left: 4px;
    border: solid .5px #d8c86a;
    border-radius: 3px 4px;
    height: 25px;
}
.boobDropDown {
    display: block;
    height: 26px;
    width: 206px;
}

.tbResultsContainer {
    height: 65px;
    background-color: azure; 
    border: solid thin black;
    border-radius: 3px 4px;
}

.viewOnlyMessage {
    text-align: center;
    font-size: 17px;
    padding: 2px;
}

.trackbackLinksArea {
    height: 121px;
    border: solid .5px #ccc;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    margin-right: 4px;
}

    .trackbackLinksArea a {
        color: blue;
        font-size: 15px;
    }

.addLinkIcon {
    cursor: pointer;
    font-size: 28px;
}

.hrefLabel {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}
