
.imageCommentDialogContainer {
    min-width: 500px;
}

.commentDialogImage {
    max-width: 333px;
    max-height: 177px;
}

.commentDialogInstructions {
    margin-left: 44px;
    cursor: pointer;
}

.commentDialogButton {
    margin: 0 0 4px 5px;
}

.commentTitleText {
    margin: 2px 0;
    font-size: 16px;
    color: var(--ogglePurple);
    width: 100%;
}
