

.sectionLabel {
    color: var(--oggleTitleColor);
    white-space: nowrap;
    display: none;
    /*
        font-size: larger;
        position: relative;
        border: solid thin red;
    */
}

.loadingImage {
    height: 233px;
}

.indexPageSection {
    margin-top: 26px;
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 40%;
    color: var(--oggleTitleColor);
    /*border: solid 10px orange;*/
}

.updatedGalleriesSection {
    float: left;
    text-align: center;
    height: inherit;
    max-height: inherit;
    /*
        padding: 3px;
        background-color: #988519;
        background-color: var(--oggleContainerBackgroundColor);
    */
}

.newsContentBox {
    display: inline-block;
    margin: 2px;
    background-color: #3b0e56;
}

.newsContentBoxLabel {
    position: absolute;
    display: inline-block;
    padding: 1px 12px 2px 30px;
    padding: 2px;
    background-color: var(--opaqueImageLabel);
    color: #d6fcfa;
}

.newsContentBoxImage {
    height: 172px;
    cursor: pointer;
}

.newsContentBoxDateLabel {
    position: relative;
    bottom: 2px;
    color: #d6fcfa;
    background-color: #686666;
}

.floatBelow {
    margin-top: 559px;

}

.slideshowCheckboxes {
    position: absolute;
    bottom: 1px;
    right: -41px;
}
