
.indexPageSection {
    width: 100%;
    min-height: 40%;
    margin-bottom: 6px;
    /*border: solid thin orange;*/
}

/*@media (min-width: 768px) {
    background-color: red;
}*/

.updatedGalleriesSection {
    float: left;
    text-align: center;
    height: inherit;
    max-height: inherit;
    /*
        padding: 3px;
        background-color: #988519;
        background-color: var(--oggleContainerBackgroundColor);
        border: solid thin red;
    */
}

.newsContentBox {
    display: inline-block;
    margin: 2px;
    background-color: #3b0e56;
    height: 280px;
}

.floatingContainerElement {
    position: absolute;
    padding: 7px;
}

.indexSectionLabel {
    display: none;
}

.newsContentBoxLabel {
    position: absolute;
    display: inline-block;
    padding: 1px 12px 2px 30px;
    padding: 2px;
    background-color: rgba(178, 0, 255, 0.66);
    color: #d6fcfa;
}

.newsContentBoxImage {
    height: 272px;
    cursor: pointer;
}

.newsContentBoxDateLabel {
    position: relative;
    bottom: 2px;
    color: #d6fcfa;
    background-color: #686666;
}

.floatBelow {
    margin-top: 559px;

}

.slideshowCheckboxes {
    position: absolute;
    bottom: 1px;
    right: -41px;
}
