.viewOnlyMessage {
    text-align: center;
    font-size: 17px;
    padding: 2px;
}

.trackbackLinksArea {
    height: 121px;
    border: solid .5px #ccc;
    overflow-y: auto;
    width: 100%;
    padding: 5px;
    margin-right: 4px;
}
    .trackbackLinksArea a{
        color: blue;
        font-size : 15px;
    }

.addLinkIcon {
    cursor: pointer;
    font-size: 28px;
}

.hrefLabel {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}
