.stickyHeader {
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    z-index: 31;
/*    background: var(--brucheumBlue);*/
}

.boobsHeader {
    background: var(--brucheumBlue);
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 3px solid;
}

.pornHeader {
    background-color: #cab37e;
    border-top: #40767d 3px solid;
    border-bottom: #decd6f 11px solid;
}

.oggleSoft {
    background-color: #cc7d5f; /*orangy*/
    border-top: #40767d 3px solid;
    border-bottom: #407d6e 5px solid;
}


.headerBodyContainer {
    float: left;
    width: 100%;
}

.headerTopRow {
    display: flex;
    width: 100%;
}

.headerBottomRow {
    width: 100%; 
    display: inline-block;
}
.bottomRowSection1 {
    float: left;
    display: flex;
}
.bottomLeftHeaderArea {
    padding-right: 8px;
    padding-top: 11px;
    float: left;
}
.badgesSection {
    display: flex;
    float: left;
}
.loginArea {
    font-family: Arial;
    font-size: 14px;
    margin-top: 9px;
    margin-right: 5px;
    float: right;
}

.badgeImage {
    height: 31px;
    margin-left: 9px;
    float: left;
}

.breadCrumbArea {
    float: left;
    display: inline-block;
}
.headerBanner {
    font-size: 17px;
    display: inline-block;
    border: solid 2px #000;
    border-radius: 10px;
    padding: 2.5px;
    color: #000;
    background-color: aliceblue;
    margin: 3px;
    cursor: pointer;
}

.headerBanner a {
    text-decoration: none;
}

 .blackCenterfoldsBanner {
        border: solid 2px red;
        border-radius: 10px;
        font-size: 16px;
        padding: 3px;
        white-space: nowrap;
        text-decoration: none;
        background-color: #407d6e;
        margin-left: 8px;
        margin-bottom: 3px;
        cursor: pointer;
    }

    .blackCenterfoldsBanner a {
        color: yellow;
    }

.headerTitle {
    padding-left: 6px;
    padding-top: 1px;
    font-family: 'Lucida Calligraphy';
    font-size: 33px;
}

.classicColors {
    background-color: var(--oggleHeaderBackgroundColor);
    border-top: var(--oggleHeaderBoarderTop);
    border-bottom: var(--oggleHeaderBoarderBottom);
}

.customMessageContainer {
    position: relative;
    top: 250px;
    display: none;
}

.oggleDraggableDialog {
    position: absolute;
    z-index: 36;
    display: none;
    resize: both;
    /* 
    min-width: 400px;
    box-sizing: unset;
    overflow: auto; */
    border: solid 2px var(--oggleBorderColor);
    background-color: var(--oggleBackgroundColor);
}
.oggleDialogHeader {
    border: none;
    background-color: var(--brucheumBlue);
    color: #fff;
    display: inline-flex;
    width: 100%;
    cursor: grabbing; 
}
.draggableDialogTitle {
    float: left;
    padding: 2px 8px;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
}
.oggleDialogCloseButton {
    float: right;
    padding-top: 5px;
    padding-right: 15px;
    cursor: pointer;
}
    .oggleDialogCloseButton img {
        height: 25px;
    }
.oggleDialogContents {
    padding: 5px;
    height: 100%;
    min-width: 500px;
    min-height: 120px;
    /*padding: 4px 8px;*/
}

.siteLogoContainer {
    float: left;
    padding-top: 2px;
    padding-left: 2px;
}

.siteLogo {
    height: 50px;
    cursor: pointer;
}
.hamburger {
    height: 50px;
    cursor: pointer;
}

.hdrTopRowMenu {
    font-size: 20px;
    display: inline-block;
    font-family: Comic Sans MS;
    color: var(--oggleTitleColor);
    vertical-align: top;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 1px;
    padding: 0;
}

.hdrBtmRowOverflow {
    margin-left: 15px;
    /*border: solid thin red;*/
}

.topLinkRow a {
    color: var(--oggleTitleColor);
    cursor: pointer;
    text-decoration: underline;
}

.oggleSearchBox {
    position: absolute;
    right: 5px;
    margin-top: 8px;
    /*border: solid thin black;*/
}

.oggleSearchBoxText {
    border-radius: 10px;    
}

.searchResultsDropdown {
    display: none;
    background-color: #fff;
    border: solid thin black;
    padding: 2px;
    z-index: 200;
    max-height:555px;
    overflow-y: auto;
}

    .searchResultsDropdown li {
        list-style-type: none;
        padding: 3px;
        cursor: pointer;
    }
        .searchResultsDropdown li:hover {
            color: red;
            cursor: pointer;
        }

.hoverTab {
    float: left;
    display: inline-block;
    margin-top: 1px;
    border-radius: 5px;
}
    .hoverTab a {
        cursor: pointer;
        color: black;
        padding: 8px;
        text-decoration: none;
        padding: 5px 5px;
        border-radius: 1px;
    }
    .hoverTab a:hover {
        text-decoration: underline;
        background-color: #fef;
    }

.activeBreadCrumb {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline;
    float: left;
}

.inactiveBreadCrumb {
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

.bigTits {
    font-size: 40px;
    font-family: 'Arial Rounded MT';
    /*
        color: #ff00dc;
        color: var(--thumbnailBorderColor); #74bac3;
    */
}

.everyCenterfold {
    font-size: 22px;
    font-family: 'Comic Sans MS';  /*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}


.domainMessage {
    display: inline-block;
    color: orangered;
    margin-left: 9px;
    margin-top: 20px;
    white-space: nowrap;
}


.babesArchive {
    margin-top: 5px;
    margin-left: 20px;

    border: solid thin #444;
    padding: 3px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 18px;
    color: var(--oggleTitleColor);    
}

.floatingFlow {
    position: absolute;
    height: 100px;
    cursor: pointer;
}
