
.twoColumnFrame {
    border: solid thin var(--oggleBorderColor);
}


.oggleBlogEditor {
    display: block;
    padding:8px;
    border: solid thin var(--oggleBorderColor);
    width: 60%;
}
    .oggleBlogEditor .note-editable {
        background-color: aliceblue !important;
    }

.blogDropdown {
    width: 333px;
}

.blogEditArea {
    display: flex;
    display: inline-block;
    margin-top: 10px;
    padding: 4px;
    display: none;
}

.blogDisplayArea {
    vertical-align: top;
    margin-top: 10px;
    display: none;
}

.crudLabel {
    min-width: 45px;
    margin-right: 4px;
    margin-left: 7px;
}

.leftImage {
    border: solid .05px var(--oggleBorderColor);
    height: 130px;
    min-width: 120px;
    margin-left: 10px;
}

.blogEditButton {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    color: var(--brucheumBlue);
}


.blogItemContainer {    
    overflow-y: auto;
    width: 100%;
}

.blogListItem {
    padding: 3px 24px;
    cursor: pointer;
    margin: 4px;
    white-space: nowrap;
    background-color: var(--oggleContainerBackgroundColor);
}
    .blogListItem:hover {
        background-color: #c5f6f7;
    }

.blogArticleJogContainer {
    display: flex;
    border: solid .05px var(--oggleBorderColor);
    overflow-y: auto;
}

.blogArticleJogBody {
    /*display: inline-block;*/
    /*background-color: var(--oggleContainerBackgroundColor);*/
    width: 100%;
}

.blogArticleJog {
    margin-bottom: 4px;
    margin: 2px;
    border: solid thin green;
}

.blogArticleImage {
    height: 222px;
}

.blogArticleTitle {
    font-size: 24px;
    text-align: center;
}

.blogArticleJogImage {
    height: 185px;
    margin: 2px;
    border: solid thin var(--oggleContainerBackgroundColor);
    width: 222px;
    cursor: pointer;
}

.blogArticleText {
    padding: 4px;
    display: inline-block;
    height: 124px;
    overflow-y: hidden;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blogArticleBottomRow {
    margin: 0 8px;
}

.singleBlogEntryContainer {
    background-color: var(--oggleContainerBackgroundColor);
    display: block;
    border: solid thin black;
    
    padding: 6px;
    overflow-y: auto;
}

.blogPageSubHeader {
    text-align: center;
    font-size: 25px;
    margin: 11px;
}

.blogPageImageContainer {
    text-align: center;
}

.largeCenteredImage {
    max-height: 233px;
}

.blogPageBodyText {
    margin-top: 7px;
    padding: 4px;
    text-align: justify;
}
