
.rankerOuterContainer {
    display: flex;
    border: solid thick black;
}
.rankerImageContainer {
    display: flex;
    width: 100%;
    border: solid thin red;
}

.rankerCkBoxesContainer {
    border: solid thin red;
    background-color:rgb(129 168 140 / 0.68);
}

.domCkBox {
    margin-left: 50px;
    margin-top: 100px;
    font-weight: bold;
    cursor: pointer;
}

.underlineMe {
    text-decoration: underline;
    font-weight: bold;
}

.noUnderlineMe {
    text-decoration: none;
    font-weight: normal;
}

.selectedPlayboyButton {
    background-color: var(--brucheumBlue);
}
.boobsRankerTitle {
    font-size: 28px;
    font-family: Verdana;
    text-align: center;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 12px;
}

.rankerImageName {
    text-align:center;
    font-size: 24px;
    cursor: pointer;
    padding-bottom:8px;
}
.rankerImageFloatBox {
    float: left;
    border: solid thin black;
}
.rankerImageSlotBox {
/*    height: 715px;
    width: 515px;
*/    cursor: not-allowed;
}
    .rankerImageSlotBox img {
        padding-top: 4px;
        padding-left: 4px;
/*        height: 700px;
        width: 500px;
*/    }

.rankerImage {

}


.bigRedBorder {
    border: double 7px red;
}

.roundCountDowner {
    margin: 50px;
    margin-top: 150px;
    height: 300px;
    width: 300px;
    border: 18px dashed blue;
    /*background-color: var(--oggleContainerBackgroundColor);*/
    border-radius: 150px;
    visibility: hidden;
}

.countDownNumberContainer {
    margin-top: -50px;
    text-align: center;
    font-size: 250px;
    color: blue;
}
