.imageViewerHeaderRow {
    background-color: var(--ogglgeHeaderBarColor);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    /*border: dashed thin red;*/
}
    .imageViewerHeaderRow div {
        display: inline-block;
        background: rgba(148, 133, 143, 0.2);
        /*border: solid thin black;*/

    }
        .imageViewerHeaderRow div img {
            height: 31px;
            padding: 5px;
        }

.popoutBox {
    margin-right: 22px;
}

.imageViewerTitle {
    float: left;
    flex: 1;
    display: inline-block;
    font-size: 22px;
    text-align: center;
}

.slideshowNavgArrows {
    float: left;
}
.slideshowNavgArrows img {
    width: 50px;
}

.slideshowImage {
    object-fit: contain;
    transition: all .75s ease-in-out;
    height: 100%;
    float: left;
}

.redSides {
    border-left: solid 5px #c05d5d;
    border-right: solid 5px #c05d5d;
}

.fullScreenViewer {
    position: absolute;
    display: none;
    /*background-image: url('images/pinkStarsWalllpaper.jpg');*/
    background-color: var(--oggleBackgroundColor);
    z-index: 32;
}

.hiddenClickArea {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 35;
}

#leftClickArea {
    /*cursor: url('https://ogglebooble.com/images/leftArrowcursor.png'), sw-resize;*/
    cursor: pointer;
}
#rightClickArea {
    /*cursor: url('https://ogglebooble.com/images/rightArrowcursor.png'), ne-resize;*/
    cursor: pointer;
}

.slideshowImageLabel {
    position: absolute;
    bottom: 50px;
    right: 255px;
    color: #fff;
    background-color: var(--opaqueImageLabel);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 200;
}

.attrBox {
    position: absolute;
    border: solid thin black;
    display: none;
}
